[2017-10-02 21:31] emk opened #4567 "Complicated issue with cdylib and doctests"
I'm trying to [enhance the Rust "Pact" bindings to make it easier to mock HTTP microservices involving communication between Rust clients and Ruby/JS servers](https://github.com/pact-foundation/pact-reference/issues/17). It's a clever idea but I'd like to enhance the Rust API.

But I've hit a weird error with Cargo, `cdylib` and `doctest`, and try as I might, I can't either fix it _or_ shrink it t

[2017-10-02 22:47] carols10cents commented on #3833
Closing due to inactivity and guessing that the fixes are in now, please reopen if I'm mistaken! thank you!!

[2017-10-02 22:47] #3833 closed

[2017-10-02 22:47] tatsuya6502 commented on #4500
**Memo**

Cargo collects the target file name (e.g. `ffi.dll`) by running `rustc` like this:

[code]

This is done by `cargo::opts::cargo_rustc::context::TargetInfo::discover_crate_type`. `rustc` currently returns only one file name.

[2017-10-02 22:49] tatsuya6502 commented on #4500
https://github.com/rust-lang/cargo/issues/4535#issuecomment-332901693

OK. I will implement it in Cargo for now.

[2017-10-02 22:50] carols10cents commented on #3850
I think the real fix for this will be in crates.io, namely: https://github.com/rust-lang/crates.io/issues/1058, if that is fixed, `cargo search` would say `cargo-clippy (0.0.0)   this crate has been yanked` or similar. I think it's important to still return yanked crates in searches in case the reason you're doing a search is to see if the crate name has been taken or not.

Closing in favor of htt

[2017-10-02 22:50] #3850 closed

[2017-10-02 23:04] carols10cents commented on #3874
Yep, closing as a duplicate of #3531; the diff of the two invocations is:

- the first has `--crate-type lib` and the second does not
- the second has `--test` and the first does not

which is consistent with the currently intended behavior of compiling once for doc tests and once for regular tests.

[2017-10-02 23:04] #3874 closed

[2017-10-02 23:11] carols10cents commented on #3917
Closing this because https://github.com/rust-lang/rfcs/pull/2141 has been accepted and there's now a tracking issue at https://github.com/rust-lang/rust/issues/44931, which replaces this issue.

[2017-10-02 23:11] #3917 closed

[2017-10-02 23:11] carols10cents commented on #3918
Closing this because we make tracking issues once RFCs are accepted. Thanks!

[2017-10-02 23:11] #3918 closed

[2017-10-02 23:13] carols10cents commented on #3935
Looks like this was fixed by https://github.com/rust-lang/cargo/pull/3998. Closing, thank you!!

[2017-10-02 23:13] #3935 closed

[2017-10-02 23:14] carols10cents commented on #3939
Sounds like the answer is "yes" so I'm closing this-- please reopen if there's some action we need to take here! Thank yoooouuu :)

[2017-10-02 23:14] #3939 closed

[2017-10-02 23:20] carols10cents commented on #3965
Closing due to inactivity and inability to reproduce. Please reopen with the output of `rustc --version`, `cargo --version`, and a `cargo` command that reproduces the problem if this is still an issue! Thanks!!

[2017-10-02 23:20] #3965 closed

[2017-10-02 23:21] carols10cents commented on #3969
Closing due to inactivity and inability to reproduce, please reopen if this is still a problem! Thanks!!

[2017-10-02 23:21] #3969 closed

[2017-10-02 23:22] carols10cents commented on #3975
Closing due to inactivity and inability to reproduce. Please reopen if this is still a problem, and we can help you get a debugger attached to figure out why this is happening! Thanks!!

[2017-10-02 23:22] #3975 closed

[2017-10-02 23:31] carols10cents commented on #3986
Hm, it looks to me like the problem is that `.cargo` is supposed to be a *subdirectory* and `config` is supposed to be a *file*. That is, instead of creating this directory:

[code]

What cargo is looking for is a subdirectory of `arduino-cli` whose name is `.cargo`:

[code]

And within that directory, a file named `config`:

[code]

I'm pretty sure that's the problem, so I'm going to close this i

[2017-10-02 23:31] #3986 closed

[2017-10-02 23:45] carols10cents commented on #3987
Just turned my internet off and ran cargo's tests and they all passed, so I'm closing this as fixed :)

[2017-10-02 23:45] #3987 closed

[2017-10-02 23:50] carols10cents commented on #3993
I'm going to close this issue due to a lack of activity... no news is good news, right???

Please reopen if this is still a problem! Thank you!!

[2017-10-02 23:50] #3993 closed

[2017-10-02 23:58] carols10cents commented on #4003
Related PR: https://github.com/rust-lang/cargo/pull/4039

[2017-10-03 00:00] carols10cents commented on #4012
Looks like this was fixed in https://github.com/rust-lang/cargo/pull/4440, closing!

[2017-10-03 00:00] #4012 closed

[2017-10-03 00:03] carols10cents commented on #4042
It sounds like we can't fix this issue, so I'm closing. Please reopen if I'm mistaken! Thanks!!

[2017-10-03 00:03] #4042 closed

[2017-10-03 00:10] carols10cents commented on #4049
I don't think `--exclude` helps here, since `--exclude` only works with `--all` and `--all` only works with workspaces.

From a non-workspace crate that lists `rand` as a dependency:

[code]

[2017-10-03 00:16] carols10cents commented on #4053
This is the related issue that says we shouldn't need to recompile when the project dir is moved: https://github.com/rust-lang/cargo/issues/3273

[2017-10-03 00:22] carols10cents commented on #4078
I don't think it's the responsibility of a crate to know about/recommend/advertise alternative crates; this would be better for, say, blog posts to do surveys of the crates for a particular task and how they differ.

Thank you for the suggestion though!

[2017-10-03 00:22] #4078 closed

[2017-10-03 00:30] carols10cents commented on #4109
The biggest difference I know of is that `cargo package`/`cargo publish` deliberately ignores the `Cargo.lock` in order to build with the latest versions of the crate's dependencies that are compatible with the version constraints in `Cargo.toml`. We actually want to [change this behavior](https://github.com/rust-lang/cargo/issues/4100) so that `cargo package` resolves with the *minimum* crate ver

[2017-10-03 00:33] carols10cents commented on #4114
Sooooo we have a way to raise the filesize limit for particular crates, but I sense that doesn't really deal with the larger problem you're getting at :) I agree the larger problem sounds hairy and we should discuss it more! Perhaps an RFC?

[2017-10-03 00:42] carols10cents commented on #4120
Closing as a duplicate of #2075.

FYI, [Crates.io does this automatically if you use docs.rs](https://github.com/rust-lang/crates.io/blob/master/app/routes/crate/version.js#L45-L51) :)

[2017-10-03 00:42] #4120 closed

[2017-10-03 01:42] vignesh-sankaran commented on #3506
That project looks good, I'll take a look at it. Did we want a flag to disable default documentation creation?

[2017-10-03 02:41] est31 commented on #4120
@carols10cents honestly I find it troubling that crates.io is feeling free to replace links as it wishes, without asking the crate authors to opt in or anything.

[2017-10-03 02:44] est31 commented on #4120
But generally its good to know that this replacing is happening, thanks for the info.

[2017-10-03 09:22] sanmai-NL commented on #3506
@vignesh-sankaran: Can you please address @carols10cents [comment on the doc comment template](https://github.com/rust-lang/cargo/issues/3506#issuecomment-270808100)? To me that is far less controversial and more productive than creating a `README` file in a markup format whenever Cargo is asked to initalize a new project. Can you either implement her proposal first, or can we split her proposal i

[2017-10-03 09:25] alexcrichton commented on #4563
Whoa I had no idea that we had support for this! In that case I think we're probably in a pretty good situation. Although I think we may be missing one piece to flip the switch.

Right now while an older Cargo will parse a root-missing lockfile, will it also generate one? The problem we just want to avoid is that if you build with different verisons of Cargo the lock file oscillates between two di

[2017-10-03 09:29] sanmai-NL commented on #3506
An argument can be made that standard tools (e.g. `rsync`) suffice to scaffold a newly created Cargo project based on a standard template. From that point of view, adding code to scaffold projects to Cargo would not be usefull and indeed add to the Cargo maintenance burden.

[2017-10-03 09:34] matklad commented on #4563
This is exactly what was implemented back then, yeah!

[2017-10-03 11:23] raytung commented on #4563
@matklad Mind if I give this a go? :)

[2017-10-03 11:28] matklad commented on #4563
@raytung sure, it's yours :)

[2017-10-03 11:39] sanmai-NL opened #4569 "Backtrace printed with `--nocapture` even if test succeeds"
[code]

`lib.rs`:
[code]
## Expected
Normal test output when all tests pass. Meaning no backtraces.

## Actual
[code]

This happens with `RUST_BACKTRACE=full`. With `RUST_BACKTRACE=0` unnecessary messages still are being emitted:
[code]

## Meta
`rustc 1.22.0-nightly (185cc5f26 2017-10-02)`
`cargo 0.23.0-nightly (e447ac7e9 2017-09-27)`

[2017-10-03 13:13] tatsuya6502 commented on #4535
@Herschel @derekdreery I opened a PR #4570 to address the issue. If you have time, can you please check if it works for you? I do not have environment with emscripten installed.

[code]

`cargo` binary will be found in target/release directory.

Thanks!

[2017-10-03 13:49] lukaslueg commented on #4569
Isn't this intended with `--nocapture`? The backtrace is printed by `panicking::default_hook()`, which you can override with `panic::set_hook()`.

[code]

[2017-10-03 14:04] sanmai-NL commented on #4569
[code]
A backtrace isn't output printed on purpose from test code. It is printed automatically in case of a fatal error. In this case, there isn’t a fatal error.

[2017-10-03 15:13] carols10cents commented on #4452
It sounds like alex is saying the bug is likely in rustc, do you mind refiling this over at https://github.com/rust-lang/rust? Thanks!

[2017-10-03 15:13] #4452 closed

[2017-10-03 15:19] carols10cents commented on #4474
Closing this since it sounds like it will be solved by solutions to #4066 and/or implementing public/private dependencies.

[2017-10-03 15:19] #4474 closed

[2017-10-03 15:29] carols10cents commented on #4516
I'm able to run `cargo test --manifest-path [path]`, so I'm going to close this issue. Thanks!

[2017-10-03 15:29] #4516 closed

[2017-10-03 15:32] carols10cents commented on #4538
I'm going to close this since it depends on the stable API RFC discussion. Thanks!

[2017-10-03 15:32] #4538 closed

[2017-10-03 15:33] lukaslueg commented on #4569
`catch_unwind` buys you being still alive after the closure has panicked. The panic itself is still happening and the default hook executes, [printing it's thing to stderr](https://github.com/rust-lang/rust/blob/a80a873209a79499290201f8657618703a51b73e/src/libstd/panicking.rs#L338), and then returning (via `catch_unwind`) to your code. By the time the test calls `exit(0)`, the backtrace has alread

[2017-10-03 16:32] derekdreery commented on #4535
Cool! Could you submit it as a PRINTING?

[2017-10-03 16:33] derekdreery commented on #4535
Cool! Could you submit it as a PR?

[2017-10-03 17:59] jan-hudec commented on #4264
Seen this today and it was clearly problems somewhere between the ISP and S3. On different internet connection it didn't happen.

It would help if cargo printed the URLs and addresses it's trying to download from in verbose mode so one can diagnose it with curl, traceroute and similar tools.

[2017-10-03 18:05] carols10cents commented on #4565
Actually this looks like a duplicate of #3431 -- that issue is still open because `cargo check --all` does not include tests or doc tests. Closing as a duplicate, thank you for the report! ❤️

[2017-10-03 18:05] #4565 closed

[2017-10-03 20:30] liranringel commented on #4497
What would be the best way to calculate the checksum?
I thought to use `cargo::ops::package` to get the .crate file.

[2017-10-03 23:34] tatsuya6502 commented on #4535
Yes, I submitted it as a PR. But before it gets merged, I think one of us needs to verify that it actually solves the problem. The PR contains fixes for wasm and Windows DLL (#4500), and I verified the latter. I cannot verify the earlier because I do not have emscripten now.

[2017-10-04 02:03] thegranddesign commented on #3431
Just to give a newbie's perspective I would expect that `cargo check --all` would check everything.  Period.  If `--all` is intended to mean "all packages", then I'd suggest a `--packages` or `--all-packages` option instead which mirrors `--all-features` or `--benches`.

Consistency and intuitive APIs are important, especially for people just learning.

[2017-10-04 02:05] thegranddesign commented on #3431
I don't see that it was explicitly stated here, but I would also expect `cargo check --tests` or `cargo check --docs` to check documentation tests (and by extension `cargo check --all` should do the same).

[2017-10-04 02:09] johnfercher commented on #2975
I'm having the same issue, with a lot of dependencies: cgmath, rand, time, regex.

[2017-10-04 03:08] GrappigPanda opened #4573 "Cargo 0.21.0 Hanging while compiling without RUST_LOG=debug"
On Freebsd 12.0 whenever attempting to `cargo build` or `cargo run` a semi brand-new `cargo new test --bin` project, the compilation will hang seemingly indefinitely (10+ minutes).

I did notice, however, if `Cargo.lock` and the `target/` directory were both deleted while `RUST_LOG=debug` then the package would compile. If, however, either `target/` or `Cargo.lock` were in the path, cargo would ha

[2017-10-04 03:34] golddranks commented on #4474
For the record, this was caused by `generic-array` having a needlessly strict dependency constraint: https://github.com/fizyk20/generic-array/issues/49#issuecomment-329170351

[2017-10-04 06:22] Herschel commented on #4535
Thanks for your work, @tatsuya6502!

The .wasm file now appears in the correct folder. However, the .js file is still trying to load the .wasm file with the incorrect name including the metadata suffix. (for example, web_test-4d1ad28c85a2ee45.wasm instead of web-test.wasm).

Shee this gist showing the incorrect line in the .js:
https://gist.github.com/Herschel/df22af2b04d69c0ecb6c447a54765d54#file

[2017-10-04 07:17] gilescope commented on #4490
We're so close to something that works 'out-of-the-box' for OSX...

[2017-10-04 08:25] withoutboats commented on #4497
@carols10cents Do you have strong opinions on whether this should live as a cargo subcommand or a separate package we publish to crates.io? My only concern is that cargo could become one of those tools where you type `cargo --help` and your drowned in dozens of niche subcommands & you can't find what you're looking for. Do you think its too much to ask people to `cargo install` this?

[2017-10-04 08:38] withoutboats commented on #4208
So I think there are two issues here which are a bit entangled:

First, it seems like a bad UX to mention `https://github.com/rust-lang/crates.io-index` in the user facing interface of cargo. We do this all the time (every time we update it), and in my opinion we really should instead be saying something like `crates.io` in that instance. As we expand support for alt registries, the same applies t

[2017-10-04 08:48] withoutboats opened #4574 "What is the significance of "specification" of index format/API?"
In the alt registries RFC, @carols10cents specified the format that a registry index takes. I remember that we made a conscious choice to *specify* the index format, but not to *specify* the API that crates.io uses for publishing, yanking, etc.

I'm unclear, however, what it really means to specify these things. It seems to be about a level of service we provide and a level of expectation we put o

[2017-10-04 09:18] Boscop opened #4575 "With cargo run, forward termination signal to child process on Windows"
I'm using the [ctrlc](https://github.com/Detegr/rust-ctrlc) crate to catch Ctrl-C in my program but it doesn't work when it's started by `cargo run`, which defeats the purpose because I don't need to handle Ctrl-C in the release version, only during development.

Would it be possible for `cargo run` to also use the ctrlc crate and forward the termination signal to the child process?

[2017-10-04 09:31] alexcrichton commented on #832
Hm so issues like #835 I think have been fixed otherwise by avoiding hiding errors, and I'm somewhat hesitant to fix this as it's sort of intended behavior to max out parallelism as much as possible and avoid terminating builds early.

It's true yeah we could have a manifest flag for this, but I'd imagine that it'd basically almost never get set? If it's just a debugging tool (maybe?) then a manif

[2017-10-04 09:40] #4504 closed

[2017-10-04 09:58] alexcrichton commented on #4500
@tatsuya6502 yeah I was thinking we could solve this as well as with the wasm case, thanks for the PR! I'll try to take a look at the PR soon

[2017-10-04 10:14] lukaslueg commented on #832
A manifest flag is probably too heavy-handed, especially as this would be rev-controlled and be a "pay-frequently-benefit-seldomly"-option.

User interface aside, I think `all-build-scripts-finish-first` is a legitimate use case by OP.

[2017-10-04 11:47] tatsuya6502 commented on #4535
@Herschel Thank you for testing it!

Hmm, I think another option could be:
d) Do not ask `rustc` to add the metadata (`-C metadata`) for wasm bin target, like [this](https://github.com/rust-lang/cargo/commit/fccaffb15823ef65d09d4adb0203d9f957501dd9) for cdylib.

@alexcrichton Do you have any preference/suggestions?

[2017-10-04 13:40] carols10cents commented on #4497
I guess I don't feel super strongly about whether this is part of cargo or external, but it should be in the rust-lang org and it's seeming like having a library with a public api function as well as a binary would be useful...

[2017-10-04 13:44] djc commented on #4463
I agree with @nipunn1313 -- I think `cargo build --all` should build all crates exactly as they would be if you had run `cargo build` for each crate separately. If that requires us to recompile some crates, so be it.

[2017-10-04 13:49] carols10cents commented on #4574
I'm going to think more on these questions but in the meantime I wanted to tag in @wycats for his thoughts on this.

[2017-10-04 14:43] 6A opened #4576 "Platform specific dependencies do not support custom features"
It is unclear whether or not dependencies defined using the `[target.'cfg(...)'.dependencies]` syntax support the `cfg(feature = "...")` specifier. In any case, it is currently impossible, which makes it is either a non-documented constraint, or a bug.

# Example
[code]

However, building the project with `cargo build --features old_support` leads to an error:
[code]

[2017-10-04 15:37] lukaslueg commented on #4573
Rust on FreeBSD 12 has some libc-related problems, which is probably what's going on here. There are rust-builds being posted in rust-lang/rust#42681, maybe you could try building cargo with those and then try compiling your crate. We are probably out of luck with debugging Cargo as long as Rust itself is unstable on FreeBSD 12.

[2017-10-04 15:39] lukaslueg commented on #4573
rust-lang/rust#44433 is probably what's going on here.

[2017-10-04 15:44] lukaslueg commented on #4575
On unix-like systems, `cargo run` replaces itself with the child process using the `execve()`-family, so there is nothing to forward, the signal is delivered straight to your target process. It should™ just work unless `SIGINT` is masked for some reason. What OS are you on?

[2017-10-04 16:41] parkovski opened #4577 "Separate target configuration output directories"
#4427 related. I use the Linux subsystem on Windows 10 and commonly build a Windows and Linux build from the same project folder - currently both binaries end up in `target/debug`. It'd be nice to have the option to set up target-based outputs, so I could get Windows binaries in `target/windows/debug` and Linux in `target/linux/debug`.

My preference for this would be providing some interpolated v

[2017-10-04 16:43] GrappigPanda commented on #4573
@lukaslueg I don't doubt these in the slightest, but the most confusing part to me was this: why would the project compile whenever I removed the `Cargo.lock`? Whenever I looked at the `Cargo.lock` file, it seemed very innocuous and nothing arch specific, compiler hints, &c.

Even with `RUST_LOG=debug`, the compiler could hang, so the title of this issue may not necessarily best reflect what was h

[2017-10-04 16:53] lukaslueg commented on #4573
Different code paths may or may not get exposed to what is essentially undefined behavior. One can be happy to get a crash right away in such situations.

My point being that there is little use to actually debug this situation in Cargo, as long as the implementation of `stdlib` can't be trusted. I'm afraid we have to wait for rust-lang/rust#44433 and rust-lang/rust#42681 to settle.

[2017-10-04 16:59] GrappigPanda commented on #4573
@lukaslueg Ahh, that makes sense. Guess it's back to ubuntu for me for the foreseeable future.

[2017-10-04 17:24] gilescope commented on #4490
For intelliRust people reading this, you can add an external tool that's run before launch. Getting it to kick off cp works:

cp
-R $ProjectFileDir$/target/debug/deps/ $ProjectFileDir$/target/debug/

(using the arg -n as well is faster but gives a non-zero error code second time around so you might want to put this in a script as intellirust won't continue otherwise.)

[2017-10-04 18:05] Boscop commented on #4575
Windows 8.1

[2017-10-04 18:30] withoutboats commented on #4497
I definitely agree about both of those points.

[2017-10-04 19:27] sfackler commented on #4577
This will happen if you pass `--target` explicitly.

[2017-10-04 21:18] alexcrichton commented on #4569
Thanks for the report! I think this has to do with the test harness in rustc itself though, so I'm going to close this. Feel free to open an issue with rust-lang/rust!

[2017-10-04 21:18] #4569 closed

[2017-10-04 21:50] alexcrichton commented on #4208
Agreed!

[2017-10-04 21:52] alexcrichton commented on #832
Perhaps yeah! Argubally literally all interleavings of any one build is a legitimate use case as well, though.

[2017-10-04 22:01] alexcrichton commented on #4573
Closing as it sounds like this isn't Cargo-related

[2017-10-04 22:01] #4573 closed

[2017-10-04 22:01] alexcrichton commented on #4575
I don't personally know how to "forward signals" on Windows, but an implementation would be most welcome!

[2017-10-04 22:05] alexcrichton commented on #4577
Thanks for the report! As @sfackler notes, however, this already happens when you pass `--target`

[2017-10-04 22:05] #4577 closed

[2017-10-04 22:14] alexcrichton commented on #4576
Thanks for the report! This isn't intended to work, however, you'll want to list the `a` crate as an optional dependency and then activate it in each of the separate features. Doing that to enable different versions to be linked is an intended extension of Cargo where you can rename crates in th emanifest.

[2017-10-04 22:14] #4576 closed

[2017-10-04 22:21] alexcrichton commented on #4574
To me it does seem like the high-order bit is getting `cargo build` working rather than publication/browsing of packages, that seems to be the real enabler. In that sense it makes sense to me to start off by specifying the index (which `cargo build` downloads and consumes) without the API (which is very rarely used only by `cargo publish`)

[2017-10-04 22:35] #3388 closed

[2017-10-04 22:52] retep998 commented on #4575
Cargo uses job objects when running any child processes, so when cargo exits all child processes are forcefully and automatically terminated. In order to be able to have your program respond to console control events when using `cargo run`, cargo would have to stop using job objects to forcefully terminate everything when it exits.

[2017-10-04 23:00] withoutboats commented on #4574
I had overlooked before that rust-lang/rfcs#2141 specified that the `publish` key in a Cargo.toml could take a list of registries that `cargo publish` will publish this to. @cswindle has implemented this in #4568.

I have multiple concerns about this:

First, the highest priority issue - cargo currently stores a single auth token in the config as `registry.token`. The RFC doesn't mention anything

[2017-10-04 23:04] retep998 commented on #4575
I believe the original issue was that when cargo received `CTRL_C_EVENT` it would not propagate automatically to child processes of cargo. An alternate way of solving this issue would be to abandon job objects and instead handle `CTRL_C_EVENT` during which we explicitly generate a `CTRL_C_EVENT` for every single child process which means cargo has to keep track of all its current child processes.

[2017-10-04 23:37] withoutboats commented on #4560
To me it seems like we should provide tooling to avoid those gymnastics rather than making the gymnastics easier to do - that is, some way to rebuild the cargo install'd projects that depend on nightly dynamic libraries when nightly is updated.

[2017-10-04 23:40] alexcrichton commented on #4574
Oh I was sort of expecting that for now a custom registry is just running literally the crates.io software with different configuration or perhaps a patch or two, in which case we wouldn't have to worry too too much about the implementation details. You're definitely right though in that we'd have to worry about the `publish` key here especially wrt tokens. The good news though is that it's all un

[2017-10-04 23:46] cswindle commented on #4574
Regarding the issue with sending a single authentication token, you would need to override this as part of the publish, until the related issue of saving multiple tokens in .cargo/credentials is solved (which is referenced in the RFC).

The last point I agree is potentially an issue, but the key thing that the publish key provides is ensuring that we don't publish to a server that we don't want to

[2017-10-04 23:49] withoutboats commented on #4574
See to me this seems like overkill for a private registry - and also ties them to using GitHub for auth. I could imagine tooling existing to maintain a private registry just based on a hosted git repo and an Amazon S3 bucket, using the out of the box auth mechanisms of those two systems, with no HTTP API of its own to speak of.

[2017-10-04 23:54] cswindle commented on #4574
We went the route of running a private crates.io, although we made some changes to crates.io to allow integration with gitlab OAuth, this way we have a nice way to search through private crates in the same way that we can for public crates.

[2017-10-05 00:01] liranringel commented on #4497
So where should it be?
To make it clear, I interpret the task as getting a .crate file and generating it's index metadata.
If it won't be in cargo, it will probably be in a crate that depends on cargo, or cargo will depend on it (large refactor).

[2017-10-05 00:02] alexcrichton commented on #4535
@tatsuya6502 sorry I'm not sure what the question is about, I'll try to read the PR in more detail tomorrow

[2017-10-05 00:10] alexcrichton commented on #3745
Unfortunately I have not thought through what this would entail. I don't know what it would take to solve it or whether a naive solution would break other code.

[2017-10-05 00:14] withoutboats commented on #4574
@cswindle I think that's a viable choice, but my concern is that we're going to lock people into *requiring* that for their tooling to work how they expect it to.

---

To try to frame my concern, I'd like to think in terms of a "minimum viable registry." What is the least a registry must support to be considered a "conformant" alternative registry?

Then, I'd like to only extend workflows to supp

[2017-10-05 00:24] cswindle commented on #4574
I acknowledge that concern, but if people do have the option of using publish to push the crates to an alternate registry (which they do as they can run their own crates.io), then I really think that we need a method of saying what registries the crate is permitted to be pushed to, otherwise we run the risk of code ending up on crates.io, or the wrong alternate registry, when it shouldn't.

[2017-10-05 01:55] tatsuya6502 commented on #4535
I took option d) and added another commit https://github.com/rust-lang/cargo/pull/4570/commits/f9a541b5f93e66bc5e02c67ecd585d87fb1185cb to PR #4570. I installed emsdk (incoming) to Fedora and tested wasm32-unknown-emscripten target.

I will test x86_64-pc-windows-msvc target after work. (It is almost 10am now in my timezone.)

[2017-10-05 02:50] Herschel commented on #4535
I tested x86_64-pc-windows-msvc, works great now! Thank you!

[2017-10-05 03:24] bddenhartog commented on #3787
@carols10cents sounds good to me!

[2017-10-05 07:51] vorner opened #4582 "Cargo install -f --git doesn't update crate metadata"
Hello

When I try to update a binary installed by cargo from git, it does so, but doesn't store the new git hash in cargo metadata.

This is in my `.cargo/.crates.toml` (just the relevant line):

[code]

Now, I run cargo install:

[code]

As you can see, it shows a different hash. However, the line in the `crates.toml` file stays the same and the hash is not updated to reflect the newer version.

[2017-10-05 09:03] raphaelcohn commented on #4114
A potential solution is to not upload sources but track git (or other) version control references. That would allow for proper IT auditing of software dependencies, something that would be necessary should I propose Rust for a secure government project, say. Distributing software tarballs (which is what a cargo publish is doing) breaks the auditable chain.

The problem is intricately intertwined w

[2017-10-05 11:27] tatsuya6502 commented on #4535
@alexcrichton Sorry for asking an unclear question. My original question was "is it OK to remove metadata suffix from wasm target files (js, wasm) in deps directory?" The wasm file name was embedded in js file, so we should avoid to copy wasm file something like "debug/deps/wasm_test-0f5ba9409d843569.wasm" to "debug/wasm_test.wasm".

I added [a summary of changes](https://github.com/rust-lang/carg

[2017-10-05 11:54] SimonSapin commented on #4552
Unfortunately I did not manage to reproduce this outside of Servo. Here is my attempt:

[code]

("Updating registry" is correctly skipped after "Second build".)

----

As discussed with @alexcrichton, here is the output of `RUST_LOG=cargo=trace ./mach check -p cssparser 2>/tmp/log` (`./mach check` ends up executing `cargo check`.) Or was is some submodule under `cargo::`?

https://gist.github.com/

[2017-10-05 16:02] alexcrichton commented on #4582
Does this end up causing problems down the road? Or is this just a when-manually-inspected-it-looks-wrong bug?

[2017-10-05 16:41] vorner commented on #4582
Yes, it does cause some minor annoyances. In https://github.com/nabijaczleweli/cargo-update/issues/51 I asked for the cargo-update to be able to update git-installed binaries. When it updates them, it is not reflected in the metadata. So if the upstream git moves forward, it then updates every time even when it is no longer necessary.

[2017-10-05 17:02] alexcrichton commented on #4548
Thanks for the report! @Xaeroxe would this perhaps be solved by https://github.com/rust-lang/cargo/issues/1286?

[2017-10-05 17:03] alexcrichton commented on #1286
cc @djc , we were talking about this during the impl days at rustfest

[2017-10-05 17:06] Xaeroxe commented on #4548
@alexcrichton Yes, that RFC sounds great, but doesn't it break backwards compatibility?

[2017-10-05 17:15] Xaeroxe commented on #1286
Doesn't this break backwards compatibility for crates that rely on optional dependencies exposing features?  This RFC sounds great but what happens when I pull in a crate made today and want to enable an optional dependency for it?  It sounds like I couldn't do it because the optional dependency is no longer exposed as a feature.

[2017-10-05 17:20] alexcrichton commented on #4548
@Xaeroxe ok! In that case I'm going to close this in favor of that issue.

Strictly interpreted it does indeed break backwards compatibility, but there's a number of possible solutions we could employ to avoid the breaking change.

[2017-10-05 17:20] #4548 closed

[2017-10-05 18:47] 6A commented on #4576
The version of the dependency can only be set once, can't it?
Specifying `[ "a:1" ]` (package `a` with version `1` does not work either; "Feature `...` includes `a:1` which is neither a dependency nor another feature") in the `[features]` section does not work.

[2017-10-05 19:24] djc commented on #1286
So the proposal we came up with is that features and dependencies will live in different namespaces. The idea we had is that the dependency activation of dependencies by features will have to be explicit, with syntax something like this:

[code]

(Since the slash notation has no application for features, the part before the slash can safely be interpreted as a dependency; also note that `baz/spock

[2017-10-05 19:46] Ericson2314 commented on #1286
I wish I could do:
[code]
skipping the indirection of the separately declared optional dependency. That would be a fine replacement for concision lost if we get rid of the shortcut @djc mentions.

Even better, allow features boolean logic like https://github.com/tbu-/rust-rfcs/blob/master/text/1361-cargo-cfg-dependencies.md if a dependency is needed by multiple features.

[2017-10-05 20:09] nossralf commented on #4560
I can get on-board with that.

However, I still believe it's worth having `cargo uninstall` be more similar to `cargo install`'s current behavior in supporting multiple package specs. It also makes life a tad easier in the meantime.

[2017-10-05 20:34] alexcrichton commented on #1286
@djc it's an interesting idea yeah of maybe not requiring an explicit opt-in here, being able to "shadow" the name of an optional dependency with the name of a feature sounds dangerously plausible to me, so long as we require that the feature doing the shadowing actually does enable the optional dependency!

[2017-10-05 21:25] briansmith commented on #1286
I like that idea. e.g. An "openssl" feature must enable the "openssl" dependency and MAY also enable other dependencies.

Consider the case where the crate `a` is relying on the implicit feature (e.g. "openssl") to enable the optional dependency. Then the crate changes to add a dependency on another crate `b` that has an "openssl" feature. Then `a` needs to change its implicit `openssl` feature to

[2017-10-05 21:35] alexcrichton commented on #4544
Ok thanks for the explanation @marcbowes! I wonder if there may be a good balance to strike here perhaps.

So the reason that Cargo needs optional dependencies is that when generating a lock file for a crate it'll ensure that the lock file doesn't change depending on what you do with the crate (test, build with features, etc). This means that even though some compiles don't use all the dependencie

[2017-10-05 22:04] alexcrichton commented on #4552
Ok found the bug, fix coming soon!

[2017-10-05 22:14] alexcrichton commented on #4552
Ok, fixed at https://github.com/rust-lang/cargo/pull/4583

[2017-10-05 22:14] alexcrichton commented on #4582
Definitely makes sense yeah, shouldn't be too hard to ensure we update it!

[2017-10-05 22:18] alexcrichton commented on #1286
@briansmith yeah, that's a great use case to fix as well! I think @djc is working on implementing a fix for this issue, so we should hopefully have this fixed in the near future!

[2017-10-05 23:57] #4552 closed

[2017-10-06 04:01] withoutboats commented on #4574
So I talked today to André Arko, who is a maintainer of bundler, and he had an interesting proposal.

We could add a key to the `config.json` in the index `commands`, which is an array of strings. For example:

[code]

If a user attempts to use such a command on an alternative registry, if that registry's index does not claim to support the command, instead of attempting and barfing, cargo could r

[2017-10-06 04:26] Jragonmiris opened #4585 "Cargo crashes powershell and cmd on Windows 10 upon building curl-sys (and maybe other things?)"
Yes, that is a very specific title.

I have a **fresh** install of Windows. I formatted all my drives and reinstalled Windows 10, so I doubt any environment weirdness is going on. I used `rustup` to install Rust and have confirmed this on the current stable and nightly (417c73891 2017-10-05). I have the MS Build Tools installed (so `cl` is present and everything).

After drilling through my depend

[2017-10-06 06:20] cswindle commented on #4574
Interesting idea, although wouldn’t this still require that you define what constitutes each command, although I guess it only requires the parameters to be defined for each. A neat feature that you can do once you have this is add a version field, so if a new version of publish is added you could add publish-2, which would the be a nice way to allow breaking changes to the interfaces. Might be ni

[2017-10-06 06:48] withoutboats commented on #4574
I think this is a separable question - given that cargo fails politely when a registry doesn't support a workflow, I feel more comfortable allowing cargo to make requests to other registries without providing as high a level of support as we do for the index (e.g. we might not thoroughly document the API).

Yea I was thinking about the fact that cargo today assumes the default registry (its only r

[2017-10-06 06:53] withoutboats commented on #4574
If we wanted to be more thorough in the index, we could use a format like this:

[code]

[2017-10-06 07:40] cswindle commented on #4574
I like that approach, seems to me to be nice and flexible, while still being intuitive.

[2017-10-06 10:40] djc commented on #1286
Right, so: if a feature `a` does not exist but the crate has an optional dependency `a`, a feature will be defined implicitly as `a = ["crate:a"]`. But also, for any feature `x` where a dependency `x` also exists, (a) `x` must be an optional dependency, and the feature `x` *must* include `crate:x`.

[2017-10-06 17:11] pornel opened #4587 "Rerun-if-changed without disabling other heuristics as a side-effect"
Currently any use rerun-if-changed opts in entire build into a completely "manual" tracking, disabling all built-in rules as a side effect. This means it's not possible to safely just add one file/env var check to the build without understanding all the dependencies of the entire build script.

In order to use rerun-if-changed features in build-time libraries without potentially breaking rest of t

[2017-10-06 17:56] alexcrichton commented on #4576
Yes right now the dependency can only be set once, but we plan on enabling multiple dependencies to be specified in the future, for example with:

[code]

[2017-10-06 18:08] 6A commented on #4576
Oh, alright. Thanks for the explanation!

[2017-10-06 19:01] #4534 closed

[2017-10-07 01:42] shepmaster opened #4590 "`cargo install` should accept --version (in addition to --vers?)"
It's a *long* command line option; it shouldn't be needlessly truncated.

[2017-10-07 02:27] alexcrichton commented on #4590
Unfortunately `cargo install --version` already prints out Cargo's version number (name clash here)

[2017-10-07 08:36] lukaslueg commented on #4587
The current semantics of `rerun-if-changed` and `rerun-if-changed-env` are confusing and a new key `rerun-if-changed+` might just add to this confusion. Notice that

is effectively the same as without the `+`-key.

causes Cargo to still ignore the package sources due to a reference to an env-var and use `foo, bar, [CC]` as the only fingerprints.

IMHO `rerun-if-changed+` in addition to the current

[2017-10-07 10:51] pornel commented on #4587
I'm also OK with changing the existing behavior to be additive, and adding another explicit option like `cargo:disable-built-in-heuristics`.

[2017-10-07 13:14] shepmaster commented on #4590
It appears that `--version` is currently unknown to `cargo install`:

[code]

[2017-10-07 15:09] alexcrichton commented on #4590
Heh, I'd consider that a bug!

[2017-10-07 15:20] shepmaster commented on #4590
It's not unique:

[code]

Can we make lemonade out of this lemon and only support --version on plain `cargo`?

[2017-10-07 15:27] alexcrichton commented on #4590
Hm I suppose so yeah!

[2017-10-07 15:30] shepmaster commented on #4590
A quick skim through all the built-in subcommands shows they all have the same behavior:

[code]

Third-party cargo subcommands *do* frequently support `--version`, but that seems like a reasonable difference.

[2017-10-07 17:04] ehuss opened #4591 "Test http_auth_offered fails on Windows"
The test `http_auth_offered` is failing for me on Windows 10 with the following output:

[code]

The reason this happens is because [this code](https://github.com/alexcrichton/git2-rs/blob/5ac1dd694e3db2fa70eeb5f2fbc667446de4dabf/src/cred.rs#L293) in the git2 package assumes you have a Bourne shell in your path.  Even if you have a Bourne shell (such as Git Bash or Cygwin), they often do not suppo

[2017-10-07 17:18] kennytm commented on #4490
I think we could do the lift-up `*.dSYM` thing after #4570 is merged.

@gilescope Symlink should be enough, no need to copy unless symlink fails.

[2017-10-07 17:56] nipunn1313 opened #4593 "Functionality to glob all crates in workspace"
We added glob support originally with #3911

However, if we add to Cargo.toml
[code]

Then we get an error like this.
[code]

Here, the **/* matches over aggressively to directories/files that aren't Crates. It would be nice to have a way to glob all crates. For now, we have to autogenerate the workspace Cargo.toml with a script.

[2017-10-07 20:01] ehuss commented on #4585
I felt like solving a puzzle today.

This isn't really a cargo bug.  Since cargo allows running arbitrary code in `build.rs`, it can do anything to your computer.

In this particular case, the `curl-sys` `build.rs` file runs the `git submodule` command (if there isn't a `curl/.git` file).  Run the following code outside of a git repo and it will cause the command window to close.

[code]

Ultimate

[2017-10-07 22:53] behnam commented on #4089
I'm finally getting to a clear implementation here, that hopefully will be stable for a while.

There's only one case that I cannot make a clear cut myself---since I haven't used `workspace.exclude` that much in my projects and not sure which outcome is more expected in other projects---and would like your comments on.

Let's say we have these:

Virtual Root: `root/Cargo.toml`:
[code]

Package: `r

[2017-10-08 02:07] ehuss commented on #4529
This is related to #4059 and is fixed by PR #4592.

[2017-10-08 02:26] #4585 closed

[2017-10-08 02:33] alexcrichton commented on #4591
Ah we probably just need to relax the assertion here in the test itself. Should be ok to have a different environment!

[2017-10-08 16:08] vigneshdv commented on #2464
I'm currently trying to work through the exercises on exercism.io.
I'm on Windows 10 on a office laptop. However, I've been trying these exercises out at home with the office proxy disabled and connected directly to the internet.
I managed to install rustup stable and nightly for windows. Now I was setting up my Visual Studio Code along with the necessary extensions for Rust. The RLS extension inf

[2017-10-08 16:58] vigneshdv commented on #2464
So I went on the IRC channel and got cargo to work. Looks like the config file has no extensions and is to be actually called "config". Mistake on my part since I saw that the format was toml and hence would require an extension of ".toml". Also, I assumed ".cargo\config", meant a folder config inside .cargo.

Thanks for the help anyways.

[2017-10-08 18:11] behnam commented on #4593
Good point, @nipunn1313! I'm working on `workspace.members` and `workspace.exclude` right now (<https://github.com/rust-lang/cargo/issues/4089>) and this is another issue we need to fix.

Labels: A-workspace, C-bug

[2017-10-08 18:18] behnam commented on #4089
Actually, I realized that I didn't exactly state the current problem: One problem is that cargo is behaving as (b) when going top-down (when the workspace root manifest is active) and behaving as (a) when going bottom-up (when a member manifest is active and checking if it's a member of the root or not).

[2017-10-08 19:57] mitsuhiko commented on #2075
With the new workspaces feature this is becoming a bit more relevant now I think. We just set up a larger Rust project into many independent sub crates which we want to release together. Right now I'm planning on making a script that bumps all versions in one go but not having to do that would be great.

[2017-10-08 22:43] nipunn1313 commented on #4593
Some possible ways I brainstormed
- Limit glob matches directories with Cargo.toml
- Have a special way to specify members which automatically matches everything (rather than glob)
- Eliminate members from root manifest and assume all crates with Cargo.toml are eligible
- Force users to list all crates in the root manifest (redundant to the Cargo.toml)

It does feel like the members array in a vir

[2017-10-08 22:55] behnam commented on #4593
Oh, for simple cases, you can just leave out `workspace.members` and all packages under the workspace root dir will be included automatically.

BUT, that method has a limit that if you want to add a member from a non-children directory, then you also have to add all the children packages to the list. Supporting `**/*` glob (or just `*` for the gitignore-like interpretation), we can resolve this is

[2017-10-09 02:02] sfackler opened #4596 "https://doc.crates.io has out of date download links/advice"
It links to Cargo 0.16 binaries and should probably recommend rustup.

[2017-10-09 18:58] posix4e opened #4598 "What about deploying classic unix tools with cargo"
I'm thinking

bsdtar
some of the classic zip tools
Grep
It might be nice if we could be a standard of how to deliver source, compile it and deploy it
I guess I have 3 questions

- If I start doing this is someone going to yank packages
- If not cargo what tool should someone use. Keep in mind almost all linux distro tools ship binaries not source. With docker, more and more people are looking for

[2017-10-09 19:12] lolgesten commented on #2644
I ended up here because I also am thinking about the Docker case. To do a good docker build I want to:

[code]

This means the dependencies would be cached between docker builds as long as `Cargo.toml` and `Cargo.lock` doesn't change.

I understand `src/lib.rs` `src/main.rs` are needed to do a good build, but maybe `build-deps` simply builds _all the deps.

[2017-10-09 19:27] KarlFish commented on #2644
## To be clear, the dockerfile in shepmaster's linked stackoverflow post above SOLVES this problem

I came to this thread when I wanted the docker image to be cached after building the dependencies, but before adding in the source that changes all the time.  I posted something like "here's how I fixed this issue", and was informed that the answer was already linked in the stackoverflow post. I mad

[2017-10-09 19:29] withoutboats commented on #4574
We talked about this in the cargo meeting today, and we decided that a format along the lines of my most recent comment would be good. As part of the alternative-registries feature, we will add a check for the api for each command through one of these objects. If the object doesn't exist, we will report that that registry doesn't support the command.

We also agreed that we won't particularly go o

[2017-10-09 20:01] lolgesten commented on #2644
someone needs to relax...

[2017-10-09 20:10] lolgesten commented on #2644
Also @KarlFish what you're proposing is not actually working. If using `FROM rust:1.20.0`.

1. `cargo new playground` fails because it wants `USER` env variable to be set.
2. `RUN cargo build` does not build dependencies for release, but for debug. why do you need that?

[2017-10-09 20:11] lolgesten commented on #2644
Here's a better version.

[code]

[2017-10-09 20:22] shepmaster commented on #2644
You can always review [the complete Dockerfile for the playground](https://github.com/integer32llc/rust-playground/blob/master/compiler/base/Dockerfile).

[2017-10-09 21:08] alexcrichton commented on #4089
@behnam hm an interesting question... I'd probably expect (a) but if that causes too many complications it seems fine to go with (b), these two strategies some mostly equivalent to me I think?

[2017-10-09 21:19] #4500 closed

[2017-10-09 21:19] #4535 closed

[2017-10-10 00:21] carols10cents opened #4599 "Document that adding someone as an owner now invites them, not adds immediately"
When adding an individual as an owner, [crates.io now sends an invitation that the person being invited must accept](https://github.com/rust-lang/crates.io/issues/924). This issue is to add documentation for this, both in [the cargo book](https://github.com/rust-lang/cargo/blob/master/src/doc/book/src/reference/publishing.md#cargo-owner) and [in the old docs](https://github.com/rust-lang/cargo/blo

[2017-10-10 00:34] carols10cents opened #4600 "Add CLI support for owner invitation management"
When someone does `cargo owner --add`, we're now sending the person an invitation that they can accept or decline before they become an owner. Currently, though, the acceptance part (and seeing that you have an invitation at all) only happens in crates.io's interface.

It'd be nice if `cargo owner` also had these options:

* `--list` or `--list-invitations` or similar, which would list any pending

[2017-10-10 01:16] ehuss opened #4601 "`new` tests fail on Windows if you have `~/.cargo/config`"
If you have a `%USERPROFILE%\.cargo\config` on Windows with name/email configured, this will be inadvertently picked up in the `new` test.  The test assumes that TempDir is created in a "safe" location, but on Windows this is typically `%USERPROFILE%\AppData\Local\Temp`.  The recursive tree walk will end up picking up the config file.

I don't have any ideas on how to fix this (other than avoiding

[2017-10-10 01:17] ehuss commented on #4591
I did some more investigation.  It seems that it works correctly if you have `sh` from MSYS/MinGW in your PATH (it handles Windows paths better than Cygwin).   I'm not sure what the best solution here is.  I'd be happy if it was just documented somewhere that you need Git Bash (or MSYS) in your PATH to run the tests (maybe CONTRIBUTING.md?).    What do you think?

See also similar (but unrelated)

[2017-10-10 02:05] nnethercote opened #4603 ""the lock file needs to be updated but --locked was passed to prevent this" error message is unhelpful"
While working on Stylo, several times I have hit this error message:

This is an unhelpful error message. At the very least, it should print the path to the lock file, because when building Stylo there are multiple lock files and it's not obvious which one is the problem.

If it can print more than that -- e.g. identifying how the lock file needs changing -- that would be even better.

[2017-10-10 08:18] paulrouget opened #4604 "Cargo stuck for hours, taking 100% of the CPU"
While working on Servo, on a regular basis, Cargo gets stuck on `Updating git repository` or `Updating registry`.

I usually have to wait few hours until it finishes. Sometimes with no error (compilation went through). Sometimes with an error (conflict of version with a dependency in my Cargo.toml and Servo's Cargo.toml).

I guess https://github.com/rust-lang/cargo/issues/4502 is related.

Is ther

[2017-10-10 11:31] marcbowes commented on #4544
I think you've hit the nail on the head here. I'm not sure "lock files" are necessary in our system which has its ways of ensuring reproducible builds. Our package template for Rust projects has a `.gitignore` for Cargo.lock.

Yup, exactly. Sorry for the ambiguity. We have an "import" process to pull an external dependency into our build system. That process is aware of crates.io.

I'm open to the

[2017-10-10 11:39] paulrouget commented on #4604
I don't know if it's easily reproducible, but `cargo check` freeze with this: https://github.com/paulrouget/cargo-issue-4604

[2017-10-10 11:40] paulrouget commented on #4604
By freeze, I mean, get stuck on `Updating git repository `https://github.com/servo/servo`.

[2017-10-10 16:09] paulrouget commented on #4604
After few hours (I think 3 or 4 hours), this is what the Cargo.lock looks like: https://gist.github.com/paulrouget/385dd3d86028c698c98776d8d198e61a

The difference is the move from a local checkout of servo, webrender and webrender_api to the github repo.

[2017-10-10 16:45] ErichDonGubler opened #4605 "Git dependency requiring auth doesn't check for `"$XDG_CONFIG_HOME"/git/config`."
I'm using a private repo in Gitlab as a dependency for another binary crate I'm developing, and rely on Git HTTPS authentication for my dependencies. **Since recently moving my Git config files to `$XDG_CONFIG_HOME` (in my case, `~/.config/git/config`), Cargo no longer can find my Git configuration**, which seems to indicate that Cargo isn't checking `$XDG_CONFIG_HOME`.

## Reproduction Steps

Ste

[2017-10-10 18:05] alexcrichton commented on #4591
Hm in theory you shouldn't need git in PATH, although maybe the error is just different if you don't have git in PATH? If so we should just update the test.

[2017-10-10 18:17] mcandre opened #4606 "Enhancement: List which versions of crates are `cargo install`ed"
For debugging purposes, it would be really helpful if the Rust cargo package manager was able to list which exact versions of crates have been installed using `cargo install`.

[2017-10-10 18:34] alexcrichton commented on #4604
This is likely an unfortunate instance of https://github.com/rust-lang/cargo/issues/4066, although I'd have to dig in to be sure

[2017-10-10 19:50] ehuss commented on #4591
I mean you need `sh` from MSYS in your path, which just happens to be bundled with Git (`C:\Program Files\Git\usr\bin` specifically).  There are a few other tests which do require `git` to be in your PATH.

The error from cargo if it fails to run the credential helper is:
```attempted to find username/password via git's `credential.helper` support, but failed```

The "success" case (which this tes

[2017-10-10 22:02] alexcrichton commented on #4591
I think in this case we just need to change the assertion to `attempted to find username/password [..]`, right?

[2017-10-10 22:17] ehuss commented on #4591
No, if you change it to that, it will hang forever, because the server thread never receives a connection.

[2017-10-11 15:22] alexcrichton commented on #4591
Ah ok, well I'm fine with whatever fix works!

[2017-10-11 17:17] wagenet commented on #3783
@carols10cents I'm still seeing issues with `rust 1.22.0-nightly (d6d711dd8 2017-10-10)`. I'm not seeing any additional output beyond the single line error message. I'm investigating more right now.

[2017-10-11 17:24] wagenet commented on #3783
Whoops, I forgot to add the `RUST_LOG=debug`. Here's the output I get:

[code]

[2017-10-11 18:17] elidupree commented on #4499
I was able to get this feature working by putting the URL in quotes:

[code]

[2017-10-11 20:06] TheDan64 commented on #4576
Is there a tracking issue for multiple dependencies?

[2017-10-11 21:28] ehuss commented on #4605
It seems to work for me when placed into `~/.config/git/config`.  I can try to help you if you'd like, I was just recently digging into this code recently.

It's a bit of a headscratcher why you are getting the stat errors.  No matter what I do I can't reproduce that.  You don't have any symlinks or anything like that?

Are you setting the XDG_CONFIG_HOME environment variable somewhere?  If not, y

[2017-10-12 08:06] paulrouget commented on #4604
In this issue, you say:

But in this case, it works. But it takes 4 hours.

[2017-10-12 08:33] paulrouget commented on #4604
Is there any workaround?

Because every time I need to update servo in my projects, I have to run Cargo for hours before being able to do anything.

[2017-10-12 13:26] Lymia commented on #2301
I ran into this issue independently, and it took a bit of work to actually track down the root cause. Even if there needs to be an upstream fix first, you can add a warning in the meantime.

[2017-10-12 13:51] carols10cents commented on #2301
hi @Lymia, could you open a new issue for adding a warning please? thanks!

[2017-10-12 14:06] alexcrichton commented on #4576
@TheDan64 not currently, no

[2017-10-12 14:24] ErichDonGubler commented on #4605
@ehuss: Some things that may be relevant to what you're asking:
* I am using MSYS2 vanilla (found at http://www.msys2.org/).
* I use `~/.profile` (which gets sourced by my `profile` shell scripts) to set `XDG_CONFIG_HOME` to `$HOME/.config`.

    I use both `bash` AND `zsh` regularly.
* My `$HOME` is set to `/home/egubler`, which is symlinked to `C:\Users\egubler`.

Should I experiment with simply

[2017-10-12 14:46] tamird commented on #4563
Fixed in #4571?

[2017-10-12 14:53] Lymia opened #4611 "Add a warning when enabling LTO for crates with both cargo-types that support LTO and ones that don't."
As discussed in #2301, cargo silently builds a cdylib without LTO when the same crate also has rlib outputs, as rustc would otherwise error.

The only sign this has happened currently is the output binaries being unexpectedly large. A warning would be very helpful for this.

[2017-10-12 15:44] matklad commented on #4563
Indeed!

[2017-10-12 16:07] ehuss commented on #4605
Ah.  I haven't spent much time in the msys2 environment.  Sorry, I don't know much about it.

[2017-10-12 17:32] jrmuizel opened #4612 "cargo build loops for ever"
When I run 'cargo build' in my checkout of servo/ipc-channel cargo gets stuck in an infinite loop:
http://jrmuizel.github.io/tmp/cargo-log.gz

[2017-10-13 06:52] sagiegurari opened #4614 "enhacement - expose manifest.rs as standalone crate"
The manifest.rs has the structs and enums that define most of the Cargo.toml
That could be really helpful for other build/dev tools like [cargo-make](https://sagiegurari.github.io/cargo-make/)
For now, I also have internally mapped the relevant items in an internal data structs and enums, but would be happier if I would have just had a standard crate to use to pull those definitions from (naturall

[2017-10-13 09:16] SimonSapin commented on #4463
This all sounds like agreement on what should happen. @alexcrichton, what code changes need to happen (on a high level) to get there?

[2017-10-13 10:33] BenjaminGill-Metaswitch commented on #2495
I'm not convinced this is working as intended (stable Rust 1.12; proprietary code, hence the redacting):

[code]

[2017-10-13 10:40] BenjaminGill-Metaswitch opened #4615 "`cargo build --all-targets` doesn't work with binary crates and workspaces"
I've got a large workspace containing a mixture of library and binary crates. `cargo build --all-targets` seems to work fine when run against the library crates (modulo https://github.com/rust-lang/cargo/issues/2495#issuecomment-336415627).

However, running it against either a crate with no library targets or the workspace root (it's a virtual manifest) gives:

[code]

I wonder if this is a probl

[2017-10-13 13:33] carols10cents commented on #2495
Ok, reopening! Just to check, you did mean Rust *1.12*, correct? Not Rust *1.21* by chance?

[2017-10-13 13:37] carols10cents commented on #3783
Interesting, thank you! Reopening!

[2017-10-13 14:04] BenjaminGill-Metaswitch commented on #2495
Sorry - yes. Rust **1.21**. I've edited in the correct version.

[2017-10-13 14:06] carols10cents commented on #2495
Whew! I was worried for a second there :)

[2017-10-13 16:25] kennytm commented on #4490
Just to note that I'm currently working on fixing this (uplift the dSYM).

[2017-10-13 18:04] alexcrichton commented on #4614
Sounds like a good idea to me!

[2017-10-14 06:26] vignesh-sankaran commented on #3506
I'm not going to be able to work on this until mid November due to university and not wanting to overwork myself. If anyone else wants to take up this issue they  are more than welcome to do so, otherwise I'll be able to take this up in a month's time.

[2017-10-14 11:08] djc commented on #4463
That's what I was discussing with @alexcrichton at the RustFest impl days, and I have a bunch of refactoring done that I'm still tweaking. Will post a PR ASAP. Do you have a particular dependency/urgency relating to Gecko or Servo on this?

[2017-10-14 12:27] SimonSapin commented on #4463
Nothing urgent. I thought this bug could cause spurious rebuilds after selectively building a crate with `-p`, but I couldn’t reproduce. Anyway, thanks for working on this!

[2017-10-14 14:59] alexcrichton commented on #4612
Do you think this is *not* hitting https://github.com/rust-lang/cargo/issues/4066? Without any ability to reproduce I can't quite say so myself..

[2017-10-14 15:01] alexcrichton commented on #4604
I don't think I understand what's going on enough to recommend a workaround or know how to fix it. If it's not #4066 then Cargo may just need a tweak to a heuristic or something like that. I do not have time to investigate right now, but I can try to get around to this soon.

[2017-10-14 15:50] #4490 closed

[2017-10-14 16:28] Eh2406 commented on #3377
Or more generally an subcommand for querying the index, so we are not each reinventing it. Maybe move the index stuff into a crate, like the crates.io library. There is [rust-crates-index](https://github.com/frewsxcv/rust-crates-index) but it is not kept up to date with how cargo maintains the index.

[2017-10-14 18:34] marvinhagemeister commented on #4187
Just hit the same issue. It's my first time playing around with rust, so I'm a bit stuck at the moment.

It just hangs with this:
[code]

OS: MacOS High Sierra
cargo: `cargo 0.23.0-nightly (e447ac7e9 2017-09-27)`
rustc: `rustc 1.22.0-nightly (02a24dbdd 2017-10-13)`

[2017-10-14 20:34] carols10cents commented on #4606
Is Cargo.lock not sufficient?

[2017-10-15 09:20] alfiedotwtf opened #4620 "Add "readme" documentation to docs.crates.io"
I can't seem to find any documentation on the "readme" config item in Cargo.toml (which is a link to the file used to display on the crate's page on crates.io)... the only way I found out which setting to add in order to get the README.md to render on my crate's page was to copy what others have done...

This issue is to make this a bit clearer in crates.io's docs.

[2017-10-15 09:52] roblabla opened #4621 "Cargo 0.22 not on crates.io"
Heya, I'm developing a tool that depends on cargo's API directly. I got a request to update it to the latest version of cargo, but to my surprise it wasn't uploaded on `crates.io` : https://crates.io/crates/cargo latest is 0.21.1. Is there a reason behind this, or is it just an oversight ?

Additionally, there's no `0.22.0` tag on the git ?

[2017-10-15 14:09] steveklabnik commented on #4621
The reason is that @alexcrichton is traveling; this is expected to be fixed early next week.

[2017-10-15 14:23] lolgesten opened #4622 "Fails to preserve transitive dylib order with intermediate"
I think there may be a problem with cargo not keeping dependency order for transitive dependencies.

I have this situation:

[code]

`fancylib` is a wrapper around a third party lib that is a C++ lib, but has a C-interface that I wrap. However it does need `stdc++` when linking. `fancylib/build.rs` builds the C++ lib and outputs `cargo:rustc-link-lib=ap4`

`subcomponent` builds some higher level A

[2017-10-15 14:31] lolgesten commented on #4622
Edit: Turns out this is specifically when using `cargo test --all`

[2017-10-15 14:32] lolgesten commented on #4622
And it's when building the tests for `subcomponent`

[2017-10-15 15:47] lolgesten commented on #4622
I might have solved it... maybe the magic sauce is:

[code]

[2017-10-15 15:54] alexcrichton commented on #4621
Done!

[2017-10-15 15:54] #4621 closed

[2017-10-15 19:42] nipunn1313 commented on #4463
We've had to fork some deps to unify feature selection to work around this
issue. It's definitely not sustainable for us, but not urgent yet.

--Nipunn

On Sat, Oct 14, 2017 at 5:27 AM Simon Sapin <notifications@github.com>
wrote:

[2017-10-16 02:13] roman-voropaev commented on #3687
MinGW/Cygwin link.exe is run instead of MSBC link.exe. Placing MinGW/Cygwin after MSVC dirs will solve the issue.

[2017-10-16 07:23] winks commented on #3687
While this may apply for some people, I don't have (and didn't have) Cygwin installed on this machine.

[code]

[2017-10-16 11:26] djc commented on #4463
@nipunn1313 for my understanding, can you point me at a commit or otherwise elaborate on what problems you've had due to this issue?

[2017-10-16 15:41] matklad opened #4626 "Update documentation to use `cc` crate instead of `gcc`"
Recently, `cc 1.0`  was released, as a replacement for `gcc`. However, Cargo's docs still mention `gcc`:

https://github.com/rust-lang/cargo/blob/master/src/doc/build-script.md#case-study-building-some-native-code

We need to make sure that example works with `cc`, use it instead of `gcc` in the said docs and make sure that `Cargo.toml` has `cc = "1.0"`!

[2017-10-16 18:49] nipunn1313 commented on #4463
Here's an example of a problem we had to work around
https://github.com/rust-lang/cargo/issues/3620#issuecomment-326462000

In that particular case, either and itertools were both present in our workspace.
We ended up internally forking itertools to ask for a wider set of features from libeither, so there was consistency across the workspace.

[2017-10-16 20:09] carols10cents commented on #4622
@lolgesten So is this still an issue? Or do you consider the solution you found to be a non-ideal workaround?

[2017-10-16 20:11] carols10cents commented on #4614
cc @joshtriplett, is this the toml crate you were talking about in the cargo meeting today or is that different?

[2017-10-16 20:14] carols10cents commented on #4604
Could this be a slow libgit operation? That is, https://github.com/rust-lang/cargo/issues/4261 ?

[2017-10-16 20:21] carols10cents commented on #4598
No, so far the crates.io team hasn't yanked packages except for CoC or trademark issues

No idea!

This is pretty far from cargo's prime purpose, which is to build rust code and manage rust dependencies.

Ah, I think a reason sgrif pointed you over here from crates.io's repo is that you didn't mention any changes to the crates.io website in [your original issue](https://github.com/rust-lang/crates

[2017-10-16 20:21] #4598 closed

[2017-10-16 20:23] carols10cents commented on #4590
[code]

lol

[2017-10-16 21:49] bruceg opened #4629 "Cargo lock on build directory does not work on NFS"
When run on a project located on a NFS mount, cargo fails to lock the build directory.

Expected behavior:

[code]

Actual behavior (my /home is NFSv4 mounted, with no lock-related options on the mount):

[code]

I'm using cargo 0.22.0 (3423351a5 2017-10-06) on Gentoo Linux, kernel 4.9.52.

[2017-10-16 22:18] alexcrichton commented on #4629
is... there anything we can do about this? AFAIK file locking basically doesn't work at all with NFS

[2017-10-16 23:04] joshtriplett commented on #4614
@carols10cents This is different, but also very useful. I'd love to have this available for all sorts of metabuild scripts that want to parse `Cargo.toml`.

[2017-10-16 23:54] remram44 commented on #3203
Honestly I think the `[root]` should either be removed or fixed. There is no point keeping it "for compatibility" if compatibility has been broken. Either cargo-graph shouldn't use this (but why not use this if it's present?) or the correct info should be written to `Cargo.lock`.

[2017-10-17 00:38] bruceg commented on #4629
NFS file locking does work. For NFS v3 Linux has claimed support since about 2.6.12 (in 2005), and NFS v4 has file locking support built into the protocol.

However, there seems to be some conflicting information if flock(2) actually works over NFS. Kernel notes say it's been working for a long time, but others report that it doesn't still. The [NFS man page(5)](https://linux.die.net/man/5/nfs) un

[2017-10-17 04:06] bruceg commented on #4629
I see now that cargo did locking, but had issues with an NFS system (#2615). The reading I have done seems to point at NFS flock *hangs* being a NFS configuration problem more than an application problem. If flock doesn't work across the network, it generally maps to either a no-op (BSD) or a local-only lock (old Linux, others?). Turning locks on again (by disabling the NFS check) works for me, bu

[2017-10-17 04:06] sfackler opened #4631 "cargo-metadata's resolve doesn't identify the kind of the dependency"
There's no way (as far as I can tell) to see if the runtime bitflags dependency of this setup is turned on or not via cargo-metadata.

[code]

[2017-10-17 04:22] sfackler opened #4632 "cargo-metadata doesn't track target-specific dependencies"
While the target configuration for a dependency is included in cargo-metadata's output (e.g. `cfg(windows)`), it's not all that easy to filter down to the dependencies that are enabled for a given target. It'd be nice if cargo-metadata could optionally perform the target-specific filtering.

[2017-10-17 05:51] paulrouget commented on #4604
I tried to reproduce today with: https://github.com/rust-lang/cargo/issues/4604#issuecomment-335445382

But suddenly it's fast.

What changed since last week:
- I have a faster connection
- maybe the content of `~/.cargo/`

[2017-10-17 10:07] lolgesten commented on #4622
I guess the only thing would maybe be to clarify the "Cargo build script" docs in terms of transitive dependencies. Maybe my reading comprehension, but I assumed you could only have one single`cargo:rustc-link-lib=ap4` which would be the output of the `build.rs`.

[2017-10-17 11:52] kivikakk commented on #4590
It's real easy to fix this naïvely:

[code]

The problem is we probably want to support `--vers` as well (for at least some period of time), but ideally without showing it in the `USAGE` string. This seems a bit complicated with the way cargo subcommands are put together currently.

[2017-10-17 12:46] kivikakk commented on #4450
@alexcrichton found it! https://github.com/rust-lang/cargo/issues/3778#issuecomment-283448233

Maybe we could use a method other than `env::current_exe` for this case? Or just let the user specify `CARGO` and check if that's present, and if so, use it instead of calling `current_exe`?

[2017-10-17 12:48] kivikakk commented on #4450
I need to read more context first. We're only setting this for external subcommands so we don't _use_ it ourselves per se, but yeah; we could just check if it's set already and not do anything if so, letting the environment propagate.

[2017-10-17 13:35] kivikakk commented on #4450
Example of the latter at #4634.

[2017-10-17 14:28] alexcrichton commented on #4629
Most systems, even if they have an NFS mount, typically have *something* on a local filesystem. I wonder if we could perhaps detect that the current path is an NFS mount and if so switch the path to the file lock on the filesystem. For example if `/home/bar/code/foo.lock` is NFS, we could perhaps instead use a file lock at `/tmp/$(hash("/home/bar/code/foo.lock")).lock` or something like that.

Tha

[2017-10-17 14:29] alexcrichton commented on #4590
@kivikakk that looks fine to me, but I don't think we'll want to deprecate the `--vers` flag any time soon, instead we can probably just accept both flags (and prefer one arbitrarily if both are passed)

[2017-10-17 15:53] #4601 closed

[2017-10-17 19:13] msiglreith opened #4636 "Git dependencies build outcommented workspace members"
We (`gfx-rs`) recently renamed a crate (`gfx-core` -> `gfx_hal`) but didn't update all dependencies for crates which aren't members in our root level [workspace definition](https://github.com/gfx-rs/gfx/blob/f149bbb14e04a74b198f1fa304c3b0f7a1e91983/Cargo.toml). (e.g `#"src/backend/dx11",`)

Trying to specify a git dependency:
[code]
results in
[code]
It tries to search for a `Cargo.toml` of our ol

[2017-10-17 20:22] efyang commented on #4626
Could I take this issue?

[2017-10-17 20:49] matklad commented on #4626
@efyang sure!

[2017-10-17 21:56] kivikakk commented on #4590
@alexcrichton agreed! Showing both in the USAGE feels a bit gross, is all. I'll see how it looks in practice.

[2017-10-17 22:24] bruceg commented on #4629
Trying to use a file with a predictable file name in a globally writable directory is a recipe for disaster (symlink attack, etc). It would be more appropriate would be to use a NFS safe locking technique to create a separate lock file beside the file (AKA a dot-lock file or some such).

It may be worth spending some time and building a standalone crate to do just this, ala the `lockfile` command

[2017-10-18 00:46] alexcrichton commented on #4463
@SimonSapin taking on this issue will require a relatively significant refactoring of Cargo's backend. Right now feature resolution happens during crate graph resolution, but we need to defer it all the way until the very end when we're actually compiling crates.

[2017-10-18 09:56] DarkEld3r opened #4639 "cargo-doc and reexported types"
Example (`lib.rs`):
[code]
In the generated documentation for the `reexport::SerError` type there is a reference to the `serde::Serialize`, but this reference is broken (`target/doc/reexport_test/trait.Serialize.html` instead of `target/doc/reexport_test/reexport/trait.Serialize.html`).

[2017-10-18 10:09] fitzgen opened #4640 "Touching `tests/tests.rs` causes all [[bin]]s to be rebuilt"
### Steps to reproduce:

* `git clone https://github.com/fitzgen/preduce && cd preduce/`
* `cargo build`, initial build
* `cargo build`, does not rebuild everything
* `touch tests/tests.rs`
* `cargo build`

### Expected results:

The final `cargo build` is very fast, only the `[[test]]` is rebuilt.

### Actual results:

All 102 `[[bin]]`s and `[lib]` are rebuilt in the final `cargo build`:

[code]

[2017-10-18 12:55] vmx commented on #4533
If I understand this issue correctly, it asks for the same as the discussion at https://internals.rust-lang.org/t/how-about-changing-lib-to-lib-to-allow-multiple-library-in-a-crate/2022 is about. Wouldn't it then make sense to close this issue to make clear that it won't happen?

[2017-10-18 13:56] fschutt opened #4641 "enhancement - allow to express the version of a crate as a version of a dependent crate"
This is an issue that has been bugging me with cargo for a while now, so I wanted to ask if it would be possible for cargo to support the following:

Suppose there is a library `sometinycrate`. `sometinycrate` exposes `TinyImportantStruct` in its public API. Because `sometinycrate` is very popular, it gets picked up by the larger library `bigwrappercrate`. So `bigwrappercrate v0.0.1` has now a dep

[2017-10-18 13:57] alexcrichton commented on #4640
I think this may be because there's a build script? What happens if you add:

[code]

to the build script?

[2017-10-18 14:13] alexcrichton commented on #4533
Good point, thanks @vmx!

[2017-10-18 14:13] #4533 closed

[2017-10-18 14:16] philn commented on #1197
What's the status of this issue? It would be interesting to use target-specific features in gecko-media (enable pulseaudio only for linux for instance).

[2017-10-18 14:23] fitzgen commented on #4640
\o/

[code]

Although, I feel like this shouldn't really be necessary?

[2017-10-18 14:30] alexcrichton commented on #4640
Ok great!

This is a bug or a feature depending on who you talk to I think. It means that by default you don't need to tell Cargo when to rerun build scripts, which can be crucial if a build script reads a lot of files in a repo. That being said it's also always wrong (the default logic) of when to rebuild a build script, so Cargo gives other utilities for specifying a build script's dependencies.

[2017-10-18 14:30] #4640 closed

[2017-10-18 15:44] alexcrichton commented on #4639
Thanks for the report! I think this is a bug with rustdoc though perhaps, not Cargo? Mind reopening in rust-lang/rust?

[2017-10-18 15:44] #4639 closed

[2017-10-18 15:58] carols10cents commented on #4641
I believe this should be solved by [public/private dependencies](https://github.com/rust-lang/rfcs/pull/1977), which is an accepted RFC that has not been implemented yet ([tracking issue](https://github.com/rust-lang/rust/issues/44663).

In the case you have outlined above, `bigwrappercrate` would declare a public dependency on `sometinycrate` since a `sometinycrate` type appears in `bigwrappercra

[2017-10-18 17:55] alexcrichton commented on #4641
@carols10cents indeed I'd still think the same!

[2017-10-18 19:16] carols10cents commented on #4641
Ok, then in that case I'm going to close this as something that will be solved once public/private dependencies are implemented. Please let me know if there's something I'm missing @fschutt !

[2017-10-18 19:16] #4641 closed

[2017-10-18 20:41] alexcrichton commented on #1197
@philn AFAIK no progress has been made

[2017-10-18 21:20] #4566 closed

[2017-10-18 21:21] matklad commented on #4566
Made obsolete by https://github.com/rust-lang/cargo/pull/4623.

[2017-10-19 02:58] hetmankp commented on #3830
I'd like to see this issue reopened. While we do now have the [patch] manifest section, this still requires checking out the source code for the entire crate even if only a few lines of the source actually need to be modified.

This seems reasonable for individual Rust projects, however when embedded in much larger build systems that pull hundreds of packages together (e.g. buildroot, openwrt, etc

[2017-10-19 03:21] durka opened #4643 "cargo panics with "timeout in poll?" error from jobserver"
Here's a log trying to build clippy: https://gist.github.com/b721066be81601774e16087210ad1919

The error happens every time at a random point while building dependencies. The only way to fix it is to disable parallelism with `-j 1`.

This might be a bug in jobserver, or OSX itself. I'm on OSX 10.9.5.

[2017-10-19 04:00] uzytkownik commented on #4533
@vmx  @alexcrichton are they? From what I understood the linked discussion it's about multiple rust libraries to single crate. I just wanted to link multiple C libraries inside a single Rust library. I don't see direct colleration:

- Linked proposal requires multiple outputs.
- My problem requires just adding a few extra parameters to rustc invocation I was able to do with RUSTFLAGS

I'm missing

[2017-10-19 07:20] #4590 closed

[2017-10-19 14:37] alexcrichton commented on #4643
I can't find anything on google that points to 10.9 specifically (everyone seems to claim 10.12 is broken) and all the "brokenness" appears to be in different ways? If we want to fix this we probably just want to have a fallback to `select` in cases like this.

[2017-10-19 16:18] durka commented on #4643
Yeah, all I found was the 10.12 stuff as well. I couldn't get a simple
repro by just calling libc::poll. Do you have any idea what kind of
scenario cargo is creating (calling poll a bunch of times from separate
threads, or something)?

On Thu, Oct 19, 2017 at 10:37 AM, Alex Crichton <notifications@github.com>
wrote:

[2017-10-19 16:43] uzytkownik commented on #4533
@vmx @alexcrichton Sorry for being insistent but what I'm asking for is relaxing Cargo.toml/build script format to allow emitting multiple `links`/`cargo:rustc-link-lib`.

There are multiple alternatives but none of them are good:

### Repacking

    mkdir tmp/
    cd tmp/
    ar x ../libone.a
    ar x ../libtwo.a
    ar x ../libthree.a
    ar x ../libfour.a
    ar x ../libfive.a
    ar x ../libru

[2017-10-19 18:25] dethoter opened #4645 "[Proposal] Credentials per project (local .cargo/credentials)"
[Docs](http://doc.crates.io/crates-io.html#before-your-first-publish) prescribe a user to do `login` first, so during `publish`, `owner` or `yank` cargo should already have credentials. Do we actually need `--token` parameter?

Probably it'd be better to implement local `.cargo/credentials` instead as discussed in #3978 (at the end of thread)? Local credentials will override the global.

For user

[2017-10-19 22:44] alexcrichton commented on #3830
@hetmankp it's probably best to open a new issue at this point explaining why this is needed and why `[patch]` doesn't work

[2017-10-19 22:44] alexcrichton commented on #4643
AFAIK the only "funky" thing here is that the fds are shared across multiple processes, but other than that there's not a whole lot going on here?

[2017-10-19 22:50] alexcrichton commented on #4533
Hm I'm not sure I undersatnd this issue then? What's the desired feature again?

[2017-10-20 00:50] diogobaeder opened #4647 "vcs config not being respected"
Hey guys,

I've created a `~/.cargo/config` file in which I've set the configs I needed; however, even if I put `vcs = "git"` there, when I create a library with `cargo new mylibrary` it doesn't create the repo as well - unless I explicitly pass the argument `--vcs git`.

From what I saw in other issues open here, and from conversation elsewhere, it might be related to the fact that my home direct

[2017-10-20 02:44] coder543 commented on #3506
@sanmai-NL can that argument actually be supported? Windows doesn't have `rsync`, for example, and there's no guarantee that any given Linux install will have `rsync` either. In fact, Cargo already has all the tooling necessary to support templating, in my opinion. One simplistic approach would be to allow anyone to publish projects as templates to crates.io, with the tag 'template' or something s

[2017-10-20 02:51] coder543 commented on #3506
More on topic, I have been thinking a lot about how nice it would be to have `cargo` automatically generate a `README.md` file when creating a new project. This thought was spurred by seeing how Crystal does it, and seeing what a great idea it is in my view.

These thoughts together have led me to wonder if `cargo` should have an interactive mode to let you configure things, assuming that `cargo n

[2017-10-20 03:55] hetmankp opened #4648 "Allow patching dependencies with patch files"
### Summary
This proposes to add an ability for Cargo to patch dependencies with patch files.

### Problem description
The addition of the [patch] manifest section has made making localised changes to crates used by an individual project much easier. However, this still requires checking out the source code for the entire crate even if only a few lines of the source actually need to be modified.

[2017-10-20 07:58] sanmai-NL commented on #3506
@coder543:

## On `rsync` and standard tooling for project scaffolding

Windows has `robocopy`. One may also just use `cp` on Unix-like OSs. My larger point is that starting a project from some scaffold does not require a Cargo feature. I'm not strongly against it but if such a feature is added I feel strongly that it should be designed and maintained intensively, to prevent adding a new CLI inter

[2017-10-20 08:18] bluetech commented on #2263
Here is what npm does, since version 5. I'm not saying if it's a good idea or not.

A package can have one of 2 lock files:

- `package-lock.json` - similar to `Cargo.lock` - never published.
- `npm-shrinkwrap.json` - can be published. If published, will be respected even for nested dependencies/libraries.

The two files have the same format.

With this, a binary package, or even a library package

[2017-10-20 10:46] lukaslueg commented on #4648
FWIW, I think applying patches is beyond Cargo's rational. Besides the intricacies of successfully applying patches (see the wilderness of `git apply`), at the end of the day Cargo itself is simply not a universal build system. For my money, it would be better turn this around and have the external build system fetch the source of the dependency, apply the patch and call cargo to build the desired

[2017-10-20 10:52] lukaslueg commented on #4647
This is expected behavior. When you call "cargo new" with no explicit vcs-option, it walks up the current path and figures out that the project is being created within an already existing repository (your `~`). In that situation, cargo will not create a new repository (the default use case being that you create a sub-package in an already existing repo). The explicit `--vcs git` overrides this, `v

[2017-10-20 15:23] alexcrichton commented on #4647
Ah yeah I think @lukaslueg hit the nail on the head, so I'm going to close. Thanks for the report regardless!

[2017-10-20 15:43] diogobaeder commented on #4647
FWIW, it would be useful if there was a config to make it force the creation of a repo. I'm pretty sure I'm not the only one to version their home dir. But anyway, this would be a feature request, not a bug.

[2017-10-20 15:46] ivanceras commented on #4643
+1 on OSX Yosemite 10.10.3
[code]
panic error:
[code]

[2017-10-20 15:51] alexcrichton commented on #4647
Ok!

[2017-10-20 17:29] alexcrichton commented on #4643
I'm going to hope that https://github.com/alexcrichton/jobserver-rs/commit/400ce8c8d4db1bc58caae4809609d5092d274330 fixes this.

[2017-10-20 17:34] durka commented on #4643
Let me know if/how I can help test.

On Fri, Oct 20, 2017 at 1:29 PM, Alex Crichton <notifications@github.com>
wrote:

[2017-10-20 17:35] alexcrichton commented on #4643
Can you compile Cargo from source? If so, can you try compiling Cargo with that patch and see if it fixes things?

[2017-10-20 17:38] durka commented on #4643
OK, I'll let you know how that goes. Can I make rustup use a custom cargo
and my installed rustc or how does that work?

On Fri, Oct 20, 2017 at 1:35 PM, Alex Crichton <notifications@github.com>
wrote:

[2017-10-20 17:47] alexcrichton commented on #4643
You'd probably just do something like `rustup run beta path/to/target/release/cargo build` and that should work ok

[2017-10-20 17:59] durka commented on #4643
When I do that it's somehow still running rustup's version of cargo... not
sure what's going on.

On Fri, Oct 20, 2017 at 1:47 PM, Alex Crichton <notifications@github.com>
wrote:

[2017-10-20 18:01] durka commented on #4643
Oh no the problem is that librustc_trans also depends on jobserver :( so I
need to build the whole compiler as well.

On Fri, Oct 20, 2017 at 1:59 PM, Alex Burka <durka42@gmail.com> wrote:

[2017-10-20 18:58] uzytkownik commented on #4533
@alexcrichton I'd like to link to multiple system libraries using Cargo.toml or build script. In other words I'd like to be able to pass multiple `-l` and `-L` arguments to `rustc` using `cargo` command.

[2017-10-20 19:06] durka commented on #4643
@alexcrichton maybe this issue is in the wrong repo now, but I can't get it to build with that patch.

I'm running `./x.py build -i --stage 1 src/libtest`. It fails while compiling stage1 test artifacts with "timeout in poll?" Fine. I can then run `./x.py build -i --stage 1 src/libtest -j 1` to complete the build.

I edited `src/Cargo.toml` to override jobserver with the git repo. Now it still fai

[2017-10-20 19:17] diogobaeder commented on #4647
Thanks for the consideration, Alex! :-)

[2017-10-20 19:19] alexcrichton commented on #4643
Ah oops I think I botched the patch. Forgot that EINTR needs to come out as an error and not get handled. Mind testing https://github.com/alexcrichton/jobserver-rs/commit/b3e616532564687c11081cad072f7c0e52ffb2e9?

[2017-10-20 20:32] durka commented on #4643
After rebuilding rustc and cargo with that patch it seems to be working!

On Fri, Oct 20, 2017 at 3:19 PM, Alex Crichton <notifications@github.com>
wrote:

[2017-10-20 21:49] alexcrichton commented on #4643
Ok thanks for checking! I've pushed a new version of jobserver so all that's left is to send a PR to rust-lang/rust updating the crate

[2017-10-20 22:18] durka commented on #4643
And rust-lang/cargo, yeah? Are you doing them or shall I?

On Fri, Oct 20, 2017 at 5:49 PM, Alex Crichton <notifications@github.com>
wrote:

[2017-10-20 22:28] alexcrichton commented on #4643
Nah rust-lang/cargo no longer has a lockfile, and feel free to do it!

[2017-10-21 12:45] jacwah commented on #4066
Natalie Weizenbaum talked about how they intend to solve this same problem in the Dart package manager on a recent episode of The Manifest. I'll drop a link if anyone is interested: https://manifest.fm/5. It sound like it is in early research stages, but boils down to using a version of [DPLL](https://en.wikipedia.org/wiki/DPLL_algorithm).

[2017-10-21 19:27] ivanceras commented on #4643
A quick question: Will this fix ship on the next version of `cargo`? Is doing `rustup self update && rustup update` on the next nightly release enough to update `cargo`?

[2017-10-21 22:56] dtolnay opened #4651 "Cannot open shared object file libstd.so, in bin crate that transitively depends on libproc_macro"
When building a binary crate with a transitive dependency on libproc_macro, `cargo run` is able to run successfully but the resulting binary cannot be run directly.

#### Repro script

[code]

#### Output

[code]

In this minimized repro, the bin crate depends directly on libproc_macro. As reported in https://github.com/dtolnay/indoc/issues/15, this also fails if libproc_macro is a dependency of a

[2017-10-22 05:48] #4643 closed

[2017-10-22 07:14] vorner opened #4652 "Misinterpreted urls with + in the scheme"
If I run `cargo install --git git+https://github.com/vorner/jsonrpc-param-ord`, I get this:

[code]

This seems like a misparsed URL, but I didn't manage to trigger it within the newest `url` crate, so maybe the upstream problem is already gone.

It works OK if I use `https://github.com/...`

[2017-10-22 16:35] GuillaumeGomez opened #4653 "Adding an option to 'cargo doc' to open the doc in the default browser"
Would it be interesting to add such an option?

[code]

[2017-10-22 22:42] norru commented on #4121
I need this too!

My use case is to dynamically search for the most appropriate value of `BOX2D_INCLUDE_PATH` when using `wrapped2d` (https://github.com/Bastacyclop/rust_box2d). At the moment the options are:

- tell the user to set the variable manually, which is bad for automation and introduces much friction
- wrap the Cargo invocation in a batch file, which is not very IDE friendly
- forcing t

[2017-10-22 23:35] uzytkownik commented on #4533
@alexcrichton I'm referring to [this section of documentation](http://doc.crates.io/build-script.html#case-study-linking-to-system-libraries). Limitation of one `links = "foo"` works for many libraries but in my case I'm using a third party library which packages a single logical library as several archives.

In other words I would like a single Rust library which links to several C libraries (wel

[2017-10-23 00:50] hetmankp commented on #4648
@lukaslueg I see where you're coming from but that would eliminate the primary purpose of Cargo; that is dependency management. Having build systems re-implement the cargo.io dependecy tree and try to keep it in sync with upstream would be so onerous I don't think anyone would bother.

There is however an alternative to this proposal. Keep the behaviour of Cargo as it is now but expose more of the

[2017-10-23 08:28] gnzlbg commented on #1565
@alexcrichton we can't release stdsimd on crates.io anymore without publishing stdsimd-test :/

[2017-10-23 13:13] lukaslueg commented on #4653
What's wrong with the existing `cargo doc --open` ?

[2017-10-23 13:16] dimbleby opened #4655 "intermittent linker errors on 32-bit MSVC builds"
32-bit MSVC builds for my [c-ares-resolver project](https://github.com/dimbleby/c-ares-resolver) intermittently fail like this:

Appveyor build history showing lots of failures [here](https://ci.appveyor.com/project/dimbleby/c-ares-resolver/history).

This looks similar to #3161, but fixes made there are surely long released - so I suppose this is something else.

(It wasn't clear to me whether I

[2017-10-23 13:25] GuillaumeGomez commented on #4653
Oh damn... Can't even read an output properly, my bad.

[2017-10-23 13:25] #4653 closed

[2017-10-23 15:42] alexcrichton commented on #4533
@uzytkownik have you tried printing `rustc-link-lib` multiple times? It sounds like you just shouldn't use `links` in the manifest

[2017-10-23 15:45] alexcrichton commented on #4643
@ivanceras this needed to land in rust-lang/rustc, which it now has, and now it should be in nightlies.

[2017-10-23 15:48] alexcrichton commented on #4651
This is sort of to be expected, and there's not really anything we can do about it. When running through cargo/rustup we can manage lookup paths, but otherwise the generated binary has no way of finding the libraries itself :(

[2017-10-23 15:57] alexcrichton commented on #4652
Thanks for the report! This is a cargo-private encoding, though, and as reported the `git+` syntax is not a valid url, which `--git` requires.

[2017-10-23 15:57] #4652 closed

[2017-10-23 16:07] alexcrichton commented on #4655
I wonder if this may have to do with racing build scripts? Unfortunately I don't know how this could resurface :(

The problem here is that a `link.exe` is killed when multiple processes are using it, and the other processes all fail with an error when that happens. Do you have anything in your build which executes `cargo` or `rustc`?

[2017-10-23 16:09] dimbleby commented on #4655
The failing step is `cargo test`.  I'm not doing anything *else* that runs cargo or rustc, though.

[2017-10-23 16:14] uzytkownik commented on #4533
@alexcrichton I believe I did. I can retry if that's suppose to work and dig in why it doesn't.

**EDIT:** After trying with rust from webpage instead of distribution and fudging a bit it worked.

[2017-10-23 16:18] dtolnay commented on #4651
Thanks, I see why that goes wrong. I will try to work around it.

[2017-10-23 16:18] #4651 closed

[2017-10-23 16:19] dimbleby commented on #4655
That will involve building the three separate programs that I have in `examples`.  Does cargo do this in parallel?  Perhaps something going wrong there?

This would be consistent with the fact that the corresponding build for the [rust-c-ares project](https://github.com/dimbleby/rust-c-ares) does _not_ fail in this way - in that one I (weirdly) structured my examples as one big program.

[2017-10-23 16:33] dimbleby commented on #4655
FWIW I've had two examples since forever, but first saw this failure on 4th August in [this build](https://ci.appveyor.com/project/dimbleby/c-ares-resolver/build/1.0.77) with rustc 1.19.0 and
cargo 0.20.0.

If the issue was provoked by something I changed: well, [here](https://github.com/dimbleby/c-ares-resolver/commit/1306564893af8ac6a7e8feaf40e172843a154cd5) is the change - tweaking the way that

[2017-10-23 19:05] vorner commented on #4652
Well, even if it is invalid, the error message is kind of wrong. It obviously tries to use „git+https“ as a host name. An „invalid URL format“ or something would be more appropriate.

However, if it *is* invalid, why does cargo put invalid URLs into .cargo/crates.toml. That's where I copy-pasted the URL from in the first place.

[2017-10-23 19:57] ivanceras commented on #4643
@alexcrichton I've just updated via `rustup`. The errors are now gone, it works great. Thanks!

[2017-10-24 15:07] gnzlbg opened #4657 "Show information of all dependencies"
It would be nice to have an option to recursively query information of all dependent crates.

Imagine I want to ship a binary, and would like to include the license / copyright of all crates that the binary uses. Ideally, I should be able to just do `cargo info --license --all` and that should output it to the screen.

Another user would be crates.io itself. Lot's of crates say they have the Apach

[2017-10-24 16:43] Twey commented on #1139
Was progress made on this at the meeting?

[2017-10-24 18:20] infinity0 commented on #4133
What about adding the logic to rustc itself? Basically, what's already in cc-rs [here](https://github.com/alexcrichton/cc-rs/blob/59850024097e64f3a280b78a668383f100542858/src/lib.rs#L1411). Since rustc is the one calling the linker, it could select the right linker when it's being told to cross-compile.

[2017-10-25 03:52] Boscop commented on #1851
I tried to use `my_crate = { git = 'ssh://git@foo.com:my-repo' }` but it said invalid port number.
Then I tried `my_crate = { git = 'ssh://git@foo.com/my-repo' }` but it said authentication failure, even though it's NOT an auth failure.
Turns out I had to write `my_crate = { git = 'ssh://git@foo.com/~/my-repo' }` which is not obvious. It should give a more helpful error with `/`, not auth failure.

[2017-10-25 11:20] torkleyy opened #4660 "Cargo should warn if `package.include` doesn't contain a `Cargo.toml`"
## How to reproduce:

[code]

Add the following line to the `package` table:

[code]

And then create that file:

[code]

Finally, try to execute

[code]

This fails for me with the following error message:

[code]

Executing `ls target/package/hello-0.1.0/` gives me `hello.txt`, so it does get included.

---

Tested versions (same result):

* cargo 0.23.0-nightly (e447ac7e9 2017-09-27)
* cargo 0.

[2017-10-25 11:21] emk commented on #1851
OK, just a quick follow up: We _do_ finally have private git repositories working with a credential helper. In practice, it's a significant nuisance to set up across developer machines and CI, but once it's automated, it actually works fairly well.

Thank you to the `cargo` team for explaining this!

[2017-10-25 11:28] torkleyy commented on #4660
As it turns out, I'm stupid and should have added `Cargo.toml` and `src/**` to the list, too.

[2017-10-25 11:29] torkleyy commented on #4660
I'll leave this issue open as a suggestion to warn if there's no `Cargo.toml` included.

[2017-10-25 11:43] torkleyy commented on #4660
Now I got the next problem, I can't include a subdirectory containing a `Cargo.toml` :(

[2017-10-25 14:19] lolgesten commented on #4044
I got bitten by this today.

[code]

Changing the LD_LIBRARY_PATH before running did fix the problem.

[2017-10-25 14:44] carols10cents opened #4661 ""Documenting..." messages should use `\` on windows"
Discovered in https://github.com/rust-lang/cargo/pull/4627#issuecomment-339289446, the "Documenting" messages aren't using `\` on windows and should be:

[code]

[2017-10-25 15:04] carols10cents commented on #4661
@matklad it looks like the "Compiling" messages don't use windows paths either, should they?

I'm basing this on the observation that [this test](https://github.com/rust-lang/cargo/blob/master/tests/bench.rs#L766), and many others, don't use square brackets either....

[2017-10-25 15:08] #4341 closed

[2017-10-25 15:11] matklad commented on #4661
@carols10cents Yeah, I think ideally all paths should use file separators, native to the current platform.

But this is an ultra cosmetic things actually, so it might be better to fix something else instead of this :)

[2017-10-25 16:39] gnzlbg opened #4662 "Easy way to recompile all tools with each nightly"
Every time I install a new rust nightly on macos via rustup, rustfmt, clippy, etc. break with this error:

[code]

Is there an easy way to recompile all of them when installing a new nightly?

[2017-10-25 17:38] alexcrichton commented on #4652
The metadata for Cargo is just that, metadata for Cargo which is intended to be private

[2017-10-25 17:45] alexcrichton commented on #4533
Ok, glad it works!

[2017-10-25 17:47] alexcrichton commented on #4655
Ah sorry what I meant is that as part of the build, for example in a build script, are you running rustc/cargo/rustup/etc?

[2017-10-25 17:59] dimbleby commented on #4655
Not sure whether you missed my answer - which would be my own fault for then making two additional updates - or I misunderstood the question.

Does that answer the question?

[2017-10-25 18:21] alexcrichton commented on #4655
Yes I understand you're executing `cargo test`. I'm wondering if within that `cargo test` the build is executing something like `rustc --version` or compiling a shim in a build script.

[2017-10-25 18:23] Mark-Simulacrum commented on #4662
Not today -- but eventually we hope to ship rustfmt and clippy as part of the standard distribution (available via rustup). How that will work remains to be decided, though. For today the best solution is probably to reinstall them via `cargo install -f rustfmt`.

[2017-10-25 18:32] dimbleby commented on #4655
No, there's no build script.

(there is a build script in a dependency - `c-ares-sys` - but I have [just experimented](https://ci.appveyor.com/project/dimbleby/c-ares-resolver/build/1.0.114) with separating `cargo build` and `cargo test`, and still see failures at `cargo test`.  so I don't think that can be relevant.

I'm [currently experimenting](https://ci.appveyor.com/project/dimbleby/c-ares-re

[2017-10-26 08:58] w0rp commented on #1473
Changing the output stream to stderr broke integration with ALE.

[2017-10-26 08:59] w0rp commented on #1473
Luckily, ALE can handle stderr, stdout, or both streams at the same time. Now ALE will have to accept both streams, because it could be either one, depending on the version of cargo.

[2017-10-26 09:04] matklad commented on #1473
Hm, the changed happened a rather long time ago, I would be surprised to find a lot of cargos which use stdout now....

[2017-10-26 09:59] w0rp commented on #1473
Yeah, I noticed that.

Strangely, I hadn't received any complaints until quite recently. That makes me wonder which versions of cargo people are actually using.

[2017-10-26 10:01] matklad commented on #1473
Hm, maybe then complaints are about some unrelated change to Cargo/Rustc output?  It would be prudent to ask about the version of Cargo indeed!

[2017-10-26 20:42] mystor opened #4663 "Automatically enable required-features when running an example"
If I have a crate like:

[code]

It would be awesome if `cargo run --example myexample` automatically enabled the `myfeature` feature for me, rather than producing an error message like it does today. There is no situation where I can do anything useful without padding the additional `--features myfeature` flag.

This is the current message:
[code]

[2017-10-27 00:58] valarauca opened #4664 "Don't pass `--features` from `dev-dependencies` to `dependencies`"
Working on a smallish project.

The main reason this came up was `nom`. Which has a feature flag that gates its new errors [linky](http://rust.unhandledexpression.com/src/nom/internal.rs.html#96-99). If I include a dependency my whole build breaks as a `dev-dependency` is building nom with verbose errors.

[2017-10-27 05:56] Popog commented on #1139
I created [DHL](https://github.com/Popog/dhl/) as a workaround for this issue.

[2017-10-27 14:28] #4327 closed

[2017-10-27 14:46] lukaslueg opened #4666 "Redundant cwd() in `hg`-discovery"
https://github.com/rust-lang/cargo/blob/1c9dc0a476b6d9da6f2d727bb07102db85498480/src/cargo/util/vcs.rs#L29

The `.cwd(cwd).cwd(path)` seems redunant at best, maybe wrong. This has been here at least three years. Anyone knows what `hg` actually expects here? :-)

[2017-10-27 16:10] alexcrichton commented on #4655
Looking at some failing logs it looks like the failure is isolated to i686 and always happens on the c-ares crate itself (typically in examples, sometimes not). Basically this looks precisely like https://github.com/rust-lang/rust/issues/33145, so something is killing a linker (presumably).

Can you try setting `RUST_LOG=rustup-cli=info,cargo::util::job` and see what's printed?

[2017-10-27 16:19] dimbleby commented on #4655
build [under way](https://ci.appveyor.com/project/dimbleby/c-ares-resolver/build/1.0.119).

[2017-10-27 16:28] alexcrichton commented on #4655
Hm maybe `rustup_cli` instead of `rustup-cli`?

[2017-10-27 16:28] alexcrichton commented on #4655
(I forget the precise syntax)

[2017-10-27 16:34] dimbleby commented on #4655
well I've never known about this, much less forgotten it!  Happy to follow instructions - just let me know what you want to try.

(having said that I'll be away from the computer soon so will shortly go unresponsive)

meanwhile I see that the previous build exhibited no failures - obviously when you want it to fail it doesn't! - I'll kick off another.

[2017-10-27 17:51] pronebird opened #4667 "MacOS deployment target"
Targeting macOS builds we found that we needed to set `MACOSX_DEPLOYMENT_TARGET=10.9` explicitly when building with cargo in order for code signing to produce the right SHA-1 hash for older macOS versions. Is it possible to set deployment target via `Cargo.toml`?

[2017-10-27 18:51] alexcrichton commented on #4667
Nah yeah unfortunately you can't do this in `Cargo.toml`, but I think you can print out `cargo:rustc-env=...` nowadays in build scripts?

[2017-10-27 21:23] sunjay opened #4669 "cfg(test) is not set during doctests"
It might be that I'm just not understanding how something works, so please let me know if that is the case!

Since doctests are tests, I expect that `#[cfg(test)]` would work and `cfg!(test)` would return true. This works during unit tests, but during doctests, both assumptions are wrong.

The reason I need this is because I have some code (not in doctests) that manages windows (like GUI windows)

[2017-10-27 22:06] sunjay commented on #2911
Is there any way to add features per profile now? That is, if I want to enable certain features during tests, can I do that yet?

[2017-10-28 01:34] alexcrichton commented on #4669
Thanks for the report! I think that this may be an issue for rust-lang/rust, though, where rustdoc is defined?

[2017-10-28 04:32] shingtaklam1324 opened #4670 "Alternate Sources for downloads"
Currently, when cargo compiles programs, it downloads crates from `crates-io.s3-us-west-1.amazonaws.com`, which isn't  available from some regions (AWS US is not available in the People's Republic of China without a VPN / Proxy).

Perhaps multiple download servers could be used for different regions.

[2017-10-28 04:55] sunjay commented on #4669
Yes that may be a good idea! I wasn't sure and so I assumed that cargo passes in the config flags. Thanks!

[2017-10-28 12:49] alexcrichton commented on #2911
@sunjay unfortunately no, you'll still need to pass `--features` on the command line

[2017-10-28 12:51] alexcrichton commented on #4670
cc @carols10cents about mirrors and such

Unfortunately right now we don't have another option here. Out of curiosity, though, does `www.rust-lang.org` work for you? That's distributed through CloudFront and we could enable that for crates.io downloads which would enable a CDN.

[2017-10-28 14:27] shingtaklam1324 commented on #4670
Yes, all other rust webpages and services work flawlessly, it is only the occasional Amazon AWS issue

[2017-10-28 15:17] sunjay commented on #2911
Is this change something that would require an RFC or could it just be implemented? It sounds like being able to specify features in the profile configuration is something that could benefit a lot of people.

[2017-10-28 17:41] nelsonjchen opened #4671 "Cargo from rustup nightly as of Oct 28 2017 does not cargo build correctly on macOS 10.13 on APFS"
Cargo fails to hardlink/copy `.dSYM` symbols to the target location on APFS. I think this might be related to these new `.dSYM` folders instead of the `.d` files that `rustc` now generates.

I tried this: `cargo new --bin dsym_demo && cd dsym_demo && cargo build`

I expected to see this happen: No errors.

Instead, this happened:

[code]

I'm using `cargo 0.24.0-nightly (e5562ddb0 2017-10-26)`. I'

[2017-10-28 17:47] alexcrichton commented on #4671
Cc @kennytm, I wonder if we could use symlinks here as we will never execute this code on Windows?

[2017-10-28 18:17] kennytm commented on #4671
@alexcrichton Yes symlink should work. I thought the previous code would fail hardlink and fallback to do a deep-copy o_O.

[2017-10-28 19:55] albel727 commented on #4350
Just mentioning the obvious, in case someone stumbles on this, but cargo internally uses `tempdir` crate, which in turn uses [`std::env::temp_dir()`](https://doc.rust-lang.org/std/env/fn.temp_dir.html). Which means that on linux it consults `$TMPDIR` environment variable (and nothing else, like `$XDG_RUNTIME_DIR`, which happens to be not `noexec` for me, sigh) before falling back to `/tmp`.

And i

[2017-10-28 21:15] sunjay commented on #4669
This issue was moved to rust-lang/rust#45599

[2017-10-28 21:15] #4669 closed

[2017-10-29 05:26] DanielKeep commented on #4563
This is a problem for me.  This means that the current nightly version of Cargo actively breaks compatibility with older versions of Rust.  Every time I run `cargo build`, even if it doesn't *need* to change the lock file, it removes the `[root]` section.  This means that if I want to test against older versions of Rust, I have to manually go and reset the lock file from source control.

Additiona

[2017-10-29 05:43] matklad commented on #4563
So even with `--frozen` the lockfila is modified? If this is the case, I think we should fix this.

This is true: this change makes lockfiles generated by newer Cargos incompatible with older Cargos.
Please note that "older" here means "one year old or more": For about one year Cargo is able to read lockfiles without a `[root]` section, as a preparation for their eventual removal.

Could you elabo

[2017-10-29 08:21] biancode commented on #4671
same problem

[code]

[2017-10-29 08:28] nelsonjchen commented on #4671
As a workaround for now, I've been developing and building on a HFS+ sparse disk image which will still permits directory hardlinks in 10.13.

[2017-10-29 12:03] mgeisler opened #4674 "Test case timing information and ordering"
I think it would be nice if `cargo test` would output timing information about each test it runs. That way users can see where to spend effort if one tries to make a test suite run faster.

It would also be nice if one could influence the order in which test cases are started. Most of my tests finish in an instant, but I have one that does more exhaustive testing. It would be good to have that tes

[2017-10-29 17:06] #4671 closed

[2017-10-29 17:46] norru commented on #2412
Just tripped on this problem. Any progress?

[2017-10-30 01:25] raytung commented on #4563
Looks like we need to fix this.
[code]

[2017-10-30 05:48] DanielKeep commented on #4563
As noted, `--frozen` and `--locked` don't help; they just prevent building entirely.  Cargo appears *determined* to remove the `[root]` section come hell or high water.

I said I'd support 1.11.  I have no technical reason to break that promise: there is nothing my code is doing that can't be done in 1.11.  (Even then, it's 1.11 due to dependencies.)  I personally loathe it when people break back

[2017-10-30 14:44] alexcrichton commented on #4674
Thanks for the report! I think this may be a better issue for rust-lang/rust? The libtest framework (the test harness) is up there

[2017-10-30 14:45] alexcrichton commented on #4670
I've [opened a PR](https://github.com/rust-lang/crates.io/pull/1152) to add CDN support to crates.io and created a CloudFront CDN, hopefully we can merge that and start distributing crates.io crates the same way as Rust, and that way I believe it should work for you!

[2017-10-30 15:27] sunjay opened #4678 "Improve the error message for when a patched dependency doesn't resolve to anything"
**If you were brought here from an error message:** It may be that the version of a dependency in your Cargo.lock file does not match the version of your patched dependency. You can often fix this by running `cargo update -p <your package name>`. We're working on improving this error message to provide better, more detailed suggestions.

If you ran into this error message because of a different re

[2017-10-30 15:28] colindean opened #4679 "Yanked crate shows in search list but is not installable"
I learned about `rustfmt` today and learned that it has cargo integration to enable `cargo fmt`. I searched cargo from the command line and got this output:

[code]

Ah ha! `cargo-fmt` is what I want, right? RIGHT?

[code]

That's odd, it just showed up in the search!

I resort to the browser: https://crates.io/crates/cargo-fmt

<img width="795" alt="screen shot 2017-10-30 at 10 59 10 am" src="htt

[2017-10-30 16:06] DoumanAsh opened #4681 "Provide option to specify file blobs download in Cargo.toml"
## Proposal

Allow crate's maintainer to specify file dependencies that are needed to be downloaded and accessed from build scripts.

## Reasoning

The very likely case where it could be beneficial are *-sys libraries that usually just bundle C source code in their repositories itself.
Instead of doing that we could let user to specify that it wants to download dependency from particular repositor

[2017-10-30 17:03] mgeisler commented on #4674
Yes, definitely. I started searching for the help text above and couldn't find it in Cargo :-)

I'll close it here and open a new issue in the right tracker.

[2017-10-30 17:03] #4674 closed

[2017-10-30 17:31] #3431 closed

[2017-10-30 19:14] joshtriplett opened #4682 "missing cargo command suggestions"
Inspired by the various cargo subcommands available in the broader crates.io ecosystem: we should consider adding a mechanism to automatically search for Cargo subcommands if someone enters an unknown subcommand. For instance, `cargo tree` could suggest installing [cargo-tree](https://crates.io/crates/cargo-tree). This could make use of metadata provided by crates.io.

cc @carols10cents

[2017-10-30 19:24] joshtriplett commented on #1139
I don't know about "pre-built" dependencies, but it'd be nice to be able to build a variety of leaf crates without building the dependency crates more than once, if the leaf crates request the same features from the dependencies.

[2017-10-30 20:10] ehiggs commented on #2412
@norru, I think I work around this by just pulling in the crates I depend on as a vendorised crate in-tree with my other work. i.e. using workspaces.

[2017-10-30 21:20] #4560 closed

[2017-10-30 22:37] norru commented on #2412
@ehiggs it's one hell of a workaround. No, thanks :)

[2017-10-30 22:48] ehuss commented on #2495
I believe @BenjaminGill-Metaswitch's issue is fixed by #4592.  `--all-targets` will now really do "all targets".

[2017-10-30 22:52] ehuss commented on #4003
This is fixed by #4592.  `--tests` now does all tests, including unit tests.  Also, `cargo check` now has a `--profile` flag that can be used to target unit tests individually, such as `cargo check --lib --profile test`.

[2017-10-30 22:53] ehuss commented on #4059
This is fixed by #4592.

[2017-10-30 22:54] ehuss commented on #4330
This is fixed by #4592.  `cargo check --tests` now really does all tests.

[2017-10-30 22:58] #4330 closed

[2017-10-30 22:58] #2495 closed

[2017-10-30 22:59] #4059 closed

[2017-10-30 22:59] #4003 closed

[2017-10-30 23:03] alexcrichton commented on #2911
@sunjay I think due to the subtle possible ramifications of auto-enabling features I'd personally want to see an RFC, but it may be worth canvassing others from @rust-lang/cargo first as well

[2017-10-30 23:29] sunjay commented on #2911
I would love to work on an RFC for this. Very interested to hear what the cargo team thinks.

Right now, I'm having to constantly remember to pass features in when I run cargo test. I would really prefer to not have to do that. It's an extra point of friction for anyone who uses my code.

Though it would be great to even just be able to configure features in tests, I would really like to see cargo

[2017-10-31 00:48] #4615 closed

[2017-10-31 00:53] withoutboats commented on #4682
Two UX thoughts:

* Probably this pulls info from the index; it should not ever update the index though (a user who accidentally writes `cargo biuld` should never then sit waiting for the index to update to look for `cargo-biuld`).
* Some subcommands are installed through crates with different names (e.g. the "correct" implementation of `cargo add` is in `cargo-edit`, not `cargo-add`). Its unclear

[2017-10-31 01:10] joshtriplett commented on #4682
For the latter, I'd suggest that we have metadata that a crate can provide to indicate that it ships a specific cargo command, and cargo should show all crates that provide the specified command, ideally in an order comparable to the crates.io search results.

[2017-10-31 03:43] alexcrichton opened #4686 "Add an "airplane" flag to Cargo, altering it's dependency resolution behavior"
The topic of "offline" Cargo has come up quite a few times historically and with the advent [this reddit post](https://www.reddit.com/r/rust/comments/793evq/using_cargo_on_the_subway_a_script_to_hack/) it got the @rust-lang/cargo team thinking about this problem again and how we might solve it. The discussion got a little sprawled but this issue is intended to be the distillation of the core featu

[2017-10-31 04:46] Ophirr33 commented on #4686
I'll jump on this! Thank you for the awesome write up

[2017-10-31 05:45] paulrouget commented on #4604
This is still happening.

Stuck on:

[code]

[2017-10-31 05:52] joshtriplett commented on #4686
@alexcrichton Thank you for an absolutely incredible guide for potential contributors! This exactly describes the behavior I'd like in every way.

[2017-10-31 09:31] paulrouget commented on #4604
Would it be possible to work around the issue by pulling manually?

I checkout-ed commit #43a4f01 in /Users/paul/.cargo/git/checkouts/servo-12bfca331f128de3/43a4f01/ - but still, it gets stuck exactly the same way.

[2017-10-31 09:51] matklad commented on #2911
I think we have an RFC by @withoutboats for this already: https://github.com/rust-lang/rfcs/pull/1956, which is postponed because of profiles.

[2017-10-31 10:02] paulrouget commented on #4604
I attached lldb to the process and dumped the backtrace:

https://gist.github.com/paulrouget/d6e3d62c5fd03af96b3338cf9414335d

[2017-10-31 12:38] hobofan commented on #4686
Glad to see this topic getting some attention!

I left [a comment in the mentioned reddit thread](https://www.reddit.com/r/rust/comments/793evq/using_cargo_on_the_subway_a_script_to_hack/doyx1v9) regarding IPFS support in Cargo. I personally think that IPFS can be a great tool to tackle offline-like scenarios, though I didn't pursue upstreaming it since it is pretty niche.

Would the Cargo team be

[2017-10-31 13:09] SimonSapin commented on #4686
Rather than or in addition to this flag, could carrying on with an out-of-date index be the default behavior when the network request to update it fails?

[2017-10-31 13:48] alexcrichton commented on #4604
@paulrouget it looks like it's stuck in libgit2 fetching? If that's the case I'm not sure how to debug... You could try out https://github.com/rust-lang/cargo/pull/4646 locally and perhaps see if progress is being made?

[2017-10-31 13:51] sunjay commented on #2911
@matklad Ah yup that's exactly what I would have proposed. Thanks for looking that up! I read the discussion and it seems like that's pending on some work with how multiple profiles are applied together (e.g. `test --release`). It seems that the current behavior is more complicated than what it looks like at first glance.

Is there any way to do this in a backwards compatible way? It would be grea

[2017-10-31 14:11] alexcrichton commented on #4686
@Ophirr33 awesome! Let me know if you need any help!

@hobofan interesting! We haven't discussed much in Cargo about adding new kinds of sources (e.g. mercurial, subversion, ipfs as you're adding, etc). Unfortunately that sort of feature isn't easily addable to Cargo (unlike subcommands) as the sources implementation is pretty intrusive. I'd be interested to learn more about this but we may wish t

[2017-10-31 14:35] SimonSapin commented on #4686
@alexcrichton  What I’m proposing (whether or it’s the default) seems like it would be a much smaller feature: accept to work with an out of date index. That’s it. Resolution might still select a crate version that’s not in cache, and trying to fetch that might fail. The user can then opt into a different (likely earlier) version with `cargo update --precise` based on looking at `ls ~/.cargo/regis

[2017-10-31 14:38] SimonSapin commented on #4686
I assume that what’s desirable is the resolution algorithm, not index update failure being fatal.

[2017-10-31 14:39] oconnor663 commented on #4686
@SimonSapin I'm not sure what the exact rules are internally, but it seems like one of the current invariants is "if you do a `cargo build` in a clean repo, you get the same result regardless of what's in your `~/.cargo` caches." I think that's a really important invariant for production builds.

[2017-10-31 14:44] SimonSapin commented on #4686
Production build should probably have an up-to-date `Cargo.lock`. But regardless, I can live with "train mode" being opt-in. That’d still be much better than the status quo.

[2017-10-31 16:20] cswindle opened #4688 "Areas requiring agreement for stabilization of alternative registries"
Below are a list of current concerns that @alexcrichton raised as wanting resolution before alternative registries becomes stable:

- [ ] --registry command for publish
  * currently `login`, `owner`, `publish`, `search`, and `yank` have `--registry` as an argument, taking a registry identifier
- [x] format of the registry name, including validation of the format
  * should we accept `foo.bar.baz`

[2017-10-31 16:20] joshtriplett commented on #4686
@SimonSapin

No, under normal circumstances we *do* want to stay up to date.

I've had direct real-world experience with the opposite approach, with a package manager that defaults to building with the set of packages and versions that it has already installed (globally, not per-package like cargo), and only updates the global versions when explicitly requested. This has *some* advantages, but it

[2017-10-31 16:21] crumblingstatue commented on #4686
As discussed on [reddit](https://www.reddit.com/r/rust/comments/79tiz3/call_for_help_cargo_airplane_mode/) and [internals](https://internals.rust-lang.org/t/call-for-help-cargo-airplane-mode/6134), perhaps it should be considered naming this something other than "airplane" mode, as airplane is far from being the only use case for this. I would recommend decoupling the name from a specific use case

[2017-10-31 16:40] SimonSapin commented on #4686
I’m not suggesting not to update the index at all. But how is it good to abort if we can’t right now?

----

+1 to "offline" over "airplane".

[2017-10-31 17:49] japaric opened #4689 "assertion when using `cargo run` with `wasm32-unknown-emscripten`"
### STR

[code]

---

`nightly-2017-10-24` works fine. You get `Hello, world!`.

It seems that the difference is that with `nightly-2017-10-24` Cargo produces a single `.js` file:

[code]

But with `nightly-2017-10-28` Cargo produces a `.js` *and* a `.wasm` file.

[code]

Cross is using the Cargo runner feature under the hood (set to `node-wasm`) so that could be related.

[2017-10-31 18:32] dethoter opened #4690 "[Proposal] Subcommand to operate on custom registry info"
I haven't found this among opened issues. Feel free to close if this idea is already present in some thread.

[code]

[2017-10-31 18:32] dethoter commented on #4688
I have a few things to discuss:
- credentials per project #4645
- `registry` subcommand #4690

[2017-10-31 19:02] joshtriplett commented on #4686
I do like the idea of calling it "offline" mode. (Though "airplane" might be a good keyword to use in `--help`, because people have heard of "airplane mode" on devices.)

[2017-10-31 19:02] joshtriplett commented on #4686
@SimonSapin Better than proceeding in a different mode implicitly.

[2017-10-31 21:18] Ophirr33 commented on #4686
@alexcrichton thoughts on changing the flag from "airplane" to "offline"? I've seen a couple of folks here and on reddit mention it.

[2017-10-31 21:50] alexcrichton commented on #4689
cc @tatsuya6502 mind taking a look at this? I think it was caused by https://github.com/rust-lang/cargo/pull/4570

[2017-10-31 22:07] oconnor663 commented on #4686
Bikeshedding: In a perfect world, it would be nice to have a flag that clearly meant something different from the existing flags `--frozen` and `--locked`. Those are about the intent "I've configured things such that this build shouldn't need to use the network, so tell me if I failed to do that." The new flag is more about "even though this build would normally need to talk to the network, figure

[2017-10-31 22:09] alexcrichton commented on #4686
@Ophirr33 either's fine by me! I don't feel too strongly one way or another, we can always continue the bikeshed during stabilization

[2017-11-01 01:30] withoutboats commented on #4688
Seems like there's no reason to put on it any more restrictions than what toml does, right? If your name is silly, you might need to quote & escape it in some places but toml supports arbitrary unicode strings both as table names and keys, afaik.

Does this mean it needs to accept a `--registry` argument like publish/yank? Probably other commands that interact with a registry should all accept thi

[2017-11-01 01:32] withoutboats commented on #4574
@cswindle To be clear, you mean that the registry will accept publishes using those features?

Is the check in crates.io or cargo right now? We could just put the check in crates.io and let other registries set their own policies about publishing nightly features without looping the cargo client into it.

[2017-11-01 03:57] Susurrus commented on #4686
What about --no-network?

[2017-11-01 05:53] shaleh commented on #837
So you have to use nightly to really use Rust. And nightly breaks things. It would be really nice to specify "known working with 10.22.2017". otherwise a user who pulls a project never knows if it will build.

[2017-11-01 06:37] SimonSapin commented on #837
@shaleh You can now have [a `rust-toolchain` file](https://github.com/rust-lang-nursery/rustup.rs/#the-toolchain-file) that contains `nightly-2017-10-22`. It’s a bit stronger than just “known to work”, though: it’ll make rustup select that exact version and download it if necessary, unless [overridden](https://github.com/rust-lang-nursery/rustup.rs/#override-precedence).

[2017-11-01 06:49] shaleh commented on #837
@SimonSapin thank you. That works.

[2017-11-01 06:49] cswindle commented on #4688
As implemented in #4680, I have added support for cargo login to store the token in the credentials file, but only if it is provided, if not it returns an error. When you want to publish to an alternate registry you then must provide `--registry <reg>` as an argument. I have also added the option `--registry` to all commands that interact with the registry.

[2017-11-01 07:47] cswindle commented on #4574
@withoutboats. currently we do not send the cargo-features list to crates.io, however I am not sure if we start sending that in cargo how crates.io will respond.

@alexcrichton, do you think that it is valid to send the cargo features in the publish so that owners of a registry are able to specify that they accept unstable features for trying out features.

[2017-11-01 14:02] alexcrichton commented on #4688
@withoutboats

Perhaps, yeah, but Cargo often has things show up in weird places. For example you can specify configuration through an environment variable, and I don't actually know what that would do if you tried to specify a registry with a `+` in the name, for example, in an env var. These things also show up on the filesystem from time to time, which can have odd restrictions as well.

I was

[2017-11-01 15:35] alexcrichton commented on #4574
Hm I don't really have an answer here. I'm struggling to envision what nightly features on publish would be and how they interact with registries...

[2017-11-01 19:39] strake commented on #4686
I dislike "airplane" for a few reasons:
* Many flights now allow use of certain ISM bands and have in-flight wi-fi, at least in the USA+Canada
* Not everyone has been on a commercial passenger aircraft (even in the developed world — for example: i had a TA in university who had never been on one until grad school)
* Not everyone has a reliable Internet connection on the ground

I think calling it

[2017-11-01 21:33] ehiggs commented on #2412
@norru, sure. @alexcrichton wrote a tool to do it:

https://github.com/alexcrichton/cargo-vendor

[2017-11-01 22:23] norru commented on #2412
Sounds interesting, but AUGH! It's even more "nope" :D

[2017-11-01 22:48] jethrogb commented on #4686
Why does it need to be a special mode? Just try to talk to the network, and if that fails, try to do without.

[2017-11-01 22:56] joshtriplett commented on #4686
@jethrogb See, among other things, https://github.com/rust-lang/cargo/issues/4686#issuecomment-340817099 .

[2017-11-01 22:59] jethrogb commented on #4686
@joshtriplett That seems to be about being offline by default, that's not what I'm suggesting.

[2017-11-01 23:51] joshtriplett commented on #4686
@jethrogb Consider scripts, where that warning would go unseen.

(As an alternative to consider, which I'm not advocating, we could have a `--online` option which forces the non-offline resolution algorithm and fails hard if not online, and then default to "try and fall back". However, I don't think that's a good idea.)

[2017-11-01 23:52] jethrogb commented on #4686
Any scripts that requires robustness against failure should probably be using --locked anyway. If you're not, you're probably using cargo interactively and you just want "DWIM" behavior.

[2017-11-01 23:55] withoutboats commented on #4686
The scenario I'm imagining is you have an intermittent network, then you don't get the most recent versions in your lockfile, but when you go to read the docs they have APIs that aren't present in the versions you have. This seems potentially very confusing, and forcing the user into the loop by making them add `--offline` seems like a good way to mitigate the confusion?

[2017-11-01 23:58] jethrogb commented on #4686
The scenario where you're looking at documentation of non-existent functionality because you haven't run cargo update in months (this happens to me all the time) seems much more likely to me than the one where you accidentally got a network failure and somehow missed the warning message.

[2017-11-02 00:01] withoutboats commented on #4686
I agree that that is also bad and would like to mitigate it somehow, it doesn't seem apropos to the discussion at hand?

If the build succeeds it seems probable to me that users will not pay attention to (or possibly even see) the warning message printed prior to all of the "Compiling ..." messages. I don't think its correct to be flippant about this possibility.

[2017-11-02 03:49] thegranddesign opened #4693 "Allow line numbers in addition to test name for focusing tests"
When working in an editor and scripting test runs in an automated fashion, it's much more practical to be able to specify the line number rather than trying to parse the file to determine the test name.

For example:

[code]

It's quite difficult to parse backwards line by line to find the previous `fn` statement (which is problematic in itself) and then pull out the `it_can_add_things` section of

[2017-11-02 04:16] behnam opened #4694 "Redirect doc.crates.io to doc.rust-lang.org/cargo"
This is the last step of the migration of the Cargo docs.

Background: https://github.com/rust-lang/rust/issues/44910

We need to wait until <https://github.com/rust-lang/rust/pull/45692> makes it to stable,
 so <https://doc.rust-lang.org/cargo/> won't redirect to <http://doc.crates.io/> anymore, and then we can set up the redirect.

## What needs to be done
Use `MIGRATION_MAP` to create redirect

[2017-11-02 09:02] dweidenfeld commented on #4381
+1 ... same with google-drive3 dependency

[2017-11-03 22:28] tatsuya6502 commented on #4689
@alexcrichton Sure. I will take a look.

[2017-11-04 01:21] roperzh commented on #4187
Same happens to me when building the guessing game in the tutorial:

[code]
Cargo.toml:

[code]

OS: MacOS High Sierra

[code]

I have been trying to find a workaround in the issue tracker without success, let me know if I can help in any way :)

[2017-11-04 12:16] pornel opened #4698 "cargo list --tree can't find dependencies section"
The command `cargo list --tree` doesn't work for me for any crate (can't list Cargo's crate itself for example)

[2017-11-04 14:52] alexcrichton commented on #4693
Thanks for the report! I think though that this is an issue for rust-lang/rust rather than this repository where the test harness is defined.

[2017-11-04 14:59] alexcrichton commented on #4187
@roperzh if you can test out a custom build of Cargo it may be worth testing https://github.com/rust-lang/cargo/pull/4646 which should help give a progress indicator to what libgit2 is doing

[2017-11-04 16:18] japaric opened #4699 ""failed to remove `.dSYM`" when cross compiling to 32-bit macOS"
I don't have a mac to investigate further but I'm seeing this error on Travis ([build log](https://travis-ci.org/japaric/xargo/jobs/297248792)) when cross compiling Xargo to `i686-apple-darwin` on a 64-bit macOS builder. (The travis builder is using Cross to build Xargo but Cross is simply doing `rustup target add i686-apple-darwin && cargo build --target i686-apple-darwin`).

This was working bef

[2017-11-04 16:21] kennytm commented on #4699
Seems to affect 64-bit as well. https://travis-ci.org/japaric/xargo/jobs/297248793

[2017-11-04 16:37] kennytm commented on #4699
@japaric No repro with a fresh `cargo build`. It is repro only with the following steps:

[code]

which suggests that probably it is caused by the cache polluted by code before the #4672 landed. The debug log associated with the above was:

[code]

This should be fixed once you deleted the cache.

[2017-11-04 16:50] thegranddesign commented on #4693
@alexcrichton sounds great! So just open an issue over ther with the same content and link it?

[2017-11-04 16:51] kennytm commented on #4699
This bug itself is a more general problem than #4671. Here's a repro step on Linux:

[code]

![screenshot_2017-11-05 00 49 33_ovrrku](https://user-images.githubusercontent.com/103023/32407412-6fef9024-c1c3-11e7-9ea6-468fafc55347.png)

[2017-11-04 17:07] alexcrichton commented on #4693
Yeah that should work!

[2017-11-04 17:17] japaric commented on #4699
@kennytm Thanks for looking into this. I'll try clearing the cache. (I think I tried that before before but it probably was before #4672 landed).

[2017-11-04 17:23] derekdreery commented on #4689
The problem is that cargo expects a single file (exe) to be output, but for wasm 2 files are produced, hence the 2 != 1 assertion error.

It would be cool if cargo could run node when you do `cargo run` - I'm not sure if this is the current behaviour. I'm going to have a look to answer this question - just wanted to post that I'm looking at it.

[2017-11-04 18:30] roperzh commented on #4187
hey @alexcrichton, thanks for the help! I checked out the PR branch locally, but when I tried to compile I faced the same error 😭 . Is there any way to compile cargo without cargo?

Just for the sake of clarity, I'm following the [instructions in the README](https://github.com/rust-lang/cargo#compiling-from-source):

[code]

[2017-11-04 19:44] thegranddesign commented on #4693
Done: https://github.com/rust-lang/rust/issues/45765

[2017-11-04 19:44] #4693 closed

[2017-11-05 09:31] hban commented on #4661
Are you talking about file URLs? Those use forward slashes even on Windows, AFAIK. For example, calling `UrlCreateFromPath` on `"C:\D\E F\G.txt"` will produce `"file:///C:/D/E%20F/G.txt"`.

[2017-11-05 10:01] nikomatsakis commented on #3591
I strongly want this too.

[2017-11-05 11:02] matklad commented on #4661
@hban that makes sense actually... Which actually brings the question of why do we show URLs here?

I think that instead of

[code]

The user should see

[code]

[2017-11-05 15:57] alexcrichton commented on #4698
I thin k`cargo list` is a custom subcommand?

[2017-11-05 15:59] pornel commented on #4698
Ah, ok. I forgot about that.

[2017-11-05 15:59] #4698 closed

[2017-11-05 21:26] nrc commented on #3591
If we do anything, we should do it for both `check` and `build`, and I think we should not change the defaults. But I think it would be nice to have the option (I've recently been doing more experimental work, and I think I'd like this).

[2017-11-06 13:18] SirRade commented on #2082
@alexcrichton Are there any plans on merging [cargo-update](https://crates.io/crates/cargo-update)'s functionality into cargo?
When I try to introduce Rust to my acquaintances, this issue always comes up sooner or later, and I have a hard time telling them that manually running `cargo install --force` for every outdated crate is the official way to go.

[2017-11-06 15:20] alexcrichton commented on #4699
Thanks for investigating @kennytm! Sounds like we should just update the cache removal/cleaning to just handle files as well as directories?

[2017-11-06 15:57] alexcrichton commented on #4187
Ah no, unfortunately that's not too easy :(

[2017-11-06 17:02] roperzh commented on #4187
Gotcha, if I can help in any way just let me know :)

[2017-11-06 17:41] huoyuanliao commented on #4056
Hi, I also came up with this issue: when cargo build hello_world example. then
gdb  ../target/debug/hello_world ,and enter the gdb command line, typing b hello_world::main with complain: Function "hello_world::main" not defined. does anyone who meet the same situation as me?
I've copy the dSYM directory to target/debug/ but nothing help.

[2017-11-06 18:50] alexcrichton commented on #2082
Perhaps eventually! At this point it mostly just needs someone to do the legwork to get it done.

[2017-11-07 01:43] kennytm commented on #4699
@alexcrichton Yes I think so. If failed to remove as file, try to remove as directory recursively (may need to be careful with NTFS junction point though).

[2017-11-07 05:45] nrc opened #4700 "Cargo unnecessarily rebuilds lib if a binary is changed"
If I have a project with a lib and multiple binaries and make a change to one of the binaries, then Cargo should just rebuild that single binary. Instead it rebuilds the lib and all the binaries.

[2017-11-07 15:07] alexcrichton commented on #4700
Does the project have a build script as well? If so the build script is probably rerunning (Cargo doesn't know its dependencies) and that forces everything to get rebuilt. You can make that dependency set smaller with `cargo:rerun-if-changed=...`

[2017-11-07 19:27] jechas01 commented on #3931
I've got a similar use case, though I don't actually control the duplicated dependency, and I've got a bunch of them.

The obvious solution, to me at least (and anyone who's worked on a large maven project), seemed to be some sort of variable substitution a la #4221, but it looks like that's a no-go. From that conversation:

Is anything of that sort in the works?

My current (not very good) soluti

[2017-11-08 16:24] japaric opened #4703 "`cargo yank -h` panics"
### STR

[code]

Some output with other cargo yank invocations.

### Metadata

[code]

I'm on Linux but this seems like the command line parser definition is wrong somehow.

[2017-11-08 16:26] japaric commented on #4703
The Cargo from `nightly-2017-11-01` seems to work.

[2017-11-08 22:15] setharnold opened #4704 "consider merging Cargo.toml webpages"
Hello, I'd like to suggest merging all the documentation about the Cargo.toml file into one webpage.

Somehow I never find the information I need on the first page I land on when searching and doing multiple "find in page" searches across multiple pages is more work than doing it on a single page.

I propose merging these pages into a single page:

http://doc.crates.io/manifest.html
http://doc.cra

[2017-11-09 05:15] alexcrichton commented on #4670
Ok I've enabled a CloudFront CDN, mind testing again and seeing if this works?

[2017-11-09 05:25] alexcrichton commented on #4703
cc @cswindle mind taking a look?

[2017-11-09 08:05] #4703 closed

[2017-11-09 10:09] PeterZhizhin commented on #2090
I have tried to attach a debugger to the cargo process when it hanged at Updating registry point.
Of course, I did not have debugging symbols in the binary so I could not get readable backtrace.

I have tried to get cargo from Github and build cargo with debugging symbols. Unfortunately, my cargo from Homebrew hanged at "Updating registry" while trying to build cargo with `cargo build`.

Inception

[2017-11-09 10:38] cohen990 opened #4706 ""Unknown error occurred" when running cargo test with RUST_BACKTRACE=1 on the nightly"
[code]

Let me know if you'd need more details.
Thanks a lot !

[2017-11-09 10:57] shingtaklam1324 commented on #4670
It seems to work flawlessly now. Haven't tested extensively but so far, so good

[2017-11-09 14:19] maghoff opened #4707 "Invalid LICENSE-MIT file"
The file LICENSE-MIT is at present invalid, because it refers to a contained copyright notice that was removed in this commit: https://github.com/rust-lang/cargo/commit/d82153017d599e89d6d2aeeeb4ca0022ea6f8382

It is a condition of the license that "The above copyright notice (…) shall be included in all copies or substantial portions of the Software.", but there exists no "above copyright notice"

[2017-11-09 14:32] maghoff commented on #4707
Another take on avoiding misattribution is what maplit does: https://github.com/bluss/maplit/blob/master/LICENSE-MIT

The license file states `Copyright (c) 2015` without attribution.

I have no idea of the legal bearings of any of this, I just want to be in compliance :)

[2017-11-09 17:43] alexcrichton commented on #4707
cc @joshtriplett

[2017-11-09 17:53] alexcrichton commented on #4670
Great! In that case I'll close this for now

[2017-11-09 17:53] #4670 closed

[2017-11-09 17:54] alexcrichton commented on #4706
I thinkt this is probably https://github.com/rust-lang/rust/issues/45731 which was fixed very recently and I don't think has made it into the nightlies yet, but thanks for the report!

[2017-11-09 17:54] #4706 closed

[2017-11-09 18:56] joshtriplett commented on #4707
@maghoff This really isn't an issue, and no one will interpret it as such. "The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software." is normally interpreted to mean "reproduce the entire copyright/license block exactly as you receive it". If there isn't a notice, then that's fine; you just have to reproduce the entire license b

[2017-11-09 19:10] mcandre commented on #4606
Not quite. If a package was installed outside of a per-project context via `cargo install <package>`, then I don't expect there would be a Cargo.lock.

[2017-11-09 19:49] carols10cents commented on #4606
Oooohhh I see. I was missing that you meant `cargo install`, not "installing a dependency to use in a project". That clears it up!

[2017-11-09 19:51] carols10cents commented on #4606
Actually, now that I understand, is `cargo install --list` not sufficient?

[2017-11-09 20:31] cswindle commented on #4497
Is anyone actively working on this, if not then I may make a start on a new crate to add the interface, this way it makes it a lot easier for versioning the interface for external crates to use (not to mention the reduction in time as cargo takes ages to compile when you are only needing a tiny amount of the function).

[2017-11-09 22:57] liranringel commented on #4497
I'd like to but no one answered me here or in gitter, and I don't want to make such important decisions by myself.

[2017-11-09 23:15] jonhoo commented on #1982
@alexcrichton #3870 was closed with

Has any more discussion taken place?

[2017-11-09 23:29] paul-tcell commented on #4245
Just had this happen to me on mac os Sierra.   wiping out the ~/.cargo/registry directory fixed it.

[2017-11-10 02:14] jpacker opened #4708 "'cargo install --path .' recompiles when configuration flags were used to build"
Similar to #2143.

I build https://github.com/BurntSushi/ripgrep with the  command

`RUSTFLAGS="-C target-cpu=native" cargo build --release --features 'simd-accel avx-accel'`

then run `cargo install --path `.

Cargo will recompile.

However, running:

[code]

Will not recompile.

I expect that I should be able to build with custom flags and install the binaries that were built with those flags wi

[2017-11-10 06:20] cswindle commented on #4497
After taking a look it would seem to me more useful to have a command which adds the entry in a git registry directly, for example [this code](https://github.com/rust-lang/crates.io/blob/566dc51aff42986a669ee0d7eba0d157ee569ae7/src/git.rs#L48-L74). It just seems to me like anyone who uses a command to generate the fragment of index would need to also perform the following:
 - update the git repo f

[2017-11-10 08:01] withoutboats commented on #4497
We don't want it to do things that are highly contextual to specific users. Possibly it could make a git commit for you, but definitely not pull or push, since those involve questions of which remote is the source of truth, and what authentication do you use.

[2017-11-10 08:13] cswindle commented on #4497
Leaving out the pull and push and just updating a git repo would still make for quite a clean split, rather than spreading the knowledge of the registry layout around different crates.

[2017-11-10 08:55] soig commented on #4603
I have the same issue

[2017-11-10 10:01] alexcrichton commented on #4708
Yes the differences here are the `RUSTFLAGS` and `--features` flags which means that Cargo will recompile, which is expected behavior. If you set the flags and env vars for the `install` command though you should be good to go!

[2017-11-10 10:01] #4708 closed

[2017-11-10 11:01] maghoff commented on #4707
Thanks for getting back to me @joshtriplett 🙂

Let me start out by saying that whatever you decide is fine by me, I am by no means an authority here. I'll take this opportunity to explain my viewpoint and then you can decide whether or not you consider it to have any merit.

What do you mean? No _lawyer_ will interpret it as an issue? Or did you mean to call me nobody? 😉 Because here we are.

I ta

[2017-11-10 11:01] #4707 closed

[2017-11-10 12:47] gnzlbg opened #4709 "cargo clean --all"
It seems that cargo clean --all is not supported. Does `cargo clean` clean all crates ?

[2017-11-10 16:30] maelvalais commented on #2644
Hi!
What is the current state of the `--deps-only` idea?

[2017-11-10 16:54] sanmai-NL commented on #2174
@alexcrichton: It seems like we can quickly remove any Cargo documentation suggesting to use the deprecated notation as per @jmesmon's comment. Can we expedite that fix?

[2017-11-10 17:37] rphmeier commented on #4019
This is happening again, can we reopen? Organization name is still the same though.

[2017-11-10 17:59] joshtriplett commented on #4707
@maghoff

My apologies, I did not intend to come across that way, and that implication didn't even occur to me. Let me phrase it another way.

Based on the extensive history of license analysis I've seen, in Linux distributions that care scrupulously about licenses and license compliance, in companies that care scrupulously about licenses and license compliance, and in legal review discussions of

[2017-11-10 18:08] sanmai-NL commented on #2174
An appropriate link to replace the wording with the deprecated notation would be https://github.com/david-a-wheeler/spdx-tutorial/blob/master/README.md#spdx-license-expressions

[2017-11-10 18:11] roblabla commented on #4664
I have a similar issue, but with `build-dependencies` to `dependencies`, with `bindgen` as a build-dependency and `libc` as a dependency in a nostd project.

Basically, `bindgen` depends (eventually) on libc with std support. I'm building libc with nostd (my project is meant to be ran on a custom target with no std support), but it fails, saying it cannot find the crate std. If we turn on the verb

[2017-11-10 21:18] carols10cents commented on #4019
Yep, logs look similar. Reopening and investigating.

[2017-11-10 22:28] carols10cents commented on #4019
@rphmeier can you confirm that the command you're running is still `cargo owner -a github:paritytech:core-devs`?

[2017-11-10 22:41] rphmeier commented on #4019
I ran it as `cargo owner -a github:paritytech:core-devs --verbose` exactly and it worked.
Before I ran with `ParityTech` and it failed. I didn't think capitalization would matter that much

[2017-11-10 23:02] carols10cents commented on #4019
Aha!!! Whew, thought I was losing it there for a bit :)

Ok, since this is a different *cause*, I'm going to re-close this issue. I've filed https://github.com/rust-lang/crates.io/issues/1167 to change crates.io to not care about case.

Thank you and sorry about the continued trouble!

[2017-11-10 23:02] #4019 closed

[2017-11-11 03:55] Mark-Simulacrum commented on #4709
`cargo clean` without arguments (AFAIK) is effectively equivalent to `rm -rf target`, so I guess "yes"; with a workspace the target directory will be top-level so it should work.

[2017-11-11 03:55] #4709 closed

[2017-11-11 04:03] Mark-Simulacrum commented on #4540
Marking as an "easy" bug -- if this works, it should work, if not, then it won't. Happy to provide mentoring.

[2017-11-11 08:13] gnzlbg commented on #4709
Indeed.

One dependency was set up via a hit URL and the travis bots were failing so
to an upstream issue.

I did cargo clean 3 times wondering why I did not have the issue locally
till I realized the lock file is not cleaned up by it and I had to do cargo
update afterwards.

Is there a way to tell cargo clean to also remove the lock file if it is
not checked into git?

It's not a big deal but I e

[2017-11-12 01:46] retep998 opened #4712 "crates produced by cargo have errors in them"
Crates produced by any recent cargo (including the latest nightly) are compressed incorrectly. The `tar` compression is not correctly following the spec causing some decompressors to report errors and fail to get all the contents. 7-zip is one such decompressor which is having issues. It's really frustrating not being able to view the contents of crates.

![](https://i.imgur.com/nfXI7P2.png)

cc @

[2017-11-12 02:35] est31 commented on #4712
Easy to reproduce example:

[code]

You'll see only a partial listing, without any src directory.

[2017-11-12 03:05] bluss commented on #4712
We can spot a hint in the tar output:

7z reads all the files before `Cargo.toml`, and that's the file that cargo rewrites when packaging, too

[code]

[2017-11-12 06:00] Arnavion commented on #4712
@bluss The output of the tar command is fine, but hides the underlying issue.

The issue is that cargo is writing the mtime of Cargo.toml as 11 NUL bytes (`0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00 0x00`) instead of ASCII (`0x30 0x30 0x30 0x30 0x30 0x30 0x30 0x30 0x30 0x30 0x30`), which 7-zip apparently doesn't like. GNU tar seems to treat both the same, which is why it doesn't have a prob

[2017-11-12 11:10] bluss commented on #4712
I didn't think it hides it, it does give a hint that the Cargo.toml was probably the one to break the archive.

[2017-11-12 11:24] Arnavion commented on #4712
Even if the archive contained an mtime of 0 in the proper format (11x `0x30`), the `tar` output would look identical. I was saying that the fact that `tar` shows the Unix epoch and no errors for the file listing hides the fact that the mtime for that entry is actually bad (as far as 7-zip is concerned, atleast).

[2017-11-13 00:31] rfdonnelly opened #4717 "`cargo test` does not run doctests for cdylib"
This is effectively a dupe of https://github.com/rust-lang/cargo/issues/2442.  However, #2442 was closed without action.  Having `cargo test` silently not run doctests for cdylib and other non-rlib crate types is a papercut.  It is confusing for new users that do not know the implementation details of doctests.

A user should be informed of which tests are not being run, why, and how to resolve.

[2017-11-13 09:48] maghoff commented on #4707
Thank you @joshtriplett ! I appreciate this detailed follow-up immensely, as I am not surrounded by people knowledgeable in this topic.

[2017-11-13 14:35] prasannavl opened #4718 "CARGO_PKG_AUTHOR_NAMES: CARGO_PKG_AUTHORS without email-addresses"
`CARGO_PKG_AUTHORS` just sets the exact string in `Cargo.toml`. I tend to use this in apps, which tends to have the email address as well. I'd like to keep the email address in the crate author list as a means of being able to reach the package author - however, I'd not like to use that in application.

So, generally I have to manually strip everything `<..>` from the result of the `env!` macro th

[2017-11-13 15:52] jrmuizel opened #4719 "Support building crate dependencies at different optimization levels"
This is pretty commonly requested functionality, with a variety of use cases:
1. Building all dependent crates with optimization except for one that's being debugged. This is valuable for situations where running builds with everything built at -opt-level=0 is too slow to be usable but you still need good debug info for part of the application.
2. You can't afford to do opt-level=3 builds because

[2017-11-13 15:52] jrmuizel commented on #4719
cc @aturon

[2017-11-13 21:49] mitsuhiko opened #4721 "Add support for disabling jobserver"
There is currently a bug in jobserver (https://github.com/alexcrichton/jobserver-rs/issues/4) which breaks certain windows-gnu builds when an incompatible make is on the system. For situations like this it would be great if there was a way to disable the jobserver support, at least until the jobserver crate is more stable.

[2017-11-13 23:35] alexcrichton commented on #4718
I don't believe Cargo even parses this information?

[2017-11-14 01:04] AndyBitz opened #4722 "Windows / Colors are displayed as codes"
I'm on Windows 10 Build 16299.19

I've recently updated from cargo 0.20.0 to 0.22.0 and now I have the following issue.

Colors (especially green) are not displayed correctly under normal circumstances.
When I redirect `stdout` to a file everything seems to _almost_ work fine.

![cargo color bug](https://i.gyazo.com/2b3c73251850710f2f59ed23fa83c43e.png)

![compiler error message](https://i.gyazo.c

[2017-11-14 04:54] retep998 commented on #4704
I would prefer to have a *single* page that briefly covers all the options available in `Cargo.toml`, with links to pages that go over specific options in more detail.

[2017-11-14 05:19] prasannavl commented on #4718
@alexcrichton - Perhaps, there's something I missed? - https://github.com/rust-lang/cargo/blob/a1489e8316139b97e0db5f50570b2452e1d9f659/src/cargo/ops/cargo_rustc/compilation.rs#L159-L169

What I meant to add was something on the lines of this:

[code]

[2017-11-14 09:27] nossralf commented on #4712
I haven't found an authoritative standards document for tar archives, but both the [GNU documentation](http://www.gnu.org/software/tar/manual/html_node/Standard.html) and an [Open Group document covering the ustar header format](http://pubs.opengroup.org/onlinepubs/9699919799/utilities/pax.html#tag_20_92_13_06) concur that:

(Open Group states "ISO/IEC 646:1991" instead of ASCII, but they are equi

[2017-11-14 10:17] Frederick888 opened #4723 "How to get a list of all non-yanked available versions of a package?"
I was trying to fix kbknapp/cargo-outdated#101 and found that it might be a bit tricky to get a list of all non-yanked available versions of a package.

Because I would also like to get the pre-releases, wildcard requirement `"*"` does not work for me. Currently I'm using:
[code]
...but `Summary` does not have an API like `Summary::is_yanked()` which could allow me to filter out those yanked ones.

[2017-11-14 16:10] lukaslueg commented on #4723
Same as #4679 ?!

[2017-11-14 16:25] Frederick888 commented on #4723
@lukaslueg Related but not the same. #4679 kinda suggests completely hiding yanked packages from [`Registry::query_vec()`](https://docs.rs/cargo/0.22.0/cargo/core/registry/trait.Registry.html#method.query_vec) results, on the other hand here I'm actually asking for a way to access more fields in the `crates.io` API results (e.g. [`quickcheck`](https://crates.io/api/v1/crates/quickcheck)). But it s

[2017-11-14 18:11] pornel commented on #4268
Which stable release started supporting absolute paths in `include`? (I'm not sure if I can start switching to the new patterns without breaking users downstream)

[2017-11-14 18:14] retep998 commented on #4268
@pornel `include`/`exclude` only affects when you're doing `cargo package` so it should have no effect on downstream users of your crate. You just need to make sure `include`/`exclude` are set correctly for your current version of cargo when you publish your crate.

[2017-11-14 21:03] alexcrichton commented on #4721
Unfortunately this is how parallelism limiting works and can't be disabled. It's also why we have nightly! Bugs should be fixed now.

[2017-11-14 21:03] #4721 closed

[2017-11-14 21:05] alexcrichton commented on #4722
Thanks for the report!

@BurntSushi you wouldn't happen to know what's going on here would you? We're using a [pretty thin wrapper](https://github.com/rust-lang/cargo/blob/master/src/cargo/core/shell.rs) over the termcolor crate

[2017-11-14 21:13] alexcrichton commented on #4718
What I mean though is that Cargo does not actually have this information, it cannot do this operation. It hasn't ever imposed a formatting on the author names so there's no guarantee what format they will be in, so Cargo does not have this information to show.

[2017-11-14 21:21] prasannavl commented on #4718
If I understand you correctly, you mean to say there's no defined format on `Cargo.toml` for authors? If so, I believe that makes sense.

Regardless, it's just left to the application to handle this manually.

[2017-11-14 21:21] #4718 closed

[2017-11-15 12:15] maghoff commented on #4657
I've started on something to this effect. I tailor-made it to my present use-case, but it might be reusable or extendible beyond that. In case it is of interest: https://github.com/maghoff/cargo-license-hound

[2017-11-15 13:06] hobofan commented on #4704
I very much am in favor of merge the pages! Especially since they feel very similar and some of them cover overlapping topics, it is very hard to remember which page contained the information you were looking for, so I always end up clicking through most of the pages to find what I was looking for.

[2017-11-15 13:19] petrochenkov commented on #4704
Two weeks later: Cargo docs are published as multi-page mdbook, this issue is closed with "use 'print as pdf'" excuse.

[2017-11-15 16:18] lig commented on #2179
You are kidding me. An official package manager bug about not being able to add a dependency via its cli is closed because some other tool out there can do this. Sic.

[2017-11-15 16:32] mcobzarenco commented on #2200
@sunjay I reckon @JanLikar's suggestion:

is preferable as it disallows in its representation having more than one default.

[2017-11-15 19:27] AndyBitz commented on #4722
Yes, termcolor seems to be the problem.
It replaced term after 0.20.0.

But I'm not sure why it only works when stdout is redirected.
It also seems to print wrong color codes when stderr is redirected to stdout.

[code]
`output.txt`
![term](https://i.gyazo.com/a2cc19309f8ebc0f377ed2eebe71c908.png)

[2017-11-16 01:14] jtgeibel opened #4725 "Add an option to `cargo install` to specify a cache directory"
In a CI environment it is sometimes necessary to run `cargo install --force some-other-crate` to produce binaries that are used later in the script.  Currently, `cargo install` appears to create a temporary directory in which the specified crate and its dependencies are built anew for each invocation of the command.  It would be nice if it was possible to cache these artifacts between CI builds.

[2017-11-16 04:00] iology commented on #1565
@alexcrichton Hi, my idea is that sub crates with `package.publish = false` should be uploaded.

[2017-11-16 04:14] iology opened #4726 "Include files of private sub crates (package.publish = false) in the package"
Before #1565 is solved, is it possible to include verbatim copy of all sub crates with config `package.publish = false`? (excluding the ignored files)

[code]

[2017-11-16 10:36] FauxFaux opened #4727 "`cargo upgrade` should honour how specific a dependency is"
If my `Cargo.toml` contains:

[code]

then `cargo upgrade` will make the version very explicit, changing it to "3.2.1".
[code]

This (as I understand it) has changed the dependency specification from `(>=3.0.0, <4.0.0)` to `(>=3.2.1, <3.3.0)`. This means that `cargo` will have a harder time resolving dependencies in future, i.e. if another library ran `cargo upgrade` at a different time and random

[2017-11-16 10:44] sinkuu commented on #4727
`cargo upgrade` never modifies `Cargo.toml`. It just recorded in `Cargo.lock` the latest available `nom` version (`3.2.1`) according to your specificaiton (`3`).

[2017-11-16 12:17] FauxFaux commented on #4727
Oh dear. I thought `cargo upgrade` (not `cargo update` which @sinkuu is thinking of) was a built-in. It's not, it's part of https://github.com/killercup/cargo-edit . My bad!

[2017-11-16 12:17] #4727 closed

[2017-11-17 02:42] iology commented on #4726
I almost come up with a patch but this line of code gets me down for lack of context:

https://github.com/rust-lang/cargo/blob/abd137ad14a8f352b48f24b11c3995d716deb260/src/cargo/util/toml/mod.rs#L494

I need to check package.publish and strip the path only if the package is not allowed to be published. Any help?

[2017-11-17 11:07] gnzlbg opened #12737 "target features are not accessible from build scripts"
Right now `cargo` does not pass the build scripts a `CARGO_CFG_TARGET_FEATURE` environment variable with all the target features, so I guess the value of `cfg(target_feature = "...")` is set within rustc.

This makes writing build scripts that need to access target features unnecessarily hard.

[2017-11-17 12:14] est31 commented on #4726
I think the very reason for `package.publish = false` is to force cargo to *not* publish stuff.

[2017-11-17 12:19] iology commented on #4726
@est31 I know. But now people are mixing published sub crates with private sub crates. If cargo insists on publishing all sub crates, then `package.publish` will become quite useless.

[2017-11-17 12:25] iology commented on #4726
@est31 Ah, "publish" has two meanings here: a) publish to the registry; b) publish along with the root crate.

I want to support (b) and forbid (a). Better ideas?

[2017-11-17 16:57] dylanede commented on #3985
@alexcrichton It doesn't look like setting environment variables to set source properties like that is supported, and the relevant source code is just looking up "sources" from a hash map, without checking the environment variables. I'll raise a bug for this.

[2017-11-17 17:02] dylanede opened #4728 "Not all .cargo/config settings are settable via environment variables"
For example, the directory for a source cannot be set via an environment variable, i.e.

[code]

cannot be equivalently done via `CARGO_SOURCE_VENDORED_SOURCES_DIRECTORY=foo`, despite the docs suggesting otherwise.

Also see #3985.

[2017-11-17 18:11] dhardy commented on #4361
This may be the same problem I'm hitting?

`rand` has:
[code]

`rand_core` (sub-workspace in same repo) has:
[code]

The build command **incorrectly uses default features for `rand_core`**:
[code]
(error is because `rand_core` uses `std` feature while `rand` does not).

The only workaround I see is to remove `default = ["std"]` from `rand_core`. Any chance this can get fixed?

Repo and version: ht

[2017-11-17 18:17] sp3d opened #4729 "cwd set redundantly in `HgRepo::discover`"
It looks like there's a bug (or at least a redundancy) in [`HgRepo::discover`](https://github.com/rust-lang/cargo/blob/e934177fca2cbe20fed853328c36c9d8d11d477c/src/cargo/util/vcs.rs#L29):

[code]

sets `cwd` twice. Presumably it wants to do .arg(path) like the other examples in vcs.rs do, or else it should avoid setting `.cwd(cwd)`.

[2017-11-17 19:14] lukaslueg commented on #4729
Same as #4666

[2017-11-17 22:23] iology commented on #4726
Ok, the patch is small but the only thing missing left is local cyclic dependencies. I'm back to #4242

Hope I can sort everything out and apply the logic for `package.publish = true` too.

[2017-11-17 22:56] mshal commented on #3815
Sorry for the delay - I've been distracted by other things. I have the latest attempt based off of cargo-0.22 here: https://github.com/mshal/cargo/tree/build-plan-0.22.0

I used 0.22 as the base because that's what we currently use in mozilla-central. I'm able to run cargo with --build-plan against the toolkit/library/rust/Cargo.toml file to generate a plan.json which contains (almost) all the inf

[2017-11-17 23:00] mshal commented on #3815
I forgot to mention, but I did convert the json file to a shell script that just invokes the rustc commands in the right order, and that shell script does complete successfully. So I think that shows it can at least function as a way of exporting commands to an external "build system"

[2017-11-18 00:39] RReverser commented on #879
Oh wow, that wasn't very obvious.

[2017-11-18 02:07] huoyuanliao opened #4730 "Cargo maintenances multiple version of crate package in .cargo/registry"
how about considering maintenance just one crate package dictionary,and with git repository. then when compiling local crate, cargo enter the dictionary,and check out the needed version of dependence.

[2017-11-18 08:04] alexcrichton commented on #4730
I believe this is currently how things are implemented, but if you have a counterexample please feel free to reopen!

[2017-11-18 08:04] #4730 closed

[2017-11-18 08:29] alexcrichton commented on #4722
Do you have the `TERM` environment variable set? If so, do you know what its value is?

[2017-11-18 08:31] alexcrichton commented on #4712
Thanks for the investigation @nossralf! Want to open an issue/PR against the `tar` crate?

[2017-11-18 08:33] alexcrichton commented on #4717
This is a limitation of rustdoc, not Cargo, so I think you'll want to open an issue against rust-lang/rust

[2017-11-18 08:35] alexcrichton commented on #1982
Not a significant amount as far as I know at least

[2017-11-18 08:39] nossralf commented on #4712
Sure.

[2017-11-18 09:35] AndyBitz commented on #4722
Ahhh. It is `xterm-256color`. Setting it to nothing solves the problem.

[2017-11-18 11:21] vignesh-sankaran commented on #3506
Ok so I'm back, the interactive mode sounds like a good idea, but we should also have a way around it for more experienced users. At this point, should we be considering an RFC for this issue, or at least some sort of scope definition so that I know what to work on?

@carols10cents's suggestion regarding doc comments does sound like a great idea, maybe I could get started with that in the mean tim

[2017-11-18 13:22] crumblingstatue commented on #1359
I also support the idea of specifying optimization level for individual dependencies.

I'm developing a program that deals with images, and it's a major pain to test it, because the `image` crate takes forever to load images when compiled with debug profile.

[2017-11-18 21:12] unclechu opened #4731 "Support --server option"
As in https://github.com/equalsraf/neovim-qt it would be cool to have this feature when you're able to start headless neovim-daemon and just connect to specific socket with GUI in any time, connect again you just closed GUI window and other useful stuff.

[2017-11-18 21:13] unclechu commented on #4731
So sorry, wrong repo.

[2017-11-18 21:13] #4731 closed

[2017-11-18 21:58] nagisa opened #4732 "The new progress bars do not react well to the changes in tty width"
My strongest dislike of the progress bars is how they mishandle the terminal width changes all the time. In case of cargo, there’s no handling at all.

For example see the attached image of what happens when the terminal is wider at first and then its width is decreased:

![Image with a lot of repeating progress bars](https://user-images.githubusercontent.com/679122/32985119-e6c4653c-ccbb-11e7-8d0

[2017-11-18 22:00] nagisa commented on #4732
For the reference, the `indicatif` crate handles this case fairly tolerably. While there still are some repeated "bars", the crate recovers gracefully as the terminal size changes.

[2017-11-19 03:11] est31 commented on #4726
@iology I don't know but many people type `publish = false` to prevent their code from being uploaded to crates.io, e.g. because it is proprietary. Now they absolutely don't want it to be uploaded! If now there is a condition like the one you want they'd probably be quite surprised to learn about it. Therefore I don't think this feature should really be added, or if its added it should be enabled

[2017-11-19 03:34] iology commented on #4726
@est31 Say, root crate A is to be published, and it depends on sub crate B (publish=false, path="./B"), it is reasonable to upload B too, otherwise B should not be placed there. Why would this be a surprise?

[2017-11-19 03:35] est31 commented on #4719
This is an existing and old feature request: #1359

The small issue here that ruins all the fun is that a lot of stuff doesn't get built until it is being put into the leaf crate as it includes generics...

Currently the only way to fix this is to avoid generics altogether.

There is hope on the horizon though in the form of ThinLTO that AFAIK features incremental optimisation.

[2017-11-19 03:43] est31 commented on #4726
@iology if you do `publish=false` for your crate you usually have a strong reason to not get your crate public by accident. It is less about not uploading the crate directly to crates.io. I guess the question boils down to what `publish=false` should mean.

To give you an use case where this might bite people: maybe crate B is a super secret company crate while crate A is an open source crate that

[2017-11-19 04:08] iology commented on #4726
@est31 If you really want to keep those private, you can change the default registry with `./.cargo/config` (and for every branch). Since by default `publish=true`, **only you** but cargo can make you safer.

Given your extreme use case, I would rather need more than one manifest keys to solve the problem. The real world examples are like this: package A has reusable module1, module2, module3... i

[2017-11-19 04:24] est31 commented on #4726
It does not make me sad that I won't have to download your test code (which may be quite large) if I just want to build your crate :)

[2017-11-19 04:35] iology commented on #4726
Maybe you think "publish (to registry)" = "public". I do not. "module=true" could be ok too. I'll come up with a patch.

[2017-11-19 06:06] remram44 commented on #3203
After #4571, Cargo no longer includes `[root]` in the lock file. This makes cargo-graph even more broken. (I have updated my patch)

[2017-11-19 15:57] robertohuertasm opened #4733 "Cargo logo in svg"
Hi, I'm one of the core maintainers of [vscode-icons](https://github.com/vscode-icons/vscode-icons/) and I'm willing to [add support for Cargo #1367](https://github.com/vscode-icons/vscode-icons/issues/1367).

The thing is that it would be awesome if you could provide a `svg` version of your logo for us to use it as an icon for `Cargo.lock` file.

[2017-11-19 16:21] alexcrichton commented on #4722
Ok that'd explain it! Do you know how come that variable is set? Should Cargo not be interpreting that environment variable?

[2017-11-19 17:01] sunjay commented on #4086
Did support for examples with a main.rs file get added as part of this or should that be a separate issue?

[2017-11-19 17:03] retep998 commented on #4722
https://github.com/BurntSushi/ripgrep/blob/2c84825ccbe2d42e0648b56a7d3289c5f5bcb9e5/termcolor/src/lib.rs#L176-L182

If `TERM` is set, then it will attempt to use ANSI codes even if the stdout/stderr it is writing to is a windows console. This is clearly the wrong behavior as the correct behavior is to unconditionally use the windows console API as the way to perform colors when stdout/stderr is a

[2017-11-19 19:12] rwakulszowa commented on #4086
Yes - examples, benches and tests follow the same logic and allow
multi-file directories, as long as they contain a main.rs file.

Did you encounter a problem with that?

19.11.2017 17:01 "Sunjay Varma" <notifications@github.com> napisał(a):

[2017-11-19 19:42] sunjay commented on #4086
@rwakulszowa Yes, it didn't work. Here's a minimal example:

From the base project created by `cargo new --lib <project name>`, I added a file `examples/dir/main.rs` and a file `examples/foo.rs`.
[code]

Both files contain the simple hello world program. When I try to run them, this is what happens:
[code]
[code]

The flat file worked, but nesting a file within a directory and having a file called

[2017-11-19 20:22] alexcrichton commented on #4733
Unfortunately I'm not sure we have one right now -- https://users.rust-lang.org/t/hi-res-cargo-icon/10733/5

[2017-11-19 20:38] rwakulszowa commented on #4086
Are you sure you are using a recent cargo build? This change got merged in
September, but I'm not sure which cargo release contains it ( @matklad ?)

I have limited network access at the moment, so I'll check the official
release tomorrow, but I tested the feature locally and it works fine.

Maybe the feature didn't make it to the official release yet, or some other
changes modified the behavior.

[2017-11-19 20:43] andrewdavidmackenzie commented on #1456
Same happened to me - maybe we should do a PR for that help text in cargo?

[2017-11-19 20:45] sunjay commented on #4086
changes modified the behavior. I'll take a look.

Yes it seems so. I tried running it with `cargo +nightly run --example dir` and it worked. Looks like this will probably be out in Rust 1.22 :smile:

[2017-11-19 20:49] rwakulszowa commented on #4086
Alright!

19.11.2017 20:45 "Sunjay Varma" <notifications@github.com> napisał(a):

[2017-11-20 01:17] robertohuertasm commented on #4733
@alexcrichton, do you have access to the source file (.ai, .psd or whatever)?

[2017-11-20 08:12] paulrouget commented on #4604
Now this has landed, I see that it's progressing, but very very slowly. It's apparently stagnating at 1 minute per percent. The network monitor tells me it's downloading at 2 to 7 kb/s.

[2017-11-20 08:38] paulrouget commented on #4604
I can slow down a lot more. At the moment, it's around 7 minutes per percent.

[2017-11-20 08:41] paulrouget commented on #4604
Cargo runs at 100% CPU:

[code]

[2017-11-20 08:47] paulrouget commented on #4604
Most of time spent in this if I read the samples right:

[code]

[2017-11-20 11:21] AndyBitz commented on #4722
@alexcrichton Probably when working with hyper.js.

@retep998 so, termcolor needs to get fixed?

[2017-11-20 14:16] alexcrichton commented on #4604
Ok well at least we know it's stuck in libgit2! Do you know the URL of what it's cloning? If you can create a standalone program using just git2-rs that clones it will probably be sufficient for opening a bug against libgit2

[2017-11-20 14:16] alexcrichton commented on #4733
Unfortunately I don't personally have access (unsure if anyone does)

[2017-11-20 14:46] Luthaf commented on #4699
This does also happen when compiling directly on OS X with the beta toolchain (see https://www.reddit.com/r/rust/comments/7e8sms/travis_failure_for_rust_beta_on_osx/).

[2017-11-20 14:49] alexcrichton commented on #4722
@AndyBitz hm I'm a little confused then as to what's going on, it sounds like you're using a terminal emulator which claims to support ansi escape codes but it doesn't?

[2017-11-20 14:51] alexcrichton commented on #4361
@dhardy I think that's the same issue, yes, but I believe it's because `--all` and `--no-default-features` doesn't work quite as you think it does. I forget exactly what happens but I don't think that builds everything with default features disabled everywhere. I'd have to dig more to understand precisely what's going on.

[2017-11-20 14:57] alexcrichton commented on #3815
Awesome thanks for the update @mshal! A PR would probably be the easiest thing for review, yeah, so feel free!

[2017-11-20 15:01] BurntSushi commented on #4722
I'm also confused. If you're setting `TERM` to something other than `dumb`, then you're declaring that your terminal supports ANSI colors.

[2017-11-20 15:06] steveklabnik commented on #4733
@wycats or @wifelette maybe?

[2017-11-20 15:35] retep998 commented on #4722
@BurntSushi If you're writing to the windows console, then you *must* disregard what `TERM` says. Unless the console has the `ENABLE_VIRTUAL_TERMINAL_PROCESSING` mode enabled, ANSI escape codes will never work. This is the chain of logic that should occur:

* Call `GetConsoleMode`
* If `GetConsoleMode` fails then use ansi escape codes based on `TERM`,  the `ColorChoice`, and the name of the pipe.

[2017-11-20 17:33] dhardy commented on #4361
I don't really understand why `--all` can have anything to do with it though? If `rand` is built without default features and without "std" then it should depend on `rand_core` with `default-features = false`, right?

That `--all` will cause Cargo to also build `rand_core` should have nothing to do with it, as far as I understand. But it's strange that without `--all` the build succeeds:
[code]

[2017-11-20 18:20] AndyBitz commented on #4722
Sorry for the confusion, I meant that when I worked on hyper the `TERM` variable (probably) got set globally and was therefore available in every terminal I used which caused cargo to display no colors everywhere.

Also I found [this](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences) in the Microsoft docs, which is as @retep998 says.

[2017-11-20 21:18] tamird commented on #3005
@Eh2406 that workaround is still necessary - #3022 simply added the facility that makes that workaround possible.

[2017-11-20 23:33] wifelette commented on #4733
Ask and you shall receive 😄

[Cargo.zip](https://github.com/rust-lang/cargo/files/1489485/Cargo.zip)

[2017-11-21 07:42] per-gron commented on #872
+1 for reopening this ticket. I am also trying to use protobuf (gRPC in my case), and I really don't like that the way people seem to do it is to ask their users to install grpc_rust_plugin and a bunch of other things globally. I would like my crate to be able to have versioned dependencies to these things.

[2017-11-21 09:55] robertohuertasm commented on #4733
Thanks @wifelette. I've tried to export this as svg but the result is not near acceptable. I'll try it again when I have more time. By the way, if you happen to excel at psd to svg your help will be really appreciated 😉

Thanks to everyone!

[2017-11-21 17:14] Frederick888 commented on #4679
`cargo search` uses a `SourceId` which is generated [here](https://github.com/rust-lang/cargo/blob/0.22.0/src/cargo/ops/registry.rs#L199). It should be the default [`RegistrySource`](https://docs.rs/cargo/0.22.0/x86_64-unknown-linux-gnu/cargo/sources/registry/struct.RegistrySource.html) (`"registry+https://github.com/rust-lang/crates.io-index"`) unless you override it in `cargo` configuration.

So

[2017-11-22 09:34] nox opened #4737 "rustdoc should also be passed RUSTFLAGS"
I know about `RUSTDOCFLAGS`, but I would like to understand the rationale against passing `RUSTFLAGS` to `rustdoc` when running `cargo test`.

My use case is the following: I'm using unstable Rust code in a 1.0 crate, and I want to cfg-gate it like Rayon does with `RUSTFLAGS="--cfg rayon_unstable"`. It works great, but my issue is that some code that is now using unstable Rust is tested through do

[2017-11-22 09:36] paulrouget commented on #4604
Does Cargo use https://github.com/alexcrichton/git2-rs?

If so, `cargo run --example fetch https://github.com/servo/servo.git` works as expected.

[2017-11-22 10:08] nox opened #4738 "rustdoc invoked by cargo test isn't passed RUSTDOCFLAGS"
As you can see, there is no `--cfg terminated_unstable` passed to `rustdoc`:

[code]

[2017-11-22 13:13] antoyo commented on #4261
I think we can close this issue as `cargo` now shows a progress bar.

[2017-11-22 13:13] #4261 closed

[2017-11-22 18:35] JimiC commented on #4733
@wifelette @robertohuertasm I can give it a try since I've become pretty good at converting `PNG` to `SVG`. I can even try to make an `SVG` version myself. It will take some time but I think we can do it.

[2017-11-22 19:24] BatmanAoD opened #4741 "Cargo uses different linker for some dependencies"
## Description

It appears that I can't cross-compile some dependencies, because Cargo attempts to use `cc` as the linker for these packages despite my specification of a target-specific linker. None of my installed linkers are called simply `cc`, so this of course fails.

The specific packages I've encountered problems with so far are:

 * `error-chain` (fails compiling `backtrace_sys`)
 * `serde

[2017-11-22 21:43] robertohuertasm commented on #4733
@JimiC, there's no need. I've already got a pretty decent version.

[2017-11-22 21:49] #4733 closed

[2017-11-22 21:53] yenicelik opened #4742 "Ubuntu: Rustup `linking with cc failed exit code 1` although gcc is installed."

[2017-11-22 21:54] BatmanAoD commented on #4741
Additionally, the linker arguments seem to be inappropriate. They include `-m64`.

[2017-11-22 21:58] robertohuertasm commented on #4733
Thanks again for your support. Hopefully we'll be having `Cargo` icons for `vscode` in our next week release.

[2017-11-22 22:09] #4742 closed

[2017-11-22 22:41] sehyoc commented on #572
This feature will be handy +1

[2017-11-23 13:28] KillTheMule commented on #4699
Beta seems fixed now, but I'm seeing this on stable (travis).

[2017-11-23 13:36] SimonSapin commented on #4507
Should the key name be `default-members` instead?

[2017-11-23 14:36] matklad commented on #4507
FWIW, I don't especially like neither `default-members` nor `default-packages`, because the crucial information (default for what?) is missing. However, I don't know a better name, but `members` are better than `packages` :(

How should  `default-packages` interact with a workspace whose root package is not virtual? Currently, we imply `--all` for a virtual manifest, but for non-virtual manifest w

[2017-11-23 14:56] SimonSapin commented on #4507
My work-in-progress patch does not change the behavior with non-virtual workspaces, but you’re right that using `default-members` there makes sense too.

[2017-11-23 15:28] SimonSapin commented on #4507
Let’s move discussion to #4743.

[2017-11-23 15:28] #4507 closed

[2017-11-23 18:15] aristarh2704 opened #4744 "Cargo does not understand the absolute manifest path"
Cargo building project failed, if --manifest-path is absolute path:

$ cargo build --manifest-path /tmp/Cargo.toml
error: manifest path /tmp/Cargo.tomldoes not exist

While if path is relative, this error does not occur.
My system is i686-pc-windows-gnu.

[2017-11-23 18:39] aristarh2704 commented on #4744
I think reason in std::util::paths::normalize_path

[2017-11-23 18:44] retep998 commented on #4744
`i686-pc-windows-gnu`. Does this mean you are compiling on Windows? If so, `/tmp/Cargo.toml` is not being interpreted the way you think. Cargo and Rust on Windows only understand Windows paths, they do not understand msys/cygwin paths.

[2017-11-23 18:51] aristarh2704 commented on #4744
Thank you.))

[2017-11-23 18:53] #4744 closed

[2017-11-23 22:01] ivstas opened #4745 "Cargo may hit 260 characters path limit on windows when installing dependencies"
I encountered this issue when trying to build project that have a transitive dependency on git repository with deep nesting:
`C:/Users/ivstas/.cargo/git/checkouts/servo-css-parser-6b649679bab5995b/0d528c7/servo/tests/wpt/mozilla/meta/mozilla/referrer-policy/origin-when-cross-origin/attr-referrer/same-origin/http-https/iframe-tag/same-origin-downgrade.keep-origin-redirect.http.html.ini`: The filena

[2017-11-24 01:03] rillian opened #4746 "`cargo package` cannot call `cargo metadata`"
I hit this issue trying to [publish a crate](https://github.com/mozilla/mp4parse-rust/issues/129) from inside a workspace.

The [mp4parse](https://github.com/mozilla/mp4parse-rust/) repo has a virtual manifest referring to two subcrates, one of which depends on the other. The depending crate, `mp4parse_capi`, calls [`cbindgen`](https://github.com/eqrion/cbindgen) from a build script to generate he

[2017-11-24 01:11] rillian commented on #4746
I guess the `cargo package` implementation needs to block the search for a parent base crate at the top of the package directory? The idea, I think, is to verify that the packaged crate will build, so it seems like the workspace influence is an inappropriate side-effect here.

I tried adding `target/package/mp4parse_capi-*` to the members list as suggested by cargo's error message, but then of cou

[2017-11-24 11:15] lukaslueg commented on #4732
FWIW I think a dependency for fancy bars is inferior to slightly broken bars on terminal resize.

[2017-11-24 15:28] roperzh commented on #4187
Just wanted to inform that since upgrading to `v1.22.1` I am able to install dependencies without issues 🎉

[2017-11-24 21:38] carols10cents commented on #3365
[This should have been closed](https://github.com/rust-lang/cargo/pull/4680#issuecomment-341003548) except that GitHub doesn't understand "and" 😂😂😂

[2017-11-24 21:38] #3365 closed

[2017-11-24 21:39] carols10cents commented on #4498
[This should have been closed](https://github.com/rust-lang/cargo/pull/4680#issuecomment-341003548), not sure why it wasn't!

[2017-11-24 21:39] #4498 closed

[2017-11-24 21:52] carols10cents commented on #4688
Before stabilization, I would like to see the index specification in cargo's docs rather than in the text of RFC 2141, so that it can be more easily discovered and corrected/modified.

[2017-11-25 01:33] PENGUINLIONG commented on #4745
The limit is removed since Windows 10 1607 but:

You have to set an value in register or group policies. Go and [check it out](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx#maxpath).

[2017-11-25 04:40] johnmorrow opened #4748 "\"

[2017-11-25 04:40] johnmorrow opened #4749 "\\"

[2017-11-25 04:40] #4749 closed

[2017-11-25 06:10] PENGUINLIONG commented on #4575
I'm using `hyper`, `futures` and `ctrlc`. Every time I interrupt the process, the application sometimes failed to go through all the codes which ought to be executed before the process exits. But if I `cargo build` and then start with the built binary, those codes are always executed. Is that related to this issue?

[2017-11-25 07:34] Boscop commented on #4575
The Ctrl-C handler won't get triggered with `cargo run`, but it will when you run the exe manually.

[2017-11-25 07:41] PENGUINLIONG commented on #4575
@Boscop That's weird. I ran `cargo run` in Powershell in VS Code the Ctrl-C handler was actually triggered,  and was always triggered, except it doesn't finish its works sometimes.

[2017-11-25 14:35] ivstas commented on #4745
@PENGUINLIONG

I've turned new behaviour on in the registry. Didn't help.

[2017-11-25 15:17] alexcrichton commented on #4746
What was the error of cargo-metadata? I don't see the error from cargo-metdata in the output above?

[2017-11-25 15:24] alexcrichton commented on #4737
This unfortunately cannot be done because rustdoc does not support all of rustc's flags, and I think supporting that would be an upstream rust-lang/rust issue.

[2017-11-25 15:24] #4737 closed

[2017-11-25 15:25] alexcrichton commented on #4604
Yes Cargo uses git2-rs, but Cargo likely doesn't match the exact behavior of one of the examples, but rather something may need to be extracted from Cargo's source to match its patterns.

[2017-11-25 15:27] alexcrichton commented on #4745
@ivstas can you provide the full error message for when this happens?

[2017-11-25 15:28] alexcrichton commented on #4741
When cross-compiling dependencies are compiled differently as some are needed for build scripts (on the host) and others are needed for the target. Can you gist the full error message you're seeing?

[2017-11-25 15:49] nox commented on #4737
See https://github.com/rust-lang/rust/issues/46189.

[2017-11-25 17:11] ivstas commented on #4745
@alexcrichton i'm trying to use `rsx` lib that has all dependencies in git. This is what I get:
[code]

[2017-11-25 18:12] rillian commented on #4746
Ah, sorry. The cbindgen eats the cargo error message. Running the same command manually:
[code]

[2017-11-25 18:33] rillian commented on #4746
Steps to reproduce:
[code]
It's tricky, because this might be a reasonable result, except for the semantics of the target/package directory. It was only a problem for me in the context of running `cargo package` itself. I don't know which of those would be a better gate.

[2017-11-25 18:45] rillian commented on #4746
Steps to reproduce:
[code]
It's tricky, because this might be a reasonable result, except for the semantics of the target/package directory. It was only a problem for me in the context of running `cargo package` itself. I don't know which of those would be a better gate.

[2017-11-25 22:05] alexcrichton opened #4750 "Regression in filename handling on wasm with tests"
I believe that now when you execute `cargo test` with the `wasm32-unknown-emscripten` target Cargo will print out:

[code]

Notably the underscore between the test name and the hash should be a dash, I thinks may be caused by this

https://github.com/rust-lang/cargo/blob/6a1aee06680d8f074a25431c938c42d7e8d0ab4e/src/cargo/ops/cargo_rustc/context.rs#L723

cc @tatsuya6502, mind taking a look at this?

[2017-11-25 22:07] #4748 closed

[2017-11-25 22:07] alexcrichton commented on #4750
Er actually it looks like the regression is that it's trying to run the wasm file at all, previously I think it just ran js!

[2017-11-26 01:10] BatmanAoD commented on #4741
Okay, makes sense. I wouldn't be surprised if the packages in question are integrating some non-Rust code.

Here's the output:

[capture.txt](https://github.com/rust-lang/cargo/files/1503544/capture.txt)

[2017-11-26 01:39] BatmanAoD commented on #4741
Oops, sorry, I attached the error for a native build previously. Here's the output:

[capture.txt](https://github.com/rust-lang/cargo/files/1503549/capture.txt)

[2017-11-26 09:00] est31 commented on #4688
@carols10cents having a "living" document one can point to is a great idea. The RFC should mention it so that readers don't mistake the RFC for such a living document.

[2017-11-26 19:39] pornel opened #4751 "Cargo build --all tries to build examples of dependencies"
The meaning of `--all` is wider than I expected. I run `cargo build --all` in root of a workspace to build all crates in my workspace. I did not expect this to cause examples in 3rd party dependencies to be built as well (building examples of crates in the workspace is OK).

To reproduce, make a new crate with:

[code]

and run `cargo build --all`. It fails, because I've published this crate with

[2017-11-26 19:44] pornel opened #4752 "Cargo allows publishing a crate that is missing files for examples"
If you make a `Cargo.toml`:

[code]

this will publish without error, but the package will be missing files required by the example (causing unexpected error as in #4751)

https://github.com/pornel/rust-rgb/commit/08d2a21979a1e0af8c157fc6eb010fffb0a247a0

[2017-11-27 12:39] sesam commented on #2833
Sorry for commenting on an old issue.

I see this as an either or; either

- cargo just works most of the time, so there's no harm in cargo also upgrading rustc to latest stable by itself; and whenever a cargo command fails it could check for newer releases and suggest upgrading.

or

- versions are important, and Cargo.toml should allow package creators to say which versions are known good and kn

[2017-11-27 12:47] matklad commented on #2833
@sesam I think the up-to-date discussion is here https://github.com/rust-lang/rfcs/pull/2182

[2017-11-27 13:08] sesam commented on #2833
Thanks, and sorry, it seems I pasted my comment on the wrong issue.

I noticed that RFCs get closed. Your suggested 2182 (closed), 1953 (closed), 1707 (closed).

For your own original issue, I guess you could solve that by heuristics, reimplementing the same rustc discovery and selection code that cargo already uses... which probably saves the cargo team a few code lines, and adds more code lines

[2017-11-27 18:05] BatmanAoD commented on #4741
Okay, it seems that `apt` may have misconfigured my cross-compiler installation. After re-running `apt-get install gcc-6-arm-linux-gnueabihf`, the example with `serde_derive` compiles correctly.

I'm now getting an error that seems specific to `configure` (which I think is used with `make`?), from `zmq-sys` (from `zmq`) and `backtrace-sys` (from `error-chain`). It seems to be looking for `arm-linu

[2017-11-27 18:11] alexcrichton commented on #4751
I think this is a bug, things like examples should only be built for member of the workspace.

[2017-11-27 18:16] alexcrichton commented on #4745
Ok thanks for the info! That also means the error message is coming from libgit2, so there may not be a whole lot we can do here...

[2017-11-27 18:51] alexcrichton commented on #4741
The error in the gist you sent was a missing `cc` executable which means that you may not be specifying the correct linker for the final executable or you're missing a native linker for assembling plugins. It also sounds like you were discovering local configuration issues?

[2017-11-27 20:00] roysc2 commented on #2773
Any workarounds for this as it is now?

[2017-11-27 20:18] lukaslueg commented on #4752
Is this actually a bug? Especially when considering that #4751 is, this here may be not: Examples are not built if a package is built so they do not need to be packaged. Same reason path-dev-dependencies may find their way into a published crate.

[2017-11-27 20:41] jethrogb commented on #2773
@roysc2  Workaround is manually edit Cargo.lock

[2017-11-27 21:26] newpavlov opened #4753 "Add support for --features and --no-default-features flags in workspace builds"
When using `cargo cmd --all --no-default-features` on virtual manifest cargo should disable default features for all crates in the workspace. `cargo cmd --all --features feature1,feature2` should enable feature if crate in the workspace has it and ignore it otherwise.

Old issue text:
In [RustCrypto/hashes](https://github.com/RustCrypto/hashes) `xargo` is used in CI to verify if all crates are ind

[2017-11-27 23:17] pornel commented on #4752
If #4751 is not supposed to happen, then this may be OK.

[2017-11-27 23:17] #4752 closed

[2017-11-28 01:03] est31 commented on #4753
The way serde_bytes, which depends on serde, and which both have optional no_std support, [is doing it](https://github.com/serde-rs/bytes/blob/master/Cargo.toml) is via the following setup:

[code]

[2017-11-28 03:44] BatmanAoD commented on #4741
@alexcrichton Sorry, I would completely ignore the gist. Uninstalling my Debian gcc-7 cross-compiling packages and installing gcc-6 ones (which match the system native gcc version) seemed to fix that issue. I'm not sure why Cargo *ever* went looking for a compiler with the generic name `cc`, but it does seem to be related to having a strange Debian configuration. (Granted, I don't think I did anyt

[2017-11-28 03:48] aturon commented on #4686
@Ophirr33 just a quick ping on this -- are you still working on it?

[2017-11-28 04:54] sfackler opened #4754 "Release 0.23 on crates.io"

[2017-11-28 07:00] newpavlov commented on #4753
@est31
I am not sure why you wrote it here, as you can see for example [here](https://github.com/RustCrypto/hashes/blob/digest_v0.8/sha3/Cargo.toml) RustCrypto/hashes uses the same approach. (`std` feature in `digest` crate is disabled by default to simplify configuration a bit)

[2017-11-28 07:23] est31 commented on #4753
@newpavlov oh I see. nvm then :)

[2017-11-28 08:13] saintdev opened #4755 "wasm32_final_outputs test fails when Cargo 0.23 is compiled from rustc source tarball"
When running `cargo test` from the src/tools/cargo directory in the rustc 1.22.1 source tarball, the `wasm32_final_outputs` test fails. It seems that the test is finding the rustc Cargo.toml instead of the cargo Cargo.toml and it fails because the test directory is not part of the workspace.

[code]

[2017-11-28 10:19] pepsighan opened #4756 "Docs on the target folder structure"
I searched through the cargo docs and google but could not find what each of the files and folders within `target/[mode]` represents. Any direction to the said docs would be great.

[2017-11-28 15:11] infinity0 opened #4757 "Please continue to publish signed git tags"
It seems that there is no [release tag](https://github.com/rust-lang/cargo/releases) for cargo version 0.23. Could one please be provided? It makes life easier for packagers.

At the moment in Debian we're still packaging cargo separately from rustc, so that it can have its own version number separate from rust's version number. Since these version numbers are how dependencies between rust crates

[2017-11-28 15:25] Ophirr33 commented on #4686
@aturon Sorry for the slow pace, I just need to finish up the Resolution Errors, Failing Cargo Update, and Populating global cache sections. I'm currently figuring out the best way to thread the config into the `activation_error` function, so that it can check whether we're in airplane mode.

[2017-11-28 17:19] alexcrichton commented on #4741
Note that compiler/linker selection isn't always automatic and can sometimes require some amount of configuration. For example `rustc` will link with `cc` by default unless otherwise specified which is typically done through something like `target.$target.linker` in `.cargo/config`. Additionally build scripts typically tend to use `cc` by default unless otherwise configured. Most build scripts ten

[2017-11-28 17:29] alexcrichton commented on #4757
Oh no worries, I was just super sick at the time of the release and haven't gotten around to this. I'll do this soon with https://github.com/rust-lang/cargo/issues/4754.

[2017-11-28 18:14] ivstas commented on #4745
Checked out libgit2 repo, there is even an corresponding issue that nobody touched since 2013:
https://github.com/libgit2/libgit2/issues/1899

[2017-11-28 21:52] nrc opened #4758 "Fix `frozen_flag_preserves_old_lockfile` test"
This test is broken when executing in the Rust CI (after updating RLS and Rustfmt, which really should affect nothing) - https://github.com/rust-lang/rust/pull/46144#issuecomment-347122336 and also on the Cargo CI with [this PR](https://github.com/rust-lang/cargo/pull/4743#issuecomment-347639305)

[2017-11-28 23:35] matthiaskrgr opened #4760 "redefinition of table error: print both locations"
currently cargo just prints
[code]
However this is not very helpful when I just added the duplicate entry at line 79 because I still have to find the original one.

Something like
[code]
would be more useful :)

[2017-11-29 00:07] kornelski opened #4761 "probe_target_info_kind can't use RUSTFLAGS that contain --print"
https://users.rust-lang.org/t/print-native-static-libs/14102

[code]

causes rustc to print extra text, which breaks parsing of its output.

I think filtering out `--print*` args in  `fn env_args()` would fix this.

[2017-11-29 01:03] alexcrichton commented on #4754
Ok published!