[2018-07-12 21:47] glandium commented on #5677
Oh right, there are two invocations of cargo, and cargo locks itself out of running twice in parallel. But while that explains the timeline we see when building Firefox currently, there still is something weird with the cargo build plan listing toolkit/library/gtest/test/Cargo.toml as an input to building gkrust.

[2018-07-12 22:03] ehuss commented on #5677
I think that is normal.  `inputs` includes all manifests in a workspace (whether they are relevant or not), and both of those are members.

[2018-07-12 22:08] glandium commented on #5677
So I guess there's no issue, then. Apart maybe that cargo uses a global lock, and that running it twice for different things in the same workspace makes it block entirely, instead of doing something more fine grained.

[2018-07-13 10:29] sanmai-NL commented on #5034
@oli-obk, @Mark-Simulacrum: My company has one enormous workspace indeed. And we are highly in need of DRY linting/warnings/etc. configuration with local exceptions (preferably down to the statement-level) So if industrial use cases/productivity are the motivation, perhaps we can survey a bit as for the requirements?

[2018-07-13 12:13] oli-obk commented on #5034
that part is no problem, you can configure lints in source code just fine.

And if you have one enormous workspace, then the `Cargo.toml` solution will work just fine for you I think.

[2018-07-13 13:13] sanmai-NL commented on #5034
Suppose we settle on configuring this in `Cargo.toml`, then in a later stage we can design a more general feature, namely supporting `Cargo.toml` override files. Such override files could e.g. patch sections such as the lints and warnings configuration. We can then circumvent the discussion about the need for a separate configuration file. The name of the section is more important, since compiler

[2018-07-13 14:58] TomasKralCZ commented on #4942
Please add a warning, so other poeple know about this, that would've saved me a couple of hours.

[2018-07-13 19:01] #4732 closed

[2018-07-13 20:08] #5708 closed

[2018-07-13 20:36] alexcrichton commented on #5657
A snag I've now thought of as well: from time to time crates will break due to language/compiler changes, but we're generally pretty good about ensuring that the most recent version on crates.io always builds and  point releases are updated. This means, however, that lots of crates' CI will break when that Rust version is published, because not everyone will say they require the newer version of t

[2018-07-13 20:46] matklad commented on #5657
@alexcrichton I think that depends on the CI setup. It seems to me that long-term the CI job with `--minimal-versions` should also use the minimal supported Rust version(MSRV): this is needed so that crates can bump minimal supported rust version in minor release, and it also saves one CI job as well.

However, the day when your MSRV supports `--minimal-versions` is far away; in the meantime, the

[2018-07-13 20:50] Eh2406 commented on #5657
@matklad in the meantime can it be done in one CI job now with `cargo +nightly generate-lockfile --minimal-versions && cargo +MSRV test`?

[2018-07-13 20:52] matklad commented on #5657
Excellent idea @Eh2406!

[2018-07-13 20:54] alexcrichton commented on #5657
@matklad makes sense to me! And I like @Eh2406's idea as well, that should make an excellent suggestion for how to best use this flag

[2018-07-14 08:35] aloucks opened #5724 "Terminal color auto-detection no longer working with mintty (git-bash)"
Color auto-detection isn't working for `mintty` (git-bash) shells. Running with `--color always` or using `winpty` does show color correctly. `Powershell` and `cmd.exe` seem to work fine as well.

![image](https://user-images.githubusercontent.com/221559/42722630-5659b638-871d-11e8-8247-cd2d82e6d2f9.png)

Color detection was working fine until I just updated via rustup. The issue is not present in

[2018-07-14 16:12] Mark-Simulacrum commented on #5719
For now a better heuristic might be `endswith("build-script-build")`

[2018-07-14 19:56] ehuss commented on #5724
Looks like the update to the winapi crate in the rust repo broke tty detection.  I have posted a fix at softprops/atty#28.  If that goes through, we'll need to wait for a new release, and then bump the lock file in the rust repo.

[2018-07-14 22:14] rbalicki2 commented on #4423
Thanks! I will try that.

[2018-07-14 23:11] mberndt123 commented on #4121
+1 for the cross compilation scenario. When you depend on a crate that uses `pkg-config` to discover some C library, it would be nice to be able to set `PKG_CONFIG_SYSROOT_DIR_mips-unknown-linux-musl` in `~/.cargo/config` once and be done with it

[2018-07-15 17:15] alexcrichton commented on #5724
Thanks for tracking this down @ehuss!

[2018-07-15 17:42] #4243 closed

[2018-07-15 20:10] ehuss opened #5729 "man pages are out of date"
Someone on IRC noticed that the cargo man pages are a little out of date or wrong.  In particular, `cargo-bench` documents a `--release` flag that does not exist.  Browsing through some of the other entries I see a few that are also out of date.  It might be worthwhile to review all of them and bring them up-to-date.

[2018-07-16 09:24] phil-opp opened #5730 "Features of dependencies are enabled if they're enabled in build-dependencies; breaks no_std libs"
If a crate is used both as a normal dependency and a build-dependency, features enabled for the build-dependency are also enabled for the normal dependency. This leads to build failures in the `no_std` world, because an `use_std` feature that is turned on for the build-dependency is also turned on for the normal dependency.

## Minimal example

[code]

In `bar/foo/Cargo.toml`:

[code]

In `bar/foo

[2018-07-16 12:00] sanmai-NL commented on #2548
@AndrewJakubowicz: can you give an update on this?

[2018-07-16 13:36] phil-opp commented on #5730
Oh wow, it seems like this issue was already reported multiple times:

rust-lang/cargo#4866 rust-lang/cargo#4664 rust-lang/cargo#2589 rust-lang/cargo#4361

The oldest report is from April 2016, over two years ago. Given that embedded is a target domain of Rust's 2018 roadmap and build scripts are a common stable feature of cargo, I think we should tackle this issue. Especially because it leads to

[2018-07-16 15:58] alexcrichton commented on #5730
Indeed the intention is to solve this issue!

@Eh2406 I'm curious, would you be interested in tackling this issue? I think it has implications on resolution but it's not exclusively concerned with crate graph resolution. There's a lot of interaction with the backend as well where Cargo actually invokes rustc

[2018-07-16 16:00] staktrace commented on #5702
Similar issue: If you check out [mozilla-central](https://github.com/mozilla/gecko-dev) at 6f86cc3479f80ace97f62634e2c82a483d1ede40 and run `cargo update -p webrender_api -p webrender` in the root dir, it will downgrade the `log 0.4.2` dependency of `rsdparsa` to `log 0.3.9` for no apparent reason. The `webrender` dependency tree is completely independent of `rsdparsa` so it's not obvious to me wh

[2018-07-16 17:00] Eh2406 commented on #5730
I am happy to help any way I can. However, this has been open for a long time *because* it is very hard, and tangled with many of the other things that need to be rethought.

The goal is that build script and the real build have the same dependency with different features.
- How does this interact with other profiles, why is this flexibility limited to build/real what about test and release? This

[2018-07-16 18:28] orlandoc01 opened #5731 "Cargo Build Fails with Github Deploy Key"
**I tried this**:
Ran `cargo build --release` with the ssh-agent already running and a dependency listed in `Cargo.toml` that points to a private repo. The ssh-agent had a key added that was a github `deploy key` for this private repo.

**I expected to see this happen**:
No Error

**Instead, this happened**:
[code]

I'm using `cargo 1.27.0 (1e95190e5 2018-05-27)`

**Additional Information**:
I am

[2018-07-16 19:41] alexcrichton commented on #5730
Oh in general I see this as having a pretty simple (sort of) model of what should happen. Right now in cargo's backend we have a graph of "units" where each unit is basically a tuple of (package, target, profile, info). Here we have a precise dependency graph of what to do and each "unit" corresponds to one process, be it rustc, rustdoc, a build script, etc. Occasionally a unit needs to ask "what

[2018-07-16 19:46] alexcrichton commented on #5731
Thanks for the report! The final part of the error message:

[code]

may mean that `ssh-agent` isn't set up or running perhaps? One thing `git` does which Cargo does not do is read `~/.ssh/config`, which has also caused problems in the past. Do you know if there's anything funny with `ssh-agent` though?

[2018-07-16 21:45] #2200 closed

[2018-07-16 21:57] Eh2406 commented on #5730
That sounds a lot more doable than I was expecting. Conveniently, Cargo.lock does not record features so that is off the list.

Let me try and explain what I was thinking with relation to public/private dependencies.
let's say we are compiling `a` witch depends on `b` and `c` each of which depends on `d`.
Currently no matter the nature of that "depends"; `b` and `c` will both see the same version

[2018-07-16 22:39] alexcrichton commented on #5730
Hm yeah I'm not sure if there's a connection there either, but it's something I suspect that fleshing out the implementation would show pretty readily!

Currently whether or not you're a build or normal dependency all feature calculations are done the same way, you're always compiled with the same set of features in both contexts (which is the bug here)

[2018-07-16 23:04] Boscop commented on #5376
In my use case I have a workspace whose toplevel crate has a `.cargo/config` of
[code]
But in one of the subcrates (my app's yew wasm frontend), I have
[code]
Is this the correct way to prevent the parent config from affecting the subcrate?
I wish there was a better way that wouldn't require me to manually overwrite all the keys I set in the parent config in every subcrate's config where I don't w

[2018-07-16 23:48] Eh2406 commented on #5730
Agreed, so after this bug is fixed if I depend on `a` and `d` while `a` has a build dependency on `d` with feature `foo` then:
- my `main.rs` sees `d` as not having `foo`
- but `a`'s `build.rs` sees `d` as having `foo`.
(that is the definition of fixing this bug.)

My current question is,  I depend on `a`, `b` and `d` while `a` has a build dependency on `d` with feature `foo` and `b` has a build d

[2018-07-16 23:52] SimonSapin commented on #5376
@Boscop I believe that Cargo’s "config" is determined once per run of the `cargo` command, you cannot have a different config in different crates that are compiled together.

[2018-07-16 23:58] ehuss commented on #5719
I think that would be `starts_with("build-script-")` since the user can change the name with the `build` key.

[2018-07-17 01:47] Mark-Simulacrum commented on #5719
Huh, I never thought about the `build` being user dependent; is that documented anywhere? It seems needlessly complicated...

[2018-07-17 04:11] ehuss commented on #5719
The key is documented in [build scripts](https://doc.rust-lang.org/cargo/reference/build-scripts.html) and the [manifest reference](https://doc.rust-lang.org/cargo/reference/manifest.html#the-build-field-optional).  It doesn't really talk about the binary/crate name of the build script, presumably because that's not something that's really relevant to most users.

[2018-07-17 04:55] alexcrichton commented on #5730
@Eh2406 for your first scenario, indeed! That's what I imagine for this issue as well.

In your second scenario then `a` and `b` will see `d` with both the `foo` and `bar` features because we can only compile the library once and features are defined to get unioned. I think the main thrust of this issue is what then *cross compiling* (more than one target involved) we're already compiling two arti

[2018-07-17 06:41] ehuss commented on #5730
Just a random idea, I was thinking that maybe the `Unit` could include the features to lift this restriction.  At least for build-deps, it would be easy to do utilizing the `ProfileFor` flag.

[2018-07-17 14:04] Eh2406 commented on #5730
@alexcrichton That would make the change smaller. I am concerned how do we explain the rule for when do "features get unioned". For example:

implies that this only works if cross compiling!? That my main.rs sees `d` as having `foo` and `bar` if it is being built locally, but not if cross compiling.

@ehuss Lol. Two people respond, two contradictory answers. :-) I am glad to hear that the other al

[2018-07-17 15:24] enizor opened #5734 "Documentation: profile.XXX.debug can be u32 or bool"
`profile.XXX.debug` is parsed as either an `u32` or a `bool` https://github.com/rust-lang/cargo/blob/558eee4fbca56bdc4969e114ed2cc4ed7c3913bb/src/cargo/core/profiles.rs#L349

The [documentation](https://github.com/rust-lang/cargo/blob/master/src/doc/src/reference/manifest.md)
only show an `u32` in `profile.test`. It could be clearer to explain that both types are accepted.

As a result, `cargo-deb

[2018-07-17 15:43] alexcrichton commented on #5730
@Eh2406 another excellent question! This is where you get to a sort of obscure part of Cargo today where let's say you've got a compiler for x86_64-unknown-linux-gnu installed. It turns out these two invocations are actually pretty different:

* `cargo build`
* `cargo build --target x86_64-unknown-linux-gnu`

In the latter invocation Cargo thinks it's cross compiling so it'll build *more* than the

[2018-07-17 16:08] alexcrichton commented on #5734
Sounds good to me!

[2018-07-17 17:52] #5734 closed

[2018-07-17 18:37] Eh2406 commented on #5730
So currently `cargo build` and `cargo build --target x86_64-unknown-linux-gnu` are observable different, one compiles deps once and the other twice.
After this issue is fixed they will additionality have different output code; a build.rs will see all features with `cargo build` and only dev features with `cargo build --target x86_64-unknown-linux-gnu`.
That is a significantly bigger change, but we

[2018-07-17 19:45] alexcrichton opened #5736 "Figure out how to force `cargo fix` to run"
Moved over from https://github.com/rust-lang-nursery/rustfix/issues/79, I hear @killercup has a fix in mind!

[2018-07-17 19:47] alexcrichton opened #5737 "Add `--allow-staged` to `cargo fix`"
In addition to `cargo fix --allow-dirty`, a user should also be able to pass `--allow-staged` that lets them run cargo-fix even if there are no unstaged changes[^1].

The rationale is that content that has been `git add`ed isn't actually in danger of being permanently eaten by a poor suggestion application, because you can `git checkout -- .` to back out the changes.

[^1]: That's git terminology;

[2018-07-17 19:48] alexcrichton opened #5738 "Cargo fix --prepare-for should only apply edition fixes"
Originally reported as https://github.com/rust-lang-nursery/rustfix/issues/129

---

As per rust-lang-nursery/rustfix#120 it applies all suggestions, which include the builtin lints.

[2018-07-17 20:48] killercup opened #5739 "cargo fix: Pass `--all-targets` by default"
After hearing from a few people that they expected `cargo fix` to fix their tests by default and [discussing this on discord](https://discordapp.com/channels/442252698964721669/446773253953028107/468877782630531073), we now want to pass `--all-targets` by default.

The main disadvantage of this is that it hides some of the actual complexity -- while you get a lot more fixed code, optional features

[2018-07-17 20:50] killercup opened #5740 "cargo fix: Print targets/features/cfg that will be fixed"
With #5739, `cargo fix` learnt to check all targets by default. Since this might be a source of confusion, it would be helpful to also print out which targets we are fixing.

Running `cargo fix` should print out a line like this (right at the start):

[2018-07-17 20:50] alexcrichton commented on #5738
@Mark-Simulacrum on IRC suggested we pass `-A warnings -W rust-2018-compatibility` which I think will work like a charm here! (we should test though)

[2018-07-17 20:53] killercup commented on #5738
@alexcrichton I'll give it a try, but this [previously](
https://github.com/rust-lang-nursery/rustfix/pull/98#discussion_r187178261) didn't work

[2018-07-17 21:00] alexcrichton commented on #5738
Oh bah you are indeed correct (still!).

That's due to [this block of code](https://github.com/rust-lang/rust/blob/1c84d8187395b641616649a0f16f15a78ea8bbce/src/librustc/lint/levels.rs#L103-L117).

That means probably we could either:

* Fix this as a bug in rustc (maybe having lots of unintended fallout)
* Pass a whole slew of `-A` and hope we get most of the ones that matter
* Simply don't auto-f

[2018-07-17 21:06] killercup commented on #5738
Great research!

I think the last option might be one with the least issues going forward – adjusting an allow-list when people add new edition specific lints is trivial. What do you mean with "easier to go with the second" – tracking (and keeping track of!) all enabled-by-default lints in rustc for the foreseeable future? Sheesh!

[2018-07-17 21:07] alexcrichton commented on #5730
@Eh2406 I think you're right yeah! Unfortunately no matter how this is sliced it's a sort of big change :(

[2018-07-17 21:07] alexcrichton commented on #5738
Oh more just easier to implement because it's just modifying a string that's already in the code :)

I'm cool w/ the third option though!

[2018-07-18 15:42] alexcrichton opened #5742 "test cleanup: Remove Cargo's internal `hamcrest` module"
This used to be an upstream crate and we switched due to it being outdated, and otherwise nowadays it's very much showing its age! We primarily use this module to assert various properties of each executed command, but nowadays we should stop using `hamcrest` in favor of a new form of specifying what should happen.

I'm personally partial to the system I made for `cargo-fix` the other day for a re

[2018-07-18 15:42] alexcrichton opened #5743 "test cleanup: Add a default template for Cargo.toml"
Lots of the verbosity in Cargo's test suite right now is from producing the same blank `Cargo.toml` over and over again. Ideally though we could just omit this entirely and Cargo's test suite would fill in a reasonable default!

For example if `Cargo.toml` is omitted then we should have a blank "pretty reasonable" `Cargo.toml` inserted in its absence.

[2018-07-18 15:42] alexcrichton opened #5744 "test cleanup: Cargo's testsuite crate module hierarchy is a bit of a mess"
The module hierarchy here has not stood well to the test of time. Cut up between various crates and refactorings, it's all over the place now! We should refactor **everything** to the following most likely:

[code]

That way all tests should access support via `use support::the_module::...` with a few top-level helpers in `support` directly.

[2018-07-18 15:46] alexcrichton opened #5745 "test cleanup: Figure out a better story for string literals."
Right now the string literals in Cargo's test suite are a bit of a mess. They're intended to be pretty concise definitions of files all inline in the test itself. Unfortunately over time `rustfmt` has made them look pretty ugly and they're not really that ergonomic any more.

What use to be:

[code]

is largely now reformatted automatically via `rustfmt` to

[code]

and "ideally" is instead writte

[2018-07-18 15:46] alexcrichton commented on #5306
I believe this has since been fixed

[2018-07-18 15:46] alexcrichton commented on #4591
I think this has since been fixed, so closing!

[2018-07-18 15:46] #4591 closed

[2018-07-18 15:47] alexcrichton opened #5746 "test cleanup: Remove the argument from the `project` function"
This argument can be "foo" 99.9% of the time, so let's remove it as an argument and simply hardcode it to `"foo"`!

[2018-07-18 15:59] tcely commented on #5306
It appears unchanged in the latest release.

https://github.com/rust-lang/cargo/blob/0.28.0/tests/testsuite/build_auth.rs#L20

[2018-07-18 16:02] jirutka commented on #5306
Programming is not a religion!

It was not fixed, not in 0.28.0, nor in the current master, see [tests/testsuite/build_auth.rs:20](https://github.com/rust-lang/cargo/blob/04c90d38af5e62770c766321711f62728fd228f3/tests/testsuite/build_auth.rs#L20).

[2018-07-18 18:46] graylikeme opened #5747 "Cargo check fails to detect an error"
When running `cargo check` it fails to output an error that is detected with `cargo build`
b_reg is u8 and running stable 1.27.1

[code]

[2018-07-18 19:36] graylikeme commented on #5747
Oh really. Then i'll do just that

[2018-07-18 19:36] graylikeme commented on #5747
Issue moved to https://github.com/rust-lang/rust/issues/52484

[2018-07-18 19:36] #5747 closed

[2018-07-19 04:56] driftluo opened #5748 "I found this problem, but I don't know if it is a bug."
I don't know whether it's cargo bug or some other problem, I can reproduce this problem on stable stably. I will refer this question to the cargo project later.

System environment：
[code]

The steps are as follows:

[code]
cargo.toml
[code]
main.rs
[code]
and then `cargo run`, it can't complie, and error is
[code]

cargo.lock
[code]
When I manually modify the bytes version，And add  `iovec`、`byteo

[2018-07-19 13:37] RReverser commented on #2911
@ebfull That only skips building/running tests if feature is not enabled instead of force-enabling the feature during build.

[2018-07-19 14:22] kennytm commented on #5695
I tried (line-)buffering all output of rustc with `--color always` forwarded. It works fine on Unix and MSYS2 but is totally broken on Windows 7:

![screenshot_2018_07_19 22_16_34-fs8](https://user-images.githubusercontent.com/103023/42948432-0fc6ab7a-8ba2-11e8-9eb4-15a6d1768e02.png)

It is using ANSI code despite cmd.exe does not support it.

[2018-07-19 14:40] ishitatsuyuki commented on #5695
@kennytm Yes, this is expected. As I wrote before, we should parse all ANSI escapes (limiting to colours) and feed them again into termcolor, making it a portable solution.

[2018-07-19 16:11] driftluo commented on #5748
Can't reproduce, why? I am a bit confused

[2018-07-19 16:11] #5748 closed

[2018-07-19 17:58] joejune commented on #4121
Me too, I want to set ARMV7_LINUX_ANDROIDEABI_OPENSSL_DIR to use a prebuilt openssl.

[2018-07-19 20:33] dwijnand commented on #5746
Baited by the 99.9% I've started to take this on.

(Turns out it's more like 80%..

[code]

:smile:)

[2018-07-19 20:38] QuietMisdreavus opened #5749 "cargo doc: pass `--cap-lints allow` when documenting dependencies"
When https://github.com/rust-lang/rust/pull/52354 lands, rustdoc will be able to accept `--cap-lints` to suppress lints when building documentation. Cargo should take advantage of this to pass `--cap-lints allow` when documenting dependencies, like how `cargo build` does the same. This will help contain the damage of https://github.com/rust-lang/rust/issues/51468 and errors like it.

[2018-07-19 20:57] dwijnand commented on #5742
💯 for removing the confusing `[/]` shenanigans!

Thus I've an interest in this issue, but I'll have to see if I'm able to do it.

[2018-07-19 21:09] alexcrichton commented on #5743
Sort of! Those manifests are *super* old and nowadays a default manifest wouldn't have `[lib]` or `[[bin]]`, but other than that I think that's the main idea here. Ideally we wouldn't even need `.file("Cargo.toml", manifest())` but rather it'd just happen automatically if `Cargo.toml` isn't created

[2018-07-19 21:10] alexcrichton commented on #5746
Heh true! I think in basically all cases though it can be `"foo"` without breaking tests

[2018-07-19 21:11] Mark-Simulacrum commented on #5746
Sure, though some tests are specifically testing for things like `core` or `syntax` and making sure those work (i.e., lack of sysroot conflicts).

[2018-07-19 22:32] orlandoc01 commented on #5731
I don't think so. I start the ssh agent in the build process by running `eval \`ssh-agent -s\` `. Moreover, if something was wrong with it, I would expect the command `git clone ssh://git@github.com/myorg/private-repo.git` to not work but it succeeds if I run it as a build command before the `cargo build`. This leads me to believe that its not the ssh-agent but some process in cargo which is the p

[2018-07-19 22:36] sfackler commented on #5731
The command line `git` is able to directly load the private key without an ssh-agent, unlike the libgit2 library that cargo uses.

[2018-07-20 01:42] JustinCappos commented on #4768
We are happy to help in any way we can.  Let us know if you'd like us to review the design or to participate in a session to flesh out the approach .

[2018-07-20 06:09] dwijnand commented on #5746
Yeah I had a look at the outliers and some deviate without a great reason, but there are a number of them that do have a good reason. Like workspace projects, or any kind of "foo" project and "bar" project.

Anyways, after landing the change to remove the argument from the project function, I'll follow it up with a more curated change to make them use the default "foo".

[2018-07-20 06:14] dwijnand commented on #5743
Alright!

Eventually, to avoid the state to organically reoccur, we might want invest in 1 or a few clippy lint(s) 😄.

[2018-07-20 12:02] dwijnand commented on #5414
FWIW I ended up creating and using these shell functions:

[code]

[2018-07-20 12:29] matklad commented on #4268
@behnam would you want to send the PR to change the behavior then?

[2018-07-20 14:20] behnam commented on #4268
I can do so in 3-4 weeks from now. If anyone else can do so earlier, please feel free to take over.

Side note: I think we want to still keep both logic and earn against mismatched, but updating the wording to denote the change.

Also need to update the docs at the same time as flipping the switch.

[2018-07-20 15:31] withoutboats opened #5753 "Renamed optional dependency should use the renamed name"
Given a Cargo.toml dependency stated like this:

[code]

I expected to be able to turn the dependency on with `cargo build --features dalek`. However, this does not work. `cargo build --features ed25519-dalek` does work.

I think we should be consistent here in treating the dependency name, not the package name, as the name of this optional dependency.

[2018-07-20 15:33] withoutboats commented on #5653
Added another bug: #5753.

[2018-07-20 17:05] #5746 closed

[2018-07-20 18:44] luser opened #5754 "Provide a way to specify configuration for host compilation"
cargo currently supports [specifying configuration per-target](https://doc.rust-lang.org/stable/cargo/reference/config.html#configuration-keys). Unfortunately, for non-cross-compiles this can lead to undesirable behavior. For example, we build Firefox in many variant configurations, several of which involve passing compiler and linker options that are useful for target binaries but cause problems

[2018-07-20 18:58] luser opened #5755 "Indicate to build scripts that the crate they are being run for is being built for the host"
cargo sets [a number of environment variables](https://doc.rust-lang.org/stable/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-build-scripts) when running build scripts, including `HOST` and `TARGET`. When running a build script that is used by a crate that's being built for the host (because it's being used by another build script, say) it just gets `HOST == TARGE

[2018-07-20 20:09] QuietMisdreavus commented on #5749
Update: https://github.com/rust-lang/rust/pull/52354 has just landed.

[2018-07-20 22:45] qmx commented on #4966
I'm hacking together a `cargo docserver` for this, hopefully it gets somewhere 🙏

[2018-07-20 23:29] joshtriplett commented on #5755
I'd like to see this as well. Please consider matching the naming conventions that autoconf and meson use for this.

[2018-07-21 00:57] luser commented on #5755
Can you elaborate on this?

[2018-07-21 01:21] ehuss opened #5758 "How to find binary from integration test?"
Is there a cleaner way to find a binary executable from an integration test other than looking at `current_exe()` and finding it from there?  Cargo itself uses this logic:

https://github.com/rust-lang/cargo/blob/848250597527659dd54b533c3d35d6505dd60a20/tests/testsuite/cargotest/support/mod.rs#L392-L409

I've seen others use `Command::new("./target/debug/NAME")` which can fail in some cases.

It s

[2018-07-21 04:57] ehuss commented on #5749
I have a patch ready, just waiting for a new nightly to be published.

[2018-07-21 05:58] ilovezfs commented on #5699
@alexcrichton the mismatch issue also affects the version installed via rustup:
[code]

[2018-07-21 08:04] dwijnand opened #5759 "cargo test tab completion"
It would be nice if `cargo test <TAB>` helped me write out the test I'm looking for.

For example, in the context of using cargo _in_ the cargo project, if I type `cargo test ove<TAB>` it would be nice if cargo helped me discover the names of the tests in `tests/testsuite/overrides.rs` that I'm looking for.

[2018-07-21 10:06] joshtriplett commented on #5755
@luser autoconf macros commonly set things like `CC_FOR_BUILD`, for instance. I'm suggesting that cargo should follow existing conventions rather than inventing new ones, wherever possible.

[2018-07-21 13:22] andylokandy opened #5760 "Resolution of dependencies should not be affected by the dependencies of procedural-macro-library."
Currently, the dependencies of procedural-macro-library would change the resolution of normal dependency of root package, which accidentally broke some crates and made them unusable in no_std environment.

For example:

**Case A**:

[code]

[code]

[code]

It compiled as expected; the default features is turned off, so that the `std` feature of `num-traits` is also removed.

**Case B**:

[code]

[

[2018-07-21 15:38] alexcrichton commented on #5758
The `if path.ends_with("deps")` is a compatibility hack for older Cargos, but otherwise that's AFAIK the "state of the art" in terms of being robust to future tweaks in Cargo as well.

[2018-07-21 15:52] alexcrichton commented on #5699
Yes point releases only affect rustc, not Cargo (Cargo hasn't needed a point release yet)

[2018-07-21 15:55] Eh2406 commented on #5760
Thanks for letting us know about this problem. I agree that it is a problem and one that needs to be fixed. The current discussion of how is at #5730. Unfortunately it is a rather big braking change to how features were originally designed to work, so it will take some time to figure out.

But let's have the conversation in #5730 and mark this as a duplicate.

[2018-07-21 15:56] #5760 closed

[2018-07-21 16:02] alexcrichton commented on #5754
Thanks for this report and #5755 @luser, this is definitely not something that was expected to come up! Out of curiosity, when you compile in Gecko are you doing `cargo build --target $host` or are you just doing `cargo build`? I wrote up recently [some comments](https://github.com/rust-lang/cargo/issues/5730#issuecomment-405629218) about how those "naively equivalent" invocations are actually sub

[2018-07-21 16:04] alexcrichton commented on #5754
Oh actually I guess most of that comment would be more appropriate on https://github.com/rust-lang/cargo/issues/5755 rather than here! (I think I'm getting the two mixed up).

For Cargo's configuration do you use `[target.$target]` today for linker/rustflags/etc? Which parts are needed to configure for the host compilation (but not target)?

[2018-07-21 21:40] dwijnand commented on #5745
Is there any prior art in the Rust ecosystem we can look at here? I'm thinking things like the CLI WP or the testing setups in existing CLI projects, like ripgrep.

[2018-07-22 02:01] mark-i-m opened #5764 "UI nit: Progress bar partially overwritten by errors"
cc #3448, #2536

When compilation terminates with an error, the progress bar is partially overwritten. Perhaps there is a missing `\n` that needs to be output before the first error?

Sample error:
[code]

Notice this part: `==============>          ] 5/6: x86_64`. This is the progress bar (I'm compiling the x86_64 crate), which is overwritten by the first error.

[code]

[2018-07-22 02:15] alexcrichton commented on #5764
Thanks for the report! This has been [fixed in Cargo](https://github.com/rust-lang/cargo/pull/5698) for a bit now and thankfully we just got a nightly with the fix out, so we should be good to go!

[2018-07-22 02:15] #5764 closed

[2018-07-22 04:17] #5749 closed

[2018-07-22 04:20] alexcrichton commented on #5745
cc @killercup, you may have thoughts on this?

[2018-07-22 05:42] ilovezfs commented on #5699
Ah, OK. I'll watch out for divergence on non-point releases then! Thanks for the clarification.

[2018-07-22 12:52] LukasKalbertodt opened #5766 "Let user add directories for auto-discovering tests/bins/..."
<sup>Please excuse if this has been asked before -- I couldn't find anything.</sup>

Hi there!

Cargo auto-discovers certain things: integration tests, binaries, benchmarks and examples. For each of those categories, Cargo looks in a specific folder (`tests/`, ...). Thanks to #5330 we can now disable or enable auto-discovery explicitly.

I think it would be really useful if the user can specify cu

[2018-07-22 16:11] KillTheMule opened #5767 "Cargo fix: Could not fix use statements"
Hey!

I've tried applying cargo fix to transition my crate to edition 2018, following the official guide. The manual preparations would be in [this commit](https://github.com/KillTheMule/nvimpam/commit/6ecb87fbf085b6a860ccaab06ba540453a5c343b). After that, the only thing to do for me was [fix use statements](https://github.com/KillTheMule/nvimpam/commit/223938f4480ff5d8dbc6c2d35223f9f3a24f1dbc). N

[2018-07-22 16:21] alexcrichton commented on #5767
Thanks for the report @KillTheMule! Always better to err on the side of opening an issue :)

I think the problem here was that the 2018 edition was enabled too soon. [The edition guide](https://rust-lang-nursery.github.io/edition-guide/editions/transitioning.html) has some detailed steps and it's currently important to *not* enable the edition before transitioning to the 2018 edition. That allows

[2018-07-22 17:06] fedor-rusak opened #5769 "Documentation question about handling DLLs for crates"
Hi everyone.

I am trying to simplify a task involving [GLFW3](http://www.glfw.org/) library usage on Windows. I don't want to force users to download windows libraries separately.

Is it possible to add some DLL file as part of crate? So that when I reference my helper-crate I get rust stuff and windows native stuff.

Maybe there is documentation for this?

Thank you,
Fedor

[2018-07-22 17:49] KillTheMule commented on #5767
It's somewhat unclear what steps I should take, probably because there's no obvious (to me...) difference between "enabling the edition" and "transitioning to the edition".

I just went back to [this commit](https://github.com/KillTheMule/nvimpam/commit/c9d870235b3cd1a7de53cceadb641b4b0372b5eb), that is, the one I started with anyways, and tried to run `cargo +nightly fix --prepare-for 2018 --all-

[2018-07-22 17:49] #5767 closed

[2018-07-22 20:03] luser commented on #5755
Ah, OK. In the Firefox build we've never moved past autoconf 2.13 so I'm not familiar with the details of its more modern implementation. :)

[2018-07-23 00:57] eminence opened #5771 "cargo fix does not honor .gitignore"
(unclear if this issue should be filed in this repo, or the rustfix repo)

`cargo fix` does not honor a `.gitignore` when doing dirty detection, which means that you have to run `git clean` in between invocations.

    $ cargo new --lib testlib && cd testlib

    $ git add -A
    $ git commit -m "initial commit"
    [master (root-commit) d00917c] initial commit
     3 files changed, 16 insertions(

[2018-07-23 09:09] vorner commented on #5695
Just throwing a vague idea in, I'm not sure if that would work or be portable. I think the ncurses (and likely other curses) libraries allow to split the terminal into multiple windows that scroll independently. If the progress bar lived in one and rustcs (and other possible things, liku build scripts) run in the other, they should not interact.

Or how do things like screen or tmux work? Do they

[2018-07-23 09:30] ishitatsuyuki commented on #5695
@vorner What are you suggesting that is not portable? The width detecting progress bar or the buffering approach?

I think tmux creates a pty for each pane indeed.

[2018-07-23 09:50] dwijnand commented on #5771
Hey @eminence, looks like @alexcrichton has got you covered and is fixing this in https://github.com/rust-lang/cargo/pull/5770 (pending merge).

[2018-07-23 10:38] vorner commented on #5695
I didn't say it is not portable. I only said I didn't do any research so I don't know if it is or not. And I was talking about the ncurses windows and PTYs.

[2018-07-23 11:02] bjgill opened #5772 "Ugly cargo owner help text"
The paragraph of additional information in the `cargo owner` help text seems to have somewhat odd formatting (line length, no spaces after full stops):

[code]

I'll look at submitting a PR to fix up https://github.com/rust-lang/cargo/blob/master/src/bin/cargo/commands/owner.rs#L23.

[2018-07-23 13:21] qmx commented on #4966
just pushed https://crates.io/crates/cargo-docserver, hopefully that's useful for someone besides me

[2018-07-23 13:57] alexcrichton commented on #5743
Ok great! That's surprisingly few tests :)

I think that's ok and we could add a flag to temporarily disable this and use it in those tests? I suspect the tests could also be tweaked to deal with the existence of a root `Cargo.toml`

[2018-07-23 14:05] alexcrichton commented on #5769
You can publish binary files with your crate to crates.io, but Cargo doesn't have any sort of special support for this per se. You'd want to do detection in a build script to hook it into the build process.

Currently there's no documentation for something like this, but it seems plausible that such documentation could exist!

[2018-07-23 14:14] fedor-rusak commented on #5769
I guess this is not popular feature so I suggest to close this ticket for now.

Thanks for feedback. Have a nice day!

[2018-07-23 14:14] #5769 closed

[2018-07-23 14:20] alexcrichton commented on #5766
This seems plausible to me! I don't believe we've had previous requests to change the directories for auto-inference, but I don't see why not!

Recently we added keys like `autotests = false` to disable automatic inference of test cases, and that seems like we could possibly reuse it for your use case? Something like `autotests = 'my-test-dir'` could look in a different directory for tests, and so

[2018-07-23 14:36] #5772 closed

[2018-07-23 14:42] alexcrichton commented on #5766
Seems plausible to me!

For implementation that can basically happen at any time, so long as it's a nightly feature. We've got a system for handling unstable nightly-only feautres in Cargo (similar to rustc) and the UI would basically require something like:

[code]

[2018-07-23 15:43] luser commented on #5754
We [always pass `--target` ](https://dxr.mozilla.org/mozilla-central/rev/085cdfb90903d4985f0de1dc7786522d9fb45596/config/rules.mk#808) to cargo in the Firefox build. For things like the linker, [we currently pass them all as environment variables](https://dxr.mozilla.org/mozilla-central/rev/085cdfb90903d4985f0de1dc7786522d9fb45596/config/rules.mk#918) when invoking cargo. We do have [a few things

[2018-07-23 16:31] dwijnand commented on #2694
This think this can be closed now. The cargo docs now use mdbook, and thus have a sidebar TOC.

[2018-07-23 16:32] nagisa commented on #3678
Thanks!

[2018-07-23 16:32] #3678 closed

[2018-07-23 16:33] dwijnand commented on #4079
Well the later half is no longer true. The Cargo guide now presents a sidebar TOC where the documentation for the environment variable is reachable.

[2018-07-23 16:51] dwijnand commented on #3886
The instructions use rustup _and_ link to the Rust install docs. This issue has be resolved and can be closed.

[2018-07-23 16:56] dwijnand commented on #4290
While still not documented, the impact at least triggers a runtime lint-like warning with https://github.com/rust-lang/cargo/issues/5330 shipped.

[2018-07-23 17:01] dwijnand commented on #4095
`cargo doctor` or (better yet) `cargo self fix`?

[2018-07-23 17:11] killercup commented on #5771
Can you confirm this is fixed by #5770? (You need to build cargo yourself)

[2018-07-23 17:54] Eh2406 commented on #5638
@alexwlchan how is that first pass going? Anything we can do to help?

[2018-07-23 18:07] Eh2406 commented on #5730
I'm convinced despite the braking of things this needs to happen. Where should I get started?

Relevant: #5656 if we make them more different we should document when to add it to CI.

[2018-07-23 18:16] #5692 closed

[2018-07-23 19:07] wez commented on #4966
@qmx it works, thanks!

[2018-07-23 19:19] Eh2406 commented on #5321
Just re-did the benchmarks and master (773e3b6c6bd68dc6f50c612d6331f928fa818965) looks the same.

[2018-07-23 19:52] Ethan826 opened #5775 "Error running `cargo fix`"
I tried this: `cargo +nightly fix --prepare-for 2018 --all-targets --all-features --allow-dirty`

I expected to see this happen: for the `cargo fix` utility to fix all my code and prepare me for the wonderful future of Rust 2018.

Instead, this happened: I got the following output (pasting the extremely long output of the command, as requested by the compiler message):

<pre><font color="#C3E88D">

[2018-07-23 20:01] Boscop opened #5776 "Why does rustc print so much verbose stuff ONLY when I run it in powershell (not in cmd.exe)?"
Why does rustc print so much verbose stuff ONLY when I run it in powershell (not in cmd.exe)?

http://pastebin.centos.org/1064996/23211891/

I don't have `RUST_LOG` set:
[code]

rustc 1.29.0-nightly (874dec25e 2018-07-21)

[2018-07-23 20:17] dwijnand commented on #2686
Echoing my suggestion in #5382, perhaps use [exa](https://github.com/ogham/exa) 😉.

[2018-07-23 20:20] dwijnand commented on #2733
Seeing as the first thing you read in https://doc.rust-lang.org/cargo/ is:

dependencies, compiles your project, makes packages, and upload them to
[crates.io], the Rust community’s *package registry*.

[rust]: https://www.rust-lang.org/
[crates.io]: https://crates.io/

I would say this issue has been resolved and can be closed now.

[2018-07-23 20:36] dwijnand commented on #2580
@alexcrichton (or any other maintainer) reckon this one is done now and can be closed? Looks done to me.

[2018-07-23 21:00] mbrubeck commented on #4423
@Boscop noticed that `build.rustflags` being passed to build scripts when `--target` omitted, but not when it is passed, causes extra rebuilds when building for multiple targets.

For example, if you have `build.rustflags` set in `.cargo/config`, then running `cargo build; cargo build --target $OTHER; cargo build` will cause all build scripts (and anything that depends on them) to be rebuilt.  In

[2018-07-23 21:04] Boscop opened #5777 "[target.'cfg(all(target_arch="x86_64", not(debug_assertions)))'] in .cargo/config doesn't seem to work"
I have this in my `.cargo/config`:
[code]
But when I do a release build and check the .exe with Dependency Walker, it STILL linked dynamically to vcruntime140.dll, so the `cfg` doesn't seem to work, why?

[Here](https://github.com/rust-lang/cargo/issues/4935#issue-288149668), someone is using both of these cfg variables in a .cargo/config file, too..

[2018-07-23 21:14] dwijnand commented on #3726
Had a look at this and two things:

1. The strings that `cargo` prints don't match the about of the commands. For example for `build`, `cargo` prints ["Compile the current project"](https://github.com/rust-lang/cargo/blob/0.28.0/src/bin/cargo/cli.rs#L163), while the about string is ["Compile a local package and all of its dependencies"](https://github.com/rust-lang/cargo/blob/0.28.0/src/bin/cargo/

[2018-07-23 21:31] alexcrichton commented on #5777
I believe this is a "bug" with the execution of `rustc --print cfg` unfortunately. When this is executed it's not passed opt-level flags, so it is always running with `debug_assertions` enabled (indicating that cfg is always enabled for resolution purposes)

[2018-07-23 21:32] alexcrichton commented on #2733
Indeed!

[2018-07-23 21:32] #2733 closed

[2018-07-23 21:33] alexcrichton commented on #5776
Thanks for the report! It looks like you're using `cargo web` here so this is likely a bug for that project. If it can be narrowed down to Cargo though please feel free to comment and I'll reopen!

[2018-07-23 21:33] #5776 closed

[2018-07-23 21:34] alexcrichton commented on #4013
Indeed I think this is fixed!

[2018-07-23 21:34] #4013 closed

[2018-07-23 21:37] alexcrichton commented on #2694
Indeed!

[2018-07-23 21:37] #2694 closed

[2018-07-23 21:41] alexcrichton commented on #2580
Indeed!

[2018-07-23 21:41] #2580 closed

[2018-07-23 21:43] alexcrichton commented on #5730
@Eh2406 I think the basic steps here are to delete the `Resolve::features` method and then "get everything compiling again". It basically makes no sense to query what features are activated for a package any more unless you *also* have the context of "for what build target?" in mind

[2018-07-23 21:57] alexcrichton opened #5778 "cargo fix: Prevent fixing in mixed up transition steps"
A common problem we're seeing in the 2018 transition is that steps are performed out of order, rendering `cargo fix` not too useful any more! I think we should implement two important fixes in `cargo fix` to remedy the situation:

* First, Cargo should be able to deduce a set of "interesting crates" which are actually being fixed. This is driven by the `-p` arguments on the command line.
* Next, i

[2018-07-23 21:57] alexcrichton commented on #5778
cc @killercup

[2018-07-23 22:02] alexcrichton commented on #5775
Thanks for the report! Would it be possible to poke around the crate you're seeing these errors from?

Additionally, does this happen if you disable the `rust_2018_idioms` lint group?

[2018-07-23 22:03] alexcrichton commented on #5745
Indeed yeah! If it fits on one line that looks fine to me

[2018-07-23 22:36] eminence commented on #5771
Confirmed!  it is fixed!

[2018-07-23 22:36] #5771 closed

[2018-07-23 22:40] Boscop commented on #4423
(proc-macros and their deps, too.)

That avoids the rebuild issue but it seems the rustflags aren't getting applied, so it's not really a working workaround. The resulting exe still links to the crt dynamically when I have this `.cargo/config` (so I guess the `target-cpu` setting is also ignored):
[code]
So it has the same effect as no rustflags setting, that's why it "fixes" the rebuild issue.

D

[2018-07-23 22:56] Boscop commented on #5776
It also happens with every normal cargo build.
Here is an example that's not using cargo-web:
https://paste.rs/qJL
(Sorry that it's cut off, the whole output is 30mb, and for another build it's 371mb).

Can you please reopen this issue? :)

[2018-07-24 03:16] Ethan826 commented on #5775
No problem. Thanks for all the great work on my favorite programming language!

The problem does not occur if I disable that lint group. I have emailed you at your GitHub profile email address, as I'm happy to share some code with you but do not want to post it publicly.

[2018-07-24 03:19] Eh2406 commented on #5730
Ok so I have a branch with a new `build_target: Option<()>` peram on [`features`](https://github.com/rust-lang/cargo/blob/fc577df650c8191fb4ee80dcd43dac5644004d92/src/cargo/core/resolver/resolve.rs#L190-L198), and the 14 places where it is called are passing `None`. What Is next? What type goes in that arg, and what do we do with it? Next time I am awake I can start figuring it out. Presumably som

[2018-07-24 05:56] #5724 closed

[2018-07-24 08:02] gnzlbg opened #5780 "The cargo reference should mention how to control number of jobs via env"
The environment variables section of the cargo reference does not mention how to control the number of jobs for cargo via an environment variable. It should.

https://doc.rust-lang.org/cargo/reference/environment-variables.html

[2018-07-24 08:55] emoon commented on #5077
I'm having the exact same issue. In order to get this to work I have to do

[2018-07-24 10:40] dwijnand commented on #5743
Meta-interesting! I almost didn't post my comment because it didn't really have a conclusion. Because my take on it was more along the lines of "well if 19 existing tests fail, how many have I invalidated by doing this?", i.e should we really be doing this. I'm probably overly conservative (read: paranoid).

I'll try and make the suite pass locally and push my proposal for review.

[2018-07-24 14:07] dianpopa commented on #2684
Hi,

I am able to replicate this problem with `rustdoc 1.27.2 (58cc626de 2018-07-18)`
and `rustc 1.27.2 (58cc626de 2018-07-18)`. Running `cargo test --doc` exits without running documentation examples even though the folders that I am trying to run the command for are library crate-types. Any suggestions?

[2018-07-24 14:08] alexcrichton commented on #5730
@Eh2406 hm from this point I'm not really sure how this would be best done! I haven't thought through this too much myself but I'm fine reviewing any implementation! I suspect the first thing that sticks on the wall will be good enough :)

[2018-07-24 14:13] alexcrichton commented on #5776
That output looks like `RUST_LOG` is set for Cargo? Have you tried removing the env var?

[2018-07-24 15:07] alexcrichton commented on #5775
Ok thanks so much for the info! I've reduced this down to two separate issues (both with lints in rustc)

* https://github.com/rust-lang/rust/issues/52664
* https://github.com/rust-lang/rust/issues/52665

I'm gonna close this in favor of them, thanks again for taking the time to report this!

[2018-07-24 15:07] #5775 closed

[2018-07-24 15:09] alexcrichton opened #5781 "cargo fix: Can fixes be applied incrementally?"
Issues like https://github.com/rust-lang/cargo/issues/5775 keep cropping up where we have buggy lints in the compiler, and I don't think they'll ever stop unfortunately! Are there strategies that `cargo fix` can take to mitigate the impact of these bugs?

When I reduce test cases like https://github.com/rust-lang/cargo/issues/5775 I just manually apply all fixes until I get one that doesn't fail,

[2018-07-24 15:12] alexcrichton commented on #5743
Ok sounds good to me!

[2018-07-24 15:39] killercup commented on #5781
Interesting idea, @alexcrichton! We can probably approach this a few different ways, with increasing slowness of cargo-fix:

- Apply one lint type at a time and recompile in between
- Apply lints for a source file at a time and recompile in between
- Apply each suggestion one by one and recompile in between
- Additionally, we can also try to recognize the compilation failures rustc generates and a

[2018-07-24 15:42] alexcrichton commented on #5781
Yeah I think the third approach there is probably the best one. It'll take awhile but if we warn the user I think that's fine (and in general it's otherwise fast).

[2018-07-24 15:58] Eh2406 commented on #5730
@ehuss I know you have been working on different build args for different target like things. (sorry if I have the terminology wrong.) Do you have advice for me? Specificky is there existing systems/types I should be using/aware of for consistency with your work?

[2018-07-24 17:35] #5550 closed

[2018-07-24 17:39] ehuss commented on #5730
IIUC, the intent is to only fix this for the cross-compile case?  If that's correct, I don't think it would interact with the profile changes at all.  As Alex mentioned, it would probably need to build a map so that given a Unit it can return the correct set of features to use (looking at `kind` to determine if it is a build-dep and `pkg` to figure out which features).  Then in `build_base_args()`

[2018-07-24 17:55] Eh2406 commented on #5730
@ehuss That was very helpful! I am not very familiar with how anything but Resolve work, so that gives me somewhere to start. I can definitely do the inner Resolve side, I may bug you again to see if I got the outer part correct.

[2018-07-24 18:01] ehuss commented on #5730
Hm, but thinking about it more, `kind` by itself isn't enough to distinguish between a build-dep and other deps.  That's the part that I was thinking about before, it doesn't seem like `Unit` has enough information to differentiate them.  It could say `build_config.requested_target.is_some() && unit.kind==Host` to say it is a cross-compile build-dep, but that would be wrong for proc-macro and plug

[2018-07-24 19:29] seanmonstar opened #5783 "cargo fix prepare-for 2018 errors after due to 'async' identifier"
I tried out `cargo fix --prepare-for 2018` on hyper, and after it ran, it showed an error and claimed it was a bug in cargo or rustc, and to report it here. There is an identifier currently named `async` in a file, here: https://github.com/hyperium/hyper/blob/069a32b1acc5ece35643c26cf5d9972dace5481c/src/body/body.rs#L268

In this specific case, it would have been fine to just renamed that binding

[2018-07-24 19:41] alexwlchan commented on #5638
@Eh2406 I haven’t started working on it yet; I read this bit:

and decided I’d wait until I got the definitive okay, and since it never came, the emails languished in my inbox.

[2018-07-24 19:51] Eh2406 commented on #5638
I am sorry for that. Let me see if I can get there attenchen. @rust-lang/cargo recommendation on how to resolve this issue, are the proposed solutions exeptibal?

[2018-07-24 19:52] alexwlchan commented on #5638
No worries, no rush, I just didn’t want to sink a bunch of time without knowing if I was doing the right thing. :-)

[2018-07-24 20:45] Nemo157 commented on #5783
Just hit this right now with [`websocket::async`](https://docs.rs/websocket/0.20.3/websocket/async/index.html) as well. It seems doing an unconditional replacement to `r#async` should work, the lint should only be triggered on identifiers so won't affect `async fn`, and `async` blocks don't exist in 2015.

[2018-07-24 21:08] Centril opened #5784 "Allow setting `edition = "2018"` in a workspace"
For larger projects, it could be useful to set the edition once instead of in each project's `Cargo.toml` file. This would then be equivalent to setting the edition key in every member project in the workspace.

Currently, the edition key is ignored instead: https://github.com/rust-lang/cargo/pull/5726

See also: https://github.com/rust-lang-nursery/edition-guide/issues/45

[2018-07-24 21:14] ExpHP opened #5785 "cargo fix: "Cannot replace slice of data that was already replaced""
[Source code](https://github.com/rust-lang/cargo/files/2225462/rsp2-test-case.tar.gz)

Instructions in `README.md`.

---

<details>
<summary>cargo fix output</summary>

[code]

</details>

---

Also, if you are interested, the first commit `e718f5bc1` contains an example of the second issue mentioned in [this post](https://internals.rust-lang.org/t/help-test-out-the-2018-module-system-changes/8047

[2018-07-24 21:20] #5743 closed

[2018-07-24 21:35] mbrubeck commented on #4423
The workaround also works for cases where rustflags *are* applied, e.g.

[code]

The fact that there's no way to set rustflags for release builds only is a separate issue, as you note, but the workaround prevents rebuilds whether you hit that bug or not.

[2018-07-24 22:47] dwijnand commented on #5784
Like #5661, but _less_ granular 🙂.

(I mention it also because one might want to tackle these in one swing.)

[2018-07-25 00:34] Boscop opened #5788 "How to `cargo clean` only a sub crate of a workspace?"
How to `cargo clean` only a sub crate of a workspace?
I tried `cargo clean -p cratename` but it didn't work..

I wanted to run clippy on the subcrate without having to clean & rebuild the main crate because rebuilding takes hours. But clippy just said `Finished dev [optimized + debuginfo] target(s) in 7.01s` but it didn't say "compiling ...", so I want to clean only the sub crate.

[2018-07-25 00:45] Boscop commented on #5776
With `Remove-Variable`? It doesn't work because the var is not set:
[code]

Btw, I'm using the default Git-Shell (powershell) from GitHub Desktop for Windows.

[2018-07-25 00:47] Boscop commented on #5776
Btw, `gci env:` also doesn't list `RUST_LOG`, only
[code]

[2018-07-25 00:49] Boscop commented on #4423
Ah yes, originally I wanted to use those rust flags only for release, but I guess it's ok if they are also used for debug, but do they make the build take longer?

But for this use case I'd prefer to build my release build into `target/release` instead of a different folder and I had a `justfile` for post build packaging anyway so I'm keeping the env var solution for now.
(But I'm keeping the work

[2018-07-25 01:10] ehuss commented on #5788
It should work.  Can you say more about what happened?

In particular for `check`, you should see this:
1. Notice `target/debug/deps/libNAME-*.rmeta` exists from previous `check` runs.
2. Run `cargo clean -p NAME`.
3. Check if `target/debug/deps/libNAME-*.rmeta` has been removed.
4. Running `cargo check -p NAME` should re-check the `NAME` package and regenerate the rmeta file.

[2018-07-25 03:45] Boscop commented on #5788
Why `check`? I'm talking about `clean` :)

[2018-07-25 04:01] ehuss commented on #5788
Oh...some reason my brain translated `clippy` to `check` (they use similar mechanisms underneath).  Just substitute the word "clippy" for "check", it's the same (they both generate rmeta files).

Are you using "cargo clippy" from the command-line?  Or maybe using the new integrated rls support?

[2018-07-25 08:07] dwijnand commented on #5739
Another disadvantage (from my perspective, unless I'm mistaken) is that it makes it irregular with, say, `build`.

[2018-07-25 09:34] matklad commented on #5745
What we do in IntelliJ is that we use an external DSL of sorts to define a directory structure using only a single string literal. In rustfmted Rust this might look like this:

[code]

internally, this'll split on `//- \w*` separators and desugar into the builder calls.

There's also an observation that `Cargo.toml` is spelled with minor variations in every test, and that it might seem like a good

[2018-07-25 09:50] dwijnand commented on #5745
Thanks @matklad! It's great to have examples from other projects.

Could you expand more from your experience why everything spelt out is usually better?

While I agree that some restraint should be applied in not over-generalising, I also think it's important for tests to be readable and reviewable.

By the way some degree of "spelt out fully explicitly" has been removed with https://github.com/r

[2018-07-25 10:10] Nemo157 opened #5792 "Renamed dependencies don't appear to be available when compiling doc-tests"
### Setup
#### `Cargo.toml`

[code]

#### `src/lib.rs`

[code]

### Error

[code]

### Versions

[code]

(CC #5653)

[2018-07-25 10:43] matklad commented on #5745
Sure! First of all I'd like to clarify that I don't have a too strong opinion about this, either approach is good! Here are some rough thoughts about why duplicating test data (as opposed to test code) is, surprisingly, not bad:

* we have strict backwards-compatibility requirements, and this guarantees that we will not have to modify the data in the future, so abstraction does not save maintenanc

[2018-07-25 11:14] matklad commented on #5745
OTOH, #5782 deletes quite a bunch of code! :)

So, what about this?

* We change `fn project` signature to `fn project(project_descr: &str) -> Project`, where `project_descr` is the `//- path` DSL. It internally uses `ProjectBuilder`, which can also be used directly for a cases where you want to dynamically generate a project (if we have such tests).

* the DSL also supports `//- default_project`

[2018-07-25 11:45] matklad commented on #5745
That one feels like it's kind of on the borderline for me :) I think we can save about as many lines by removing `authors = []` which isn't required and by writing code such that `rustfmt` does not add so many empty lines (the only way to do that I know though is that project DLS trick). What's left are `[package]`, `name` and `version` words, which more or less correspond to the name of the funct

[2018-07-25 12:09] bocc commented on #636
I also have an issue related to this: corporate proxy requires authentication, so if I set up the https_proxy env variable with user@host format, it gets back a 407 - authentication failed. If I supply my password, it works, but naturally I want to avoid that if possible. Is there a way make cargo/rustup prompt for the proxy password?

[2018-07-25 13:07] dwijnand commented on #5745
I think there's value in reducing vertical verbosity. The proposal in #5787 is 1 line per basic manifest. If my counting is right in the DSL you describe it would be ~5 lines per manifest (`//- Cargo.toml`, `[package]`, `name = ".."`, `version = ".."`, and a blank line separator). That's certainly better than the 9(!) lines it is right now. 😄

Another idea I wanted to run by you (and the rest of t

[2018-07-25 15:17] Eh2406 commented on #5657
This is a list of foundational crates with versions that do not build on modern rust. Purging these from tomls is the "startup cost" of getting `minimal-versions` working. This is in a format that can be copied into a tomls to fix each dep.

- `winapi = "0.2.7"`
- `libc = "0.1.x" dont know x yet`
- `log = "0.3.4"`

I will keep this up to date as I find more, and one day make a `working-with-minima

[2018-07-25 15:23] Nemo157 commented on #5792
Looking into the verbose output I see `--extern old_futures=<rlib>` when doing the normal build, but `--extern futures=<rlib>` when calling rustdoc.

[2018-07-25 16:42] Eh2406 commented on #5657
So @dwijnand asked me to write up how do figure out what to do when a `minimal-versions` CI job fails.

So hear gose.
1. Reproduce locally. This involves checking out the branch and running what the CI job does. IntelliJ and RLS has a habit of updating a lock (without `-Z minimal-versions`) file on Cargo.toml change, So just to be safe I tend to close my editer when investigating.
2. Identify the

[2018-07-25 18:45] LukasKalbertodt commented on #5766
@alexcrichton I have a question. So I started working on this and already spotted the place where most changes are necessary: `src/cargo/util/toml/*` in particular `targets.rs`. I tried to understand what this file is doing ... which wasn't trivial thanks to the almost complete lack of comments. So I thought: when I have to invest the time to understand all of this anyway, I can write down my know

[2018-07-25 21:18] alexcrichton commented on #5776
You may want to investigate how that env var can be getting set though? These log lines look exactly like the env var was set

[2018-07-25 21:49] alexcrichton commented on #636
@bocc unfortunately Cargo doesn't support prompting for a password right now, it needs to be configured somehow to be stored via other means (like @minecrawler is mentioning I believe)

[2018-07-25 21:52] alexcrichton commented on #5745
The DSL @matklad is mentioning sounds like a great idea to me! I hadn't thought of that before and it sounds like a great way (even if not the exact syntax) to cut down on the wordiness without losing too much information.

I agree with @matklad that we don't want to make things too magical, but I agree with @dwijnand that the changes so far I think have been pretty good in that Cargo.toml stuff i

[2018-07-25 22:18] dwijnand commented on #5745
@matklad This issue will close with #5791 landing.

But I'm going to have a try at implementing your idea. I'm just going to look at https://github.com/rust-lang/cargo/issues/5742 first, as I've been thinking about it.

[2018-07-25 22:19] matklad commented on #5745
Excellent @dwijnand! Thank you so much for looking into this!

[2018-07-25 23:10] #5745 closed

[2018-07-26 00:17] alexcrichton commented on #5783
Thanks for the report @seanmonstar and @Nemo157!

It looks like this may be a bug in the lint and/or compiler. To confirm, if you place `#![feature(raw_identifiers)]` at the top of the crate, does the migration succeed?

If so, I'll fix this in rustc. If not, there's more digging to do!

[2018-07-26 00:20] alexcrichton commented on #5785
Thanks for the report! I think this should be fixed by https://github.com/rust-lang-nursery/rustfix/pull/131 although it hasn't made its way into Cargo yet. I'll work on doing that and then swing back here to confirm this is fixed.

[2018-07-26 01:08] alexcrichton commented on #5766
Fixes, cleanup, and documentation are all more than welcome! I know @matklad may have some thoughts about this module, but IIRC it's historically a relatively unloved module that would definitely appreciate some love

[2018-07-26 02:02] sorenmortensen commented on #2684
+1 on 1.27.0 and 1.27.2.

[2018-07-26 02:05] #5792 closed

[2018-07-26 02:15] ehuss commented on #2684
@dianpopa Can you post an example package that demonstrates the problem?

@sorenmortensen `cargo test` should run the doc tests.  Is cargo not even printing `Doc-tests my-package`?  Does it happen with a simple package with just a library?

[2018-07-26 02:28] jtgeibel opened #5795 "cargo fix: Paths in attributes aren't automatically converted"
While trying out `cargo fix` I ran into the following scenario that isn't automatically converted.  On the most recent nightly `cargo 1.29.0-nightly (506eea76e 2018-07-17)`, the serde attribute on the struct below isn't converted and causes the automated rewrite to bail on the affected file.  I don't necessarily expect it to be able to fix this code, but it was difficult to determine what this iss

[2018-07-26 02:30] sorenmortensen commented on #2684
@ehuss That's correct, it doesn't even print `Doc-tests foo`. I did just create a simple library package, though, and haven't been able to reproduce it yet. Will keep trying.

[2018-07-26 02:38] sorenmortensen commented on #2684
I believe I've found the culprit. It's because I've set the `crate-type` in `Cargo.toml`. I'm using `crate-type = ["staticlib"]`, but I can reproduce this also with `"dylib"`. Should I open a new issue, as this seems to be different?

[Here](https://github.com/sorenmortensen/doc-tests-example) is a minimal example that reproduces the problem.

[2018-07-26 03:02] ehuss commented on #2684
@sorenmortensen Thanks for the info.  Only `rlib`s support doctests.  It was an unintentional change to allow you to even try with `test --doc`.  I'll take care of that, thanks!

[2018-07-26 03:08] glandium opened #5796 "LD_LIBRARY_PATH contains an empty entry during build"
Originally filed as https://github.com/rust-lang/rust/issues/52693 but as far as I can tell, this is actually cargo's doing:

I was looking at the output of `x.py` with `-vv` for $reasons, and noticed that commands run with `LD_LIBRARY_PATH` set to multiple paths, separated with a colon, which is normal, but the last character is a colon, which effectively adds the current working directory in the

[2018-07-26 03:09] jtgeibel opened #5797 "cargo fix: Adjusting a path in a turbofish doesn't work when also adjusting the outer path"
The following example code is not automatically fixed on the most recent nightly (`cargo 1.29.0-nightly (506eea76e 2018-07-17)`).

The issue only occurs when both the outer path and the path inside the turbofish need to be adjusted.

### Code

[code]

### Output

[code]

### Manual patches

Either of the following patches allows `cargo fix` to prefix both (now decoupled) paths with `crate` and exi

[2018-07-26 03:26] ExpHP opened #5798 "cargo fix - failure with failure"
cc @alexcrichton

---

[code]

A complete source tree: [failure-test-case.tar.gz](https://github.com/rust-lang/cargo/files/2230348/failure-test-case.tar.gz)
(**Edit:** I edited and broke the link because I was confused.  Restored the proper link.)

I really don't think there is much that can be done about this one.  `cargo fix` fixes the path to `crate::module::Thing`, then `failure` panics becaus

[2018-07-26 03:26] ExpHP opened #5799 "cargo fix - failure with Deserialize"
cc @alexcrichton

---

[code]

A complete source tree: [deserialize-test-case.tar.gz](https://github.com/rust-lang/cargo/files/2230326/deserialize-test-case.tar.gz)

This test case will be "magically" fixed when the additions to the `proc-macro` crate wrapped by `proc-macro2` become stable.

---

<details>
<summary>Output</summary>

[code]

</details>

Tested on rustc 1.29.0-nightly (6a1c0637c 201

[2018-07-26 04:06] Eh2406 commented on #5656
That is an excellent read. Thank you for writing this up so articulately. I especially liked the paragraph of:

That sounds like the tradeoff bending I know and love from the rust ethic. I.E. a careful and pedantic system to ensure you are correct but with a large pit of success to make it usable. It also involves the most design work, so it may not be feasible.

In our earlier discussion today yo

[2018-07-26 06:51] matklad commented on #5766
Yes, we love rewrites for readability! I would be especially thrilled if the `targets.rs` module could be simplified: it's a shame to spend 700 lines of code on something which in theory should be relatively uninvolved. The major reason for this complexity is backwards compatibility: Cargo used to accept pretty random things as crates, and the code goes to the great lengths to preserve that. This

[2018-07-26 08:18] glandium opened #5805 "Vendored crates should be checked for changes"
I was building Firefox, and tried to do some changes to some rust crate. Doing so made the build fail with something like
[code]

That's an IMO annoying feature of cargo, but this is not what this issue is about. The problem is the following: if I actually build the crate first, and **then** make the changes, rebuilding just goes on acting as if I had made no change, saying `Fresh $crate_name`.

I

[2018-07-26 08:22] glandium opened #5806 "Cargo isn't consistent wrt "automatic" files and vendoring"
Say you have a crate vendored. That crate doesn't have a build script. Now, there are two ways to add a build script. One involves adding an entry to Cargo.toml, which fails because of the checksum change in Cargo.toml, and another is to just add a `build.rs` file.

The latter silently succeeds (and yes, the build script is built and run).

Or is silently ignored if the crate was already built tha

[2018-07-26 08:52] dianpopa commented on #2684
I discovered what was the problem for me. If I remove ```x86_64-unknown-linux-musl``` target from `.cargo/config` I am able to see the `Doc-tests` being run. I am compiling on an x86 machine. If I keep the musl target and I specifically run cargo test like ```cargo test --target x86_64-unknown-linux-gnu``` the `Doc-tests` are successfully run. I am guessing I stumbled upon https://github.com/rust-

[2018-07-26 09:21] Nemo157 commented on #5783
@alexcrichton `#![feature(raw_identifiers)]` worked, it updated the import to `r#async` and `cargo fix` didn't report any errors.

[2018-07-26 09:35] Nemo157 commented on #5656
There's also the https://crate-ci.github.io/ project (cc @epage). Maybe the Cargo Guide could have a small CI best practices section and link out to a larger exploration of the area like this?

[2018-07-26 12:14] withoutboats commented on #5656
The important difference with lock files is that you once you have one you should have a successful build, and because it was generated using max versions, it will not run into the too low min version problem. Ceiling'd constraints are a problem because they influence version resolution, whereas the lockfile is after version resolution.

You do identify exactly where a problem can arise, though: `

[2018-07-26 13:45] Boscop commented on #5776
Yes, but how can I investigate this further? :)

[2018-07-26 15:02] ehuss commented on #2684
@dianpopa I suggest you add your use case on rust-lang/rust#44404.  Unfortunately I suspect it's not easy to fix, but collecting feedback might help.

[2018-07-26 15:18] dthul opened #5808 ""cargo fix" produces an error message and fails to apply the suggested fixes to the file"
I used `cargo fix` to transition my project to Rust 2018 and noticed that one of my source files made it error out so I extracted the following minimal example:

Cargo.toml
[code]

lib.rs
[code]

`cargo fix` tries to replace `fun(&self, py: Python)` with `fun(&self, _py: Python)` but fails with the following output:

[code]

It does _not_ fail when removing the `__new__` method and its `#[new]` an

[2018-07-26 17:04] Eh2406 commented on #4810
Move to close? do to #5213.

[2018-07-26 17:05] Eh2406 commented on #4066
@dwijnand want to pick this one off next :-)

[2018-07-26 17:06] alexcrichton commented on #4810
Definitely!

[2018-07-26 17:06] #4810 closed

[2018-07-26 17:18] alexcrichton commented on #5783
Ok great, thanks for checking @Nemo157!

[2018-07-26 17:31] alexcrichton commented on #5776
Sorry I don't know much about powershell/windows shells, and am pretty overloaded right now

[2018-07-26 18:40] dwijnand commented on #4066
Alright, I'll have a go.

[2018-07-26 20:39] alexcrichton commented on #5753
I agree yeah that this should use the name `dalek` for the feature, and this should be fixed in https://github.com/rust-lang/cargo/pull/5811

[2018-07-26 21:04] alexcrichton commented on #5798
Thanks for the report!

The bug here looks like it's because `failure` doesn't understand the `crate::foo` syntax. In that sense it's a bug that we say this is a bug, because it's not really a bug in cargo-fix at all! We're sort of just pessimistically taking the blame for this.

There's not much that `cargo fix` can do here about this, although I agree that `failure 0.1.2` should solve the issue!

[2018-07-26 21:05] alexcrichton commented on #5798
I also want to thank you for a minimal test case here, it's incredibly helpful!

[2018-07-26 21:08] alexcrichton commented on #5799
Thanks for the report! Unfortunately this is a case that won't be fixed with an update to various crates, the issue here is:

* First, the `::module::Thing` path should be using a `crate`-relative path, and rustc warns about this with a correct suggestion.
* Next, presumably somewhere in the generated code of `#[derive(Deserialize)]`, it *also* mentions the path the user has written down, as `::mo

[2018-07-26 21:10] alexcrichton commented on #5798
Unfortunately I'm not sure if there's much action we can take on this issue though in cargo-fix or rustc itself :(

[2018-07-26 21:18] ExpHP commented on #5798
I guess the "fix" here if the cargo team really wants to ensure a smooth transition, is to start making PRs to popular proc macro crates to make sure their dependencies are up to date.

In the case of `failure` it may be a bit tricky.  The 0.1.2 on master is a shim around 1.0.0, but the 1.0.0 release is in limbo.

[2018-07-26 21:31] alexcrichton commented on #5798
Definitely! I've make sure this comes up during triage so we can continue to prioritize fixing the specific case of the `failure` crate, and that's an immediately actionable item to take away from this, although it doesn't necessarily mean this should be closed out when done

[2018-07-26 21:37] alexcrichton opened #5813 "cargo-fix: Overlapping suggestions should be discarded and cargo-fix rerun."
Bugs like https://github.com/rust-lang/cargo/issues/5797 show a case where *legitimate* suggestions are provided but are overlapping.

We should probably discard overlapping suggestions in `cargo fix` and then automatically rerun the compiler if any suggestions were discarded (up to a maximum).

[2018-07-26 22:12] alexcrichton commented on #5781
Hm ok I'm going to close this because upon further reflection I'm not sure there's anything we can do about this. The specific motivation of `unreachable_pub` is particularly thorny, but we can remain vigilant for opportunities like this.

[2018-07-26 22:12] #5781 closed

[2018-07-26 22:13] alexcrichton commented on #5795
Thanks for the report! I believe this is the same issue as https://github.com/rust-lang/cargo/issues/5799#issuecomment-408235805 where `cargo fix` is erroneously attempting to fix what it should not.

I believe this message should be fixed by https://github.com/rust-lang/rust/pull/52756

[2018-07-26 22:14] alexcrichton commented on #5795
For now though I'm going to close in favor of https://github.com/rust-lang/cargo/issues/5799 which I believe is basically the same as this

[2018-07-26 22:14] #5795 closed

[2018-07-26 22:15] alexcrichton commented on #5797
Thanks for the report! I've split this into https://github.com/rust-lang/rust/issues/52754 and https://github.com/rust-lang/cargo/issues/5813, so I'm going to close this in favor of those issues.

[2018-07-26 22:15] #5797 closed

[2018-07-26 22:23] jtgeibel commented on #5797
Thanks! It looks to me like those 2 issues would cover this upstream and as a workaround.

[2018-07-26 22:28] #5808 closed, assigned to nobody

[2018-07-26 23:01] alexcrichton commented on #5813
@killercup I'm curious on your thoughts on this, I'm wondering if we may want to tweak the API of rustfix to accomodate something like this? Right now we give a list of suggestions to rustfix to apply to a file, but it either fails everything or succeeds entirely. I wonder if perhaps we should allow it to "partially succeed"? (returning the failed-to-apply fixes)

I think if we did that Cargo coul

[2018-07-26 23:05] alexcrichton commented on #5796
I think the bug here is actually these lines --

https://github.com/rust-lang/rust/blob/45b48b9b6d70065a16cc119fe934ed342c664c78/src/bootstrap/bootstrap.py#L613-L621

Mind poking at those and seeing if it fixes the issue? If so mind refiling at rust-lang/rust? (or I can reopen the previous bug)

[2018-07-26 23:19] alexcrichton commented on #5805
This is currently expected behavior in that Cargo treats vendored crates like it does crates.io, it doesn't check any mtimes as it assumes it's all read-only. It is a performance optimization to not even look at the filesystem for these crates on incremental builds.

The correct way to modify a vendored crate is to use `[patch]` or a `path` dependency, and Cargo will then correctly handle the crat

[2018-07-26 23:20] alexcrichton commented on #5806
Yeah this isn't a great feature, but the checksum file is largely intended to be a roadblock to modifying vendored crates (instead nudging towards the correct way of doing so, `[patch]` and `path` dependencies). It wasn't ever designed to be a bulletproof solution

[2018-07-26 23:23] glandium commented on #5796
I tried that already, and this didn't change anything. Which is why I moved it here.

[2018-07-27 03:51] #3726 closed

[2018-07-27 08:09] dwijnand commented on #4066
Ok, I've tried about 4-5 different reproduction in or linked to here and everything's either succeeded or failed fast. 😄 Probably due to the related fixed that have landed.

Does anyone have a reproduction that fails with recent cargo?

[2018-07-27 10:31] killercup commented on #5813
Interesting! Having rustfix return a "partial success" (with a vec of failed-to-apply) suggestions sounds like a good way, as it also make the library a bit more useful.

An alternative might be to implement part of #5781: Match on the error returned by rustfix, and when it's "Cannot replace already replaced data" (we should make this a concrete error type), then have cargo-fix try to apply only s

[2018-07-27 13:56] Eh2406 commented on #4066
Sorry, I should have clarified that. I don't know of any that are currently slow. I think I have gone thru every bug report to look for them, I was unable to reproduce or have fixed the resolver for each. (Mostly by reading up on suggestions made in hear.) Then I spent several days [fuzzing to find them](https://gist.github.com/Eh2406/91dc9bed999bf3d1ec64cfb6f98d62c9), nothing over 40 second and t

[2018-07-27 14:07] dwijnand commented on #4066
Ah, right, I see! I'll have a look at those tests and try and work off those. Thanks for the info.

[2018-07-27 14:19] breeswish commented on #1430
This would be a really nice feature. Currently my solution is to split library and binary into different workspaces manually. However it makes the directory structure more complex.

[2018-07-27 14:32] ehuss commented on #5813
Would it be possible for rustfix to be able to apply overlapping suggestions?

[2018-07-27 14:42] killercup commented on #5813
@ehuss I'm not sure how you mean? The comments above describe a way how it can deal with overlapping suggestions :)

#5797 describes a case where the compiler tells rustfix to change `::generic_return::<::B>();` to `crate::generic_return::<::B>` but also to change the `::B` part to `crate::B`. Without teaching it Rust's semantics, rustfix can't guess which fix to do first or even whether the `::B`

[2018-07-27 15:40] alexcrichton commented on #5068
Added in https://github.com/rust-lang/cargo/pull/5614!

[2018-07-27 16:03] golddranks commented on #2644
I had a need for this feature today for pre-building a docker image cache. The trick to `cargo init` a fresh project and reusing only one's `Cargo.toml` _almost_ worked, but I have a build.rs script, so I had to make a stub build.rs file too. It would be easier to have a "standard" way of downloading and building the deps that doesn't depend on the particulars of your build and handles your corner

[2018-07-27 16:05] ehuss commented on #5813
Oh, I meant apply them all in one step instead of iteratively testing the changes.  I was just thinking it would use a heuristic like apply outer changes first, then inner ones (that at least works in my editor for that particular example).  But I see what you mean, as a general solution that probably would cause problems.

[2018-07-27 16:33] breeswish opened #5815 "Package library is rebuilt when build.rs changes a file that library does not depend on"
I have a project which layout is similar to the following:

[code]

There is a lib, a bin depends on the lib and also some benchmarks in `benches` directory which depend on the lib as well.

The build script writes build time to a file, which is later included in the bin as the output:

build.rs:

[code]

sample_bin.rs:

[code]

The lib does not depend on `build-info.txt`:

[code]

Now I'm writing

[2018-07-27 23:30] nwoeanhinnogaehr commented on #5813
Here's a minimal test case I came across (pretty sure this is the same issue?):

[code]

[2018-07-27 23:41] alexcrichton commented on #5813
@nwoeanhinnogaehr that's not quite the same issue, but it's definitely an issue! Want to open an issue on rust-lang/rust for that? That's one which should be fixed at the lint level

[2018-07-27 23:43] alexcrichton commented on #5813
@killercup oh sorry didn't see this until now, but sounds good to me! I think we'll just need to add an API to the `rustfix` crate to apply one suggestion at a time, right? (right now it takes a vector so we don't know which caused an error)

[2018-07-27 23:52] alexcrichton opened #5817 "Crate graph resolution on parity-wasm with a lockfile is noticeably slow"
Following https://github.com/alexcrichton/cargo-vendor/issues/89 I cloned the parity-ethereum repository and ran `cargo build`, but on subsequent tries, much to my surprise, it took a noticeably long time for Cargo to start printing "Compiling ..."!

This typically means that Cargo is spending too long in crate graph resolution, although it could be other things! Very unscientific testing shows ~.

[2018-07-28 00:20] Eh2406 commented on #5817
Thanks for the cc, I am happy to help. The next step IMO is to run the problematic invocation in a profiler perf/wpr and see where we are spending the time. I can't promise when I can get to reproducing hear.

[2018-07-28 02:10] ehuss commented on #5817
I took a quick look.  It looks like there is a massive slowdown starting in 1.27.  I don't think it is graph resolution, which is not significantly different.  Things like `build_unit_dependencies` have had a huge increase in time (going from almost 0% to ~15% of the total time before first `Compiling`).  I would guess it's the introduction of `Profile` to `Unit`, which I worried was a little heav

[2018-07-28 06:58] theotherphil opened #5818 "Issue running cargo fix"
On the imageproc crate https://github.com/PistonDevelopers/imageproc

Creating an issue because the build log told me to:

[code]

[2018-07-28 11:54] Bert-Proesmans opened #5819 "workspace cargo build --bin [target] error"
Building a specific bin target with cargo from a workspace root does not work.

I tried this:
- Have a cargo workspace with two library crates
- Both crates have autobins = false, but one crate has a manual [[bin]] entry
- Try to compile the specific bin from the workspace root; cargo build --bin [target]

I expected to see this happen: The binary target gets built.
Because the test-subcommand wor

[2018-07-28 16:43] alexcrichton commented on #5818
Thanks so much for the report! Looking at the output here I believe this is a duplicate of https://github.com/rust-lang/cargo/issues/5785 which should be fixed by https://github.com/rust-lang/rust/pull/52720 once it's in nightly.

I'm gonna close this for now, but thanks for filing the bug regardless!

[2018-07-28 16:43] #5818 closed

[2018-07-28 17:31] donbright opened #5821 "crates-io version is 0.18.0 but max in https://crates.io/crates/crates-io is 0.16.0"
in Cargo.tml the crates-io version is 0.18.0

however the index https://github.com/rust-lang/crates.io-index/blob/master/cr/at/crates-io shows only 0.16.0 (as does crates.io)

this breaks 3rd party tool https://github.com/dhuseby/cargo-bootstrap

thanks

[2018-07-28 17:36] kornelski opened #5822 "It's hard to find options in the manifest reference doc"
[The manifest documentation page](https://doc.rust-lang.org/cargo/reference/manifest.html) has grown rather large.

To find documentation about particular section or property I have to search within the page, but that's not always convenient as the keywords are mentioned in many places.

Mdbook's table of contents isn't helpful either, because it only has a single entry for the whole page and does

[2018-07-28 18:58] ehuss commented on #5655
Is it intentional that offline mode will fail if an optional dependency is missing?  It seems like it shouldn't because in online mode it doesn't fetch anything (AFAIK).

Example:
[code]
[code]

[2018-07-28 19:03] ehuss commented on #5817
I did some rough measurements of time-to-first-compile.

Version | Time
------- | ----
1.21 | 5.97s +/- 0.769 (!!!)
1.22 | 0.48s +/- 0.023
1.23 | 0.49s +/- 0.024
1.24 | 0.47s +/- 0.036
1.25 | 0.49s +/- 0.026
1.26 | 0.50s +/- 0.024
Just before Profiles(3b14988d423b1858252ee05c5395abd035bbea5f) | 0.54s +/- 0.080
Profiles (c24a09772c2c1cb315970dbc721f2a42d4515f21) | 0.60s +/- 0.025
1.27-stable | 0.62

[2018-07-28 19:52] dekellum opened #5823 "No git repo found on windows (only) for package_verbose test"
This was discovered with testing for #5786. See that discussion. At present on master, the package::package_verbose test is not engaging, on windows only, the `check_not_dirty` function of `cargo_package` for a sub-package, even though the sub-package *is* in a git repo.  On other platforms the (parent) repo is found and the dirty check occurs.

[2018-07-28 19:52] dekellum commented on #5823
Assign to @dekellum.

[2018-07-28 20:12] dekellum commented on #5823
Wondering if this relates to alexcrichton/git2-rs#334

[2018-07-28 20:30] alexcrichton commented on #5655
@ehuss currently, yes, unfortunately. That's because lockfile generation requires the assumption that all possible features are enabled. Generating a lockfile *without* optional features is covered by https://github.com/rust-lang/cargo/issues/5133

[2018-07-28 20:34] alexcrichton commented on #5817
Thanks for digging in @ehuss! My profile attempts on OSX didn't show the profile bits as being too much time, but I primarily saw:

<img width="1396" alt="screen shot 2018-07-28 at 1 33 07 pm" src="https://user-images.githubusercontent.com/64996/43360481-ca95b742-926a-11e8-811a-ea07bd9ceed3.png">

I think the largest time here is basically spent in loading crates from the registry, which isn't unc

[2018-07-28 21:25] lukaslueg opened #5825 "Cargo uses the target-triplet, should be host-triplet, to compile `proc-macro`"
Coming over from https://github.com/rust-lang/rust/issues/52707

tl;dr: Cargo fails to compile a crate with a dependency on `proc_macro` for wasm32. @eddyb suggested that the underlying problem is not with rustc but cargo using the target-triplet to compile `proc-macro`, while it should be using the host-triplet.

`proc-macro` is missing from the distribution for wasm32:

    $ ls ~/.rustup/toolch

[2018-07-28 21:32] matthiaskrgr opened #5826 "fails to update crates.toml after updating installed git package"
The package is out of date according to ````cargo install-update````
[code]
crates.toml:
[code]
I manually updated it
```` cargo install --git https://github.com/rust-lang-nursery/rustup.rs````
[code]

however the new git hash is not updated in crates.toml:
[code]

Wasn't that just fixed a month ago or so?

[code]

[2018-07-28 21:34] eddyb commented on #5825
Wait, you're using `cargo build` on the proc macro crate? I thought proc macro crates could only be built *as dependencies* of regular crates, otherwise Cargo *can't tell* it needs to build for the host.

That's not useful for *actual proc macros*, but I might be misunderstanding your usecase. `proc_macro` *doesn't work* (will panic) outside of macro expansion, and unless `proc_macro2` does anythi

[2018-07-28 21:39] johnthagen commented on #5778
Wanted to share anecdotal support for this feature. When I was doing a [transition of a crate](https://internals.rust-lang.org/t/help-test-out-the-2018-module-system-changes/8047/19?u=johnthagen), it was very natural to up-arrow in the terminal and pull down my first `cargo fix --prepare-for 2018 ...` command even after I added the edition to my `Cargo.toml`. I'd expect others to make this small m

[2018-07-28 21:43] Eh2406 commented on #5817
Note that going from ~.50s -> ~0.6s is consistent with spending ~15% in `build_unit_dependencies`. And consistent with finding that we are spending most of our time in parsing the registry.

Not that I know how to make it faster.

[2018-07-28 22:05] alexcrichton commented on #5825
Yes as mentioned by @eddyb this sequence of steps isn't a bug in Cargo, but you can try [turning off the `proc-macro` feature](https://github.com/alexcrichton/proc-macro2/blob/master/Cargo.toml#L34-L35) of `proc-macro2` to get this working.

[2018-07-28 22:05] #5825 closed

[2018-07-28 22:06] alexcrichton commented on #5778
Yes currently I'm not sure if we've got the best ergonomics. Another option would be to issue a warning and keep going (without the lint group), but that runs *more* risk of causing hundreds of errors I think than the annoyance of tweaking arguments.

[2018-07-28 23:11] cramertj opened #5827 "cargo fix won't fix double-error of crate renamed to reserved identier"
This is particularly pathological and might be to the point of "wontfix", but in fuchsia prior to edition 2018 we had a crate called "fuchsia_async" that we would commonly import as "extern crate fuchsia_async as async;", and could then use from other files in the same crate as "async::...". `cargo fix` fails on these examples. I'd expect it to do something like `async::T` -> `r#async::T` -> `crat

[2018-07-28 23:40] johnthagen commented on #5778
Yeah, I feel like shooting for a "fail-fast" error in this case with a good message would be the best IMO.

[2018-07-29 05:30] alexcrichton commented on #5661
@dtolnay your [exact PR to bitflags](https://github.com/bitflags/bitflags/pull/167) is actually what [@dwijnand's PR](https://github.com/rust-lang/cargo/pull/5816) is enabling.

"Targets" in Cargo are basically the same thing as "rustc invocations" or crates, so things like unit tests, libraries, binaries, examples, unit tests for librararies, etc, are all different targets.

[2018-07-29 10:50] matthiaskrgr commented on #5826
Previous ticket: https://github.com/rust-lang/cargo/issues/4582
Previous fix PR: https://github.com/rust-lang/cargo/pull/5564

[2018-07-29 11:02] matthiaskrgr commented on #5826
Ok this seems to be tied to rustup git in some strange way, I was able to update alacritty git and the crates.toml was updated properly.
I also noticed that cargo did not ask for ````--force```` when "reinstalling" the crate which seems suspicious to me, reinstalling with --force did not make a difference though.

[2018-07-29 12:16] lukaslueg commented on #5825
I've reopened the bug with `cargo-web`, yet after some investigation, I suspect this is still a problem with cargo:

* The target is `wasm32-unknown-unknown`, using `cargo-web` to build (should be irrelevant actually)
* The main crate has a dependency on `stdweb = "0.4"`, which in turn has an internal `proc-macro=true` crate.
* The main crate also has a dependency on `proc-macro2 = { version = "0.

[2018-07-29 12:28] johnthagen opened #5829 "cargo fix: Remove `extern crate` when migrating to Rust 2018"
It's been mentioned/requested multiple times on the [internals thread](https://internals.rust-lang.org/t/help-test-out-the-2018-module-system-changes/8047/21?u=johnthagen) that `cargo fix` should remove the `extern crate` statements when moving to Rust 2018.

# Motivation

One of the big draws of Rust 2018's module system is that all of the "redundant" `extern crate` lines can finally be removed.

[2018-07-29 13:57] matthiaskrgr commented on #3289
I made a small plugin that prints cache size and can clean out different parts of it, feel free to try it out:
https://github.com/matthiaskrgr/cargo-cache

[2018-07-29 15:51] alexcrichton commented on #5825
@lukaslueg I think the best solution here is to just fix `proc-macro2` itself, disabling linking to `proc_macro` on platforms that are known to not have it, like wasm.

[2018-07-29 15:59] matthiaskrgr commented on #5826
I tried to play around a bit more, is there a way to install a git crate via --git without pushing it to the internet?

````cargo install --git /tmp/aa```` does not seem to work ````error: invalid url `/tmp/aa`: relative URL without a base```` which is strange since git itself has not problem with cloning repos via local paths, like ````git clone /tmp/foo  /tmp/bar````

[2018-07-29 16:21] alexcrichton commented on #5827
Thanks for the report! This certainly isn't the only example of what we have to deal with here, there's also things like [`::local_path::<::LocalType>()`](https://github.com/rust-lang/cargo/issues/5797). A solution in `cargo fix` for this is being tracked at https://github.com/rust-lang/cargo/issues/5813, so I'm gonna close this in favor of that.

[2018-07-29 16:21] #5827 closed

[2018-07-29 16:36] lukaslueg commented on #5825
@alexcrichton syn and quote have the same problem, so they would need fixing as well. In addition, some older versions of proc-macro2 appear in the dependency tree as well, although that could be fixed.

Instead of fixing every crate out there that has this problem, couldn't we make cargo hide the `proc-macro` feature for those targets?

[2018-07-29 16:45] ehuss commented on #5826
You can use a path URI:  `cargo install --git file:///path/to/repo`

[2018-07-29 16:48] johnthagen commented on #5829
@alexcrichton Done: https://github.com/rust-lang/rust/issues/52829

[2018-07-29 16:55] ehuss commented on #5819
Is it expected that without `-p` that specifying targets would work?  If there are multiple packages with a bin named "foo" and you ran `cargo build --bin foo` would it build all of them matching that name?  Similarly, `cargo build --lib` would skip any package without a lib?

[2018-07-29 20:35] alexcrichton commented on #5829
Ok great, thanks!

[2018-07-29 20:35] #5829 closed

[2018-07-29 23:06] alexcrichton commented on #5825
We could perhaps, but that's not at all a Cargo issue and is an issue for rust-lang/rust. In the meantime it'll likely be easiest to fix this in `proc-macro2` and other crates.

[2018-07-30 08:03] dwijnand commented on #5701
I couldn't reproduce this with macOS and Chrome. Whether my browser is already opened or not I get the docs and an unblocked terminal:

[code]

[2018-07-30 08:23] Seeker14491 commented on #5701
Looking at [the code that handles opening the docs](https://github.com/rust-lang/cargo/blob/1ec8c70d00afa77deafb8fbd4c1d07fb68b2b556/src/cargo/ops/cargo_doc.rs#L115-L151), different code is executed for Windows, Mac, and other platforms, which explains why Mac isn't affected.

[2018-07-30 09:09] Seeker14491 commented on #5701
I've got a fix for Windows; I'll look into fixing it on Linux and then send a pull request.

[2018-07-30 09:19] dwijnand commented on #5701
Nice one. Thanks @Seeker14491! (I was going to suggest copying what rustup uses)

[2018-07-30 10:08] Seeker14491 commented on #5701
@dwijnand great idea about looking at rustup. Indeed, the rustup doc command doesn't have this bug. This is the code that handles opening a path in the browser in rustup: [link](https://github.com/rust-lang-nursery/rustup.rs/blob/22b6cdb8b000f9217af1dd5dd4e73ce032bdb25d/src/rustup-utils/src/raw.rs#L359-L426). The Windows code there takes quite a different approach, calling a Windows API function.

[2018-07-30 10:37] Bert-Proesmans commented on #5819
@ehuss I deduced the expectation from the cargo help page about build.
This expectation is similar to `cargo test [filter]` on virtual workspaces: compiles and executes all tests which have [filter] in their name.

In my opinion clashes don't matter because there is no first-and-only expectation of the effect, contrary to the run subcommand.
Talking about the run-subcommand; it's not allowed to be

[2018-07-30 14:13] alexcrichton commented on #5821
Ah we don't publish what's on master, only when it hits the stable channel. Thanks for the report though!

[2018-07-30 14:13] #5821 closed

[2018-07-30 17:41] ncalexan commented on #4121
I also want Cargo to pass environment variables configuring the location of OpenSSL headers and libraries.  In my case I'm cross compiling and the variables depend on the current target/toolchain.

[2018-07-30 18:32] RReverser commented on #2644
Why did you need it though? If the reason is that you have `build = "build.rs"` line in Cargo.toml, then just remove that line as it's not required nowadays and `build.rs` is automatically assumed to be a build script if found.

[2018-07-30 19:32] kjeremy opened #5833 "cargo fix with #![warn(rust_2018_idioms)] panics with: thread 'main' panicked at 'text to replace is empty', libcore\option.rs:989:5"
I have a project that is panicking when `#![warn(rust_2018_idioms)]` is specified. `cargo check` succeeds so I am assuming this is a problem with `cargo` and not `rustc`.

Windows 10 x64
cargo 1.29.0-nightly (2cd36b4ed 2018-07-25)
rustc 1.29.0-nightly (866a71325 2018-07-29)

    Checking pathfinder-actix v0.1.0 (file:///C:/projects/test/pathfinder-actix-problem)
thread 'main' panicked at 'text to

[2018-07-30 20:56] Seeker14491 commented on #5701
[This rustup commit](https://github.com/rust-lang-nursery/rustup.rs/commit/e08d4a11f21ed43a9869cafa832d8752ab4b9a98) contains justification for going the Windows API route, so I suppose we should do the same. I don't like the idea of just copy-pasting the code though; I think it would be better if cargo and rustup used the same code to handle this by pulling in a crate like [webbrowser](https://cr

[2018-07-30 22:05] alexcrichton commented on #5819
@ehuss it's true yeah there can be conflicts, I'd imagine though we could do something like run the bin `foo` if there's only one and error if there's multiple (asking for `-p` to disambiguate). I agree with @Bert-Proesmans that it's a little inconsistent right now to accept `--bins` but not `--bin foo` (where we can)

[2018-07-30 22:09] ehuss commented on #5819
@alexcrichton if you want to assign this to me, I'll take a look at it soon.

[2018-07-30 22:41] alexcrichton commented on #5833
Thanks for the report! I've submitted a fix for this in https://github.com/rust-lang-nursery/rustfix/pull/139

[2018-07-30 22:48] ExpHP commented on #5796
First, **an important premise:**  I believe the standard behavior of most applications (at least in the UNIX world) is to treat `PATH=""` as equivalent to an *unset* PATH.  ...and likewise for any other PATH-like environment variable.

If this premise is taken to be false, then as far as I can tell there is no problem.

...but!  If this premise is taken to be true, then:

---

The lines in `bootst

[2018-07-30 23:16] dekellum commented on #5823
Accoding to @ehuss (in #5820), alexcrichton/git2-rs#334 **is** the root cause.

[2018-07-31 03:16] golddranks commented on #2644
Ah, didn't know that. Thanks.

[2018-07-31 06:02] dwijnand commented on #5701
WDYT @alexcrichton and @Diggsey? Should we lift what Rustup does into a crate and reuse it here?

[2018-07-31 07:38] dwijnand commented on #5819
You should be assignable now your on the team! 😁

[2018-07-31 09:29] breeswish commented on #5815
Thanks a lot! @alexcrichton

As a reference for others, we tried several different solutions including the one listed above for our purpose, which is to embed build info into the binary (like build time):
- Solution 1. Specify `cargo:rerun-if-changed` so that `build.rs` is not being invoked when we changes benchmarks or other none related stuffs.
- Solution 2. Create a procedural macro to embed bu

[2018-07-31 09:29] #5815 closed

[2018-07-31 09:52] Diggsey commented on #5701
I'd be happy to accept a PR to rustup pulling this functionality out into a crate, assuming it is at least as functional.

[2018-07-31 16:18] Nemo157 commented on #1169
Something else I would want that I don’t think that can handle is only publishing updated packages, if one of the packages already exists at its current version number it should be downloaded and verified that the new package is identical.

[2018-07-31 18:18] #5661 closed

[2018-07-31 18:39] alexcrichton commented on #5701
Seems reasonable to me!

[2018-07-31 18:50] RazrFalcon opened #5839 "Keep a changelog"
As an author of a cargo plugin, it's extremely hard to update to a newer cargo version, since changes are undocumented.

The only "solution" is to look up in commits history and git blame.

[2018-07-31 18:51] alexcrichton commented on #5783
Ok the fixes are now in nightly and with @Nemo157's confirmation it worked I'm gonna close, we can always reopen if this comes up again though!

[2018-07-31 18:51] #5783 closed

[2018-07-31 18:53] aturon commented on #5798
cc @mitsuhiko @withoutboats, can y'all look into prioritizing this?

[2018-07-31 18:55] withoutboats commented on #5798
I believe this is already fixed in 0.1.2, at least I thought I saw a PR pass through my email.

[2018-07-31 18:56] alexcrichton commented on #5798
For context @mitsuhiko and @withoutboats this should be fixed by updating the `syn` dependency in 0.1.2, but the release hasn't been published yet. All that's needed for this to be fixed is an updated `syn` dependency, though.

[2018-07-31 19:03] alexcrichton commented on #5785
Confirmed fixed!

[2018-07-31 19:03] #5785 closed

[2018-07-31 19:04] alexcrichton commented on #5799
I've confirmed this is fixed by https://github.com/rust-lang/rust/pull/52756, so I'm going to close in favor of that.

[2018-07-31 19:04] #5799 closed

[2018-07-31 19:11] mitsuhiko commented on #5798
This *should* be fixed in 0.1.2. I want to push out a release for that tomorrow.

[2018-07-31 19:15] alexcrichton commented on #5798
Ok, thanks for the update!

[2018-07-31 19:28] #5753 closed

[2018-07-31 20:15] alexcrichton commented on #5813
I've pushed a fix for this in Cargo at https://github.com/rust-lang/cargo/pull/5842

[2018-07-31 20:26] #5778 closed

[2018-07-31 20:43] alexcrichton commented on #5833
Ok the fix has been merged and we'll get this in nightly on the next Cargo update, hopefully happening soon!

[2018-07-31 20:43] #5833 closed

[2018-07-31 20:43] kjeremy commented on #5833
Thanks @alexcrichton!

[2018-07-31 23:52] Manishearth opened #5844 "Should cargo fix --prepare-for 2018 fix unrelated warnings?"
If you pass this crate through `cargo fix --prepare-for 2018`
[code]

it fixes to:

[code]

Should we be fixing non-edition warnings at all? These _are_ marked applicable so we should be able to trust them, but perhaps we should exclude them for the sake of doing the minimum necessary?

cc @killercup @alexcrichton

[2018-08-01 01:24] #5006 closed

[2018-08-01 03:48] eminence opened #5846 "cargo-fix: what kind of things can be fixed?"
I'm trying out cargo fix to see what kind of stuff it can fix, and I'm a little surprised that it doesn't fix some trivial stuff that looks easy to handle.  Some examples:

[code]

[code]

[code]

[code]

Do you expect that `cargo fix` will eventually be able to make these types of fixes automatically?

[2018-08-01 03:52] #5813 closed

[2018-08-01 05:05] alexcrichton commented on #5846
Thanks for the report!

The `cargo fix` tool is driven (as you've probably seen) by compiler lints. The compiler is the one that makes suggestions and `cargo fix` understands them programmatically and then applies them. Currently `cargo fix` only works with "machine applicable" suggestions and all suggestions in rustc aren't machine applicable by default (this distinction is pretty recent).

In th

[2018-08-01 05:09] zackmdavis commented on #5846
(↑ got scooped while I was drafting this comment, posting my version anyway because the links may be useful)

Under the hood, `cargo fix` is powered by suggestions emitted by `rustc`.

Making `cargo fix` work on your unnecessary-parens and unnecessary-mut examples will be very easy: the compiler is already emitting the appropriately [structured suggestion](https://doc.rust-lang.org/nightly/nightly

[2018-08-01 14:12] eminence commented on #5846
great answers, thank you both!

[2018-08-01 14:12] #5846 closed

[2018-08-01 17:16] alexcrichton commented on #5798
The new release is out now, thanks so much @mitsuhiko!

[2018-08-01 17:16] #5798 closed

[2018-08-01 17:16] #5684 closed

[2018-08-02 04:40] jdm opened #5849 "Specified features are silently ignored when building from the root of a workspace with default-members"
Given a workspace with default members, not only does `cargo build --features nonexistent` from the workspace root report no errors if the `nonexistent` feature is not a feature supported by any of the workspace members, but any real feature names that are passed are silently ignored. `-v` shows that the members of the workspace that are built use their default set of features instead.

[2018-08-02 06:58] japaric opened #5850 "[RFC] `cargo install` should ignore the default build target"
This is a papercut embedded users often encounter as our templates ship with a `.cargo/config` file
that sets a default build target:

[code]

The issue is that `cargo-install` compiles `cargo-binutils` for the `thumbv7em-none-eabi` target
and that fails because there's no pre-compiled `std` for that target. Even if the compilation
did succeed that would result in an ARM binary being installed and

[2018-08-02 11:50] matthiaskrgr opened #5853 "fix: allow fixing of trivial errors"
[code]

[code]

The correct fix is already suggested, it would be great if cargo fix could apply that to the codebase.
[code]

[2018-08-02 11:52] dwijnand commented on #5853
Duplicate of #5846

[2018-08-02 12:18] dwijnand commented on #5742
Looks like @matklad took care of that a little while ago! 🎉

https://github.com/rust-lang/cargo/pull/5197

[2018-08-02 13:29] nox commented on #2536
Wasn't this implemented with them fancy progress bars?

[2018-08-02 13:34] alexcrichton commented on #5853
Indeed!

[2018-08-02 13:34] #5853 closed

[2018-08-02 18:16] Mark-Simulacrum opened #5855 "Build plan support for check/test/doc builds"
Build plans currently appear to only be obtainable for `cargo build`, but `cargo {check,test,doc}` are also of interest to tools.

[2018-08-02 20:12] alexcrichton commented on #5850
This was originally asked for in https://github.com/rust-lang/cargo/issues/5441 and implemented in https://github.com/rust-lang/cargo/pull/5606, but it was reverted in https://github.com/rust-lang/cargo/pull/5614 to be more consistent with Cargo with `--target` being supported

It's perhaps not a bad idea though to specifically only recognize `--target` (and maybe env vars) but otherwise ignore `[

[2018-08-02 20:14] alexcrichton commented on #5849
I believe this was first handled in https://github.com/rust-lang/cargo/pull/5390, later reverted in https://github.com/rust-lang/cargo/pull/5430, and currently being discussed at https://github.com/rust-lang/cargo/issues/5364. @matklad may have more to say though!

[2018-08-02 20:39] matklad commented on #5849
@jdm yep, we've tried fix that a while back, and it actually broke the Servo's build, so we've rollbacked the change.

I'd rather say that the current semantics of `--features` with workspaces is completely wrong, rather than that it has a finite number of bugs :-)

We probably should fix features in Cargo holistically, both at the level of resolve and at the level of CLI flags. At this point it i

[2018-08-02 20:40] japaric commented on #5850
@alexcrichton Interesting!

The case I'm describing is about installing a general purpose tool like ripgrep or racer. In my mind, by typing `cargo install` I really mean "install this for the host because I want this in my PATH" so I don't think it should matter from *where* I invoke the command: I could be invoking the command from a Cargo project (because I happen to be there atm) or from home o

[2018-08-02 20:48] dwijnand commented on #5850
Could bundle this behaviour change to `cargo install` with https://github.com/rust-lang/cargo/issues/5327 under `edition = "2018"`.

[2018-08-03 07:28] Arnavion commented on #3377
You can use `cargo search --limit 0` instead of using a crate like `lazy_static`.

[2018-08-03 11:40] SimonSapin commented on #5849
I agree that the current semantics in how features and workspaces interact are broken and could use a complete redesign. But other than it needing to be opt-in somehow (`edition = "2018" could have been it, but maybe it’s a bit late now) to avoid breaking existing projects I haven’t yet sat down to think about what the details of what the new design should be.

[2018-08-03 12:46] matthiaskrgr opened #5860 "build.rs strange behaviour with edition 2018"
rust-clippy used to build fine until
[code]
It uses edition 2018 in Cargo.toml.

When building, it seems that some imports of build.rs are no longer found.
I was able to fix that by adding  ````extern crate ....```` (see https://github.com/rust-lang-nursery/rust-clippy/pull/3001 ) however clippy is rust 2018 and should not need that.
So is build.rs not edition 2018 if the rest of the project is?

[2018-08-03 15:09] alexcrichton commented on #5860
Indeed a bug! Should be fixed in https://github.com/rust-lang/cargo/pull/5861

[2018-08-03 15:21] alexcrichton commented on #5736
Bumping this to the RC1 milestone

[2018-08-03 15:21] alexcrichton commented on #5738
Bumping this to the RC1 milestone

[2018-08-03 19:46] LukasKalbertodt commented on #5766
Two things. First, my work on this will be a bit delayed. I have to get other stuff finished before working on this.

Secondly: I initially liked the `autotests = ["path/to/"]` approach, but I noticed that it could be more useful/powerful. In particular, consider this:

[code]

So if we instead let the user add the path to all tests in a `[[test]]` section, other configurations (like `harness`) ca

[2018-08-03 20:18] qm3ster commented on #784
I have a question about `cargo install`. Where is the `--release` profile that is used to install binaries to my system?
I am asking in order to make sure that my binaries are installed with `lto = true`

[2018-08-03 20:38] alecmocatta commented on #5766
A project I'm working on has dozens of tests that need to be run without the harness. Currently they're exhaustively listed with `harness = false` in the Cargo.toml, which is less than ideal due to the added need to keep them matched up.

This would address my use case certainly.

As I see it, the expansion to Cargo.toml `[[test]]` section definition is:
* No `name` as this typically doesn't make

[2018-08-03 20:46] alexcrichton commented on #5850
I think that makes sense to me to ignore env vars and `.cargo/config` (aka ambient configuration) and only accept `--target` for `cargo install` invocations

[2018-08-03 21:21] ehuss commented on #784
If you want to experiment with a nightly unstable feature, you can use [config overrides](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#config-profiles).  The easiest way is probably to use an environment variable like this:

[code]

[2018-08-04 07:16] dhardy commented on #2775
Why not go further and normalise all names to use hyphens `-`? The first step would be a new version of the query which only returns/finds normalised names; the second step would be a Cargo update to normalise then use the new version. The third step (a bit later perhaps) would be to only show the normalised names on crates.io.

[2018-08-04 16:57] biot023 opened #5863 "Cannot find macro `table!` and cannot find derive macro `Queryable`"
Hi -- I followed the getting started tutorial and that worked okay.
But now I'm seeing this error when I run `cargo check --verbose` on another project I'm trying to use diesel on:

The version of diesel in my lock file is "1.3.2" and the version of diesel_derives is "1.3.0". However that appears to be the case in the "getting started" project and that works just fine.

Can anyone offer me any adv

[2018-08-04 16:57] biot023 commented on #5863
Augh! Wrong project, sorry!

[2018-08-04 16:57] #5863 closed

[2018-08-04 18:25] infinity0 commented on #5457
This would be useful for debcargo as well, we're having the same issue with ripgrep.

cargo's documentation says build scripts should modify anything not in `OUT_DIR` so setting `CARGO_TARGET_DIR` (and presumably having the build.rs write to it) would contract that. What I'd suggest instead is to allow one to query what the `OUT_DIR` should be for a given package.

Currently what we're doing in De

[2018-08-04 18:38] infinity0 commented on #5457
Note that unfortunately the above does not generalised, since "ripgrep-stamp" is a file specifically created by ripgrep's build.rs

[2018-08-04 18:50] #5860 closed

[2018-08-05 03:28] karma271 commented on #4245
It seems like the issue still persist. The last thing that I did before `cargo run` stopped working was trying to step up rust for emacs which was unsuccessful. Specifically, I could not install racer crate using `cargo install racer` properly. It looks like someone else was also trying to install the racer crate. Could this be a possible source of this issue?
[code]

[2018-08-05 04:23] infinity0 opened #5864 "fetch_platform_specific_dependencies etc fails for non-x86 architectures"
From #5349 @bmwill
See e.g.

- https://buildd.debian.org/status/fetch.php?pkg=cargo&arch=arm64&ver=0.28.0-1%7Eexp1&stamp=1532885555&raw=0
- https://buildd.debian.org/status/fetch.php?pkg=cargo&arch=ppc64el&ver=0.28.0-1%7Eexp1&stamp=1532885494&raw=0

[2018-08-05 08:16] dwijnand commented on #4894
Resolved with #5330, I'd say.

[2018-08-05 13:59] kornelski opened #5866 "Cargo metadata doesn't include actual filename of binary targets"
I'm writing a tool that needs to compile a Cargo project, and copy all executables out of it. This seems to be impossible to do with only the information that Cargo provides.

`cargo metadata` includes a list of binary targets and their names, but mapping from name to filename is target-specific (e.g. `.exe` appended on Windows). This is further complicated by cross-compilation, so `std`'s [`EXE_S

[2018-08-05 15:56] ehuss commented on #5866
This is similar to #3670.

Do you explicitly need to use `cargo metadata`?  One option is to use `cargo build --message-format=json` which will tell you the full path names (included exe suffix).

[2018-08-05 16:02] ehuss commented on #5729
Note: I'm preferring to wait and see what the wg-cli group comes up with.  They have a prototype that will generate man pages from the CLI help, so maybe we'll be able to use that.

[2018-08-05 16:18] simeg opened #5868 "cargo login should give feedback on success"
When running `cargo login` it asks for a token, and when I provide it with a token, good or bad, it doesn't give me any feedback. As a user I don't know if I inputted the correct token or something went wrong. The status code is `0` both on valid token and invalid token.

[code]

I'd expect `cargo` to say _something_. Maybe it can't tell if the token is good or bad at this point of time , but I'd

[2018-08-05 17:32] #5177 closed

[2018-08-05 19:14] kornelski commented on #5866
Yes, it's preferred as I want to set up my config/paths before running the build. I also have an option to let user call the build themselves and just let me pack the results, so even build output wouldn't be sufficient in all cases.

[2018-08-06 17:01] bmwill commented on #5864
This doesn't seem to be directly due to the fetch tests introduced in #5349, but rather due to the fact that the cross_compile module doesn't support platforms other than x86 (https://github.com/rust-lang/cargo/blob/master/tests/testsuite/support/cross_compile.rs#L111).  Looking at some of the other tests in the testsuite that rely on the cross_compile module, they simply do an early return if it

[2018-08-06 18:40] bmwill commented on #5864
Forgot to include the special phrase "fixes #5864" in #5870

@alexcrichton would you mind closing this issue?  Unless you'd like to wait for @infinity0 to verify that #5870 indeed fixes the issue on their platform.

[2018-08-06 18:56] alexcrichton commented on #5864
Sure thing sounds good to me! If it's still an issue we can always reopen!

[2018-08-06 18:56] #5864 closed

[2018-08-07 10:13] matklad commented on #5866
@kornelski curious, would `--out-dir` help here? Running `cargo build -Z unstable-options --out-dir ./out --bin foo` puts the binary to the `./out` dir, and you can grab it from there.

The "binary name" is a tricky business, because binary is not necessary a single file. Debug info might be a separate file, and I believe at least at some point WASM targter generated a `.wasm` and `.js` files for

[2018-08-07 11:55] kornelski commented on #5866
Nah, it's hacky. I'd have to scan the directory and guess what is a main binary and what is some debug or temp file.

Could you expose something like:

[code]

[2018-08-07 12:01] matklad commented on #5866
`--out-dir` does not produce temp files. Ie, it's completely not like the `target` dir, which **is** a kitchen sink. It does include debug-info though, and there's no non-hacky solutions to filter that out (except for not producing a debug info in the first place).

[2018-08-07 12:09] RazrFalcon commented on #5839
I see. I have to run the build process thought my plugin, so I need an access to the `core::compiler::Compilation` struct. And I'm not sure it's possible via `cargo metadata`.

[2018-08-07 12:14] matklad commented on #5839
@RazrFalcon yep, `metadata` won't help with `Compliation`. However  `cargo build --message-format=json` or `cargo +nightly build --build-plan -Z unstable-options` (currently unstable, https://doc.rust-lang.org/beta/cargo/reference/unstable.html#build-plan) might help

[2018-08-07 12:25] dwijnand commented on #5729
Here's the upstream (clap) issue for auto-generating man pages: https://github.com/clap-rs/clap/issues/552

[2018-08-07 12:25] RazrFalcon commented on #5839
Will give it a try.

By the way, is this ok that json output is malformed?

[2018-08-07 12:28] matklad commented on #5839
No, it is not ok :) `--message-format` and `--build-plan` should have stdout as a series of newline separated JSON objects (we use that instead of a single array to allow streaming), and nothing else should be printed to stdout.

[2018-08-07 12:29] RazrFalcon commented on #5839
Oh, I see. Than it's fine.

[2018-08-07 14:08] alexcrichton commented on #5766
@LukasKalbertodt I don't think we have a great way to interpret multiple paths per test though, right now each test in target is a crate (aka one rustc invocation), but multiple paths necessitate multiple crates?

@alecmocatta your use case definitely makes sense! We may be able to do something like @LukasKalbertodt is mentioning though one way or another to solve that? I'm not entirely sure what

[2018-08-07 15:21] slmjkdbtl opened #5872 "ansi escape codes not being omitted in vim shell"
<img width="1046" alt="1533646617" src="https://user-images.githubusercontent.com/9929523/43781765-b406834e-9a2b-11e8-8f0f-627368b99e1f.png">

[2018-08-07 17:34] wmiller848 commented on #2589
This has become a headache (among many) for a nostd project I am working on. We are building kernel extensions and mock out all of the kernel interface for testing in user land.

The particular dependency causing us a lot of pain is `rand`, the dependencies of the project include rand (with default-features = false) in their respective cargo.toml.

The issue we run into is when the top level proje

[2018-08-07 19:25] ehuss commented on #5658
Going to close this for now.  @sorpaas if you find any issues, please let me know.

[2018-08-07 19:25] #5658 closed

[2018-08-07 20:04] mbrubeck commented on #2536
This was implemented by #5620, disabled by #5698, and re-introduced behind the unstable `-Zcompile-progress` option in #5716.

[2018-08-07 20:18] alexcrichton commented on #5872
Currently Cargo doesn't do detection to see whether the shell supports colors, it simply checks `$TERM != "dumb"` and whether the output is a tty, and if both of those are true it emits colors.

Could vim be configured to set `TERM=dumb` if it doesn't support ansi codes?

[2018-08-07 22:18] mati865 commented on #5826
I think it's related to the broken `Ord` trait: https://github.com/rust-lang/cargo/issues/4582#issuecomment-390179630

In https://github.com/rust-lang/cargo/pull/5564 I've added workaround for upgrade procedure (when binary is installed and we install newer version on top of it).
It doesn't work here because cargo thinks you are installing new binary (no idea why).

Similar workaround could be add

[2018-08-07 22:57] #5823 closed

[2018-08-08 00:00] #5819 closed

[2018-08-08 07:56] dwijnand commented on #5114
Given the resolution in https://github.com/rust-lang/cargo/pull/5117#issuecomment-372705756 should this issue be closed?

[2018-08-08 18:35] Ekleog opened #5875 "`cargo doc` / `cargo fmt` / `cargo test`'s docstrings fail to notice the `edition = "2018"` tag"
(on latest nightly as of writing, from 2018-08-06)

When cloning and building https://github.com/Ekleog/erlust/commit/85e4bbb4974b541eb9e848eaf62f81613f5e1557, everything goes right.

When trying to `cargo doc`, `cargo fmt` or at the docstring stage of `cargo test`, though, I'm getting the following error message:
[code]

Which is the same error message as when trying to build without the `edition

[2018-08-08 19:52] ehuss commented on #5875
Thanks for the report.  This looks like a problem with rustdoc.  I have filed an issue rust-lang/rust#53203 for this.

As for `cargo fmt`, I think you need to have a `rustfmt.toml` file that specifies the edition with `edition = "Edition2018"` (see https://github.com/rust-lang-nursery/rustfmt).

[2018-08-08 22:11] dwijnand commented on #5073
This can be closed now: it's been fixed with https://github.com/rust-lang/cargo/pull/5584/.

[2018-08-08 22:35] #5073 closed

[2018-08-09 04:54] Seeker14491 commented on #5701
I've published the [opener crate](https://crates.io/crates/opener). I've run into a problem when integrating it into cargo though, namely, the browser will not open at all on Windows! I believe this is due to Cargo's Windows-specific handling of killing its child processes when it exits, an issue similar to what's happening in #5598. If I add in a 10 second sleep after calling the open doc functio

[2018-08-09 05:26] #3713 closed

[2018-08-09 11:00] ArtemGr commented on #2644
Another reason to have this is that some CIs (AppVeyour in particular) have a limit on how much information is logged from the build. With `cargo build --dependencies-only` one can build dependencies normally, then switch to `cargo build -vv` for the source code that's being the primary target of the CI build.

[2018-08-09 15:30] shepmaster commented on #3501
Ditto for the playground, where this is also an impact on file size. Clippy uses `cargo check`, so we have to generate an extra 135MB of artifacts and take up an extra 3+ minutes of build time.

[2018-08-09 16:07] Ekleog commented on #5875
Indeed, thank you for `rustfmt`! Closing this in favor of https://github.com/rust-lang/rust/issues/53203 :)

[2018-08-09 16:07] #5875 closed

[2018-08-09 21:14] konstin opened #5881 "Allow setting linker args that only apply to bin or lib targets"
For crates built open [pyo3](https://github.com/PyO3/pyo3), you need to link libpython for binaries and you must not link libpython for libraries (the latter is required by [PEP 513](https://www.python.org/dev/peps/pep-0513/#libpythonx-y-so-1)). The current workaround is that there is an `extension-module` feature for libraries, which tells pyo3's build script not link libpython.

Unfortunately, t

[2018-08-10 02:55] alexcrichton commented on #5701
@Seeker14491 oh that's https://github.com/rust-lang/cargo/issues/5598 I believe which I believe [we can indeed fix](https://github.com/rust-lang/cargo/issues/5598#issuecomment-401128633)!

[2018-08-10 05:25] wycats commented on #2644
I think we should probably consider the docker use-case in more detail. I have a hunch that there's more to the use-case than meets the eye.

I think that the CI use-case is a more interesting rationale for this feature, but I wonder if it argues instead for more control over the verbosity options (`--crate-verbosity "my-crate=vv"` or something along those lines), which I could imagine being usefu

[2018-08-10 07:56] dwijnand commented on #2304
For (my) clarity, does this mean changing `cargo rustc [..] -- --emit=obj` so that it runs `rustc [..] --emit=dep-info,obj`, dropping the `link`?

[2018-08-10 18:19] ExpHP commented on #1286
It took me a while to figure out how this proposal actually solves the problem it's trying to address.

Here's what I gather that the final TOML for the `uuid` example should look like.  It does indeed allow you to have a `--feature uuid` which transitively toggles the dependency on postgres.

[code]

[2018-08-10 18:35] cyberpunkbln opened #5882 "Problem with dependencies and subfolders on Windows"
Hello,

i have following problems:

I want to use the repo
https://github.com/th0rex/libui-rs.git
with all crates only from this repo and with the feature static on the sub-crate ui-sys

when i use following in cargo.toml from my own testapp

[code]
cargo loads from the repo and saves his correctly in .cargo\checkouts but in .registry\src\ he loads the sub-crate iu-sys-0.1.3 from the original repo

[2018-08-10 19:03] alexreg commented on #5565
Is this going to move towards stabilisation soon?

[2018-08-10 19:27] Seeker14491 commented on #5598
Reading the linked code for the job object in Cargo, I see that in the job object destructor, processes are killed manually with the `kill_remaining()` method, and then the job object is configured to not kill anything. The stated reason for doing this is to be able to whitelist certain processes to outlive the job object.

If we want all running processes to keep running when cargo exits successf

[2018-08-10 20:01] ehuss commented on #5882
Since that fork of `iui` has the dependency listed as `ui-sys = "0.1.3"` it is grabbing the version listed on crates.io.  You'll need to override that dependency in your `Cargo.toml` file.  It should look something like this:

[code]

It looks like the th0rex fork is maybe designed to be compiled with the gnu toolchain on Windows (it uses the flag `-Wno-c++11-narrowing` which is not a valid flag f

[2018-08-10 20:05] djc commented on #5565
Probably not -- I'm still motivated to write code to move this forward, but I don't know exactly what needs to be done.

[2018-08-10 20:33] cyberpunkbln commented on #5882
@ehuss
Thanx its functioned very well, now can i try to test the th0rex-repo.

Yes you are right, this ist the ui-sys bugfix for all user of the gnu toolchain mingw64. I don't use MSVC why it is an Microsoft-Licence and i don't know what i must install on the VC-Community-2017 big/huge Installsoftware that are only that what i need and no other, too compile all FFI-Projects. And the 2015 let me do

[2018-08-10 20:33] #5882 closed

[2018-08-10 20:34] alexreg commented on #5565
Oh, I thought it was already implemented, just needed stabilising.

[2018-08-10 20:36] djc commented on #5565
The Cargo part is implemented -- it apparently needs complementary stuff in crates.io.

[2018-08-10 21:09] alexreg commented on #5565
Aha.

[2018-08-11 19:50] djc commented on #1286
You're right on the money about what was implemented. Is there something I should add to the namespaced-features documentation in the Cargo book that would make this more accessible?

[2018-08-11 20:25] ExpHP commented on #1286
Exemplary use cases (mainly TOML snippets) of things not possible without the feature, like:

* Transitively enabling optional dependencies (the `uuid` problem).  This is the big one!
* An `[[example]]` or `[[test]]` which e.g. happens to need an optional dependency for reasons entirely unrelated to the feature.  (e.g. it needs to generate random numbers, but it does not need the impls/methods add

[2018-08-12 01:06] alexreg commented on #5565
@ExpHP Thanks, that explanation makes a lot more sense to me. Was there a reason @sfackler's original proposal wasn't chosen though? I kind of like the idea of doing something like

[code]

or such.

[2018-08-12 04:32] alexcrichton commented on #5598
@Seeker14491 job objects were originally added to make ctrl-c work across platforms. On Unix ctrl-c kills the *process group*, not a single process, which means everything gets taken down. On Windows however only one process killed, and by using job objects we also guaranteed unix-like behavior of the whole group of processes being killed.

The initial implementation simply let the job object kill

[2018-08-12 16:46] Eh2406 commented on #2775
Because the [index](https://github.com/rust-lang/crates.io-index) wuld need to have both names so that pre-normalise cargo and post-normalise cargo can find it, and that makes for 2 sources of truth.

[2018-08-12 18:42] peterhuene commented on #3946
I also have another use case for this feature: I'm trying to get the absolute path to the source file being compiled.  I embed this as metadata so that source can be copied during a subsequent `cargo run` into a particular directory structure to integrate it into a third party, language-agnostic interface.

When using a workspace, the `file!()` macro expands to be workspace directory relative (I w

[2018-08-12 19:09] dwijnand commented on #3703
After some initial difficulty I found that this is reproducible by using `git rm --cached src/module.rs`.

Also it's still reproducible with the current head of cargo (version 1.29.0, sha 972ccba41ecb8cca2c7a34837788a6124e0bc9a2)

[2018-08-12 22:18] alexcrichton commented on #5598
@Seeker14491 that sounds about right yeah! I don't know how we can configure Cargo to not kill `mspdbsrv.exe` on ctrl-c while still killing everything else on ctrl-c, but if it works it works! That's a relatively minor bug, though, and the main thing to fix I believe is to avoid killing anything on a normal exit.

[2018-08-13 01:35] 21Sabbeth opened #5883 "link.exe not found?"

[2018-08-13 06:07] dhardy commented on #2775
No it wouldn't if deployed via a new version of Cargo. Unfortunately this would not be backwards compatible (i.e. old versions of Cargo would require correct `-` vs `_`; new versions could accept either).

[2018-08-13 08:09] dwijnand commented on #3732
Optimistically close, and reopen if need be?

[2018-08-13 11:16] thomaseizinger opened #5885 "How to effectively clean target folder for CI caching"
I have a workspace repository with several crates in it (> 10). A clean build of all of them takes about 10 minutes on Travis, which is why I want to cache the `target/` folder.

The problem is, the target folder gets quite big (~ 1.7GB) so it takes also about 3 minutes to upload the cache to S3 after the build.

The question is: How can I clean the `target` folder from any artifacts generated by

[2018-08-13 14:49] steveklabnik commented on #5883
This kind of thing generally means that your installation didn't work correctly; please post to users.rust-lang.org and we'll be happy to help you out! Need more information than this though. Thanks!

[2018-08-13 14:49] #5883 closed

[2018-08-14 00:59] alexcrichton commented on #3732
Sure!

[2018-08-14 00:59] #3732 closed

[2018-08-14 01:01] #5598 closed

[2018-08-14 05:05] expenses opened #5890 "Cargo will silently ignore invalid .cargo/config options"
For example, cargo will silently ignore
[code]

where it should be under a `build` subheading like:

[code]

This is related to #4377, so perhaps it could be done at the same time?

[2018-08-14 08:49] gnzlbg opened #5891 "How can debuginfo be detected from a build.rs ?"
Does cargo define an environment variable with its value from the profile ? (I couldn't find any).

If so, is this value updated with the `RUSTFLAGS`/ `./cargo/config` ?

The most portable way I can think of, of doing this correctly, is probably to just invoke `cargo metadata` from the build.rs, and just scan it for `debuginfo=PAT` and parse that.

[2018-08-14 12:23] gnzlbg opened #5892 "Detect target-cpu from build.rs ?"
EDIT: `CARGO_CFG_TARGET_FEATURE` does the `target-feature` parts of this.

There should be an easy way to detect the `target-cpu` ~~and `target-features`~~ that rustc will use.

This is important to avoid undefined behavior in some cases where C libraries are compiled with different sets of target features than the Rust ones, and that ends up producing mismatching ABI calls on FFI for some types (

[2018-08-14 17:10] alexcrichton commented on #5885
Thanks for the report! Right now there's not a great answer here in that Cargo doesn't have anything implemented to do something like this nor does it internally support the ability to know which artifacts are super old.

Currently I'd recommend using something like `sccache` for CI instead of caching the entire `target` folder in the meantime, but work on this would definitely be appreciated!

[2018-08-14 17:42] alexcrichton commented on #5892
Currently there's no `#[cfg]` exposed for the target-cpu, so Cargo has no way to ferry the information to the build script (other than via `RUSTFLAGS`)

[2018-08-14 17:43] alexcrichton commented on #5891
I think we should probably add something liek `CARGO_DEBUG_LEVEL=1` which is unconditionally set for build scripts which ferries over the 0/1/2 level into build scripts, but currently this is not done for build scripts AFAIK.

[2018-08-14 18:48] RalfJung opened #5893 "cargo test: Error message and compiler output shown twice"
Steps to reproduce:
* Check out the `demo` branch from https://github.com/RalfJung/miri
* Run `cargo test`

The result looks as follows:
[code]
As you can see, I am getting the entire output twice. This is with the nightly-2018-08-14 toolchain.

[2018-08-14 18:49] RalfJung commented on #5893
Oh, I guess this is (another) duplicate of https://github.com/rust-lang/cargo/issues/1534 ?

[2018-08-14 18:51] RalfJung commented on #5893
However, this happens even if I add
[code]

[2018-08-14 18:53] killercup commented on #5740
This might require changing/dealing with some cargo internals. There is this method:

https://github.com/rust-lang/cargo/blob/6a7672ef5344c1bb570610f2574250fbee932355/src/cargo/ops/cargo_compile.rs#L440-L448

as part of `ops::compile`, but it's not directly accessible in cargo-fix' entry function ([here](https://github.com/rust-lang/cargo/blob/6a7672ef5344c1bb570610f2574250fbee932355/src/cargo/ops

[2018-08-14 18:58] #5893 closed

[2018-08-14 19:00] killercup commented on #5737
This should be a pretty isolated change in this function:

https://github.com/rust-lang/cargo/blob/6a7672ef5344c1bb570610f2574250fbee932355/src/cargo/ops/fix.rs#L79

It will require some, but not very intimate, knowledge of the supported version control systems.
It does not require knowledge about cargo internals.

You should add a few tests similar to ones [found here](https://github.com/rust-lan

[2018-08-14 20:52] PhilipDaniels opened #5894 "Trying to install mdbook, fails with 'Couldn't resolve host static.crates.io'"
Transcript below. This is on Linux Mint 18.3.

[code]

[2018-08-14 21:54] jimblandy opened #5895 "Error messages use relative paths differently if in a workspace"
Error messages printed by `rustc` are relative to the path printed by `cargo` only when the crate is not part of a workspace. When the crate is a workspace member, `rustc`'s messages are relative to the workspace directory. This makes it hard for programs like Emacs to find the file to which the error messages apply.

Here's the non-workspace case:
[code]
The path in the `rustc` error message, `sr

[2018-08-14 22:19] ehuss commented on #5895
The typical way to deal with this is to run `cargo metadata` and inspect the `workspace_root` value to determine the base path for all relative paths (regardless if it's in a workspace or not).  I'm not sure what emacs package you are using, but the one I'm aware of does this (https://github.com/kwrooijen/cargo.el/blob/c995b42e2c0fc609d265286ce465d508d81b8a4d/cargo-process.el#L243-L251).  I'm not

[2018-08-15 04:40] infinity0 opened #5896 "Don't require existence of dependencies not needed for the current --target"
I've been experimenting with converting platform-specific cargo dependencies into platform-specific Debian dependencies. At the moment this is very crude but works in most Real World cases, allowing us to avoid installing `winapi` etc (and `core-foundation`, `redox-*`, `fuchsia-*`) as build-dependencies when building various crates in Debian. However cargo itself complains about it and fails:

[co

[2018-08-15 07:58] dwijnand commented on #5895
Another solution could be implementing #5450.

[2018-08-15 09:30] rishavs commented on #3750
same issue here. On windows 10. INstalling rust for the first time.
[code]
Rust version is `stable-x86_64-pc-windows-msvc unchanged - rustc 1.28.0 (9634041f0 2018-07-30)`. I do not have any proxy.

[2018-08-15 13:14] gnzlbg commented on #4242
This affects a lot of crates, what do we need to do to fix this. Isn't there a check somewhere that checks for the dependencies before publishing, where we can just filter dev-dependencies away and call it a day? cc @matklad

I mean, this would even affect core and std, where std could depend on core to build, but core would depend on std for tests. The check is spurious anyways, because this sort

[2018-08-15 13:49] matklad commented on #4242
Hm, I think a similar work-around is possible? Just comment-out `dev-dependencies` when publishing. This is what we do in Cargo, which has a `path =` dev-dep.

For mentoring instructions, I believe you've basically nailed it :) The only thing I have to add is that the test should go to [this file](https://github.com/rust-lang/cargo/blob/6a7672ef5344c1bb570610f2574250fbee932355/tests/testsuite/publ

[2018-08-15 14:35] apiraino commented on #3624
My IDE autoruns `cargo check` on file save, so I don't see warnings if I immediately run it from the shell (to expand on errors decription).

I need to alias cargo check and trick its metadata:
`alias cargo_check='touch -cm src/main.rs && cargo check'`

[2018-08-15 15:46] tomrittervg opened #5897 "Cargo does not pass CC environment variable"
I am working on a mingw-clang build for Firefox, and hit this error: https://treeherder.mozilla.org/#/jobs?repo=try&revision=d317916a52e7b9493926d599d1f57fe11be1c91a

[code]

In particular note that CC = None and x86_64-w64-mingw32-gcc - which should be "x86_64-w64-mingw32-clang".

I got pointed to this code: https://github.com/rust-lang/cargo/blob/master/src/cargo/core/compiler/custom_build.rs#L1

[2018-08-15 16:16] tomrittervg commented on #5897
Nevermind, we think we figured this out and it's on our end.

[2018-08-15 16:16] #5897 closed

[2018-08-15 16:17] alexcrichton commented on #4242
Hm I'm actually not sure that the fix would go in that location nor that we could easily write a test for this. AFAIK the check for "does this dependency exist" is done on crates.io, not locally in Cargo. In that sense we'd need to test with crates.io, not with just local Cargo test suite business.

I also think the "fix" for this is to basically stop informing crates.io about dev-dependencies. Al

[2018-08-15 17:00] #5701 closed

[2018-08-15 17:09] jimblandy commented on #5895
I talked with @alexcrichton this morning. He didn't see a problem with simply having cargo consistently run rustc from the top directory of the crate being compiled, instead of running it sometimes from the crate's top directory, and sometimes from the workspace. The only concern he raised was that the paths in the debug info are affected by the paths passed to rustc.

I am using cargo.el for othe

[2018-08-15 17:10] jimblandy commented on #5895
Yes, that might be good too.

[2018-08-16 00:08] kc8apf opened #5898 "VS2017 linker internal error only when run under cargo"
Software versions:
Windows 10
Visual Studio 2017 Professional (Microsoft (R) C/C++ Optimizing Compiler Version 19.15.26726 for x64)
cargo 1.28.0 (96a2c7d16 2018-07-13)

I started a Developer Command Prompt, cloned https://github.com/alexcrichton/git2-rs, and ran `cargo build`.  After a fairly lengthy build, I get a build failure:
[code]

Trying to build the libssh2-sys crate directly results in th

[2018-08-16 01:04] ehuss commented on #5898
The VS2017 developer command prompt now defaults to 32-bit architecture (which I find to be an odd choice).  You can run `VsDevCmd.bat -arch=amd64` to switch to 64-bit mode (or set that up with a shortcut).  Presumably you are using a 64-bit installation of rust.  Or, if you really want to compile in 32-bit, the `stable-i686-pc-windows-msvc` rust toolchain worked for me.

[2018-08-16 01:35] ehuss commented on #5898
How is that set up?  By default (AFAIK), VS2017 does not ship with that anymore.  It looks odd that it is trying to use a 32-bit linker.  Does it compile if you start a console without any of the vs env vars?

[2018-08-16 01:45] kc8apf commented on #5898
The shortcuts we're in my start menu after installing. If I start a plain
console, the build can't find cmake.exe. keep in mind that the cmake build
works perfectly fine in the same console if I run the cmake invocations
that cargo does. It only fails when run under cargo.

On Wed, Aug 15, 2018, 6:36 PM ehuss <notifications@github.com> wrote:

[2018-08-16 02:59] ehuss commented on #5898
I typically use cmake installed from https://cmake.org/ instead of the one bundled with visual studio (just add it to your PATH).  I typically never use the visual studio env setup, it's usually not required.  Otherwise, I'm not sure, your setup seems to be different from mine.  I'm no expert on visual studio, so I'm not really sure.

[2018-08-16 03:33] kc8apf commented on #5898
Installed CMake via chocolatey and added it to PATH.  Running 'cargo build' for libssh2-sys in a regular Command Prompt and PowerShell results in the same linker error.  Setting PreferredToolArchitecture=x64 still works.

[2018-08-16 06:06] dwijnand commented on #5356
Ashley shared a post on how to enforce style in CI: https://medium.com/@ag_dubs/enforcing-style-in-ci-for-rust-projects-18f6b09ec69d

With Rustfmt reaching 1.0 RC1 (https://www.ncameron.org/blog/rustfmt-1-rc/), do we want to experiment with this at this time?

Another possible option is look at integrating with GitHub Checks (https://blog.github.com/2018-05-07-introducing-checks-api/)? So PRs have

[2018-08-16 08:32] dwijnand commented on #3829
Does this mean Cargo's programmatic API is meant to be backwards compatible?

[2018-08-16 11:57] thomaseizinger commented on #5885
Thanks for the quick answer!
We are using sccache now which helps already quite a bit!

[2018-08-17 11:34] JeanMertz commented on #2644
I came here looking for the same use-case of wanting to properly layer my Docker builds to increase build times.

I ended up with the following solution, in case this helps anyone else:

[code]

[2018-08-18 00:13] cavedweller opened #5903 "Shell out to system git on fetch"
libgit2 does not support our usecase for fetching crates. In cases where cargo can understand the local git implementation, it should shell out and try that option first.

cc/ @alexcrichton

[2018-08-18 08:16] dwijnand commented on #5450
This issue is similar to #5895 and I wonder: by "full file path" do you mean an absolute path, or simply a more consistent path, such as consistently a path relative to the root of the workspace?

[2018-08-18 08:33] emoon commented on #5450
Absolute path would be best as it would work in all cases regardless of how your structure looks like.

[2018-08-18 08:53] ignatenkobrain commented on #5133
@infinity0 do you have some patch for this?

We wanted to not package some optional dependencies and hit this issue.

[2018-08-18 08:53] ignatenkobrain commented on #5133
\cc @keszybz

[2018-08-18 17:27] orium opened #5905 "`cargo fix --edition` does not make the code compilable in rust 2018 if `uniform_paths` are enabled"
Hi,

while testing `cargo fix` I believe I have found a bug:  When using `uniform_paths` `cargo fix --edition` does not migrate paths in `use`, and those will fail to build on rust 2018.

To reproduce create the following project:

`Cargo.toml`:
[code]

`src/lib.rs`:
[code]

If you now run `cargo +nightly fix --edition` nothing will change, but the code is not compilable in rust 2018.  Change `Car

[2018-08-18 20:21] orium opened #5906 "`cargo package` does not always work if used with 2018 edition"
To reproduce create a project with the following `Cargo.toml`:

[code]
and an empty file as `src/lib.rs`.

When you try to package this will happen:

[code]

[2018-08-18 21:42] orium commented on #5906
The problem is due to the way the `Cargo.toml` generated for packaging is serialized.  The edition field is emitted after the metadata table, which is not correct.  PR soon.

[2018-08-18 23:17] SergioBenitez opened #5909 "Feature selection when testing specific packages has no effect"
I have a workspace with two crates: `foo`, and `bar`. The crate `foo` has 3 features, `a`, `b`, and `c`. I wrote a shell script that tests that each feature works when individually enabled. The script is run from the crate root. It is:

[code]

Instead of compiling the crate with each feature individually enabled and running those tests, cargo seems to always compile the crate with the default set

[2018-08-19 01:30] JoshBrudnak commented on #5740
@killercup I would like to help out with this. Thanks.

[2018-08-19 13:25] Michael-F-Bryan commented on #4942
I also encountered this as part of brendanzab/codespan#31.

At a glance, it seems like @Michel-Haber's solution of having top-level feature flags which can enable specific crate features seems to be the most intuitive. What would be required to get the ball rolling on this?

[2018-08-19 13:53] dwijnand commented on #5675
This issue generalises on the older #3829 docs issue.

[2018-08-19 14:12] PhilipDaniels commented on #5894
It's not transient, in fact if you look at the original post I did try pinging that host and it succeeded, but the cargo command failed. Since then I have rebooted and it still fails with the same error.

Interestingly, I have two Windows computers connected to the Internet via the same router, and installing mdbook in both Cygwin and WSL works fine. So it looks like something is screwed with the

[2018-08-19 16:17] keszybz commented on #4544
I'd like to add another "me too" case. I'm working on packaging crates in Fedora. We cannot use crates.io directly, and all crates that are needed during the package build  process must be packaged as RPMs. Not all crates are packaged (for various reasons, sometimes lack of resources, sometimes we don't want to package something), and we want to use `cargo build` with some optional features disabl

[2018-08-19 17:41] ignatenkobrain commented on #5133
and also deps for disabled features, I hope. Right?

[2018-08-19 19:02] #5906 closed

[2018-08-19 21:27] kornelski opened #5911 "Relative paths in Cargo.toml readme"
I've found an odd case:

https://github.com/graphql-rust/juniper/blob/56f71e934be814722d10b0660156cf56b3753470/juniper/Cargo.toml#L12

1. The `readme` path is relative pointing to a parent directory: `../README.md`,
2. there is no `README.md` in the `.crate` file,
3. and yet, miraculously, crates.io shows a readme: https://crates.io/crates/juniper/0.9.2

It seems the readme was snatched when the c

[2018-08-20 06:38] AchalaSB commented on #832
achala@laptop:~/GIT/mir2wasm$ cargo build
Compiling mir2wasm v0.1.0 (file:///home/achala/GIT/mir2wasm)
error: failed to run custom build command for mir2wasm v0.1.0 (file:///home/achala/GIT/mir2wasm)
process didn't exit successfully: /home/achala/GIT/mir2wasm/target/debug/build/mir2wasm-4f880614b2dd408e/build-script-build (exit code: 101)
--- stdout
running: "cmake" "/home/achala/GIT/mir2wasm/bina

[2018-08-20 06:38] infinity0 commented on #5133
@ignatenkobrain Cargo already carries this functionality as `cargo build -Z avoid-dev-deps` or `cargo install` (with no extra flags) but only for dev-dependencies, not optional dependencies or unused features or unused target-specific dependencies. No I don't have a patch for the other things I mentioned.

[2018-08-20 07:12] AchalaSB commented on #835
Im trying to build cargo but got an error
Need help! Thanks in advance

achala@laptop:~/GIT/mir2wasm$ cargo build
Compiling mir2wasm v0.1.0 (file:///home/achala/GIT/mir2wasm)
error: failed to run custom build command for mir2wasm v0.1.0 (file:///home/achala/GIT/mir2wasm)
process didn't exit successfully: /home/achala/GIT/mir2wasm/target/debug/build/mir2wasm-4f880614b2dd408e/build-script-build (exi

[2018-08-20 11:50] matthiaskrgr opened #5913 "cargo says "Fetch" when checking out cloned repos"
When cargo checks out repos from the bare repos (~/.cargo/git/db) into ~/.cargo/git/checkouts, it says "Fetch [==> ..." altough there is actually no web traffic being done. which is confusing.
When extracting .crate archives, it seems that "Checkout [ =>" is used correctly.
Can we use "Checkout" for checking out git repos as well?

[2018-08-20 11:59] PhilipDaniels commented on #5894
Further fact: cloning mdbook and building it manually using `cargo build` works fine.

[2018-08-20 15:58] alexcrichton commented on #5896
I believe this is the same as https://github.com/rust-lang/cargo/issues/5133 in that the reason Cargo needs these dependencies is to generate a full `Cargo.lock`. That issue is about producing a *minimal* `Cargo.lock` which will release Cargo from needing to do a full graph resolve.

[2018-08-20 17:13] alexcrichton commented on #5905
Thanks for the report! Currently not all suggestions in the compiler are marked as "machine applicable" which means that `cargo fix` will actually apply the fix. In that sense this is mostly an issue for upstream rust-lang/rust and related to https://github.com/rust-lang/rust/issues/50723

[2018-08-20 17:16] alexcrichton commented on #5909
I believe this is a duplicate of https://github.com/rust-lang/cargo/issues/5849, but thanks for the report!

[2018-08-20 17:16] #5909 closed

[2018-08-20 18:27] alexcrichton commented on #4942
There's some more information about this in https://github.com/rust-lang/cargo/issues/5849, notably how we [tried to fix this](https://github.com/rust-lang/cargo/issues/5849#issuecomment-410053603) but ended up being unable to because it's technically a breaking change.

[2018-08-20 19:45] TheDan64 commented on #5653
#51796 and #5753 seem to be fixed and closed according to those threads. Can the checklist be updated?

[2018-08-20 22:14] qm3ster commented on #784
@ehuss Am I correct to understand that `-Z config-profile` is required for cargo to pay attention to `CARGO_PROFILE_RELEASE_LTO=true` being in the environment?

[2018-08-20 22:18] ehuss commented on #784
@qm3ster correct.

[2018-08-20 22:29] brendanzab commented on #4942
Is it possible to allow us to 'opt in' to this, by allowing us to explicitly forward features?

[code]

That would at least clean up the [icky workarounds we have to do](https://github.com/brendanzab/moniker/pull/25) when working with workspaced crates, and also allow us to set these features in the RLS config (which is not currently possible). I don't know if this would make future fixes more dif

[2018-08-21 05:19] brson opened #5916 "cargo uninstall doesn't uninstall"
When in a source directory, I expect `cargo uninstall` to remove the compiled package from `~/.cargo/bin`. It doesn't seem to do so.

In this example I start with no uutils, `cargo install`, have uutils, `cargo uninstall`, still have uutils:

[code]

Tested on stable and nightly.

[2018-08-21 05:29] brson opened #5917 "Confusing cargo install warning"
Cargo emits this warning when install this package from source:

[code]

That is

[code]

It's not obvious to me what it is warning me about. Maybe `cargo install` is deprecated (--help doesn't indicate so).

I suspect, after many minutes of consideration, it's intended to explain to npm users that `cargo install` is not what they expect, but in this case it confused me (enough to write a bug repo

[2018-08-21 05:34] jljusten commented on #5737
@JoshBrudnak: Ah. I should have replied earlier. I worked on this a bit on Saturday, and was going to reply saying I would be interested in working on it. Any chance I could try looking at this, and you could take #5740? I see you mentioned you were interested in both.

[2018-08-21 06:17] dwijnand commented on #5917
Hey @brson!

I don't have time to go through all your feedback, but I thought I'd drop you some pointers: this behaviour comes from https://github.com/rust-lang/cargo/pull/5333 / https://github.com/rust-lang/cargo/issues/5327 (my first contribution!).

[2018-08-21 13:11] RalfJung opened #5918 "Cargo does not rebuild if project got changed in the same second"
To reproduce, take a small crate (I am using https://github.com/rust-lang-nursery/rustc-perf/tree/master/collector/benchmarks/coercions), and run
[code]
These should give fairly consistent timings. However, they do not:
[code]
As you can see, it does not even recompile the project each time! Seems like it is (a) using a one-second granularity, and (b) if the last change and the last build happened

[2018-08-21 13:44] JoshBrudnak commented on #5737
@jljusten I have already opened a pull request fixing this issue (#5910) but if you want to take #5740 that's fine with me. :100:

[2018-08-21 14:08] dwijnand commented on #5918
Related: https://github.com/rust-lang/cargo/issues/2426 "cargo build does not rebuild if a source file was modified during a build"

Personally I think cargo should only rebuild a project if the contents change, not if the timestamp changes, so I feel compelled to say I disagree that it's a bug that it doesn't "even" recompile the project each time. 😀

But more to your point, perhaps cargo could t

[2018-08-21 14:19] RalfJung commented on #5918
That's what we have incremental compilation for. Please don't make it even harder to test that.^^ ;)

I proposed a fix for this at https://github.com/rust-lang/cargo/pull/5919

[2018-08-21 15:34] Ekleog opened #5920 "Provide a way for a crate to ask not to be used twice in the dependency graph"
I'm writing a crate that uses `thread_local!` and `lazy_static!` variables. If this crate is duplicated in the dependency graph, functions risk being called with non-up-to-date global variables, and Bad Things™ (though hopefully no unsafe, but panics for almost certain) will ensue.

As a consequence, I wonder if there could a way for a crate to ask cargo not to allow to pull it twice in the depend

[2018-08-21 16:01] Ekleog commented on #5340
Another use case for “exotic” version dependencies: crates that must be updated in lockstep.

For instance, a `x-derive` crate that generates code that relies on an undocumented API of crate `x`. The best way to handle this currently without having to make a breaking release on each breaking change to said undocumented API appears to be setting `x-derive` to depend on `=1.2.3` of crate `x`, and ho

[2018-08-21 16:03] ehuss commented on #3077
@zubair1024 colors should "just work" on msys terminals.  Is it not working for you?  Can you provide more detail on your environment (versions you are using, etc.)?

[2018-08-21 16:37] Mark-Simulacrum commented on #5920
This is essentially what the `links` attribute does today, which might be a stopgap. Without FFI or similar global resources this is probably quite difficult to accomplish in safe Rust though...

[2018-08-21 16:40] dekellum commented on #5340
As a practical example of your x-derive case, We recently saw some breakage with the failure 0.1.2 release (rust-lang-nursery/failure#234) where _failure_ has a dependency on *failure_derive* written as "0.1.2" (meaning ">=0.1.2, < 0.2").  Both crates 0.1.2 version were released simultaneously but *failure_derive* 0.1.2 will not compile with *failure* 0.1.1.  Cargo *should* IMO, be able to handle

[2018-08-21 16:43] dekellum commented on #5920
Doc for [`links`](https://doc.rust-lang.org/cargo/reference/manifest.html#the-links-field-optional).

That seems pretty different to me, how is it the same?

[2018-08-21 16:44] Mark-Simulacrum commented on #5920
https://doc.rust-lang.org/cargo/reference/build-scripts.html#the-links-manifest-key is the better docs though without prior knowledge they are quite hard to find.

[2018-08-21 16:59] Ekleog commented on #5920
Thank you for the workaround! Not closing this issue, though, as it misses the ability for the end-user to say “yes, this is really what I meant” (as, for non-FFI crates, there should be no way to generate undefined behavior by having multiple dependencies of the crate, but it's likely to end up with unexpected behavior). Also… well, it appears to be quite convoluted to setup 😁

That said it means

[2018-08-21 17:14] joshtriplett commented on #5340
@dekellum `">= 0.1.2, < 0.2"` is the same as `"~0.1.2"`.

[2018-08-21 18:30] dekellum commented on #5340
The human error rate for parsing and interpreting `/[~^=]?M[.m[.p]?]?/` is unacceptable high, isn't it? Thus I actually prefer the ">= 0.1.2, < 0.2" (or ">= 0.1.2, < 0.2.0") syntax in Cargo.toml (warnings be damned!),  which per the  [manual](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html) (I'm tired of consulting) is the same as "^0.1.2", same as "0.1.2". I believe for thi

[2018-08-21 18:36] dekellum commented on #5340
Actually the tilde syntax is *extra* confusing as it differs from the rubygems I'm used to, and has another weird caveat that no mortal could possibly remember:

# cargo cult™

[2018-08-21 18:46] jljusten commented on #5737
@JoshBrudnak: Ah, ok.

FWIW, my changes are in this branch: https://github.com/jljusten/cargo/commits/fix-allow-staged

Maybe I'll re-work them as a follow-on to your change.

[2018-08-21 18:58] killercup commented on #5737
Hey, this is now assigned to me to remind me to check in with you how this is going :)

#5910 looks pretty good so far, @JoshBrudnak, and @jljusten's https://github.com/jljusten/cargo/commit/2bbbca31265cc7fddee3ba2d4f14e66517a3aadc also contains a test -- would be great to combine the two! (For example: If you add each other to the forked repos as contributors, you can both push to each others PRs

[2018-08-21 18:58] killercup commented on #5740
@JoshBrudnak this is assigned to me to remind me to check in on this. How's it going? :)

[2018-08-21 19:13] JoshBrudnak commented on #5737
I haven't checked other VCSs yet. @jljusten do you want me to cherry-pick jljusten@2bbbca3?

[2018-08-21 20:44] JoshBrudnak commented on #5740
I haven't had much time to work on it, but I'll be able to look into it later today. Thanks. :+1:

[2018-08-21 20:51] #5903 closed

[2018-08-21 21:59] dekellum commented on #5340
@joshtriplett apparently didn't mean "~0.1.2" (human typo) and of course this lint doesn't want to keep the tilde operator either, so in that limited sense we agree. :-)

[2018-08-21 23:23] DarrienG opened #5922 "Does not compile on latest commit"
![2018-08-21-192232_825x187_scrot](https://user-images.githubusercontent.com/5041953/44434157-a6077d00-a577-11e8-887b-e20df6c2308b.png)

[code]

[2018-08-21 23:27] DarrienG commented on #5922
Ahh this is awkward. That was meant for a different repo. Sorry.

[2018-08-21 23:27] #5922 closed

[2018-08-22 02:13] nipunn1313 opened #5923 "Cargo varies between absolute/relative path passing vendor dir to rustc"
Here's the setup with two workspaces

[code]

The .cargo/config points to
[code]

When compiling something in w1, the command line might look like this:
[code]

When compiling something in w2 the command line might look like this
[code]

Given that I share a CARGO_HOME across these two, and AFAICT, the cargo dep caching is based on rustc command line, if I alternate between compiling these two, it

[2018-08-22 02:48] infidel opened #5924 "Peer certificate cannot be authenticated"
I installed this:
[code]
And I'm trying to build https://github.com/nokia/nperf but it can't download dependencies:

[code]

It is probably something to do with the corporate network security but cargo doesn't even tell me what URL it is trying to download so how do I diagnose it? "cargo fetch -vv" displays the same output as "cargo fetch", which seems strange. "cargo update" works fine.

[2018-08-22 06:50] dwijnand commented on #5923
Similar (but distinct) to #5895, which is about relative paths in error messages.

[2018-08-22 08:15] dwijnand commented on #5917
Hey again @brson.

So, yes, your suspicion was correct and this was to address the mismatch between `cargo install` and `npm install` (and possibly others).

Effectively plain `cargo install` is deprecated. It'll keep working and warn on 2015, and bail on 2018.

The replacement is `cargo install --path .` which is what the warning message is trying to communicate. But it seems that the way it's wo

[2018-08-22 09:04] jljusten commented on #5737
@JoshBrudnak: If you cherry-pick just that patch, the test would fail. I changed the code to print out the list of staged files with `(staged)` after each staged filename. (I also added `(dirty)` for the non-staged files.) So, our implementations were a bit different. My thought was this would help the user to know if they needed `--allow-dirty`, `--allow-staged`, or both.

[2018-08-22 09:32] infidel commented on #5924
I figured out how to add the necessary root CA, but still, why didn't it display the URL that failed?

[2018-08-22 17:03] alexcrichton commented on #4942
Oh yes indeed! The previous fix may have been too big a hammer and I'd definitely believe it's possible to solve this without breaking crates. I don't personally (nor do I think @matklad) has time to work on this right now, but we can certainly help review PRs to finish implementing this!

[2018-08-22 17:16] konstin opened #5928 "Workspaces cause incorrect linker args"
For crates built upon [pyo3](https://github.com/PyO3/pyo3), you need different linker args for binaries and libraries. Binaries need to link libpython, while libraries are forbidden by [PEP 513](https://www.python.org/dev/peps/pep-0513/#libpythonx-y-so-1) to link libpython. By default pyo3's build script add emits the arguments to link libpython and libraries use a feature called `extension-module

[2018-08-22 17:37] Eh2406 commented on #5920
@Ekleog I think [`rayon-core` uses `links`](https://github.com/rayon-rs/rayon/blob/master/rayon-core/build.rs) for exactly this purpose.

[2018-08-22 18:02] #5917 closed

[2018-08-22 20:19] joshtriplett commented on #5638
We'd definitely like to see an RFC for this, especially because any change here has security implications.

Speaking only for myself, I would roughly suggest that I'd prefer a solution that passes this configuration either by environment variable or by an include directive, rather than by an executable script, unless you *absolutely* need a script.

[2018-08-23 13:25] gnzlbg opened #5930 "warning: file found to be present in multiple build targets"
In the cargo-asm project cargo produces the warning:

[code]

Since it is a warning, I assume that I must be doing something wrong / not as good as possible there, and that there is something that I can do to silence it.

I have no idea what that can be: `cargo-asm` produces two binaries, `cargo-asm` and `cargo-llvm-ir`, both are identical. Ideally, I'd just produce one, and then create a link wit

[2018-08-23 14:30] djc opened #5931 "Per-user compiled artifact cache"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/cargo/issues/5931)*

MVP design: cache intermediate artifacts across projects with minimal cache poisoning
- Only immutable items (registry, git, not path)
- Idempotent builds (no build script executions + dependents, no proc macro dependents)

Roadmap:
- [x] Split out a `build-dir` to communicate out early what will

[2018-08-23 16:39] mbrubeck commented on #4664
Also duplicated by #4866.

[2018-08-23 16:58] #5916 closed

[2018-08-23 17:54] Nemo157 opened #5932 "cargo build in a workspaced crate builds workspaces' default members"
I [have a virtual workspace where I override the `default-members`](https://github.com/Nemo157/embrio-rs/blob/d67a3eaf25c3503b3586c8450e0176654ca69d4e/Cargo.toml). I expected this to just set the package that builds when in the root of the virtual workspace, however when I go into one of the members sub-directories I find that it still only builds the default members:

[code]

[2018-08-23 18:08] joshlf opened #5933 "Support multiple license files"
Cargo's `license-file` manifest key allows a crate author to specify the path to a license file. However, some projects have different license files applying to different files. Cargo should add a new `license-files` (plural) key which takes an array of file paths, which would be mutually exclusive with the `license-file` key.

Discussion on internals [here](https://internals.rust-lang.org/t/cargo

[2018-08-23 18:30] alexcrichton commented on #5928
This is a conflation of a number of preexisting bugs. They're not super well indexed unfortunately. Cargo unions all features which means with `--all` it would union all the features requested by anything, and a different bug means that Cargo never compiles multiple versions of a crate with different sets of features meaning that a crate is only compiled once with one set of features.

In that sen

[2018-08-23 18:33] alexcrichton commented on #5931
There's been musings about this historically but never any degree of serious consideration. I've always wanted to explore it though! (I think it's definitely plausible)

[2018-08-23 18:48] brson opened #5934 "In cargo book, consider giving guidance on purpose of 'authors' field."
It occurs to me that there are two ways to think of it - a list of the majority / original authors of the software, or a list of contacts / current maintainers. I've thought of it as the former, but maybe it's intended as the latter; maybe it's intentionally open for interpretation.

[2018-08-23 18:48] brson commented on #5934
re https://doc.rust-lang.org/cargo/reference/manifest.html. The only text I see on it is 'mandatory'.

[2018-08-23 18:58] alexcrichton commented on #5930
This can happen when there are two targets (like two `[[bin]]` sections) which point to `path = "cargo-asm/src/main.rs"`, is that present in your project?

[2018-08-23 22:30] gnzlbg commented on #5930
Yes that's exactly the case.

[2018-08-24 02:00] CasperN opened #5936 "cargo doc cannot find library from its examples"
I tried to have cargo doc make documentation for the examples in my crate. I expected that adding `doc=true` to an example declared in my `cargo.toml` makes this happen. Instead, cargo doc fails and cannot find the library that the examples are in.

In my example below, `cargo run --example one` runs successfully but `cargo doc` fails with
[code]

Code:

test_doc/examples/one.rs
[code]

test_doc/s

[2018-08-24 10:28] ks opened #5938 "Using a crate of a binary (not library) as a dependency?"
There's a bitcoin client in Rust, not on crates.io, I've installed with:
```cargo install --git https://github.com/paritytech/parity-bitcoin pbtc```

I'm not interested in the resulting binary `pbtc`, but want to use it's code as a dependency.

Is that possible? Having my own main function outside of the pbtc repo, reusing the library parts?

If it's not possible to specify it in Cargo.toml, the o

[2018-08-24 12:32] davechallis commented on #2748
Are there currently any good workarounds for this? I'm working on a project which uses a 3rd party submodule (which itself contains submodules), and which makes heavy use of symlinks throughout its directory structure (which makes modifying it non-trivial).

[2018-08-24 16:31] alexcrichton commented on #5938
Thanks for the report! For Rust code you'll want to use the normal `[dependencies]` section for crate deps, does that work for you?

[2018-08-24 16:51] ks commented on #5938
Hmm, I understand from the cargo doc that it supports git repos as deps...
But how to deal with the fact it's not a library but produces a binary executable (has main.rs ...) ?

[2018-08-24 16:57] alexcrichton commented on #5938
Ah currently Rust crates can only depend on libraries, they can't depend on binaries

[2018-08-24 17:57] ks commented on #5938
Understood, thank you.

[2018-08-24 17:57] #5938 closed

[2018-08-24 20:13] #5923 closed

[2018-08-25 04:25] ehuss opened #5940 "Timing errors on some cargo tests on macOS"
Due to the mtime change in #5919, the following tests fail frequently (some are ~50% on my system) on macOS:

* `bench::bench_twice_with_build_cmd`
* `bench::pass_through_command_line`
* `build_script::flags_go_into_tests`
* `build_script::fresh_builds_possible_with_link_libs`
* `build_script::fresh_builds_possible_with_multiple_metadata_overrides`
* `build_script::optional_build_dep_and_required_

[2018-08-25 18:41] ehuss commented on #5940
@alexcrichton Do you have any opinion on how to proceed?

Essentially any test that does:
1. Create or modify a file.
2. Build something.
3. Build again.

Where step 2 finishes within 1 second, and step 3 expects the results from 2 to be fresh can fail.

Adding sleeps to all these tests doesn't sound great, and will be a problem that will likely plague future tests.  The only real option I can thi

[2018-08-25 18:58] Insomgla commented on #4446
Hello, here is a quick attempt at drawing a minimalistic a logo. It's not vectorial yet, it was just an idea based on the proposals above. Any criticism is very welcome

![cargo](https://user-images.githubusercontent.com/41265192/44621631-8ccd3c00-a8a9-11e8-8ef8-4b65ff0596f3.png)

[2018-08-25 20:06] infinity0 commented on #5933
Thanks, I'll keep an eye on it.

[2018-08-25 21:55] synek317 commented on #2911
Some ugly workaround, at least for some cases, is to extend all your #[cfg(feature = ...)] with `test` (e.g. #[cfg(any(test, feature = "..."))] and copy all optional dependencies in [dev-dependencies] and remove `optional = true`.

It works nice for me but for sure there are cases where it is not enough.

[2018-08-26 21:25] alexcrichton commented on #5940
Hm so one thing I've always wanted to perfect in the past is just manually changing the mtimes on files. Could that be done to simulate a sleep perhaps?

[2018-08-26 23:59] ehuss commented on #5940
That's an interesting idea for some of the tests, but I would be reluctant to try to cover dozens of tests with that kind of logic.

One idea I had would be to add hashing only to files that were modified around the time the build starts (say within 2 seconds or so).  That would likely avoid performance issues with hashing larger projects, and make cargo resilient against imprecise mtimes.

[2018-08-27 15:18] VictorKoenders opened #5941 "--dry-run does not validate dependencies"
Currently running `cargo publish --dry-run` succeeds if the crate has wildcard dependencies. It would be nice if `--dry-run` would fail or give a warning if there are wildcard dependencies

When running `cargo publish`, the user then gets (correctly) prompted this error:
[code]
Possibly other validations could be performed on a dry run as well

[2018-08-27 17:07] alexcrichton commented on #5940
It's true yeah that'd work! I'm hesitant though to implement such a large change just to fix a few tests. I can try to test out the changes for moving mtimes into the future when I get a chance, but something like hashing should likely be done as its own standalone feature (with its own discussion and whatnot)

[2018-08-28 08:50] dwijnand commented on #5788
The other way to rerun Clippy is to touch the lib.rs/main.rs of the crate.

[2018-08-28 10:28] 10110111 commented on #5894
I have the same failure when trying to fetch dependencies like `getopt` while building `rustc-1.25.0` using BLFS instructions on Ubuntu 14.04.

The symptoms are the same: I can ping `static.crates.io`, but `cargo` fails to resolve the host. Interestingly, adding the `13.33.76.234 static.crates.io` to `/etc/hosts` works around the problem (the IP address was taken from `ping` output).

[2018-08-28 22:05] KenanSulayman commented on #2823
Unfortunately this is a problem, though. Most packages depending on nom, for instance, aren't disabling the default features, making it impossible to use them in `no_std` because nom per default enables the `std` feature.

[2018-08-28 22:09] sfackler commented on #2823
Are those crates declaring themselves `#![no_std]`? If forgetting to turn off nom's std feature is the only thing preventing them from being no_std then it seems like a bug on their end.

[2018-08-28 22:17] KenanSulayman commented on #2823
No, they are not. The real-world example at hand is [ructe](https://github.com/kaj/ructe) (compile-time templating engine) in a WebAssembly project; since it is not disabling the the default features, nom will not build. I subsequently forked the project and tweaked the dependency to disable those features: https://github.com/KenanSulayman/ructe/commit/d1008fb3b52ce62d5f92244135b426cc93f587de.

I'

[2018-08-28 22:32] KenanSulayman commented on #2823
I think I see what you're saying now. You're definitely correct that the problem already starts when the modules are not marked as `#![no_std]`. I can see that; changes will be required to that module either way in order to gain support, so it would be better to directly add `default-features = false` to that module then explicitly.

[2018-08-28 22:58] dwijnand commented on #5742
After #5942 the last remaining hamcrest usage is this kind of stuff:

[code]

Any preferences on what to use in place of hamcrest?

[2018-08-29 00:27] alexcrichton commented on #5742
I'd probably just switch most of those just plain old `assert!` statements, no need to be too too fancy!

[2018-08-29 12:36] aep commented on #5139
for anyone else coming here googling:
[code]

[2018-08-29 12:42] japaric opened #5946 "runner setting is ignored when set via `target.cfg(..)`"
# STR

[code]

### Meta

[code]

is there a reason why this doesn't work? or is it a bug? My use case is writing a single `target.'cfg(..)'` instead of several individual `target.$triple` settings.

[2018-08-29 17:08] #5742 closed

[2018-08-29 18:42] #5737 closed

[2018-08-29 19:05] orium commented on #5905
rustc doesn't even emit a warning.  Opened issue rust-lang/rust#53797.

[2018-08-29 19:33] JoshBrudnak commented on #5740
I guess I won't be working on this since @dwijnand took it. :smile:

[2018-08-29 20:29] joshtriplett commented on #5720
Unfortunately, dropping privileges tends to require starting as root.

However, things like seccomp might help, though they're Linux-only.

[2018-08-29 22:36] dwijnand commented on #5738
I had a go at fixing this in #5948 (using the third option), but Alex notes:

but suggests we could still go with this option by changing the compiler to get the lint to expose its lint group and using that.

But it might be fun to see how to fix rustc so `-A warnings -W rust-2018-compatibility` honour precedence, _and_ see what kind of fallout that has.

Either way I'd need some rustc mentorship.

[2018-08-29 23:47] alexcrichton commented on #5738
Yeah and to recap what we discussed, two ideas I have for fixing this in rustc are:

* First, fix how rustc handles `-A warnings -W rust-2018-compatibility` to actually work
* Second, include the lint group in the diagnostic message somehow so we can read it out

I'm not sure how to do the latter but the former is related to [this block of code](https://github.com/rust-lang/rust/blob/1c84d8187395b

[2018-08-29 23:49] alexcrichton commented on #5736
I sort of forget the original rationale for this, but one articulation of a use case is:

* First, run `cargo fix --edition`
* Realize that you have a ton of warnings, and it turns out that `cargo fix` has a bug in it. A big message was printed at the top indicating so, and you'd like to see it again.
* Rerun `cargo fix --edition` and this time redirect the output to a file so you can read over it

[2018-08-30 00:01] alexcrichton commented on #5905
Thanks! In that case I'll close this in favor of that

[2018-08-30 00:01] #5905 closed

[2018-08-30 05:04] dwijnand commented on #5738
Yep!

[2018-08-30 05:15] dwijnand commented on #5740
There's an initial, starting implementation in #5947, but @alexcrichton is hoping to get a few more user reports to figure out what needs printing. See [his comment](https://github.com/rust-lang/cargo/pull/5947#issuecomment-417147253).

[2018-08-30 05:34] dwijnand commented on #5736
Looks like #5944 might be doing the trick.

[2018-08-30 09:15] lostiniceland commented on #5717
Curl provides these two options

- https://curl.haxx.se/libcurl/c/curl_easy_setopt.html#CURLOPTLOWSPEEDLIMIT
- https://curl.haxx.se/libcurl/c/curl_easy_setopt.html#CURLOPTLOWSPEEDTIME

An option to override those would probably be enough. Or Cargo sets higher values if a proxy is configured.

[2018-08-30 10:40] vassilevsky commented on #4082
Hello :) Could you tell how CARGO_PKG_VERSION can be read from shell? My vague understanding is that I can make Cargo run some shell script and this variable will be available from that script. But how do I do it? Sorry, I'm new to Rust :)

[2018-08-30 12:19] dwijnand commented on #4661
If this happens we'll want to update https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies (search for "note the `file://` in the build output")

[2018-08-30 16:18] alexcrichton commented on #5717
It looks like Cargo doesn't currently have the ability to overrides its configuration of [`low_speed_limit`](https://github.com/rust-lang/cargo/blob/9ab347d2203b924d303940df468748185a45eea1/src/cargo/ops/registry.rs#L370) and that may do the trick! (Providing the ability to override that)

[2018-08-30 16:30] alexcrichton commented on #5738
Ok so the general idea is that during linting we walk the entire AST, keeping a set of the current lint levels for all lints. This set is modified whenever we encounter lint attributes, and is otherwise automatically managed whenever we walk up/down the AST.

Overall this means that when issuing a lint you don't actually say anything about the lint level. Only during the linting passes do we later

[2018-08-30 18:46] alexcrichton commented on #5940
So here's my rough idea of how to solve this -- https://gist.github.com/alexcrichton/2cc9269dbd3061d36aa4e3b66ab60a56

The idea there is that let's try to make cargo's test suite actually consistent across all platforms, and let's stop dealing with filesystem weirdness and spurious failures on CI. To that end the test suite unconditionally moves *everything* (except the target directory) to a know

[2018-08-30 18:55] lostiniceland commented on #5717
Thanks for providing the location. This is exactly our problem since the proxy only sends 5 bytes/sec.

I can try to work on a PR.
Can I just replace my local cargo binary with an updated one for testing? Or is there a better way?

[2018-08-30 19:52] alexcrichton commented on #5717
Ah yeah a `cargo build` in this repository should produce another cargo binary and you should be able to use that one in-place instead of the already installed version

[2018-08-30 22:04] dwijnand commented on #5738
After several passes, yes.

But to drive it home could you give me a few working and not working examples (expected vs intended behaviour)? I'm actually not too familiar with rust's lints or rustc's CLI. Thanks!

[2018-08-30 22:52] alexcrichton commented on #5940
Actually I'm almost done finishing off a patch that does this, I'll post for review soon

[2018-08-30 23:50] alexcrichton commented on #5940
Ok, I've posted https://github.com/rust-lang/cargo/pull/5953

[2018-08-31 07:59] sdroege opened #5954 "Allow specifying dependencies per feature"
Most feature-dependency correspondences can currently be modeled by making the dependency optional but having the feature depend on this.

This is not possible (from what I see) if "feature-a" and "feature-b" depend on the same crate but in different versions, as each crate can only be specified once.

A syntax like the following would seem consistent for that case (and could also provide another

[2018-08-31 09:32] therealprof opened #5955 "Cargo 0.28.0 and later break cargo-bloat for embedded"
As reported in https://github.com/RazrFalcon/cargo-bloat/issues/25 I upgraded `cargo-bloat` to the latest version which also bumps the `cargo` dependency to 0.28.0 and this seemingly breaks `cargo bloat` for use on cross-compiled binaries. I verified that bumping the dependency to 0.29.0 does not address the issue while going back to 0.27.0 rectifies the problem.

[2018-08-31 14:31] max-sixty commented on #5596
I didn't think this was worth a new issue, so adding here.

Has anyone had any success with completions for cargo using fish? My rustup completions work great, but cargo gives a very odd set of choices:

![image](https://user-images.githubusercontent.com/5635139/44918444-f2d21d00-ad08-11e8-8cf0-738a8207c10f.png)

[2018-08-31 16:43] alexcrichton commented on #5955
Thanks for the report! We don't provide stability guarantees though about Cargo used through its library API. To that end we're happy to take PRs but we don't track the issues like this here unless it's a bug with Cargo-the-CLI

[2018-08-31 16:43] #5955 closed

[2018-08-31 18:10] alexcrichton commented on #5954
I think that this may also largely be supported by https://github.com/rust-lang/cargo/issues/5653? May make it a bit easier to specify as well!

[2018-08-31 18:16] mykmelez opened #5956 "Cargo and/or other tools add Cargo.lock files and other build artifacts to registry"
As described in [bug 1461553, comment 2](https://bugzilla.mozilla.org/show_bug.cgi?id=1461553#c2) and later comments, Cargo and/or other tools that are using Cargo's global registry sometimes add Cargo.lock files to the crate directories (i.e. unpacked tarballs) in the registry. And they've been known to add other files as well, f.e. the [lalrpop](https://github.com/lalrpop/lalrpop) crate director

[2018-08-31 18:37] therealprof commented on #5955
So this is it then? A valuable tool breaks, the author can't fix the problem because it's in a third party component and the authors of a third party component won't even look at the problem?

Frustrating...

[2018-08-31 19:47] dwijnand commented on #3829
From https://github.com/rust-lang/cargo/issues/5955#issuecomment-417723058 and https://github.com/rust-lang/cargo/issues/5839#issuecomment-411008471, no, it's not.

[2018-08-31 19:54] lostiniceland commented on #5717
Here´s how to reproduce the issue (adjust tc to your network adapter.

`sudo tc qdisc add dev eth0 handle 1: root htb default 11 && sudo tc class add dev eth0 parent 1: classid 1:1 htb rate 5bps && sudo tc class add dev eth0 parent 1:1 classid 1:11 htb rate 5bps`

to clear tc call
`sudo tc qdisc del dev wlan1 root`

How to reproduce

- clear cargo download cache

- start a cargo build

- wait for

[2018-08-31 20:28] dwijnand commented on #5955
As a solution going forward, perhaps it's worth having a CI build (either during PR validation and/or a nightly build) that tests against latest/source cargo? The idea being that you would have forewarning when a breaking change lands.

Maybe it should be a best practice for cargo extensions (custom commands, or whatnot).

[2018-08-31 22:15] alexcrichton commented on #5738
Sure!

* [This should generate a warning](https://play.rust-lang.org/?gist=e13ed11de54f256c4ed7f4df06a19252&version=stable&mode=debug&edition=2015)
* [This should continue to not generate a warning](https://play.rust-lang.org/?gist=6d4654539382c8afccbbec99efd3b6a3&version=stable&mode=debug&edition=2015)
* [This should generate a warning](https://play.rust-lang.org/?gist=f5f7fd468e113e4995eb2293747

[2018-08-31 22:52] therealprof commented on #5955
It's certainly a good idea to do that but I don't see how it addresses the problem. Say you're forewarned about an upcoming compatibility issue, what are the options? Staying on the old version indefinitely? And then let me ask the same question again but with the background that the tool we're talking about just so happened to work for embedded development without any intention to enable that use

[2018-09-01 04:12] dwijnand commented on #5738
Alright, thank you. I'll see what I can do.

[2018-09-01 09:57] jashank opened #5958 "panic: "`rustdoc` should not accept multiple `-p` flags" with `--document-private-items`"
Running cargo 1.29.0-nightly (0ec7281b9 2018-08-20) on x86_64-unknown-linux-gnu.
I've grabbed rust-lang-nursery/futures-rs from Git, and am attempting to generate documentation. If I do `cargo doc --document-private-items` in the workspace at the root of the repo, I get a panic:

[code]

[2018-09-01 16:47] ehuss commented on #5958
If you want a workaround, you can run:
`RUSTDOCFLAGS=--document-private-items cargo doc`

I'm not sure I understand the original motivation for the restriction that custom flags can only apply to one Unit, especially considering you can use environment variables to circumvent that restriction.

[2018-09-02 06:26] Kane-Sendgrid commented on #4301
@alexcrichton does cargo always copy files to target folder? In this case extra disk space is used (could symlink instead).

[2018-09-02 08:13] derekdreery commented on #4511
I've made a package called [`cpu-monitor`], that has minimal dependencies apart from [`skeptic`]. Unfortunately skeptic pulls in a lot of stuff that isn't necessary apart from for testing, which makes people not want to use my crate.

This would still hit them in debug mode.

I'm going to experiment with solutions, probably a feature flag that is required to run skeptic, but as @DarkEld3r says, it

[2018-09-02 16:22] aidanhs opened #5960 "Cargo will always invoke the 'true' rustc on Windows, rather than a rustc shim"
(by a 'rustc shim' I'm referring to things like rustup - it puts a shim rustc on the path which invokes the true rustc)

As part of invoking rustc for compilations, cargo will put a number of paths in the 'library environment', performed here (called from `Compilation::rustc_process`, which is called from `prepare_rustc`): https://github.com/rust-lang/cargo/blob/d4ee795/src/cargo/core/compiler/com

[2018-09-02 17:17] aidanhs commented on #5931
[sccache](https://github.com/mozilla/sccache) is one option here - it has a local disk cache in addition to the more exotic options to store compiled artifacts in the cloud.

[2018-09-02 18:15] djc commented on #5931
sccache would be good for the compilation time part, but it'd be nice to also get a handle on the disk size part of it.

[2018-09-02 18:33] nabijaczleweli commented on #3377
Since `5e680f2`, `cargo search` will *no longer* update the registry. This has hit [those users of `cargo install-update` who default to nightly](https://github.com/nabijaczleweli/cargo-update/issues/93) so far, but will outright break every installation as that commits gets released down.

[2018-09-02 20:25] dwijnand commented on #2381
What actions are required to resolve this ticket? I'm confused.

[2018-09-02 20:35] dwijnand commented on #374
Looks (unless I'm confused) like GSoC 2017 led to the creation of https://github.com/rust-lang-nursery/rust-semverver, which seeks to address this. Looks like that needs more work, in anyone here is interested.

[2018-09-02 20:53] Arnavion opened #5962 "cargo doesn't consider crate renaming for optional dependency"
cargo can't install `futures-util-preview:0.3.0-alpha.4`. That crate uses the `rename-dependency` feature like this:

[code]

I have a Cargo.toml that depends on `futures-util-preview`

[code]

`cargo update` fails with

[code]

With `RUST_LOG=debug` :

[code]

This is with latest nightly cargo `cargo 1.29.0-nightly (0ec7281b9 2018-08-20)`.

@Nemo157 suggested

Ref: https://github.com/rust-lang-nu

[2018-09-02 21:08] Nemo157 commented on #5653
New bug with optional renamed dependencies once published: https://github.com/rust-lang/cargo/issues/5962

[2018-09-02 21:33] alexcrichton commented on #5958
Thanks for the report! Definitely a bug in Cargo we should fix!

[2018-09-02 21:38] alexcrichton commented on #4533
@xxks-kkk Currently `rustc-link-args` can't be used to pass linker arguments, I don't think Cargo actually recognizes that key? You should be able to just use `rustc-link-lib` and have it work though.

[2018-09-02 21:42] alexcrichton commented on #4301
@Kane-Sendgrid Cargo internally prefers hard links wherever it can, only falling back to a copy operation if that fails.

[2018-09-02 22:04] xxks-kkk commented on #4533
Hello @alexcrichton,

Thanks for the response. My situation is that I have a C program that can be compiled like the following:

[code]

Now, I'm experimenting with FFI and rewrite the C program using Rust with the help of bindings created by the `bindgen`. In my `build.rs`,  I directly copy the link arguments as

[code]

However, during `cargo test`, Rust gives the error

[code]

So, I remove `-W

[2018-09-02 23:06] ehuss commented on #5958
@alexcrichton What do you think about removing the "only one unit" restriction for `cargo rustdoc`?  I can't think of a specific reason to prevent that.  If not, we'll need to add a new way to pass in extra arguments that don't have that restriction.

[2018-09-03 00:52] drahnr opened #5963 "feature flag overwrites using crates.io do not work, local overwrites with patch do"
With the juice project there is an issue regarding the diamond structured dependency tree.

`juice` needs `coaster-nn` and `coaster-blas`, where `coaster-blas` and `coaster-nn` each require `coaster` for the generic API.
All features flags (in this case, `backends` which is one of `native`, `cuda`, `opencl`) are passed through from `coaster-nn` `coaster-blas` and `coaster` up to juice. The `defaul

[2018-09-03 02:36] Eh2406 commented on #3377
cc https://github.com/rust-lang/cargo/pull/5621 where the logic for `search` was changed.
Note that one of the users of the `search` hack was [crater](https://github.com/rust-lang-nursery/crater/pull/178), so when we have somthing that works, they *need* a PR. In the meantime @pietroalbini how big a deal is it that this is broken?

[2018-09-03 08:00] dwijnand opened #5964 "Command reported as "Running" is a lie"
In trying to debug why `cargo +nightly -v fix` fails with:

[code]

I ran the indicated command, which instead fails with:

[code]

[2018-09-03 08:32] matthiaskrgr opened #5965 "internal tests launch executable on every test run"
There is something strange in the cargo tests.
On every run, it launches a third party program (calibre) to open some documents.
To reproduce, run `cargo test workspace_open` in the cargo repo.
The behavior is caused by these tests:
[code]
This is annoying when running the test suit because I have to close 3 windows after every run.

[2018-09-03 08:32] Nemo157 commented on #5962
Dumping the registry entry for `futures-util-preview(0.3.0-alpha.4)` it doesn't mention the renaming in any way,

[code]

It seems like either renaming will have to be included in the registry, or Cargo can't check features until it has the full manifest available (would this impact which crates are downloaded? I seem to recall that Cargo will download the entire dependency tree ignoring features

[2018-09-03 08:42] matthiaskrgr commented on #5965
Probably caused by  cargo doc --open
https://github.com/rust-lang/cargo/blob/9ab347d2203b924d303940df468748185a45eea1/tests/testsuite/doc.rs#L991

cc @dwijnand

[2018-09-03 08:46] dwijnand commented on #5965
I touched that line last for test suite cleanup reasons, @debris is the original author (#5024).

Perhaps this behaviour is due to the change to `--open` in #5888 by @Seeker14491?

[2018-09-03 08:52] pietroalbini commented on #3377
Uh, this means Crater won't update the registry when generating the lockfiles `:/`
While `cargo update-registry` rides the trains I guess we could use `cargo install lazy_static`, which should do nothing but update the registry (@Eh2406 want to send a PR to Crater?)

[2018-09-03 15:18] kornelski opened #5968 "Target directory isolation/locking fails when cross-compiling"
Usually, when multiple cargo builds are invoked in parallel, the build directory is locked, so they don't interfere with each other.

This locking doesn't work properly when cross-compiling, so two `cargo` processes running in parallel overwrite and delete each other's build scripts.

To reproduce, run two builds of a project that has some large build-time dependencies:

[code]

(or same in `make

[2018-09-03 17:27] alexcrichton commented on #5958
@ehuss I think we'll want to keep that for the `cargo rustc` and `cargo rustdoc` commands as their intention is to execute precisely one rustc/rustdoc invocation with custom arguments, but the implementation of `cargo doc --document-private-items` can probably just be updated to use a different implementation mechanism.

[2018-09-03 17:54] alexcrichton commented on #4533
@xxks-kkk I think what you want to do basically isn't supported. If you need to specify custom linker flags then you'll need to wrap Cargo rather than trying to pass the arguments via a build script (which isn't supported). Instead you'll want to compile a `staticlib` and then invoke the linker yourself.

[2018-09-03 17:59] Seeker14491 commented on #5965
I see the problem.

https://github.com/rust-lang/cargo/blob/9ab347d2203b924d303940df468748185a45eea1/tests/testsuite/doc.rs#L1028-L1032

We set the `BROWSER` environment variable to `echo`, which would previously override what program `cargo doc --open` would use to open the generated docs. This behavior was removed with my changes in https://github.com/rust-lang/cargo/pull/5888; the `xdg-open` sc

[2018-09-03 18:44] nbigaouette commented on #5963
As described in https://github.com/spearow/juice/issues/38, I've created a repo to show this problem.

* In PR https://github.com/nbigaouette/juice_examples/pull/2, the dependency on `juice` from crates.io is added to a hello-world example. Even though only the `native` feature is enabled (`default-features = false` is used on `juice`) the CI shows the failing; linking to both cuda and opencl is a

[2018-09-03 19:33] xxks-kkk commented on #4533
Hello @alexcrichton Thank you for the pointers. That's definitely another direction I can look into. Meanwhile, I try to use `.cargo/config` to pass the link arguments. Everything seems to work except that my static C library requires some header definition. I try to include those header files using

[code]

 I also tried

[code]

None of them works for me. My question is in Rust, if I use any C s

[2018-09-03 20:39] kamalmarhubi opened #5969 "Resolver is too strict in its multiple-crates-`links`-ing check"
I'm attempting to use a feature to allow controlling which version of a -sys crate is used. It looks like I'm running afoul of the restriction on multiple crates having a `links` specified for the same library, even though in any particular invocation only one will be used.

Does the resolver ignore features when deciding if a library is being linked multiple times? It seems that it is, and I thin

[2018-09-03 23:53] #5717 closed

[2018-09-04 00:53] ExpHP commented on #5237
Hmm, this is an unfortunate issue.  I just ran into it with more recent `bindgen`s that require `libclang v0.23`, while the latest release of `mpi-sys` uses `bindgen v0.31` which in turn depends on `libclang v0.21`.

I've long thought that a crate at the top of the dependency tree could link in any arbitrary number of versions of `bindgen` (and this would be true for most other crates!); but in re

[2018-09-04 10:08] viktorchvatal commented on #3931
What about changing Cargo to allow specifying dependencies and their settings like version, etc., in workspace Cargo.toml? These could be used as default parameters for dependencies in inner crates.

Workspace Cargo.toml could have default versions specified
[code]
All inner crates could inherit version from workspace just by omiting version at all
[code]
or specify any other dependency version fo

[2018-09-04 10:31] rossmacarthur commented on #4007
I have this

[code]

[code]

[code]

The problem is mostly that its such a weird error 😕

[2018-09-04 14:51] rida914-4 opened #5972 "Cargo rand compilation errors"
Hi,

This is a general cargo question as a beginner.

I have a rust code which uses rand so i add rand="0.4.3" as a dependency. Idk why when the registry updates randv0.5.5(latest) is automatically downloaded and it also runs into "break loop" error which was stabilized a while ago. I am not sure how to suppress this error or make it not install the latest version.

Cargo.toml
[package]
name = "he

[2018-09-04 15:32] ehuss commented on #5972
Hi @rida914-4.  I'm not able to reproduce getting rand 0.5 with the example you posted.  Can you post a copy of your `Cargo.lock` file?  Also, which version of cargo are you using?

[2018-09-04 15:44] rida914-4 commented on #5972
cargo 0.19.0-nightly (c995e9eb5 2017-03-17)
I am supposed to use this old version. that is why i am trying to force cargo to not install the latest rand version.

I have attached the lock file. You will see mutiple versions of rand. 0.3.22 is the one i specified. and v0.5.5 and 0.4.3, it installs while updating the registry.

[2018-09-04 15:45] rida914-4 commented on #5972
[cargo.txt](https://github.com/rust-lang/cargo/files/2349295/cargo.txt)

[2018-09-04 15:58] #5528 closed

[2018-09-04 16:30] alexcrichton commented on #5969
cc @Eh2406, would you be able to help out with this one?