[2022-11-11 13:50] epage commented on #11361
Besides links, I also feel like being in rustdoc will make it easier to keep up-to-date generally.  The further away discussions of internals are from the source code, the harder to remember it exists and harder to track when a change will be relevant for it.

[2022-11-11 14:33] weihanglo commented on #11361
Note that rustc-dev-guide have got a dedicated team to maintain the contents, whereas for Cargo we don't have such a human power and probably don't need a new subteam. Also, std-dev-guide is in a quite difference situation that it's more a spin-off starting from [existing docs](https://github.com/rust-lang/std-dev-guide/issues/1).

[2022-11-11 15:17] epage commented on #11362
I wish we could just use gitignores for members which would allow both including and excluding on a single field with a very obvious way for them to interact.

[2022-11-11 16:57] brianblank commented on #7330
I'm also getting a 407 code from cargo which is due to failed authentication with a corporate proxy server.  The above code changes from babukin appear to add the necessary parameters to the configuration to allow us to specify the details necessary to get the proxy server to work correctly with cargo.

What is needed to move this fix forward?

[2022-11-11 21:39] tmccombs commented on #3126
One way to solve this could be to create a new special feature with a different name, let's call it new-defaults. If a crate has new-defaults defined, then it can't be opted out of with `default-features = false`, and using the old default mechanism can be deprecated in a new edition.

[2022-11-12 06:06] ShenMian opened #11364 "Different error output style"
### Problem

Different error output style. I think this may not be intentional?

![image](https://user-images.githubusercontent.com/70068015/201459863-940d1b80-6cec-497e-a195-32847098d5c7.png)

### Steps

_No response_

### Possible Solution(s)

Unify the error output style.

### Notes

_No response_

### Version

[code]

[2022-11-12 13:48] epage commented on #11364
cargo implements its own subcommand dispatching and is trying to emulate clap's error to be consistent.  Looks like we've ended up diverging in whether `:` is colored.  I lean towards clap's approach (e.g. I tend to bold my `:` with terms) but I can go either way.

[2022-11-12 15:16] nielsle commented on #8356
Cargo-examples allows you to run all examples

https://github.com/zxey/cargo-examples

[2022-11-12 15:34] bismurphy opened #11365 "Attempting to run `cargo new hello_cargo` gives an error, not finding `safe.directory`"
### Problem

Hello,

I'm attempting to start using Rust for the first time. I was going through this guide:

https://doc.rust-lang.org/book/ch01-03-hello-cargo.html

I ran the basic Hello World, and now when it was time to start using Cargo, I went into my projects directory (which currently holds only the `hello_world` directory), and, as per the guide, ran `cargo new hello_cargo`. When I run thi

[2022-11-12 15:56] Ericson2314 commented on #3126
A lot of people say they want negative features, but I find the idea hard to discuss because there is usually much hand-waving about what the semantics actually are. The current additive semantics are *deeply* part Cargo; we see the same semilattice stuff both the intersecting of version bounds and unioning of feature sets, in fact.

There seems to be two variants, I will call them "hard" and "sof

[2022-11-12 16:04] ehuss commented on #11365
Thanks for the report!  I have identified what is causing the error and am preparing a fix.

As for getting you up and running now, we might need to do a little investigation to figure out why it is happening to you.

The problem is that git doesn't allow opening git repositories that are owned by a different user.  If you are creating your project in a directory that is owned by a different user,

[2022-11-12 16:20] bismurphy commented on #11365
Got it! I changed the ownership to be the same (the directory I was using was from an old Linux installation and it was still registered to the old user). Seems that this was just a matter of poorly-written error message.

I was now able to run the cargo command as expected.

[2022-11-12 16:20] #11365 closed

[2022-11-12 16:36] tmccombs commented on #3126
That would introduce a backwards compatibility hazard.  If Project A forbids feature X in library B, and also depends on library C, then if C adds a dependency on Feature X from B, it will  break project A.

And by itself,  it still doesn't solve the problem of splitting out a new feature from the base.  Because doing so would still break libraries that use default-features = false.

[2022-11-12 16:43] Ericson2314 commented on #3126
@tmccombs I don't think compatibility of that sort matters with the workspace root. If you really don't want feature X, then you don't want any version of C that requires X.

C shouldn't feel boxed in because now (unlike before), users can forbid X, but anyone that forbids X knows the penality may be some build plans are ruled out --- just as they asked for!

Basically we have to always step back

[2022-11-12 18:10] ehuss commented on #11362
`cargo metadata | jq .workspace_members` is usually the best way.

[2022-11-12 20:00] bismurphy opened #11367 "`cargo run`, on a freshly-created cargo project, does not work until after doing a plain `cargo build`."
### Problem

I'm attempting to replicate the tutorial here: https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html

`cargo new guessing_game` gives `Created binary (application) 'guessing_game' package`
Then
`cd guessing_game`, followed by `cargo run` gives:
[code]
This is odd - it successfully compiles, but won't run. So then I do:
`cd ..`, `rm -r guessing_game`, `cargo new guessing_g

[2022-11-12 20:30] ehuss commented on #6258
Recent failure in #11366:

[code]

[2022-11-12 21:05] ehuss commented on #11367
Hm, that's strange. Does the system perhaps have an anti-virus program running or any other kind of background process that may be interfering?

Can you maybe run it under strace to see where the error is coming from? If you are using rustup, you'll need to run something like this to avoid tracing the rustup wrapper:

[code]

[2022-11-12 22:11] bismurphy commented on #11367
Okay, I think I got that. Not feeling great about what starts at line 252, could you let me know if I'm leaking some sort of secret? https://gist.github.com/bismurphy/6112cc7cfbd6c0c77d3c43afe35a01e6

It doesn't match any of my SSH keys or anything, but I'm not sure where that's coming from - if it's a problem I'd like to know so I can delete. Thanks!

[2022-11-12 22:34] alsuren commented on #9599
Hello. I would like to pick this task up. I will timebox 1 week for this, before I start my new job. If I haven't made any progress by then, I will park it and let someone else have a go.

(for context: I am currently using a copy-pasta of `cargo::ops::tree::graph::Graph` in my cargo-quickbuild prototype, and its proc-macro handling is causing me to calculate the wrong sets of features for some tr

[2022-11-13 10:16] #3736 closed

[2022-11-13 21:03] pietroalbini commented on #11345
Fixed.

[2022-11-13 21:03] #11345 closed

[2022-11-14 00:14] joshtriplett opened #11370 "`cargo tree -d` with multitarget configured shows duplicate dependencies once per target"
### Problem

With multiple targets configured in `.cargo/config.toml`, `cargo tree -d` will show each duplicated dependency once per target per version. For instance, with two targets configured, `cargo tree -d` will show each duplicated dependency twice per version of that dependency. It should show each version of the dependency only once.

### Steps

1. Make sure you have the `x86_64-unknown-li

[2022-11-14 02:21] simbleau opened #11371 "`cargo install` using massive memory footprint under Docker/Buildx/QEMU"
### Problem

Docker with QEMU and Buildx seems to be incapable of any cargo command without enough memory demand to crash GitHub Actions. Which means it's using at least 4GB Ram (GitHub Actions free version capacity), which seems unreasonable...

Example:
https://github.com/simbleau/cddns/actions/runs/3457952620/jobs/5771886161

### Steps

Inside a Dockerfile, run `cargo install ...`

### Possible

[2022-11-14 03:18] ehuss commented on #11367
`/usr/lib/ssl/certs/ca-certificates.crt` are the public certificates for the root servers for SSL, I don't think it's anything to be concerned about.

It looks like you are using a samba mount. I would suspect that is the culprit. Can you perhaps use a locally mounted drive?

[2022-11-14 05:34] ktmlm opened #11372 "features settings are incorrectly overridden"
### Problem

When a crate that is directly dependent on the codebase is also depended on by another dependency, the features set for this crate in the codebase will be incorrectly overwritten by the features in that indirect dependency.

The premise of this phenomenon is that the version of the crate used is the same, and the source of the code is the same. But if the version is different, or the

[2022-11-14 07:47] simonbuchan commented on #5969
It still conflicts even in the `[target.'cfg(foo)'.dependencies]` vs `[target.'cfg(not(foo))'.dependencies]`, which is pretty frustrating.

In my case, I have a conflict in switching between `web-view` and `wry` with a feature on windows (where the former doesn't have a dependency, but the latter can be debugged), but there is a links conflict for the library both use on linux :|

[2022-11-14 10:48] IceTDrinker commented on #4937
I seem to be experiencing the symptoms described by OP, a source dir mounted in a docker container via a bind mount and a cache volume for the target dir (to avoid having to recompile everything)

[2022-11-14 11:47] weihanglo commented on #11372
In Cargo, [features get unified](https://doc.rust-lang.org/cargo/reference/features.html#feature-unification) during the compilation. In your particular case, assumed all the presences of crate `X` in your dependency tree are in SemVer-compatible versions. You should get a unified feature set `["json_codec", "bincode_codec"]` annd `X` compiles only once with that feature set.

You can also run `ca

[2022-11-14 12:21] weihanglo commented on #11371
Looks like it failed during `Updating crates.io index`. It is likely an issue of libgit2 memory usage. Please try out this solution https://github.com/rust-lang/cargo/issues/10583#issuecomment-1129997984 or use unstable feature [`sparse-registry`](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#sparse-registry) to fetch registry data on demand.

I am going to close this at this mom

[2022-11-14 12:21] #11371 closed

[2022-11-14 12:28] RalfJung commented on #4001
To add one more to the list, this would also help a lot for Miri in cross-target mode. Miri is perfectly able to interpret code for an arbitrary target, but build scripts can break this if they insist on building some C code for that target first -- C code that is not useful for Miri anyway.

They should only do whatever is needed to get a check-build of the Rust code to pass. Since that does not

[2022-11-14 12:44] jyn514 commented on #4001
Yes, exactly :)

[2022-11-14 14:20] niyue commented on #1839
This doesn't seem to be a valid solution any more. According to here, https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#platform-specific-dependencies

[code]

[2022-11-14 14:44] bismurphy commented on #11367
Yes, with a local drive it works fine. I make my home directory a samba mount so that I have access to all my personal files no matter what computer I'm using, including if I decide to reinstall my operating system on any of them.

It still seems odd that it would work this way on only a samba instance. I've never had any other programs struggle like this. Is there anything we can do to debug why

[2022-11-14 18:08] howardjohn opened #11376 "config.lock exceptions when sharing only ~/.cargo/registry mount"
### Problem

We are seeing issues when we have multiple Cargo instances running concurrently while sharing a `~/.cargo/registry`. These builds are run in docker containers, but with a shared volume mounted to `~/.cargo/registry`, with the intent that crate dependencies will be cached between jobs.

This works normally. However, when we run 2 jobs concurrently, we occasionally see issues.

Below sh

[2022-11-14 21:26] weihanglo commented on #11376
Thanks for posting this.

Is the shared volume on NFS? I am asking because Cargo does have a [coarse advisory file lock mechanism] with the file `~/.cargo/.package-cache`, based on `flock` on Unix and `LockFileEx` on Windows. It seems like flock doesn't work on your platform. Or maybe some other special settings on Docker shared volumes is causing this?

[coarse advisory file lock mechanism]: http

[2022-11-14 21:52] howardjohn commented on #11376
Its on a Kubernetes cluster with a hostPath mount. Its actually using containerd I guess, not Docker.

Volume settings:

[code]

The OS is "COS" (a GCP container optimized OS).

As far as I know this should be ~equivalent to just a standard docker container and mount

[2022-11-14 23:27] weihanglo commented on #11376
Hmm… I see. I guess probably the file lock located at `~/.cargo/.package-cache` is not shared, so the advisory lock mechanism won't work. A possible way to solve this might be fetching registry data and `.crate` file in a single container, and then using multiple containers to build concurrently. This will also save some bandwidth.

[2022-11-14 23:56] howardjohn commented on #11376
Thanks for the insight, that would certainly explain this!

Unfortunately our CI is pretty naive so we can't easily sequence containers. I had initially wanted to mount the full `~/.cargo`, but the issue I ran into is that it then overrides `~/.cargo/bin` so we lose a bunch of binaries from the container. I suppose we could just move everything out of `~/.cargo/bin` though, as a workaround?

It do

[2022-11-15 00:20] ahicks92 commented on #4001
It could be useful to explore whether or not cc can compile the code without optimization or debug symbols, then never link the final objects.  I would see value in knowing that I broke all my C code if I'm writing part of the Rust project in C.

Unfortunately I don't think cmake can do this (well, not reliably. You can ask it for a list of commands it would have run. But let's not...).

[2022-11-15 03:35] skyzh opened #11378 "one-line config for using rust-lld"
### Problem

I'm thinking of if it is possible to use rust-lld installed by `rustup component add llvm-tools-preview` using a one-line config like `linker=rust-lld`. Currently configuring it on macOS is relatively hard.

Basically what I'm doing now is like:

[code]

Probably we can do something to make the configuration easier?

### Proposed Solution

If `linker = 'rust-lld'` in `Cargo.toml`, we

[2022-11-15 06:26] tchernobog commented on #4001
It can. Use object libraries.

[2022-11-15 07:19] RalfJung commented on #4001
Ah I see... I was thinking of "what is the least amount of work needed to produce rmeta files", since I view that as the goal of cargo check, but that is not the only way to think about this.

[2022-11-15 09:28] pmespresso commented on #9742
@alexcrichton  So do you recommend just letting rust-analyzer run through? It seems almost every time I start a new project I run into this issue and rust-analyzer doesn't finish running particularly fast either...

[2022-11-15 10:39] ia0 commented on #9094
It seems to me that we don't want to go with something automatic:
- https://github.com/rust-lang/cargo/issues/2593#issuecomment-212508225: "This seems like a pretty strong antipattern"
- https://github.com/rust-lang/cargo/issues/2593#issuecomment-220474831: "We don't want to implement these semantics as-is as they're a little too magical"
- https://github.com/rust-lang/rfcs/pull/1787#issuecomment-

[2022-11-15 11:30] weihanglo commented on #9599
Looks like a big plan! Previously I was asking using unit graph instead, but [the reply from ehuss](https://github.com/rust-lang/cargo/issues/9599#issuecomment-869833238) made me wonder it may be really challenging.

I would recommend experimenting on what you list in the first step, and then assert against the current output first. Fuzzer/protest can be added after we're all happy with the change

[2022-11-15 12:04] alsuren commented on #9599
Thanks for your feedback. I will be working in the open on #11379, if you want to follow along (it's not very interesting at the moment though).

Yeah, it looks like there are already quite a lot of `cargo tree` integration tests, so I should definitely get those passing before I think about fuzz tests.

That's fine - I need to build something like this for `cargo quickbuild` anyway, so it won't b

[2022-11-15 13:42] TonalidadeHidrica opened #11380 "`cargo fix` does not warn about modifying untracked files"

[2022-11-15 14:54] ehuss commented on #11367
Samba is a pretty complicated beast, and it might take a lot of work to narrow down which combination of the environment that is causing the issue. It will likely depend on what the server is running, which version of the samba protocol it is using, the settings on the server, the settings on the client, the version on the client, etc. I don't have any particular insight into why it might be happe

[2022-11-15 15:53] howardjohn commented on #11376
Thanks a bunch! Super helpful and I think we have things working now. Sounds like this is WAI so I made the title more clear for future folks and will close

[2022-11-15 15:53] #11376 closed

[2022-11-15 16:12] sergey-somkov commented on #5999
You can use environment variable instead of config file modification:
[code]
About cargo environment variables: https://doc.rust-lang.org/cargo/reference/environment-variables.html

[2022-11-16 01:14] aleksanderkrauze opened #11382 "`target.cfg()` section in config doesn't seem to detect `test` option"
### Problem

I have a use case where I want to have two different *runners* depending on run/test mode. I tried to create following configuration file:

[code]

This however doesn't work and cargo always executes `runner.sh`. [Documentation](https://doc.rust-lang.org/cargo/reference/config.html#targetcfgrunner) says that I can use a [cfg() expression](https://doc.rust-lang.org/reference/conditiona

[2022-11-16 02:06] ehuss commented on #11382
Thanks for the report! I believe this is a duplicate of #8170, so closing in favor of that.

Cargo should probably be issuing a warning for keys that it doesn't support. It has this ability for `[target.cfg().dependencies]` tables, but not for `[target]` config tables. It should probably be calling `check_cfg_attributes` (and that function would need the wording fixed since it is specific to depen

[2022-11-16 02:06] #11382 closed

[2022-11-16 05:26] sweihub commented on #545
I am looking for this, it seems NO?  So the workaound to write a `build.sh`
[code]

[2022-11-16 12:53] #11301 closed

[2022-11-16 15:52] pls-kick-me commented on #6489
I make this with this code:
`
fn main() {
    let s1 = String::from("hello");

    println!("address {}.", *&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*&*

[2022-11-16 17:10] ahicks92 commented on #4001
You can't ask cmake to produce an object library on someone's behalf without modifying their CMake source, and so such a solution would fall outside the realm of libraries.  This feature is good for that too, just not something we could feasibly ask the cmake crate for.

What might be useful there though is adding like `-DIS_RUST_CHECKING=TRUE` or something automatically, and documenting that this

[2022-11-16 18:37] cdecompilador opened #11383 "`cargo package` doesn't include build script if this has a custom path"
### Problem

One package can have an entry on the manifest indicating a custom path for the build script, for example:

[code]

### Steps

Create a multiple packages that share a single build script and for programmability reasons keep just a single build script

### Possible Solution(s)

The expected behaviour in this case would be to ship that build script on the root, and a naive solution would

[2022-11-16 19:49] Stebalien commented on #6558
This just hit several rust crates due to https://github.com/bitvecto-rs/funty/issues/7. Unfortunately, lockfiles aren't sufficient if you need to release a tree of inter-dependent _libraries_.

[2022-11-16 21:08] nmittler commented on #10789
I have another use case for this. I'd like to set the value of an environment variable to have the target os and arch embedded in it (e.g. `some/path/${CARGO_CFG_TARGET_OS}_${CARGO_CFG_TARGET_ARCH}`.

I'm not entirely sure, however, if the variables would even be available at the time of evaluation. So this might be a slightly harder problem to solve in that case.

[2022-11-16 22:29] weihanglo commented on #10593
This issue can be fixed by duplicating the logic of resolver to determine the `FeatureFor` artifact deps. The following patch demonstrates it:

<details><summary>Click to view the patch</summary>

[code]

</details>

However, I found another panic in `cargo tree` when it meets all the followings conditions at once:

* a dependency of an artifact dependency is platform specified
* artfiact dep itse

[2022-11-16 23:42] nmittler opened #11385 "Support per-target environment variables"
### Problem

I have a project that is using [cloudflare boringssl](https://github.com/cloudflare/boring), which is a rust wrapper around BoringSSL.

The [cloudflare boringssl](https://github.com/cloudflare/boring) library offers a feature (`fips`) to build a FIPS-compliant version of the library. Enabling this feature will force it to build against a specific (old) version of BoringSSL that was FI

[2022-11-17 00:32] weihanglo commented on #11385
Thanks for your detailed report!

There are some technical issues of supporting things like `[target.cfg(feature = "myfeat")]`  (see https://github.com/rust-lang/cargo/issues/8170). Otherwise, this seems to be a duplicate of https://github.com/rust-lang/cargo/issues/10273. Closing this out in favour of that.

(If you think it is wrong, comment here and we'll consider reopen this 🙂)

[2022-11-17 00:32] #11385 closed

[2022-11-17 04:44] nmittler commented on #11385
@weihanglo Thanks!

[2022-11-17 04:45] nmittler commented on #10273
Same issue here, but was using boringssl. I captured the details here: https://github.com/rust-lang/cargo/issues/11385

[2022-11-17 04:53] cavemanloverboy opened #11386 "`cargo add` and `ctrl + c`"
### Problem

I hit `ctrl+c` when cancelling a redundant `cargo add` command, and discovered that my Cargo.toml had been entirely deleted.

### Steps

1. `cargo add` a crate
2. `ctrl+c` before it finishes successfully

### Possible Solution(s)

_No response_

### Notes

_No response_

### Version

[code]

[2022-11-17 08:44] MatrixDev commented on #10273
IMHO it would be much much better if we could just setup all these configs (including most of the cargo.toml) from the `rs` script (similar to what gradle does). This would simplify non-trivial configuration so much....

Because currently instead of "everything is rust" it is "everything is rust hidden behind toml and shell scripts" :(

[2022-11-17 08:54] weihanglo commented on #10273
For configuring environment variables, it's available today in build script with [`cargo:rustc-env=VAR=VALUE`](https://doc.rust-lang.org/cargo/reference/build-scripts.html#cargorustc-envvarvalue).

[2022-11-17 09:00] MatrixDev commented on #10273
@weihanglo, correct me if I'm wrong, but does it propagate to the libraries before their `build.rs` is executed?

[2022-11-17 09:00] oblique commented on #10273
@weihanglo Not really. This does not propagate to dependencies, so you can not just define `OPENSSL_DIR` from a `build.rs`.

[2022-11-17 09:07] weihanglo commented on #10273
THank you all. That is absolutely the limitation of build script today. Configuration is the current way to deal with that.

[2022-11-17 09:10] MatrixDev commented on #10273
@weihanglo, you can't deal with that with configuration, because configuration doesn't accept `cfg` params. please read my comment above from 28 days ago.

[2022-11-17 09:17] weihanglo commented on #10273
Sorry for not being clear. I didn't mean Cargo already support the feature described in this issue.

Let me summarize:

* Build script can set environment variables but only for the crate it associates with.
* Configuration can set environment variables for all rustc invocations but cannot differentiate `cfg(…)`.

[2022-11-17 12:32] epage commented on #11386
We are using `std::fs::write`, so the scope of this race condition is very small.  Resolving this completely would require an atomic write.

[2022-11-17 14:39] nmittler commented on #10273
@weihanglo makes sense. Do we have a path forward on this then?

[2022-11-17 14:40] ChrisDenton commented on #11386
Could it not write to a temporary file and then atomically replace the original?

[2022-11-17 14:50] nmittler commented on #10789
@weihanglo this combined with #10273 adds a lot of capability to the configuration system. We'd be able to use environment variables within expressions (this issue) and also set them conditionally (#10273).

[2022-11-17 17:01] weihanglo commented on #11383
Oh this doesn't look nice. Thank you for reporting this!

If you have no time to wait for a fix but still want to reuse the shared build script, a workaround would be: Inside your package, create a symlink to the shared file. Then modify the value `package.build` to the symlink. `cargo package` generally follows symlinks and copies file over, so build script should be included automatically.

Besi

[2022-11-17 17:17] weihanglo commented on #11383
### Instructions to fix this

I noticed that [`package.readme`] and [`package.license-file`] fall into the same trap. Thankfully, they've got addressed, and the solution is pretty close to what @cdecompilador suggested: modifying the manifest file during packaging.

So, if anyone wants to help with this, here are some rough instructions in my mind:

1. When Cargo creates a list of archive files, i

[2022-11-17 19:03] cdecompilador commented on #11383
@rustbot claim

[2022-11-17 22:03] djkoloski commented on #7065
This is also affecting dependency vendoring on Fuchsia via [`rules_rust`](https://github.com/bazelbuild/rules_rust).

[2022-11-18 00:07] ehuss commented on #11383
I don't think this is feasible to fix in the same way as readme or license-file. Although it can possibly copy the root file, cargo wouldn't be able to know about modules (or any other resources included via macros), thus not copying the entire crate. This issue also applies to the `path` key of target configurations. I think it would be reasonable to detect this situation and present an error whe

[2022-11-18 00:18] hi-rustin commented on #11380
@rustbot claim

I'll try to fix it.

[2022-11-18 00:42] hi-rustin commented on #11380
@ehuss Do you mind giving some tips about which code causes this issue? I read `cargo fix` code, but it seems for `cargo fix` instead of `cargo clippy --fix`?

[2022-11-18 09:18] weihanglo commented on #11383
Oh deer. You're absolutely right, @ehuss. I totally forgot there is a thing called macro.

Here are possible steps of the strategy Eric suggested:

1. In [`build_ar_list`], check if each targets contains a path inside package root (targets can be accessed via `pkg.manifest().targets()`).
2. If it is outside the package, Cargo then gives users an error. The message could be:
[code]
     (Please pol

[2022-11-18 11:16] cdecompilador commented on #11383
hmmm, this limits a bit the possible usage of the `build = ...` attribute in the manifest, but what @ehuss pointed is a big concern, I will try fix it like @weihanglo said but this makes `build = ...` less useful, since for example in the repo I wanted to use it was needed to avoid having to maintain a multiple `build.rs` that had to be the same for multiple crates, so instead of using symlinks (w

[2022-11-18 11:42] embe-pw opened #11390 "`cargo --locked clippy` behaves differently than `cargo clippy --locked`"
### Problem

It seems that `cargo --locked clippy` is equivalent to `cargo clippy` (without the `--locked` flag) and not `cargo clippy --locked`, which is very confusing.

### Steps

1. `cargo init foo`
2. `cd foo`
3. `cargo clippy --locked` fails (correctly, as there is no `Cargo.lock`)
4. `cargo --locked clippy` succeeds and creates `Cargo.lock` (incorrectly)

### Possible Solution(s)

_No respo

[2022-11-18 13:01] Sytten commented on #10801
This also happens with sea-orm which pulls chrono and time when you use the `with-json` flag.
https://github.com/SeaQL/sea-orm/blob/master/Cargo.toml#L75
This is really wrong.

[2022-11-18 18:19] memoryruins commented on #10801
@jonasbb

I believe this is a known limitation of the resolver/lockfile generation that is intended to be improved eventually. From <https://github.com/rust-lang/cargo/issues/5655#issuecomment-408633070>,

While #5133 mentions `--minimal-cargo-lock`, it doesn't appear to be implemented yet. This should also help with offline usage #10352 and platform specific vendoring #7058

From <https://github.

[2022-11-18 18:43] jonasbb commented on #10801
@memoryruins

This only applies to the root crate (the one you are working on) but not the dependencies. When you depend on `serde` without extra features, then the optional `serde_derive` and any proc-macro dependencies are *not* included, since the feature is not enabled.

<details>
<summary>Cargo.toml</summary>

[code]

</details>
<details>
<summary>Cargo.lock</summary>

[code]

</details>

Thi

[2022-11-18 19:46] memoryruins commented on #10801
@jonasbb

I understand what you mean with weak features now. I'll see if I can find anything mentioned in the past.

Apologies for any confusion, I forgot to add an @ mention to the platform specific part of my comment, which was meant to be in response to @ljedrz https://github.com/rust-lang/cargo/issues/10801#issuecomment-1277842065

[2022-11-18 22:22] Sytten commented on #10801
The issue with platforms should be be a separate issue, this is really for the issue where a dependency is truly never used but still included. Let's keep it on topic 👍

[2022-11-19 04:05] memoryruins commented on #10801
@Sytten

Indeed, I linked to those earlier in https://github.com/rust-lang/cargo/issues/10801#issuecomment-1320376112 so that related discussion can move there.

[2022-11-19 08:31] OneSadCookie commented on #5640
This has bitten me multiple times now, and I still don't have a practical solution to the problem.

In my current case, I'm trying to use `genpdf` which [requires image 0.23.12](https://git.sr.ht/~ireas/genpdf-rs/tree/master/item/Cargo.toml#L28), with `barcoders` which [requires image 0.22](https://github.com/buntine/barcoders/blob/master/Cargo.toml#L24). I'm sure I can find an `image` version com

[2022-11-19 08:31] jonathanpwang opened #11392 "Patch does not apply rename-dependency"
### Problem

I have package 'foo' in 'https://github.com/example/foo'. Let's say it has a dependency
[code]

I import 'foo' to my main project. In main project 'Cargo.toml' I put
[code]
because I want 'foo' to use 'baz' instead of 'bar'. I would expect the transitive dependency patch to allow this to work. However Cargo seems to just not apply this patch at all.

But if I change the crate name for

[2022-11-19 14:35] ehuss commented on #11392
Unfortunately that's not now patches work, and I don't think it is possible for them to support that ability due to the way they are designed.

Cargo probably should produce a warning in this situation that the `package` field is ignored and shouldn't be used.

[2022-11-19 18:50] jonathanpwang commented on #11392
Got it. In this case is there any solution to my problem besides having control of the 'baz' package and renaming it 'bar'?

[2022-11-19 19:11] ehuss commented on #11392
I believe so.

[2022-11-19 20:18] Mart-Bogdan commented on #1982
@hauleth

No, there is benefit -- reduce build time of tests, for example.
And reduce bloat and work on linker to strip uneded code. If bin would require test deps, we would need to buld all tests related stuff for binary.

[2022-11-20 06:13] fMeow opened #11393 "Cargo clone optional git dependencies even if related feature is disabled"
### Problem

Cargo clone optional git dependencies even if the feature is disabled.

We would like to use private cartes in a git repo, and use feature to enable different functions. Moreover, each features gate is provided for different teams, that have varied access to git repos of optional dependencies.

But cargo check will clone all the repo listed in `Cargo.toml`, regardless of whether the c

[2022-11-20 09:39] #11315 closed

[2022-11-20 22:07] weihanglo commented on #11390
Look at [this line](https://github.com/rust-lang/cargo/blob/eb5d35917b2395194593c9ca70c3778f60c1573b/src/bin/cargo/cli.rs#L471), I guess`--locked` becomes a global flag. However, we only [pass `subcommand_args` down to subcommand](https://github.com/rust-lang/cargo/blob/eb5d35917b2395194593c9ca70c3778f60c1573b/src/bin/cargo/cli.rs#L358-L371). That might tell why we lost those global args. @epage i

[2022-11-21 07:22] devdailytester opened #11396 "compilation fail Tier 1 x86_64-apple-darwin ,error: linking with cc failed: exit status: 1"
### Problem

Most of the infos is stated in https://github.com/cross-rs/cross/issues/1144
The problem is faced when i try to build a build app from other repo using github actions that internally uses cargo.

### Steps

git clone https://github.com/devdailytester/testgithubci
cross build --release -v --target=x86_64-apple-darwin

### Possible Solution(s)

_No response_

### Notes

i suspect cargo

[2022-11-21 07:35] embe-pw commented on #11390
I understand that passing the arguments to the external subcommand may not be easy to do in a compatible way.
However, I'd expect at least a warning that an option is ignored.

[2022-11-21 11:15] #11372 closed

[2022-11-21 12:12] satamas opened #11397 "Sparse registries: accept header is invalid for the index requests"
### Problem

When sending HTTP requests to get index cargo client adds the header `Accept: text/plain`. It's an incorrect header because in fact client accepts `application/json`,

### Steps

1) Call `cargo login -Z sparse-registry -Z registry-auth --registry=some-registry`
2) Check headers on the registry side

### Possible Solution(s)

Use correct header

### Notes

_No response_

### Version

[

[2022-11-21 12:38] epage commented on #11390
What git does in these situations is pass configuration set via global args to external subcommands via environment variables.

[2022-11-21 12:57] dtretyakov commented on #11397
@arlosi It looks like it was hard coded in the https://github.com/rust-lang/cargo/blob/4d5c036a005073794ea880103409afd04ff61649/src/cargo/sources/registry/http_remote.rs#L572

[2022-11-21 14:19] weihanglo commented on #11397
I am not a HTTP expert, but the response doesn't seems to be a valid JSON in definition; it contains several JSON separated by newlines.

[2022-11-21 14:32] satamas commented on #11397
I am not sure which response we are talking about. Index config `config.json` is JSON and each crate metadata is JSON. In which case, should the response be newline separated JSONs?

[2022-11-21 14:55] weihanglo commented on #11397
For `config.json` indeed it is a valid JSON. For other index files, I believe Cargo retrieves something like [this index file](https://github.com/rust-lang/crates.io-index/blob/master/cf/g-/cfg-if), and [here](https://github.com/rust-lang/cargo/blob/65535890dbaa2b186633aedc11e550c3990fc5e9/src/cargo/sources/registry/index.rs#L602-L608) is how it gets parsed.

[2022-11-21 15:44] Eh2406 commented on #11397
See a previous discussion [here](https://rust-lang.zulipchat.com/#narrow/stream/246057-t-cargo/topic/sparse.20Accept.20headers).

Luckily the accept header can take on multiple values. So I would be comfortable with cargo sending:
- For `config.json` `text/plain` and `application/JSON`
- For other index files `text/plain` and `application/x-ndjson`

In any case, we should really have tests and doc

[2022-11-21 16:08] skhalymon commented on #2644
I have same need to use with Docker layer caching

[2022-11-21 18:07] kevinushey opened #11398 "docs: add documentation on platform 'triple's, example usages"
### Problem

Primarily related to https://doc.rust-lang.org/cargo/reference/config.html.

I believe it would be helpful if that page included:

- A brief discussion of what a platform 'triple' is, or a link to a document with such a description;
- Some instructions on how one can figure out the 'triple' for their host machine, or other potential targets.

### Proposed Solution

Perhaps a small sec

[2022-11-21 19:40] Qix- commented on #2644
Worth mentioning that `cargo fetch` doesn't work without the entire source tree there too, so this doesn't help the cached docker layer case I mentioned above (I went and tried it, cargo complains about not having `lib.rs` or `main.rs`).

[2022-11-21 23:01] weihanglo commented on #11398
Thanks for the report!

Target triple has its own place in the appendix: <https://doc.rust-lang.org/cargo/appendix/glossary.html#target>. Cargo also mentions target triple in the manual of each build command, such as <https://doc.rust-lang.org/cargo/commands/cargo-build.html#compilation-options>.

We may want to refer to the appendix, but I am not sure where to add and what is the right amount of

[2022-11-22 07:06] calebfletcher opened #11402 "Rustdoc-map generation fails when using sparse registries"
### Problem

When using `-Zrustdoc-map` and `-Zsparse-registry` to document crates that are on an alternative sparse registry, cargo does not output the `--extern-html-root-url` values for any crates that are on that registry.

This is caused by the following equality check:
https://github.com/rust-lang/cargo/blob/65535890dbaa2b186633aedc11e550c3990fc5e9/src/cargo/core/compiler/rustdoc.rs#L135

Wh

[2022-11-22 07:06] calebfletcher commented on #11402
@rustbot claim

I have a fix that implements the suggested changes, will submit a PR for it.

[2022-11-22 08:31] thomcc commented on #9562
It seems like if you have:

- crate A with `crate-type=["cdylib", "rlib"]`, that emits `println!("cargo:rustc-cdylib-link-arg=...")` in its build.rs, and
- crate B of type `cdylib` that depends on crate A

We'll apply the link args from A to both cdylibs (expected, given the current workaround), but fail to emit the warning, even though the 2nd crate is getting the cdylib args transitively (unfort

[2022-11-22 09:02] mvtec-bergdolll opened #11404 "Passing quote escaped options to rustc doesn't work"
### Problem

I'm trying to build a project with mcount instrumentation, however due to https://github.com/rust-lang/rust/issues/92109 I have to specify a custom set of passes. I tried `RUSTFLAGS="-Z instrument-mcount -C passes=\"ee-instrument post-inline-ee-instrument\"" cargo +nightly build --release` and `RUSTFLAGS="-Z instrument-mcount -C passes=ee-instrument post-inline-ee-instrument" cargo +n

[2022-11-22 10:13] kgrech commented on #7058
I am happy to commit to contribute this feature. I've tried to hack around and it looks like I am able to take the Graph struct used by cargo tree and adopt it to be used by cargo vendor command. I think it would also solve issue #9980 and #7065.

What do you think about the idea of reusing the graph from tree command with cargo vendor command?

I am happy to commit to contribute it as the PR, but

[2022-11-22 12:00] ruffsl commented on #2644
At the risk of sounding too repetitive, you may be interested in my approach buried above in the folded comments archived here, explaining how I work around docker's lack of support for recursive COPY using multi staging to cache dependencies:

- https://github.com/rust-lang/cargo/issues/2644#issuecomment-544820077
- https://github.com/rust-lang/cargo/issues/2644#issuecomment-613791625
- https://g

[2022-11-22 12:19] weihanglo opened #11405 "Make workspace member inclusion/exclusion more useful, consistent, and intuitive"
### Problem

As of now, Cargo supports glob syntax for [`workspace.member`] to include crates as workspace members. However, for `workspace.exclude` it is implemented by [a plain `starts_with`] comparing with manifest path of certain crates. This confuses people as they need to figure out which rules overrides the other. It is also inconsistent with [`package.include`] and [`package.exclude`], as

[2022-11-22 12:29] weihanglo commented on #11362
**[This is yet resolved]**

I am going to close this. Further discussion could happen in #11405. If you think this is wrong please leave a comment. We could reopen it.

[2022-11-22 12:30] weihanglo commented on #6009
**[This is yet resolved]**

I am going to close this. Further discussion could happen in #11405. If you think this is wrong please leave a comment. We could reopen it.

[2022-11-22 12:30] weihanglo commented on #6745
**[This is yet resolved]**

I am going to close this. Further discussion could happen in #11405. If you think this is wrong please leave a comment. We could reopen it.

[2022-11-22 12:30] #6745 closed

[2022-11-22 12:30] weihanglo commented on #4593
**[This is yet resolved]**

I am going to close this. Further discussion could happen in #11405. If you think this is wrong please leave a comment. We could reopen it.

[2022-11-22 13:04] jfrog-qa opened #11406 "Add the ability to replace any source in .cargo/config.toml file"
### Problem

When deploying a crate with a registry dependency, the client tries to resolve the dependency from the specified URL.
In JFrog we want to support cargo sparse index for a virtual repository as well - which means that we are resolving files without really knowing their source.
The problem is that the client will fetch the dependencies from the real source, instead of the registry in th

[2022-11-22 13:37] ehuss commented on #11404
Indeed RUSTFLAGS does not support spaces. I think it is unlikely we will add any sort of shell-parsing for that. There are some alternatives now:

* use `CARGO_ENCODED_RUSTFLAGS` which allows spaces
* use `--config 'build.rustflags=["arg1", "arg2"]'`
* Set `build.rustflags` in `config.toml`

I'm going to close as a duplicate of #3686.

[2022-11-22 13:37] #11404 closed

[2022-11-22 15:11] #11173 closed

[2022-11-22 18:16] kevinushey commented on #11398
Thank you for pointing that out! I like the idea of adding a link to the target triple section in the appendix.

Maybe the simplest answer here is to add a sentence after the example configuration in https://doc.rust-lang.org/cargo/reference/config.html#configuration-format, with something like:

[2022-11-22 19:02] TimJentzsch opened #11408 "`cargo help config` doesn't recognize `config` command"
### Problem

Confusing output when running `cargo help config`:

[code]

### Steps

1. Run `cargo help config`

### Possible Solution(s)

There doesn't seem to be a man page for `cargo config`: <https://github.com/rust-lang/cargo/tree/master/src/doc/man>

This results in `extract_man` to return `None`, which results in `try_help` returning `Ok(false)`:
<https://github.com/rust-lang/cargo/blob/995f

[2022-11-22 19:10] ehuss commented on #3686
Closing as this is mostly resolved now. There are several mechanisms for setting flags that have spaces in them:

* [`CARGO_ENCODED_RUSTFLAGS`](https://doc.rust-lang.org/cargo/reference/environment-variables.html) uses the `\x1f` character to separate arguments.
* The [`--config`](https://doc.rust-lang.org/cargo/reference/config.html#command-line-overrides) CLI option can pass arbitrary TOML.
* Fl

[2022-11-22 19:10] #3686 closed

[2022-11-23 01:07] hi-rustin commented on #11380
I think the real root cause is these files are untracked files. So https://github.com/rust-lang/cargo/blob/ba607b23db8398723d659249d9abf5536bc322e5/src/cargo/ops/fix.rs#L157 this code can not find these files.

For example, you can try this to test this behavior:
[code]

You will find `cargo clippy fix` will ignore `src/main1.rs` because this file is untracked.

So I think this is probably not a b

[2022-11-23 01:17] hi-rustin commented on #11405
I would like to find a solution to this issue.
@rustbot claim

[2022-11-23 03:13] cilki opened #11411 "Unresolved imports with custom target and build-std"
### Problem

I'm trying to create a custom target, but I can't seem to compile `std` even when the custom target is basically identical to the built-in.
[code]

### Steps

[code]

### Possible Solution(s)

_No response_

### Notes

_No response_

### Version

[code]

[2022-11-23 03:19] eminence commented on #4434
Triage: removing `cargo login` from the pasted token was implemented in #7588, so I think this issue can be closed.

[2022-11-23 03:25] eminence commented on #2123
Triage:  cargo has a different CLI parser these days, and it now prints out `For more information try '--help'`.  I think this addresses the original request and so this issue can be closed

[2022-11-23 03:49] eminence commented on #2183
Triage:  These days cargo stores credentials in `~/.cargo/credentials` instead of `~/.cargo/config`, and probably no one is putting valuable comments in the credentials file (but if you do, they won't be preserved either).

Also, cargo these days is no longer using `toml-rs`, and instead is using `toml-edit`, which does have support for preserving comments.

Given that the original complaint is no

[2022-11-23 03:50] eminence commented on #2175
Triage:  this is a very old issue that seems to be about rustdoc, not cargo.  It probably should be just closed

[2022-11-23 04:06] eminence commented on #4425
Triage:  This issue is quite old, and seemingly hard to reproduce.  There's a lot of discussion (some even recent!) in #6529 about moving away from mtimes and to try things like checking hashes.

Given this issue here doesn't seem particularly actionable, it probably makes the most sense to just close it.

[2022-11-23 04:31] eminence commented on #3448
Triage:  Cargo these days has a more advanced progress output than it did 5 years ago.   Unless there's some specific deficiency in the current output, I think this issue can be closed

[2022-11-23 04:40] eminence commented on #3744
Triage:  this feature was implemented in #3789 (using the `$CARGO` envvar), so this issue can be closed

[2022-11-23 04:44] #3744 closed

[2022-11-23 04:47] epage commented on #2183
Only if using the lower level API, which most of cargo is not using.

But, as you said, credentials aren't being stored in the config, so I think this can be closed.   If we missed something in this, let us know and we can re-open.

[2022-11-23 04:47] #2183 closed

[2022-11-23 04:51] eminence commented on #3784
Trigate:  cargo will now give you hints that it's compiling your examples.  Specifically, it'll show you `example_name(example)` in the status line from `cargo build`.  For example (hah, pun very much intended):

    Building [=======================> ] 130/134: interface_stats(example), netstat(example), pressure(example), process_hierarchy(example)

[2022-11-23 04:52] epage commented on #2123
There are a couple of things at play here.

clap did replace docopt and clap is smarter about "did you mean" to only show close results.

clap does not process cargo's subcommands but that is done by cargo itself for alias support.  cargo does only report close matches and also shows how to see all commands
[code]

This only leaves the comment about detecting `--test` should be `test`.  This cross

[2022-11-23 04:52] #2123 closed

[2022-11-23 05:18] #4434 closed

[2022-11-23 05:26] ehuss commented on #2175
Indeed, there's also not quite enough information to go on here.  I suspect it sounds like this is building the standard library using an unsupported means. Today, this would normally be handled by build-std. Or it's not clear why this didn't use a sysroot. Closing as not something we will support.

[2022-11-23 05:26] #2175 closed

[2022-11-23 05:31] ehuss commented on #4425
Yea, without a clear reproduction this probably isn't actionable.
Also, the fingerprint code has changed a lot since this was written, and it may be possible that it no longer behaves the same.

[2022-11-23 05:31] #4425 closed

[2022-11-23 05:33] ehuss commented on #3448
I think we're still interested in improving Cargo's progress output. #8889 contains the most recent discussion along with some examples. I'm going to close this as a duplicate of #8889 since it has the most recent information.

[2022-11-23 05:33] #3448 closed

[2022-11-23 05:36] eminence commented on #4231
Triage:  cargo now gives a more helpful error message when building:

This message was implemented in #4809 as a fix for #3169

[2022-11-23 05:38] ehuss commented on #3784
Yea, closing as I think this is effectively resolved by #5828.

[2022-11-23 05:38] #3784 closed

[2022-11-23 06:30] rjhornsby commented on #8172
The [suggested fix](https://github.com/rust-lang/cargo/issues/8172#issuecomment-659066173) from @ehuss worked great.  Thanks for that.

That said, coming from many other languages or tools (python, ruby, go, etc) and being brand new to rust, this behavior - the error - is completely unexpected. While the error message is more clear having the context of this thread in mind, it certainly was not so

[2022-11-23 07:52] tomb-msft opened #11412 "Checksum of yanked version causing crate download to fail"
### Problem

The package [`ndk-sys`](https://crates.io/crates/ndk-sys) has a latest version `0.4.0` and a more recent yanked version `0.4.0+25.0.8775105`. Cargo is downloading the 0.4.0 crate, but comparing the hash with the checksum of the yanked version, and therefore failing with a "failed to verify checksum of ndk-sys v0.4.0" error.

It seems to be a sporadic issue - sometimes the download wil

[2022-11-23 08:13] ogoffart commented on #7180
This causes the build to fail randomly for anything that has ndk-sys in its dependency tree  (eg, projects that depends on winit)

[2022-11-23 11:26] simon-an opened #11413 "cargo install --name"
### Problem

I have a binary crate which has multiple features. I want to install multiple variants of it.

So in addition to

cargo install app

I want to do:

cargo install --features feature-1 --name app-only-feat1
cargo install --all-features --name app-all

### Proposed Solution

Add --name argument

### Notes

_No response_

[2022-11-23 12:07] simon-an commented on #11413
Figured it out myself. In the cargo.toml we can do:

[code]

Result:
[code]

[2022-11-23 12:08] simon-an commented on #11413
Maybe it is woth adding this to the docs of the cargo install command

[2022-11-23 13:28] weihanglo commented on #11413
@simon-an, glad you figured it out!

I have the impression that `cargo help install` already mentioned that here <https://doc.rust-lang.org/nightly/cargo/commands/cargo-install.html>

Is this sufficient or do you have different thoughts on doc discovery, wording, or something else?

[2022-11-23 13:33] weihanglo commented on #11413
Sorry for accidentally changing the title 😅.

[2022-11-23 13:38] simon-an commented on #11413
For me it was not obvious in the first place that:
- I can use [[bin]] multiple times in the cargo.toml pointing to the same main.ts file which in combination with  required-features  and default-run. Somehow i assumed this have to be different crates in the same workspace.
-I can then use this together with cargo install --bin to get the behavior i wanted.

[2022-11-23 13:39] simon-an commented on #11413
But you are right it is mentioned in the docs already and the issue was in front of the computer. 🤣

[2022-11-23 14:17] epage commented on #11412
So ndk-sys has
- 0.4.0
- 0.4.0+25.0.8775105

Everything after `+` is build metadata.  semver says

Interesting, semver doesn't say the two versions are the same.  I do find it surprising that crates.io allows you to upload two of the same "version" and I suspect this is what is confusing cargo.

[2022-11-23 14:58] weihanglo commented on #11413
It's hard to decide what should be included in the first page of the manual. I feel like multiple binaries setup is a somewhat advanced feature, so IMO the current place of it in Cargo Guide seems reasonable.

Imagine there is a `Cargo cookbook` and helps people do arbitrary tasks. I am not sure if it is useful for cases like yours.

BTW, I am going to close this soon. If you have a new idea about

[2022-11-23 17:43] eminence commented on #7410
Triage:  Here is the warning that cargo will print out today if you add a dependency on a crate without a library:

[2022-11-23 17:59] ClementNerma commented on #7410
Thanks, this seems clear enough.
Closing the issue.

[2022-11-23 17:59] #7410 closed

[2022-11-23 18:17] eminence commented on #2489
Triage:  I tested this scenario today and it seems like path dependencies are ignored during publish (meaning cargo will pull that dependency from the registry, not from the path in Cargo.toml).  Same with patch overrides.   I wasn't able to immeditally find the commit that implemented this, though.

[2022-11-23 18:26] dzmitry-lahoda commented on #11192
Cannot produce reproducible repeatable builds until fixed.

[2022-11-23 20:41] MarijnS95 commented on #7180
Maintainer of `android-ndk-rs` and `ndk-sys` here, and the one who - by accident through automated CI systems _and crates.io still not denying this_ - published `ndk-sys` on the same version `0.4.0`, but _with_ metadata the second time around.

I have since published `0.4.1` to help users resolve this issue, but want to point out that yanking the broken publish _with_ metadata (`0.4.0+25.0.8775105

[2022-11-23 20:58] ehuss commented on #11412
This is a known issue with crates.io (https://github.com/rust-lang/crates.io/issues/1059). It should not be allowing publishes with versions that only differ in metadata. Fixing that is a little tricky, unfortunately.

[2022-11-23 21:04] ehuss commented on #2489
@eminence I believe this is referring to [paths overrides](https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html#paths-overrides), which are defined in `config.toml`. The package verification step still uses those overrides, when it probably shouldn't.

[2022-11-23 21:12] eminence commented on #2489
Ahyes, I see.  Thank you @ehuss for that clarification.

[2022-11-23 21:59] eminence commented on #5941
Triage:  a `cargo publish --dry-run` today will still not give an error.

But I'm wondering:  as best I can tell, the decision to reject packages with wildcard dependencies is a [policy decision](https://github.com/rust-lang/crates.io/pull/213) by crates.io, not cargo.   Given that cargo can work with other registries, it doesn't seem like cargo itself should be checking this.  In order to impleme

[2022-11-23 23:54] pnkfelix commented on #10848
In the meantime, can we at least revise the output text to not print "... or run `cargo report future-incompatibilities --id 1`" as part of the Note when this is run from `cargo install` ?

[2022-11-24 01:21] ehuss commented on #5941
Yea, there's a brief overview of what a new publish API should handle at https://github.com/rust-lang/crates-io-cargo-teams/issues/82. Dry-run and staged publishing would all be nice things to have.

[2022-11-24 02:25] epage commented on #5941
Another perspective on this is that from cargo-release. I'd like everything validated before I've prompted the user on whether to release or not. It can be frustrating for users to get part way through to find an error, even if its recoverable (revert the release commit); its still speed bumps they have to deal with.

No idea what the right answer is though.

[2022-11-24 03:15] eminence commented on #7643
Triage:  As of rust 1.47, there is no crash.  The error message you see now is the following:

[code]

[2022-11-24 03:32] eminence commented on #5638
Triage:  The credential file is still hardcoded to be in `$CARGO_HOME/credentials`, but the `CARGO_REGISTRY_TOKEN` envvar still works, and now you can also use [`cargo publish --token`](https://doc.rust-lang.org/cargo/commands/cargo-publish.html?highlight=--token#publish-options) to specify the token on the command line.    I think both of these solutions would solve the original problem, and woul

[2022-11-24 04:19] eminence commented on #6642
Hi @vadixidav -- I know it's been many years since you opened this issue, but are you still having problems?  Unfortunately this issue sounds like it could be triggered by something specific to your internal BitBucket instance, which means it will be hard to make progress without help.

If you are still having issues, I'm curious if the [fetch-with-cli](https://doc.rust-lang.org/cargo/reference/co

[2022-11-24 04:37] eminence commented on #10689
@gimbles can you say why you asked about PowerShell?  I'm wondering if maybe you've seen something like this before, and PowerShell was somehow related

[2022-11-24 05:26] eminence commented on #7876
I'm not able to reproduce the original worktree issue with the reported versions, but I did find that cargo 1.46 and 1.47 would give an error about "did not expect repo at XYZ to be bare" when run in a worktree.   I also was able to get the same error with a sparse checkout, as reported by @chachi.  I'm pretty sure the upgrade of git2 in #8778 is what made things work in 1.48.

I haven't found any

[2022-11-24 05:27] eminence commented on #4131
I'm not able to reproduce the original worktree issue with the reported versions, but I did find that cargo 1.46 and 1.47 would give an error about "did not expect repo at XYZ to be bare" when run in a worktree.   I'm pretty sure the upgrade of git2 in #8778 is what made things work in 1.48.

I haven't found any issues with the latest cargo using worktrees or spase checkouts

Possible same root ca

[2022-11-24 10:45] kamirr opened #11415 "Confusing behavior when passing features to package"
### Problem

If you have a package `foo` in your workspace, and it is not the default build target (`cargo build` builds `bar`), you build it via `cargo build -p foo`. Now, if you want to enable a feature, the intuitive approach would be to `cargo build -p foo --features new-feat`. This will cause an error if `bar` doesn't have such feature, *but* it will build just fine if `bar` also has the `new

[2022-11-24 13:32] blueglyph commented on #9167
Thanks, it was extremely slow for me using Arch, and this seems to fix the problem.

[2022-11-24 14:06] cemoktra opened #11416 "atty dependency has security issue"
### Problem

The dependency to atty has a security issue, also atty seems to be unmaintained.

https://rustsec.org/advisories/RUSTSEC-2021-0145

### Steps

_No response_

### Possible Solution(s)

Use https://crates.io/crates/is-terminal instead

### Notes

_No response_

### Version

[code]

[2022-11-24 15:34] weihanglo commented on #11396
Copying from <https://github.com/rust-lang/cargo/issues/10873#issuecomment-1186244653>:

If you have access to GitHub Action, I'd recommend setting up native macOS to make life easier.

Going to close this as it is not a thing we can track here. Thank you!

[2022-11-24 15:34] #11396 closed

[2022-11-24 19:19] ChrisDenton commented on #11416
As noted in the advisory official releases of Cargo aren't affected by this particular soundness issue because they don't use an allocator that aligns to less than 8 bytes.

However the maintenance issue is still a concern.

[2022-11-24 19:45] epage commented on #11416
While cargo-the-bin isn't affected, cargo-the-lib would be and there are people who link against cargod

[2022-11-25 07:00] chrismooredev commented on #8439
Hey all, it seems this bug showed up again. Happy to start another issue for this if we want since I believe it's a different part of the code, just same symptoms.

[code]

Relevant strace:
[code]

It looks like it was reintroduced late last month, in [commit 81f0f63](https://github.com/rust-lang/cargo/blob/81f0f63c6a672121d6a21f691ff22a8fcf350892/src/cargo/ops/cargo_package.rs#L159). I figure thi

[2022-11-25 07:46] weihanglo commented on #10876
fixed by #10343

[2022-11-25 07:46] psumbera opened #11421 "cargo locking doesn't work on Solaris"
### Problem

As described in https://bugzilla.mozilla.org/show_bug.cgi?id=1802095#c5 cargo locking doesn't work on Solaris:

"normally, running cargo twice in the same workspace will make one of them wait for the other".

Can you please point me to relevant peace of code? Maybe it's related to missing flock() system call on Solaris?!

### Steps

_No response_

### Possible Solution(s)

_No respons

[2022-11-25 07:46] #10876 closed

[2022-11-25 08:08] juchiast opened #11422 "Can't compile with wasmer-wasi as a dependencies of a workspace's member"
### Problem

When using `wasmer-wasi` in a workspace member, it generate a lot of compile error, but compile fine when it's a standalone crate. This start happening since `wasmer-wasi 3.0.0-rc.2`.

### Steps

[code]

`Cargo.toml`:

[code]

`wasm-cmds/Cargo.toml`:

[code]

`Cargo.lock`: https://gist.github.com/juchiast/8f003f152a3fd99d8e093599644cc335

`cargo check` failed with a lot of compile err

[2022-11-25 08:09] glandium commented on #11421
Erf https://github.com/rust-lang/cargo/blob/5a7ba9cdfbb09d389888bfaade91dd48ed034140/src/cargo/util/flock.rs#L397-L400

[2022-11-25 08:14] glandium commented on #11421
I guess you'd want something like https://www.perkin.org.uk/posts/solaris-portability-flock.html#flock-wrapper

[2022-11-25 10:46] atoptsoglou commented on #9880
what solved the issue in our end was that the user that was publishing crates did not have the annotate permission.

[2022-11-25 11:45] mvtec-bergdolll commented on #11404
@ehuss could you please give an example how to achieve the cargo equivalent `rustc -C passes="ee-instrument post-inline-ee-instrument" ...`. I failed to achieve this with any of your provided alternatives. Note that some versions such as `--config 'build.rustflags=["-C", "passes=ee-instrument post-inline-ee-instrument"]'` build but don't actually achieve the desired effect, as checked with `nm <bi

[2022-11-25 13:16] ehuss commented on #11422
It looks like wasmer-wasi requires `resolver = "2"` to be configured for it to work with the default feature set. You can set that in your `[workspace]` definition. I suspect they just haven't tested with that particular combination of feature flags enabled.

[2022-11-25 13:18] ehuss commented on #11404
If you are using a bash-like shell, something like this should work:

[code]

With `-v` you should be able to inspect that flags being passed to `rustc`. If your desired passes/instrumentation aren't showing up, I would suspect its an issue with rustc or the passes being used.

[2022-11-25 13:27] ehuss commented on #11415
I believe this has been fixed with the new resolver. Can you make sure you are using `resolver="2"` in your workspace? If that doesn't help, can you add a full reproduction here (such as a list of commands to generate the workspace, or a link or .ZIP to a demo repo).

[2022-11-25 14:33] ehuss commented on #11380
I think the StatusOpts needs to set `include_untracked(true)`.

[2022-11-25 15:01] juchiast commented on #11422
Worked, thank you for the tip.

[2022-11-25 15:04] vadixidav commented on #6642
I don't have access to the BitBucket anymore. It is possible that this issue has been fixed by now, but I cannot test it anymore. We can close this since nobody else is currently reporting the issue.

[2022-11-25 17:01] willcrichton commented on #10041
The current implementation of scrape-examples now allows for scraping reverse-dependencies in your current workspace, so this can be closed. (@weihanglo)

[2022-11-25 17:34] willcrichton commented on #10571
Note: at some point this got un-fixed in #10343, so I just put up a new PR to fix it in #11423.

[2022-11-25 17:48] #10041 closed

[2022-11-25 17:50] AvirukBasak commented on #9167
This configuration worked for me
[code]

[2022-11-25 18:16] willcrichton commented on #10865
Thanks for the report. If trait method aren't being scraped, that's an issue within Rustdoc and not Cargo, so I will open an issue over there once I confirm.

We are still figuring out how to manage tests within Cargo. The functionality is there, but there's tricky issues around dev-dependencies as described in #10343.

[2022-11-25 18:33] #6642 closed

[2022-11-25 18:37] #7643 closed

[2022-11-25 19:29] weihanglo opened #11424 "Document new default of `-Zrustdoc-scrape-examples`"
### Problem

#10343 introduces new behaviours for `-Zrustdoc-scrape-examples`, specifically, scraping examples by default under some circumstances. It would be helpful if the unstable doc can reflect this change a bit.

### Proposed Solution

Update https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#scrape-examples

### Notes

_No response_

[2022-11-25 19:29] weihanglo commented on #11424
cc @willcrichton, could you help this?

[2022-11-25 19:53] willcrichton commented on #11424
Yes I'll take care of it.

[2022-11-25 20:45] #11416 closed

[2022-11-25 20:49] ehuss commented on #11415
This was inadvertently closed.

[2022-11-26 02:54] c410-f3r opened #11426 "The usage of weak dependencies pollutes `Cargo.lock`"
Feel free to close if duplicated or if it is a "feature" of Cargo.

### Problem

A feature declared with optional weak dependencies will unnecessarily pollute `Cargo.lock` with all the declared non-activated items as well as their **transients**, which is crazy.

Take for example the [rust_decimal](https://github.com/paupino/rust-decimal) crate. If declared as `rust_decimal = { default-features =

[2022-11-26 04:39] eminence commented on #4312
Triage:  I can reproduce the originally reported problem using a cargo from back in the day (I tested rust 1.20 to rust 1.25).  The update to the `heapsize` pacakge (as a dependency of the `webrender_api` package) happened about 5 out of 10 times.  Note that heapsize 0.3.8 remains in the graph as other packages depend on it; the behavior of `cargo update` is definitely non-deterministic here.

But

[2022-11-26 09:05] omarabid commented on #3646
I agree with @kolipka. I think it's cleaner (and simpler) to support arguments for `build.rs`. It seems that this feature has staled.

[2022-11-26 09:56] cemoktra commented on #11416
Great is this coming to next rust version or earlier?

[2022-11-26 10:19] weihanglo commented on #11426
Is this kinda a duplicate of #10801?

[2022-11-26 10:52] #11424 closed

[2022-11-26 11:07] c410-f3r commented on #11426
It is, indeed.

[2022-11-26 11:37] hi-rustin commented on #11380
It works! Thanks!

[2022-11-26 14:17] epage commented on #11426
@weihanglo I thought #10801 is about lock files including optional features of direct dependencies.  Does it also include indirect dependencies?

Note that in this issue, the lock file for
- `rust_decimal = { default-features = false, version = "1.0" }` contains 5 items
- `rust_decimal = { default-features = false, features = ["std"], version = "1.0" }` contains 40+ items

The number of lock file

[2022-11-26 14:39] weihanglo commented on #11426
#10801 is

* `bar` depends on `foo` with feature `serialization` enabled.
* Feature `serialization` contains a weak dep feature `time?/serde-well-known`.
* Optional dep `time` ended up in the lockfile.

#11426 is

* `some_pkg` depends on `rust_decimal` with feature `std` enabled.
* Feature `std` contains weak dep features `borsh?/std`, `bytecheck?/std`…
* Those optional deps ended up in the lockfi

[2022-11-26 21:56] epage commented on #11426
Somehow I had missed the weak dependency aspect of the other one.  I've re-titled it to call that out.  Of course, if there is another angle to **that** that I missed, let me know and we can fix it :)

[2022-11-26 21:56] #11426 closed

[2022-11-27 01:04] eminence commented on #11412
There is [some code](https://github.com/rust-lang/cargo/blob/1382b44e431f58199afdffc2b757962b0e163602/src/cargo/sources/registry/index.rs#L485) in `registry/index.rs` that seems to deal with this situation.   But I'm not familiar enough with cargo's inner workings to know if this code is insufficient, or if it just needs to be applied elsewhere.

[2022-11-27 01:35] eminence commented on #4192
Triage:  Cargo will now give this warning message, which gives the user a hint that something is wrong with their dependency:

[2022-11-27 01:59] ehuss commented on #4192
Yea, this seems sufficiently resolved now, thanks!

[2022-11-27 01:59] #4192 closed

[2022-11-27 09:31] sanpii commented on #4192
Great, thank you.

[2022-11-27 21:45] berndkaiser opened #11431 "Cargo rebuilds dependencies crates without there are any changes"
### Problem

I am working on tauri project where every change in my `main.rs` rebuilds the same crates without there are any changes in these crates.

Running `cargo build` with `CARGO_LOG=cargo::core::compiler::fingerprint=info` the following (in my option wrong) fingerprint errors are shown:

[code]

### Steps

Unsure how to reproduce, happens only on one Linux machine.

### Possible Solution(s)

[2022-11-27 22:58] ehuss commented on #11431
It looks like the `PKG_CONFIG_PATH` path is changing. Do you perhaps have an editor that runs cargo, maybe with rust-analyzer? If so, I'd check to make sure that the environment variable is the same in your editor (in whichever process launched the editor) versus your terminal.

[2022-11-28 08:17] albertlarsan68 opened #11432 "Use ANSI codes to report progress"
### Problem

When the terminal is not in focus, there is no way to know the progress state of the compilation.

### Proposed Solution

There exist escape codes that allow control of a "progress meter", that for example is shown on the taskbar in Windows.
Winget uses them, and the implementation can be seen at https://github.com/microsoft/winget-cli/blob/master/src/AppInstallerCLICore/VTSupport.cpp

[2022-11-28 08:34] albertlarsan68 commented on #11432
@rustbot label +A-console-output

[2022-11-28 11:24] hhirtz commented on #7330
Hey, I made a working cargo patch here: #11433 It'd be nice if others could test it out.

The idea is to have the proxy auth work automatically when it's possible, so just setting `http_proxy`/`https_proxy` should work. If not, you can set `http.proxy-username` and `http.proxy-password` in your config.

The main issue from what I can tell is that corporate (kerberos) proxies use "gss"/spnego authe

[2022-11-28 11:41] arvidn commented on #9398
I want to second this issue. I'm surprised that random files that happen to be in my working dir are included in the package. The `cargo-fuzz` corpus is created in the working tree, and I learned that `cargo publish` tried to include it by exceeding the `crates.io` limit, failing to publish.

What is the recommended way of publishing a package from a repository with additional files, like the fuzz

[2022-11-28 13:02] ChrisDenton commented on #9398
There's the `include` and `exclude` fields in Cargo.toml which may help: https://doc.rust-lang.org/cargo/reference/manifest.html#the-exclude-and-include-fields

[2022-11-28 13:38] berndkaiser commented on #11431
@ehuss thanks a lot! That was indeed the problem. Had this `PKG_CONFIG_PATH` set because of some linuxbrew problems, totally forgot.

Thanks again
Bernd

[2022-11-28 15:39] Muscraft commented on #11416
This will be in `1.67.0`, which should release on [January 26 2023 UTC](https://forge.rust-lang.org/#current-release-versions).

The cutoff for `1.66.0` was on [October 28 2022 UTC](https://forge.rust-lang.org/#current-release-versions).

[2022-11-28 17:47] rkulla commented on #8172
@ehuss's fix works great for me. I agree with @rjhornsby that at the very least a better message should be printed about the use of `insteadOf` in gitconfig.

Perhaps adding a section on it to The Cargo Book and linking to it, along with the `net.git-fetch-with-cli` link, since the actual 'Caused by' was different.  Maybe say "Possible causes: ..." instead of caused by?

[2022-11-28 17:53] mrusme opened #11435 "error: failed to wait on curl `Multi`"
When trying to build a project on OpenBSD 7.2 (`-current`) I'm running into the following error:

[code]

I tracked down the source of this error:

https://github.com/rust-lang/cargo/blob/a2ea66bea6fe8156444144e98911d073d56c2c0c/src/cargo/core/package.rs#L1014

However, I do not understand *why* this is happening. I've also run the command with `ktrace` and skimmed over the attached `ktrace.out` u

[2022-11-28 18:02] mrusme commented on #11435
Something that might be worth pointing out, however I can't tell whether that has something to do the error:

[code]

[2022-11-28 18:05] mrusme commented on #11435
Also:

[code]

[2022-11-28 18:14] albertlarsan68 commented on #11432
@rustbot claim

[2022-11-28 18:35] arlosi commented on #10711
Yes, index.crates.io is available on IPv6, so it should work.

[2022-11-28 22:42] AlexCzar opened #11437 "After installing several toolchains and switching default one zsh completion broken"
### Problem

I've installed several toolchains of rust, stable, 1.63.0, 1.65.0 and switched default between them several times.
Now zsh completion is completely broken for cargo.
What I tried:
* uninstall all toolchains but one
* uninstall all toolchains, install one
Neither of these helped, completion still broken.

I've found two similar issues, both of them are closed without a solution.

### S

[2022-11-29 01:43] bk2204 opened #11438 "cargo complains about both `license` and `license-file` being used."
### Problem

Cargo complains about both `license` and `license-file` being provided.  However, most open source licenses and most international copyright treaties (and hence, most nations' laws) require the preservation of copyright notices.  It is useful to provide an SPDX license identifier to help automated systems discover and process the license, but providing a copy of the copyright and lice

[2022-11-29 01:56] ehuss commented on #11438
Thanks for the report!  I'm going to close as a duplicate of #8537. https://github.com/rust-lang/cargo/issues/8537#issuecomment-924329183 describes our current position. A copy of the license can (and should) still be included in the package (which is the default behavior if `include` or `exclude` is not used). I realize that it is not entirely convenient to access that copyright text, but it can

[2022-11-29 01:56] #11438 closed

[2022-11-29 02:22] bk2204 commented on #11438
I would prefer this be reopened.  I don't think it causes any ambiguity at all, since automated processes would use `license` and humans would use `license-file`, which are complementary, not contradictory.  In my case, I use `include` to include a generated README (because my README in the repository is not Markdown), and so in this case the suggestion is still incorrect.

I'm not asking the Carg

[2022-11-29 09:24] dzmitry-lahoda commented on #6757
i am trying to build vendor in nix and getsame error. knowing where permission denied would help a lot. thank you.

[2022-11-29 09:45] WookashWackomy commented on #8264
Any updates on this issue? It pollutes cargo build's output so much that it makes it hardly readable.
Right now I'm redirecting stdout/stderr to the file just to be able to read build log....I'm close to creating a custom filtering script just because I'm not able to follow/read build logs. Seems ridiculous :/

[2022-11-29 13:00] #11402 closed

[2022-11-29 13:01] epage commented on #8264
What we do for the resolver field is we apply the workspace field to the individual packages when publishing so that the workspace's configuration is available for `cargo install` (#10911, #10961).

i would expect the same behavior for profile.

[2022-11-29 14:12] kornelski commented on #8264
Copying profiles from root to leaf crates would be a downgrade for me.

I intentionally have different profiles for them. This is not merely a mistake or duplicate data, like Cargo assumes. Each crate can have different requirements.

[2022-11-29 17:50] weihanglo commented on #7876
Thanks @eminence for the investigation.

Given that this might be fixed already, I'd suggest adding tests for them (#7876 and #4131).

If you need `git` CLI to create such an environment, use `#[cargo_test(requires_git)]` to require the existence of `git`. You can check [this test](https://github.com/rust-lang/cargo/blob/1985caf190b6a68c6f92b34410beae0cbec193ea/tests/testsuite/git.rs#L2712-L2759)

[2022-11-29 20:05] epage commented on #2222
As this is a more stable place to be holding this conversation, I'm moving a thread over from rust-lang/rfcs#3263

@ehuss said

@epage  said

@ehuss said

[2022-11-29 20:13] epage commented on #2222
@ehuss

Its number of places and chance for errors (tracking what the requirements should be).

Its hard to gauge how much a feature would be used if it had better support.  I minimized my use of it for clap v4 and I didn't bother switching my version requirements for the few pre-releases I did do, hoping I wouldn't have a breaking change affected by this, because I didn't want to deal with the ve

[2022-11-29 20:47] #10571 closed

[2022-11-29 22:41] segevfiner commented on #1982
I got hit by this when developing [segevfiner/keepawake-rs](https://github.com/segevfiner/keepawake-rs) (segevfiner/keepawake-rs#3), and I'm not sure how to restructure/split my crate in the mean time to avoid this issue. In terms of which part of the crate I should split into a sub-directory in a Cargo workspace and how to handle all the project metadata, README.md and so on, cause I'll have to w

[2022-11-30 03:36] 9hk opened #11440 "index should be pulled from GitHub archive or shallow clone"
### Problem

I dont use Rust a ton, so it seems every single time I `cargo add`, I am greeted with this fun result:

[code]

checking more, I see this is created:

[code]

which is a whopping 282 MB. If I instead do this:

[code]

the same folder is 66 MB. Or I can do this:

[code]

and the result is 52 MB. So the question is why? Why is Cargo doing this? isnt this hugely wasteful?

### Steps

_No

[2022-11-30 04:15] epage commented on #11440
For shallow clone, I'd recommend checking the description for #11176 as it goes into details for why we do what we do and that we have a longer term plan for improving this (sparse registries).   Unsure if there is anything newer than the [call for testing](https://internals.rust-lang.org/t/call-for-testing-cargo-sparse-registry/16862) on using sparse registries today.  #11224 is the issue to trac

[2022-11-30 04:27] 9hk commented on #11440
good information. However another question comes to mind. I dont use Rust often, **but I do use it**, maybe once a month or something. So my new question is, why do I not check to choose when cargo updates the index? Maybe I am fine with using a month old index. Why cant I just configure cargo somehow to say "download index the first time, but never download it again, unless I specifically command

[2022-11-30 04:33] epage commented on #11440
There is an `--offline` flag and you can [configure it as well](https://doc.rust-lang.org/cargo/reference/config.html#configuration-format)

[2022-11-30 06:04] trevyn opened #11441 "cargo clean: `error: could not remove build directory`"
### Problem

`cargo clean` sometimes fails to remove build directories, but simply re-running it succeeds.

[code]

### Steps

_No response_

### Possible Solution(s)

This seems to use `std::fs::remove_dir`, perhaps `std::fs::remove_dir_all` would be a better option?

### Notes

_No response_

### Version

[code]

[2022-11-30 10:01] weihanglo commented on #11440
Besides useful tips from epage, highlight that in [RFC 2789](https://rust-lang.github.io/rfcs/2789-sparse-index.html#future-possibilities) it does consider the extensibility of incremental download. Also, there is a [summary](https://github.com/rust-lang/cargo/issues/11014#issuecomment-1222191543) I wrote a while back about the integration of gitoxide.

If you don't mind, I'll close this now, as a

[2022-11-30 10:01] #11440 closed

[2022-11-30 10:10] weihanglo commented on #11441
Thank you for this report.

We need your help to look into this issue. `cargo clean` generally remove contents first then directories. Maybe something wrong in the assumption of that. If you could provide a reproducible demo, that will help a lot in making the situation clear, and we could also add a new tests based on that.

[2022-11-30 10:30] #10919 closed

[2022-11-30 11:19] HomyeeKing opened #11443 "[cargo build] pass option to do clean build"
### Problem

fow now, we have to run `cargo clean` to clean the previous build, as a new rust learner, I think it better to give an option to control whether do a `clean build` or `default build`

### Proposed Solution

cargo build --clean  -----> same with cargo clean

### Notes

_No response_

[2022-11-30 11:29] gingdotgithub commented on #6513
not sure exactly what finally did it for me, but i plugged my laptop into ethernet and it worked fine first time after that. i wonder if its packet loss on the streams over my wifi. try it somewhere reliable and fast...

[2022-11-30 12:12] weihanglo commented on #11437
Sorry about you hitting this issue. From my understanding, Cargo doesn't provide completion for shell on its own. `rustup completions` is the command doing that, but users need to configure it manually IIRC.

Could you provide the way you install Rust and toolchains, as well as how you configure shell completions? It also helps if you are able to share a repository on GitHub or via a zip file of a

[2022-11-30 12:32] xphoniex opened #11444 "`cargo tree` not showing a package"
### Problem

In my Cargo.lock, there is a package called `bitvec` (and the workspace depends on two versions of it):
[code]

But when I run `cargo tree` even with extra stuff like `--workspace --no-dedupe --all-features`:

[code]

where is `bitvec 1.0.1` ?

### Steps

_No response_

### Possible Solution(s)

_No response_

### Notes

_No response_

### Version

[code]

[2022-11-30 13:48] ehuss commented on #11444
It's hard to say without knowing all the dependencies you have, but I would suspect it is #10801.  When there is a weak dependency (like `bitvec?/std`), the dependency resolver has to assume that bitvec might be enabled. There is a separate pass that then does feature resolution, which may decide that in the end it isn't enabled. But the lock file is built based on the first pass (the dependency r

[2022-11-30 14:15] epage commented on #11443
I'm assuming that by having a `cargo build --clean` short cut for `cargo clean && cargo build`, that you are doing a lot of clean builds.  Could you help me understand why?  I find that its rare that I need to do a clean build.

[2022-11-30 17:55] arlosi commented on #11441
After it fails, what files/folders are still remaining in the directory?

[2022-11-30 19:02] jonhoo commented on #11392
This is also somewhat related to https://github.com/rust-lang/cargo/issues/9227

[2022-11-30 19:15] jonhoo commented on #9227
@weihanglo Asked if I could provide some context for why I've needed this as well.

At $work, we enforce, among other things, that Rust crates always start with a particular prefix (say, `$work-`), and we mask out any packages that start with `$work-` from crates.io. This helps mitigate namesquatting attacks (again, among other things). A result of this is that if anyone needs to, say, test out an

[2022-11-30 21:15] AlexCzar commented on #11437
I'm not sure how to provide MCVE here and I've found an easy enough work-around:
[code]

I'm not sure how fragile this is or why it was needed, initially it just worked.
It also has a downside that when switching toolchains, to get toolchain-specific completions one needs to do this manually for the toolchain in question.
That said I'm not sure this wasn't the case to begin with.

[2022-11-30 21:25] jonathanstrong commented on #11136
I just had a chance to look at this again, now with the benefit of the `-Z registry-auth` feature. specifically, it was in the context of changing our rustdoc builder runner to use `-Z registry-auth` instead of our previous, ~~hacky~~ non-standard solution of passing the auth token via the user-agent header.

my primary purpose of writing this comment is to thank @arlosi for having the foresight t

[2022-11-30 22:05] arlosi commented on #11136
Thanks for the feedback @jonathanstrong. Dealing with the situation of not knowing the registry name was one of the most difficult aspects of the `-Z registry-auth` feature.

You did discover the solution I intended (using the `_INDEX` and `_TOKEN` pair of variables). However, I recognize that it's far from ideal.

Another direction I considered was using a different mechanism for injecting the re

[2022-11-30 22:57] AlexCzar commented on #11437
## TL;DR:
I've found the culprint, it has nothing to do with either cargo or rustup.

## The full story
Issue was that I had a zsh plugin for rust installed at some point which creates a clever dynamic completion setup for rustup and cargo based on the `rustup default` invocation.
I have disabled the plugin at some point while I wasn't using Rust, but the completions configuration is not removed w

[2022-11-30 22:57] #11437 closed